{% extends '/blog/base.html' %}
{% block content %}
    {% if posts %}
            {% for post in posts %}
                <div class="{{ post.css_class }}">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-8 col-lg-offset-2">
                                <img src="{{ post.icon }}"><span class="ba">{{ post.author }}</span>
                                <h2>{{ post.title }}</h2>
                                <h4 class="bd">{{ post.subtitle }}</h4>
                                <span class="post-date">{{ post.date }}</span>
                                <hr>
                                <p>
                                    {{ post.content | markdown }}
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
    {% endif %}
<script>
    $(document).ready(function() {
        initSlick();
    });
</script>
{% endblock %}