{% extends '/blog/base.html' %}
{% block content %}
    <div id="new-post-wrapper">
        <a href="/public-cms"><div class="button animate new-post-button">New Post / View CMS</div></a>
    </div>
    {% if posts %}
            {% for post in posts %}
                <div class="{{ post.pub_css_class }}">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-8 col-lg-offset-2">
                                <img src="{{ post.pub_icon }}"><span class="ba">{{ post.author }}</span>
                                <h2>{{ post.pub_title }}</h2>
                                <h4 class="bd">{{ post.pub_subtitle }}</h4>
                                <span class="post-date">{{ post.pub_date }}</span>
                                <hr>
                                <p>
                                    {{ post.pub_content | markdown }}
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
    {% endif %}
<script>
    $(document).ready(function() {
        initSlick();
    });
</script>
{% endblock %}