html,body {
	width: 99%;
	height: 100%;
	font-family: 'Lato';
	-webkit-font-smoothing: antialiased;
}

html {
	background: url(../images/campaign/ypsi-school.jpg);
	background-repeat: no-repeat;
	background-position: -600px 0;
	background-color: #3e68b0;
}

/* Eliminating background image for mobile */
@media screen and (max-device-width: 480px){
	html {
		background: none;
		background-color: #3e68b0;
	}

	#register h1 {
		margin-top: 20px;
		font-size: 22px;
	}
}

/* div {
	border-style: solid;
	border-width: 1px;
	border-color: black;
} */

#wrapper {
	height: 100%;
	width: 100%;
}

#header {
	position: relative;
	text-align: center;
	background-color: #113B82;
	margin: -30px auto;
	width: 75%;
	border-radius: 0 0 5px 5px;
	min-width: 540px;
	max-width: 800px;
	box-shadow: 1px 1px 3px #000;
}

#header-text {
	position: absolute;
	width: 100%;
	bottom: 20px;
	z-index: 1;
}

#header img {
	max-width: 100%;
	min-width: 540px;
	max-height: 100%;
	position: relative;
	top: 3px;
	border-radius: 0 0 5px 5px;
}

#slogan {
	position: relative;
	margin: 0 auto;
	width: 100%;
	z-index: 1;
	color: #e9f0f5;
	text-shadow: 1px 1px 3px #000;
}

#slogan h2 {
	display: inline-block;
}

#first-choice {
	color: #9cd785;
}

#menu-wrapper {
	width: 75%;
	height: 70px;
	margin: 0 auto;
	min-width: 540px;
	max-width: 800px;
}

#menu {
	font-family: 'PT Sans';
	font-size: 22px;
	position: relative;
	top: 20px;
	text-align: center;
	width: 100%;
	margin: 0 auto;
	min-width: 540px;
	max-width: 800px;
}

#menu div {
	position: relative;
	text-align: center;
	color: white;
	display: inline-block;
	height: 50px;
	width: 150px;
	background-color: #9cd785;
	border-radius: 5px 5px 0 0;
	margin: 0;
	text-shadow: 1px 1px 2px #000;
	box-shadow: 1px 1px 3px #000;
}

#menu div:hover {
	background-color: #113B82;
	z-index: 3;
	box-shadow: none;
}

#menu div  p {
	position: relative;
	bottom: 10px;
}

#extras {
	background-color: #113B82;
	position: relative;
	z-index: 2;
	margin: 0 auto;
	width: 75%;
	height: 200px;
	border-radius: 5px 5px 0 0;
	min-width: 540px;
	max-width: 800px;
	box-shadow: 1px -.5px 1px #000;
}

#headlines {
	background-color: #5E84C5;
	position: relative;
	z-index: 1;
	display: inline-block;
	text-align: center;
	margin: 0 auto;
	width: 100%;
	color: white;
	text-shadow: 1px 1px 1px #000;
}

@media (min-width: 0) {
	#first-headline, #third-headline {
		font-size: 23px;
	}
	
	#second-headline {
		font-size: 20px;
		color: #9cd785;
	}
}

@media (min-width: 1000px) {
	#first-headline, #third-headline {
		font-size: 32px;
	}
	
	#second-headline {
		font-size: 24px;
	}
}

#extras-left {
	float: left;
	height: 100%;
	width: 65%;
}

#election-info {
	color: white;
	text-shadow: 1px 1px 3px #000;
	margin: 0 auto;
	text-align: center;
}

#register {
	color: white;
	width: 60%;
	margin: 0 auto;
}

#register h5 {
	display: inline-block;
	color: #9cd785;
}

#register h5:hover {
	color: red;
}

#election-info h1, h2, h3, h5 {
	margin: 0;
}

#election-info p {
	margin: 0;
	font-size: 11px;
	color: #9cd785;
}

#extras-right {
	float: right;
	height: 100%;
	width: 35%;
}

#events {
	width: 100%;
	color: white;
	text-shadow: .5px .5px .5px #000;
}

#events h5 {
	margin: 15px auto;
	text-align: center;
}

#events p {
	margin: 0;
	max-width:  200px;
	word-wrap: break-word;
}

/* Break-points to handle extras div text */
@media (min-width: 0) {
	#events {
		position: relative;
		top: 25px;
	}

	#events p {
		font-size: 11px;
		max-width:  60px;
	}

	.hidden {
		display: none;
	}

	#election-info {
		position: relative;
		top: 35px;
	}

	#election-info h2, #election-info p,
	#election-info h1,#election-info h5 {
		max-width: 400px;
	}

	#election-info p {
		margin-bottom: 15px;
	}
}

#events > div.right > p:nth-child(1), #events > div.right > p:nth-child(3),
#events > div.right > p:nth-child(5), #events > div.right > p:nth-child(7)  {
		color: #9cd785;
	}

@media (min-width: 930px) {
	#events {
		top: -10px;
	}

	/* These are the event date tags, couldn't find another way to affect them */
	#events > div.right > p:nth-child(1), #events > div.right > p:nth-child(3),
	#events > div.right > p:nth-child(5), #events > div.right > p:nth-child(7)  {
		margin-bottom: 9px;
	}

	#events p {
		font-size: 11px;
		max-width: 110px;
	}

	.hidden {
		display: block;
	}

	#election-info {
		position: relative;
		top: 10px;
	}

	#election-info h2,#election-info p,
	#election-info h1,#election-info h5	{
		max-width: 476px;
	}

	#election-info p {
		margin-bottom: 10px;
	}
}

.left {
	float: left;
	margin: 0 10px;
}

.right {
	float: right;
	margin: 0 15px;
}

#content {
	position: relative;
	z-index: 1;
	color: black;
	background-color: #f2f2f2;
	margin: 0 auto;
	width: 75%;
	min-width: 540px;
	max-width: 800px;
	box-shadow: 1px 1px 1px #000;
}

#content hr {
	width: 80%;
	border: 0;
    height: 1px;
    background-image: -webkit-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0)); 
    background-image:    -moz-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0)); 
    background-image:     -ms-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0)); 
    background-image:      -o-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0)); 
}

#content img {
	display: block;
	margin: 0 auto;
	height: 150px;
	width: 150px;
	box-shadow: 1px 1px 3px #000;
}

#content-inner {
	font-family: 'Merriweather';
	text-align: center;
	width: 100%;
	margin: 0 auto;
}

#content-inner h1, h3, div {
	margin: 0;
}

#content-inner h1 {
	margin: 0 auto;
	font-size: 42px;
	max-width: 460px;
}

.emphasis {
	font-family: 'PT Sans';
	color: #113B82;
	margin: 0 auto;
}

#fiscal p {
	font-size: 19px;
}

.justify {
	position: relative;
	width: 75%;
	min-width: 430px;
	margin: 0 auto;
	text-align: left;
}

.justify-50 {
	width: 15%;
	min-width: 300px;
	text-align: justify;
	margin: 0 auto;
}

.justify-50 .emphasis {
	text-align: center;
}

#footer {
	position: relative;
	z-index: 3;
	background-color: #113B82;
	margin: -12px auto;
	width: 75%;
	height: 60px;
	text-align: center;
	min-width: 540px;
	max-width: 800px;
	border-radius: 0 0 5px 5px;
	box-shadow: 1px 1px 1px #000;
}

#social-media-links {
	position: relative;
	top: 5px;
	width: 50%;
	margin: 0 auto;
}

#footer p {
	color: white;
	text-shadow: 1px 1px 3px #000;
	display: inline-block;
	margin: 0 25px;
}

.icon {
	max-height: 50px;
	max-width: 50px;
}
