/*Reset Safari User Agent Styles*/
* {-webkit-padding-start: 0px;}

html,body {
	width: 99%;
	height: 100%;
	font-family: 'Lato';
	-webkit-font-smoothing: antialiased;
}

html {
	background: url(../images/campaign/ypsi-school.jpg);
	background-repeat: no-repeat;
	background-position: 0 0;
	background-color: #3e68b0;
	background-attachment: fixed;
}

/* Eliminating background image for mobile */
@media screen and (max-device-width: 480px){
	html {
		background: none;
		background-color: #3e68b0;
	}
}

a:link, a:visited {
	color: #3e68b0;
	text-decoration: none;
}

a:hover {
	color: #9cd785;
}

img {
	border: 0;
}

hr {
	width: 80%;
	border: 0;
    height: 1px;
    background-image: -webkit-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0)); 
    background-image:    -moz-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0)); 
    background-image:     -ms-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0)); 
    background-image:      -o-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0)); 
}

#wrapper {
	height: 100%;
	width: 100%;
}

#header {
	position: relative;
	text-align: center;
	background-color: #113B82;
	margin: -30px auto;
	width: 75%;
	border-radius: 0 0 5px 5px;
	min-width: 540px;
	max-width: 800px;
	box-shadow: 1px 1px 3px #000;
}

#header-text {
	position: absolute;
	bottom: 0;
	width: 100%;
	z-index: 1;
	color: #e9f0f5;
	text-shadow: 1px 1px 3px #000;
}

#header-text h1 {
	position: relative;
	top: 50px;
	font-family: 'Merriweather';
}

@media (min-width: 0) {
	#header-text h1 {
		font-size: 32px;
	}
}

@media (min-width: 870px) {
	#header-text h1 {
		font-size: 42px;
	}
}

#header img {
	max-width: 100%;
	min-width: 540px;
	max-height: 100%;
	position: relative;
	top: 3px;
	border-radius: 0 0 5px 5px;
}

#slogan {
	position: relative;
	margin: 0 auto;
	width: 100%;
}

#slogan h2 {
	display: inline-block;
}

#menu-wrapper {
	width: 75%;
	height: 70px;
	margin: 0 auto;
	min-width: 540px;
	max-width: 800px;
}

#menu {
	font-family: 'PT Sans';
	font-size: 22px;
	position: relative;
	top: 20px;
	text-align: center;
	width: 100%;
	margin: 0 auto;
	min-width: 540px;
	max-width: 800px;
}

#menu div {
	position: relative;
	text-align: center;
	color: white;
	display: inline-block;
	height: 50px;
	width: 150px;
	background-color: #9cd785;
	border-radius: 5px 5px 0 0;
	margin: 0;
	text-shadow: 1px 1px 2px #000;
	box-shadow: 1px 1px 3px #000;
}

#menu div:hover {
	background-color: #113B82;
	z-index: 3;
	box-shadow: none;
}

#menu div p {
	position: relative;
	bottom: 10px;
}

#extras {
	background-color: #113B82;
	position: relative;
	z-index: 2;
	margin: 0 auto;
	width: 75%;
	height: 200px;
	border-radius: 5px 5px 0 0;
	min-width: 540px;
	max-width: 800px;
	box-shadow: 1px -.5px 1px #000;
}

#headlines {
	background-color: #5E84C5;
	position: relative;
	z-index: 1;
	text-align: center;
	margin: 0 auto;
	width: 75%;
	min-width: 540px;
	max-width: 800px;
	color: white;
	text-shadow: 1px 1px 1px #000;
	box-shadow: 1px -.5px 1px #000;
}

@media (min-width: 0) {
	#first-headline {
		font-size: 23px;
	}
	
	#second-headline {
		font-size: 20px;
		color: #9cd785;
	}
}

@media (min-width: 1000px) {
	#first-headline {
		font-size: 32px;
	}
	
	#second-headline {
		font-size: 24px;
	}
}

#extras-left {
	float: left;
	height: 100%;
	width: 65%;
}

#election-info {
	color: white;
	text-shadow: 1px 1px 3px #000;
	margin: 0 auto;
	text-align: center;
}

.article-snippet {
	margin: 0 10px;
}

#election-info h2, h3 {
	position: relative;
	margin: 0;
	font-family: 'Merriweather';
}

#election-info h2 {
	font-family: 'Lato', sans-serif;
}

#election-info p {
	position: relative;
	margin: 10px 0;
	font-size: 11px;
	color: #9cd785;
}

#extras-right {
	float: right;
	height: 100%;
	width: 35%;
}

#events {
	width: 100%;
	color: white;
	text-shadow: .5px .5px .5px #000;
}

#events h5 {
	margin: 20px auto;
	text-align: center;
	font-family: 'Merriweather';
}

#events p {
	margin: 0;
	max-width:  200px;
	word-wrap: break-word;
}

/* Break-points to handle extras div text */
@media (min-width: 0) {
	#events {
		position: relative;
		top: 10px;
	}

	#events p {
		font-size: 11px;
		max-width:  60px;
	}

	.hidden {
		display: none;
	}

	#election-info {
		position: relative;
		top: -10px;
	}
	
	#election-info a {
		color: white;
	}
	
	#election-info a:hover {
		color: #9cd785;
	}

	#election-info h2, #election-info p,
	#election-info h1,#election-info h4 {
		margin: 0;
	}
	
	#election-info h2 {
		font-size: 18px;
	}

	#election-info .author {
		color: white;
		font-family: 'Open Sans', sans-serif;
		margin-top: 5px;
		margin-bottom: 5px;
	}
	
	#menu div {
		width: 125px;
	}
	
	#menu div p {
		font-size: 20px;
	}
}

@media (min-width: 900px) {
	#election-info h2 {
		font-size: 24px;
	}
	
	.article-snippet {
		top: 0;
	}
	
	#menu div {
		width: 150px;
	}
	
	#menu div p {
		font-size: 22px;
	}
}

#events > div.right > p:nth-child(1), #events > div.right > p:nth-child(3),
#events > div.right > p:nth-child(5), #events > div.right > p:nth-child(7)  {
		color: #9cd785;
	}

@media (min-width: 930px) {
	#events {
		top: -10px;
	}

	/* These are the event date tags, couldn't find another way to affect them */
	#events > div.right > p:nth-child(1), #events > div.right > p:nth-child(3),
	#events > div.right > p:nth-child(5), #events > div.right > p:nth-child(7)  {
		margin-bottom: 9px;
	}

	#events p {
		font-size: 11px;
		max-width: 110px;
	}

	.hidden {
		display: block;
	}

	#election-info {
		position: relative;
		max-width: 450px;
	}

	#election-info p {
		margin: 0 auto;
	}
}

.left {
	float: left;
	margin: 0 10px;
}

.right {
	float: right;
	margin: 0 15px;
}

#content {
	position: relative;
	z-index: 1;
	color: black;
	background-color: #f2f2f2;
	margin: 0 auto;
	width: 75%;
	min-width: 540px;
	max-width: 800px;
	box-shadow: 1px 1px 1px #000;
}

#content img {
	display: block;
	margin: 0 auto;
	max-width: 300px;
	max-height: 500px;
	box-shadow: 1px 1px 3px #000;
}

#content-inner {
	font-family: 'Merriweather';
	text-align: center;
	width: 100%;
	margin: 0 auto;
}

#content-inner p {
	font-family: 'Lato';
	font-size: 18px;
	margin: 0 auto;
}

#content-inner h1, h3, div {
	margin: 0;
}

#content-inner h1 {
	margin: 0 auto;
	font-size: 42px;
	max-width: 460px;
}

.emphasis {
	font-family: 'Merriweather';
	color: #113B82;
	margin: 0 auto;
}

#fiscal p {
	font-size: 19px;
	font-family: 'Lato';
}

.justify {
	position: relative;
	width: 75%;
	min-width: 430px;
	margin: 0 auto;
	text-align: left;
}

.justify p {
	width: 80%;
}

.justify-50 {
	width: 15%;
	min-width: 300px;
	text-align: justify;
	margin: 0 auto;
}

.justify-50 .emphasis {
	text-align: center;
}

#retain {
	width: 100%;
}

#retain h1 {
	font-family: 'Merriweather';
	color: #9cd785;
	max-width: 100%;
}

.blue {
	color: #113B82;
}

.green {
	color: #9cd785;
}

.light-blue {
	color: #5E84C5;
}

#retain #names {
	margin: 0 auto;
	width: 75%;
}

#retain #names p {
	display: inline-block;
	font-family: 'PT Sans';
	font-size: 18px;
	margin: 0 5px;
}

#footer {
	position: relative;
	z-index: 3;
	background-color: #113B82;
	margin: -12px auto;
	width: 75%;
	height: 160px;
	text-align: center;
	min-width: 540px;
	max-width: 800px;
	border-radius: 0 0 5px 5px;
	box-shadow: 1px 1px 1px #000;
}

.icon {
	max-height: 50px;
	max-width: 50px;
}

#footer p {
	color: #f2f2f2;
	font-size: 8px;
	display: inline-block;
	margin: 0 2px;
}

#footer a:link, #footer a:visited {
	color: white; 
}

#footer a:hover {
	color: #9cd785;
}

#fine-print {
	margin: 0 auto;
	width: 65%;
}

/* *********************************
   Candidates Page 
   *********************************/

/************************************/
/* Div with left-aligned image
/************************************/
   
.candidates-right {
	background-color: white;
}

.candidates-left .candidates-container-left {
	width: 35%;
	margin-bottom: 5px;
	margin-right: 15px;
	float: left;
}

.candidates-left .candidates-container-right {
	width: 60%;
	float: right;
}

.candidates-left .candidates-container-right h2,
.candidates-left .candidates-container-left h2 {
	font-family: 'Merriweather';
	color: #113B82;
	text-align: center;
	font-size: 32px;
	margin: 20px 20px;
}

/* Candidate's Photo */
#content .candidates-left .candidates-container-left img {
	position: relative;
	border-radius: 5px;
	max-height: 100%;
	max-width: 100%;
	margin: 10px 25px;
}

/* Div containing 'resume' */
.candidates-left .candidate-specs {
	position: relative;
	left: -15px;
	margin: 10px 25px;
	background-color: #9cd785;
	box-shadow: 1px 1px 2px #000;
	padding: 10px;
	border-radius: 5px;
}

.candidates-left .candidate-specs h2 { 
	font-size: 32px;
	margin: 10px 0;
}

.candidates-left .candidate-specs h3 {
	color: #113B82;
}

.candidates-left .candidate-specs p {
	color: black;
	margin: 10px 5px;
	font-size: 16px;
	font-family: 'Open Sans', sans-serif;
	margin-left: .5em; 
	text-indent: -.5em;
}

.candidates-left .bio-text {
	margin: 0 20px;
}

/************************************/
/* Div with right-aligned image
/************************************/
.candidates-right .candidates-container-left {
	width: 60%;
	float: left;
}

.candidates-right .candidates-container-right {
	width: 35%;
	
	float: right;
}

.candidates-right .candidates-container-left h2,
.candidates-right .candidates-container-right h2 {
	position: relative;
	right: 35px;
	text-align: center;
	font-family: 'Merriweather';
	color: #113B82;
	font-size: 32px;
	margin: 20px 15px;
}

/* Candidate's Photo */
#content .candidates-right .candidates-container-right img {
	position: relative;
	border-radius: 5px;
	margin: 15px -35px;
	max-height: 100%;
	max-width: 100%;
}

/* Div containing 'resume' */
.candidates-right .candidate-specs {
	position: relative;
	text-align: left;
	margin: 10px 25px;
	background-color: #9cd785;
	box-shadow: 1px 1px 2px #000;
	padding: 10px;
	border-radius: 5px;
}

.candidates-right .candidate-specs h2 { 
	font-size: 32px;
	margin: 20px 20px;
}

.candidates-right .candidate-specs h3 {
	color: #113B82;
}

.candidates-right .candidate-specs p {
	margin: 10px 5px;
	font-size: 16px;
	font-family: 'Open Sans', sans-serif;
	margin-left: .5em; 
	text-indent: -.5em;
}

.candidates-right .bio-text {
	margin: 0 20px;
}


/* *********************************
	Press Page
/* ********************************* */

.article-display-container-blue {
	width: 100%;
	background-color: #113B82;
}

.article-display-container-blue a {
	color: white;
}

.article-display-container-blue a:hover {
	color: #9cd785;
}

.article-display-container-blue h4 {
	color: white;
}

.article-display-container {
	width: 100%;
}

.article-display-container .article-display h5,
.article-display-container-green .article-display h5 {
	color: #113B82;
}

.article-display-container-green {
	width: 100%;
	background-color: #9cd785;
}

.article-display-container-green a {
	color: white;
}

.article-display-container-green a:hover {
	color: #113B82;
}

.article-display-container-light-blue {
	width: 100%;
	background-color: #5E84C5;
}

.article-display-container-light-blue a {
	color: white;
}

.article-display-container-light-blue a:hover {
	color: #9cd785;
}

.article-display {
	width: 95%;
	margin: 0 auto;
}

.article-display h2 {
	color: #113B82;
	margin: 0;
}

.article-display h4 {
	margin: 0;
}

.article-display h5 {
	margin: 0;
	color: #9cd785;
}



/* *********************************
   Contact Us Page
   ********************************* */
   
/* Main contact container div */
#contact {
	width: 100%;
	margin: 0;
}

/* *********************************
   Contact Info Grid
   ********************************* */
ul.rig {
	list-style: none;
}

ul.rig li {
	text-align: left;
	width: 300px;
	display: inline-block;
	padding: 10px;
	margin: 0 0 2.5% 2.5%;
	vertical-align: top;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}

ul.rig li h2 {
	text-align: center;
	margin: 0 0 5px;
	font-family: 'Merriweather';
	color: #113B82;
}

ul.rig li p {
	font-size: 16px;
	line-height: 1.5em;
	color: black;
	margin-right: 10px;
}

/* class for 3 columns */
ul.rig.columns-3 li {
	width: 30.83%; /* this value + 2.5 should = 33% */
}

@media (min-width: 0) {
	ul.grid-nav li {
		display: block;
		margin: 0 0 5px;
	}
	ul.grid-nav li a {
		display: block;
	}
	ul.rig {
		margin-left: 0;
	}
	ul.rig li {
		width: 50%; /*!important;  over-ride all li styles */
		margin: 0 5px 20px;
	}
}

#contact ul {
	position: relative;
	text-align: center;
}

#contact h1 {
	text-align: center;
	font-family: 'Merriweather';
	color: #113B82;
}

/* Class name for contact grid li elements */
.contact {
	min-height: 230px;
	max-height: 230px;
	max-width: 170px;
	margin: 15px 15px;
}

.contact h3 {
	color: #5E84C5;
	text-shadow: .5px .5px 1px #000;
}

.contact a {
	font-size: 14px;
}

.committee {
	font-family: 'PT Sans';
	margin: 0;
}

.address {
	position: relative;
	font-size: 14px;
}

#get-involved {
	width: 75%;
	margin: 0 auto;
	text-align: center;
	font-family: 'Lato';
}

#get-involved h1 {
	margin: 0;
}

#get-involved p {
	margin: 10px;
}

#get-involved h2 {
	font-family: 'PT Sans';
	font-size: 42px;
	color: #5E84C5;
	margin: 0;
}

#get-involved h3 {
	margin: 10px;
	color: #113B82;
}
