#election-info {
	margin-top: 25px;
}

#election-info p {
	margin-bottom: 25px;
}

#election-info h3 {
	max-width: 500px;
}

#events p {
	max-width: 60px;
	font-size: 12px;
}

.hidden {
	display: none;
}

#second-headline {
	color: #9cd785;
}