# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# C extensions
*.so

# Distribution / packaging
.Python
env/
bin/
build/
develop-eggs/
dist/
eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.cache
nosetests.xml
coverage.xml

# Translations
*.mo

# Mr Developer
.mr.developer.cfg
.project
.pydevproject

# Rope
.ropeproject

# Django stuff:
*.log
*.pot

# Sphinx documentation
docs/_build/

# Pi Display Files
app/templates/pi_display/logs/

# Bootstrap
Bootstrap/

# Various JS libraries/CSS
jquery.hoverGrid.css
rainbow.css
app/static/'GIF Party Menu'/
component.css
default.css
jquery.dlmenu.js
modernizr.custom.js
slick/
countUp.min.js
hamburger.js
imagesloaded.min.js
imgcentering.min.js
jquery.customSelect.min.js
jquery.hoverGrid.js
masonry.min.js
rainbow-custom.min.js
randomColor.js
rangyInputs.js
jquery.waypoints.js
Chart.min.js
jquery-ui.min.js
parallax-navbar.js

# Distribution Folder
distribute/

# Documents for CSTools
documents/

# Images
images/

# Database scripts not written by me
database/

# README
README.md

# Unnecessary JS/CSS files
previously.css
scraper.css
app/static/steamtime/js/steamtime.js
app/static/steamtime/style.css
app/static/welcome.css
*.db
cms_settings.txt
config.py
steamtime_api_key.txt
steamtime_config.py
.idea/
app/credentials.py
venv/
