body, html {
	position: relative;
	margin: 0;
	width: 100%;
	height: 100%;
	overflow-x: hidden;
	font-family: 'Open Sans', sans-serif;
	background: url(../images/screenbloom/batthern.png);
}

/* General class to add CSS animation to element */
.animate {
	-webkit-transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
}

/* Special animate classes for color transitions */
.color-animate {
	-moz-transition-property: color;  /* FF4+ */
	-moz-transition-duration: 1s;
	-webkit-transition-property: color;  /* Saf3.2+, Chrome */
	-webkit-transition-duration: 1s;
	-o-transition-property: color;  /* Opera 10.5+ */
	-o-transition-duration: 1s;
	-ms-transition-property: color;  /* IE10? */
	-ms-transition-duration: 1s;
	transition-property: color;  /* Standard */
	transition-duration: 1s;
}

.background-color-animate {
	-moz-transition-property: background-color;  /* FF4+ */
	-moz-transition-duration: 1s;
	-webkit-transition-property: background-color;  /* Saf3.2+, Chrome */
	-webkit-transition-duration: 1s;
	-o-transition-property: background-color;  /* Opera 10.5+ */
	-o-transition-duration: 1s;
	-ms-transition-property: background-color;  /* IE10? */
	-ms-transition-duration: 1s;
	transition-property: background-color;  /* Standard */
	transition-duration: 1s;
}

.box-shadow-animate {
	-moz-transition-property: box-shadow;  /* FF4+ */
	-moz-transition-duration: 1s;
	-webkit-transition-property: box-shadow;  /* Saf3.2+, Chrome */
	-webkit-transition-duration: 1s;
	-o-transition-property: box-shadow;  /* Opera 10.5+ */
	-o-transition-duration: 1s;
	-ms-transition-property: box-shadow;  /* IE10? */
	-ms-transition-duration: 1s;
	transition-property: box-shadow;  /* Standard */
	transition-duration: 1s;
}

.lobster {
	font-family: 'Lobster', cursive;
}

.raleway {
	font-family: 'Raleway', sans-serif;	
}

.container {
	margin: 0 auto;
	padding: .5vh;
	font-size: 1vh;
	text-align: center;
}

#main-container {
	background-color: white;
	box-shadow: 1px 1px 15px 1px #000;	
	width: 80%;
}

#welcome-section {
	position: relative;
	height: 100vh;
}

#welcome-inner {
	position: relative;
	top: 50%;
	transform: translateY(-50%);
}

#logo {
	padding: 2vw;
	width: 60%;
	border: 1.75vw solid black;
	border-radius: 1vh;
}

#logo h1 {
	display: inline-block;
	margin: 0;
	font-size: 7vw;
}

#logo span {
	display: block;
	position: relative;
	font-size: 2vw;
}

#buttons-container {
	margin-top: 7vw;
}

.button {
	display: inline-block;
	margin: 0 1.5vw;
	padding: 2.75vw;
	width: 10vw;
	font-size: 2.25vw;
	border: .25vh solid black;
	border-radius: .5vh;
	box-shadow: 0 20px 15px -20px #000;
}

.button:hover {
	cursor: pointer;
	background-color: #004d67;
	color: white;
	text-shadow: 1px 1px 3px #000;
}

@media (min-width: 1200px) {
	#logo {
		width: 80%;
		padding: 5vh;
		border: 2vh solid black;
	}

	#logo h1 {
		font-size: 13vh;
	}

	#logo span {
		font-size: 2.75vh;
	}

	#buttons-container {
		margin-top: 7vh;
	}

	#buttons-container .button {
		margin: 0 3vh;
		padding: none;
		height: 3vh;
		line-height: 3vh;
		width: 16vh;
		font-size: 3vh;
	}

	#download-section-title {
		top: -4.5vh !important;
		font-size: 5vh !important;
	}

	#version span {
		font-size: 3.5vh;
	}

	#download-size {
		font-size: 2.5vh;
	}
}

#download-section {
	position: relative;
	margin: 5vh auto;
	height: 60vh;
	border-top: .5vh solid black;
	border-radius: 1vh;
}

.section-title {
	position: absolute;
	padding: 1vh;
	font-size: 3vh;
	background-color: white;
}

#download-section-title {
	top: -3.25vh;
	left: 5vh;
}

#download-inner {
	position: relative;
	top: 50%;
	transform: translateY(-50%);
	width: 60%;
}

#version {
	margin: 0 auto;
	width: 30vw;
}

#version-left {
	margin: 0;
	float: left;
	text-align: right;
}

#version-right {
	margin: 0;
	float: right;
	text-align: left;
}

#version span {
	display: block;
	font-size: 2vw;
}

.version-value {
	font-style: italic;
}

#download-link {
	margin-top: 5vh;
	width: 60%;
	color: white;
	text-shadow: 1px 1px 3px #000;
}

#download-size {
	margin: 0;
	font-size: 2vw;
}

/* About Section ************************/
#about-section {
	position: relative;
	margin: 5vh auto;
	height: 60vh;
	border-top: .5vh solid black;
	border-radius: 1vh;
}

#about-section-title {
	top: -2.75vh;
	right: 5vh;
	font-size: 2vh;
}

@media (min-width: 1200px) {
	#about-section-title {
		top: -4.5vh !important;
		font-size: 5vh;
	}
}