<!DOCTYPE html>
<html>
<head lang="en">
    <title>GIF Party!</title>

    <link rel="icon" type="image/png" href="/static/images/mcp.png">

    <link type="text/css" rel="stylesheet" href="/static/GIF Party Menu/css/default.css"/>
    <link type="text/css" rel="stylesheet" href="/static/GIF Party Menu/css/component.css"/>
    <link type="text/css" rel="stylesheet" href="/static/gif_party.css"/>

    <script src="//code.jquery.com/jquery-1.7.2.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.9.1/jquery-ui.min.js"></script>
    <script src="/static/js/gif-party.js"></script>
    <script src="/static/GIF Party Menu/js/modernizr.custom.js"></script>
    <script src="/static/GIF Party Menu/js/jquery.dlmenu.js"></script>

    <meta http-equiv="refresh" content="{{ delay }}" charset="UTF-8">
</head>

<body>
    <div id="content">
        <div id="dl-menu" class="dl-menuwrapper">
            <button class="dl-trigger">Open Menu</button>
                <ul class="dl-menu">
                    <li>
                        <a href="#">Category</a>
                        <ul class="dl-submenu">
                            <li><a href="/gif_party_all">All <div class="gif_count">{{ urls_count }} GIFs</div></a></li>
                            <li><a href="/gif_party_animals">Animals  <div class="gif_count">{{ animals_urls_count }} GIFs</div></a></li>
                            <li><a href="/gif_party_gaming">Gaming <div class="gif_count">{{ gaming_urls_count }} GIFs</div></a></li>
                            <li><a href="/gif_party_strange">Strange <div class="gif_count">{{ strange_urls_count }} GIFs</div></a></li>
                            <li><a href="/gif_party_educational">Educational <div class="gif_count">{{ educational_urls_count }} GIFs</div></a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="#">Number of GIFs</a>
                        <ul class="dl-submenu">
                            <li><a href="/gif_party_5">5</a></li>
                            <li><a href="/gif_party_10">10</a></li>
                            <li><a href="/gif_party_20">20</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="#">Auto Refresh</a>
                        <ul class="dl-submenu">
                            <li>
                                <form action="" method=POST>
                                    {{ form.hidden_tag() }}
                                    {{ form.delay(placeholder="Seconds") }}
                                    {{ form.submit }}
                                </form>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="#">Source</a>
                        <ul class="dl-submenu">
                            <li><a href="/gif_party_randomize">Randomize</a></li>
                            <li><a href="/gif_party_feed">Pull From Feed</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="#">Current Settings</a>
                        <ul class="dl-submenu">
                            <li>
                                <div id="settings-title">
                                    Category:<br>
                                    Number of GIFs:<br>
                                    Auto Refresh:<br>
                                    Source:<br>
                                </div>

                                <div id="settings-values">
                                    {{ category }} <br>
                                    {{ number }}<br>
                                    {{ delay }} seconds<br>
                                    {% if randomize == 'yes' %}
                                        randomized
                                    {% endif %}
                                    {% if randomize == 'no' %}
                                        feed
                                    {% endif %}
                                </div>
                            </li>
                        </ul>
                    </li>
                </ul>
        </div>
        {% if number == 5 %}
            <img class='a' src='{{ gif_url_1 }}'>
            <img class='b' src='{{ gif_url_2 }}'>
            <img class='c' src='{{ gif_url_3 }}'>
            <img class='d' src='{{ gif_url_4 }}'>
            <img class='e' src='{{ gif_url_5 }}'>
        {% elif number == 10 %}
            <img class='a' src='{{ gif_url_1 }}'>
            <img class='b' src='{{ gif_url_2 }}'>
            <img class='c' src='{{ gif_url_3 }}'>
            <img class='d' src='{{ gif_url_4 }}'>
            <img class='e' src='{{ gif_url_5 }}'>
            <img class='f' src='{{ gif_url_6 }}'>
            <img class='g' src='{{ gif_url_7 }}'>
            <img class='h' src='{{ gif_url_8 }}'>
            <img class='i' src='{{ gif_url_9 }}'>
            <img class='j' src='{{ gif_url_10 }}'>
        {% elif number == 20 %}
            <img class='a' src='{{ gif_url_1 }}'>
            <img class='b' src='{{ gif_url_2 }}'>
            <img class='c' src='{{ gif_url_3 }}'>
            <img class='d' src='{{ gif_url_4 }}'>
            <img class='e' src='{{ gif_url_5 }}'>
            <img class='f' src='{{ gif_url_6 }}'>
            <img class='g' src='{{ gif_url_7 }}'>
            <img class='h' src='{{ gif_url_8 }}'>
            <img class='i' src='{{ gif_url_9 }}'>
            <img class='j' src='{{ gif_url_10 }}'>
            <img class='k' src='{{ gif_url_11 }}'>
            <img class='l' src='{{ gif_url_12 }}'>
            <img class='m' src='{{ gif_url_13 }}'>
            <img class='n' src='{{ gif_url_14 }}'>
            <img class='o' src='{{ gif_url_15 }}'>
            <img class='p' src='{{ gif_url_16 }}'>
            <img class='q' src='{{ gif_url_17 }}'>
            <img class='r' src='{{ gif_url_18 }}'>
            <img class='s' src='{{ gif_url_19 }}'>
            <img class='t' src='{{ gif_url_20 }}'>
        {% endif %}
    </div>
</body>
<script>
$(function() {
    $( '#dl-menu' ).dlmenu();
});
</script>
<script>
$(document).ready(function() {
    {% if number == 5 %}
        elements = ['.a','.b','.c','.d','.e']
        elements_array = elements.slice();
    {% elif number == 10 %}
        elements = ['.a','.b','.c','.d','.e', '.f', '.g', '.h', '.i', '.j']
        elements_array = elements.slice();
    {% elif number == 20 %}
        elements = ['.a','.b','.c','.d','.e', '.f', '.g', '.h', '.i', '.j', '.k', '.l', '.m', '.n', '.o', '.p', '.q',
                    '.r', '.s', '.t']
        elements_array = elements.slice();
    {% endif %}

    for (i = 0; i < elements.length; i++) {
            animateDiv($(elements[i]));
        };
});
</script>
</html>