<!DOCTYPE html>
<html>
<head lang="en">
    <title>GIF Party!</title>

    <link rel="icon" type="image/png" href="/static/images/mcp.png">

    <link rel="stylesheet" href="//code.jquery.com/ui/1.11.0/themes/smoothness/jquery-ui.css">
    <link type="text/css" rel="stylesheet" href="/static/GIF Party Menu/css/default.css"/>
    <link type="text/css" rel="stylesheet" href="/static/GIF Party Menu/css/component.css"/>
    <link type="text/css" rel="stylesheet" href="/static/gif_party.css"/>

    <script src="//code.jquery.com/jquery-1.7.2.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.9.1/jquery-ui.min.js"></script>
    <script src="/static/js/randomColor.js"></script>
    <script src="/static/js/gif-party.js"></script>
    <script src="/static/GIF Party Menu/js/modernizr.custom.js"></script>
    <script src="/static/GIF Party Menu/js/jquery.dlmenu.js"></script>

</head>

<body>
    <div id="content">
        <div id="dl-menu" class="dl-menuwrapper">
            <button class="dl-trigger"></button>
            <ul class="dl-menu">
                <li>
                    <a href="#">Category</a>
                    <ul class="dl-submenu">
                        <li><a id="all">All <div class="gif_count">{{ main_urls_count }} GIFs</div></a></li>
                        <li><a id="animals">Animals  <div class="gif_count">{{ animals_urls_count }} GIFs</div></a></li>
                        <li><a id="gaming">Gaming <div class="gif_count">{{ gaming_urls_count }} GIFs</div></a></li>
                        <li><a id="strange">Strange <div class="gif_count">{{ strange_urls_count }} GIFs</div></a></li>
                        <li><a id="educational">Educational <div class="gif_count">{{ educational_urls_count }} GIFs</div></a></li>
                    </ul>
                </li>
                <li>
                    <a href="#">Number of GIFs</a>
                    <ul class="dl-submenu">
                        <li><a id="5">5</a></li>
                        <li><a id="10">10</a></li>
                        <li><a id="20">20</a></li>
                    </ul>
                </li>
                <li>
                    <a href="#">Auto Refresh</a>
                    <ul class="dl-submenu">
                        <li>
                            <form>
                                {{ form.hidden_tag() }}
                                {{ form.delay(placeholder="Seconds")}}
                                <a id="submit">Submit</a>
                            </form>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="#">GIF Style</a>
                    <ul class="dl-submenu">
                        <li>
                            <div id="sliders">
                                <p>Shape</p><br>
                                <div id="slider1-1"></div>
                                <div id="slider1-2"></div>
                                <div id="slider1-3"></div>
                                <div id="slider1-4"></div>
                                <p>Min-Size</p><br>
                                <div id="slider2"></div>
                                <p>Max-Size</p><br>
                                <div id="slider3"></div>
                           </div>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="#">Current Settings</a>
                    <ul class="dl-submenu">
                        <li>
                            <div id="settings-title">
                                Category:<br>
                                Number of GIFs:<br>
                                Auto Refresh:<br>
                            </div>
                            <div id="settings-values"></div>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</body>

<script>
$(function() {
    $( '#dl-menu' ).dlmenu();
});
</script>
<script>
$SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
$(document).ready(function() {
    getImages();
    setInterval(focusGif, 10000);
});
</script>
</html>