<!DOCTYPE html>
<html>
<head lang="en">
    <title>GIF Party!</title>

    <link rel="icon" type="image/png" href="/static/images/mcp.png">

    <link type="text/css" rel="stylesheet" href="/static/gif_party.css"/>

    <script src="//code.jquery.com/jquery-1.7.2.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.9.1/jquery-ui.min.js"></script>
    <script src="/static/js/gif-party.js"></script>
    <script src="/static/js/hamburger-modified.js"></script>

    <meta http-equiv="refresh" content="{{ delay }}" charset="UTF-8">
    <title></title>
</head>
<body>
<!--This wrapping container is used to get the width of the whole content-->
    <div id="container">

        <!--The Hamburger Button in the Header-->
        <div id="hamburger">
            <div></div>
            <div></div>
            <div></div>
        </div>

        <!--The mobile navigation Markup hidden via css-->
        <nav class="mobileNav">

            <div class="settings-header">
                    <h1>Settings</h1>
            </div>

            <div class="categories">

                <h3>Categories</h3>

                <a href="/gif_party_all">
                    <div class="row" id="lightblue">All <span class="count">{{ urls_count }} GIFs</span></div>
                </a>

                <a href="/gif_party_animals">
                    <div class="row" id="salmon">Animals<span class="count">{{ animals_urls_count }} GIFs</span></div>
                </a>

                <a href="/gif_party_gaming">
                    <div class="row" id="green">Gaming<span class="count">{{ gaming_urls_count }} GIFs</span></div>
                </a>

                <a href="/gif_party_strange">
                    <div class="row" id="blue">Strange<span class="count">{{ strange_urls_count }} GIFs</span></div>
                </a>

                <a href="/gif_party_educational">
                    <div class="row" id="orange">Educational<span class="count">{{ educational_urls_count }} GIFs</span></div>
                </a>

            </div>

            <div id="number">
                <h1>Number of GIFs</h1><br>

                <div id="5"><a href="/gif_party_5"><h3>5</h3></a></div>
                <div id="10"><a href="/gif_party_10"><h3>10</h3></a></div>
                <div id="20"><a href="/gif_party_20"><h3>20</h3></a></div>
            </div>

            <div id="auto-refresh">
                <h1>Auto Refresh</h1>
                {% if form.errors %}
                    {% for message in form.delay.errors %}
                        <p>{{ message }}</p>
                    {% endfor %}
                {% endif %}
                <form action="" method=POST>
                    {{ form.hidden_tag() }}
                    {{ form.delay(placeholder="Seconds") }}
                    {{ form.submit }}
                </form>
            </div>

            <div id="randomize">
                <div class="randomize-button1"><a href="/gif_party_randomize"><h1>Randomize</h1></a></div>
                <div class="randomize-button2"><a href="/gif_party_feed"><h1>Pull from Feed</h1></a></div>
            </div>

            <div id="current-settings">
                <h3>Current Settings</h3>
                <div id="settings-title">
                    Category:<br>
                    Source:<br>
                    Number of GIFs:<br>
                    Auto Refresh:
                </div>

                <div id="settings-values">
                    {{ category }} <br>
                    {% if randomize == 'yes' %}
                        randomized<br>
                    {% endif %}
                    {% if randomize == 'no' %}
                        feed<br>
                    {% endif %}
                    {{ number }}<br>
                    {{ delay }} seconds
                </div>
            </div>

        </nav>

    <!--The Layer that will be layed over the content
    so that the content is unclickable while menu is shown-->
    <div id="contentLayer"></div>

    <div id="content">
        {% if number == 5 %}
            <img class='a' src='{{ gif_url_1 }}'>
            <img class='b' src='{{ gif_url_2 }}'>
            <img class='c' src='{{ gif_url_3 }}'>
            <img class='d' src='{{ gif_url_4 }}'>
            <img class='e' src='{{ gif_url_5 }}'>
        {% elif number == 10 %}
            <img class='a' src='{{ gif_url_1 }}'>
            <img class='b' src='{{ gif_url_2 }}'>
            <img class='c' src='{{ gif_url_3 }}'>
            <img class='d' src='{{ gif_url_4 }}'>
            <img class='e' src='{{ gif_url_5 }}'>
            <img class='f' src='{{ gif_url_6 }}'>
            <img class='g' src='{{ gif_url_7 }}'>
            <img class='h' src='{{ gif_url_8 }}'>
            <img class='i' src='{{ gif_url_9 }}'>
            <img class='j' src='{{ gif_url_10 }}'>
        {% elif number == 20 %}
            <img class='a' src='{{ gif_url_1 }}'>
            <img class='b' src='{{ gif_url_2 }}'>
            <img class='c' src='{{ gif_url_3 }}'>
            <img class='d' src='{{ gif_url_4 }}'>
            <img class='e' src='{{ gif_url_5 }}'>
            <img class='f' src='{{ gif_url_6 }}'>
            <img class='g' src='{{ gif_url_7 }}'>
            <img class='h' src='{{ gif_url_8 }}'>
            <img class='i' src='{{ gif_url_9 }}'>
            <img class='j' src='{{ gif_url_10 }}'>
            <img class='k' src='{{ gif_url_11 }}'>
            <img class='l' src='{{ gif_url_12 }}'>
            <img class='m' src='{{ gif_url_13 }}'>
            <img class='n' src='{{ gif_url_14 }}'>
            <img class='o' src='{{ gif_url_15 }}'>
            <img class='p' src='{{ gif_url_16 }}'>
            <img class='q' src='{{ gif_url_17 }}'>
            <img class='r' src='{{ gif_url_18 }}'>
            <img class='s' src='{{ gif_url_19 }}'>
            <img class='t' src='{{ gif_url_20 }}'>
        {% endif %}
    </div>
</div>
</body>
<script>
$(document).ready(function() {
    {% if number == 5 %}
        elements = ['.a','.b','.c','.d','.e']
        elements_array = elements.slice();
    {% elif number == 10 %}
        elements = ['.a','.b','.c','.d','.e', '.f', '.g', '.h', '.i', '.j']
        elements_array = elements.slice();
    {% elif number == 20 %}
        elements = ['.a','.b','.c','.d','.e', '.f', '.g', '.h', '.i', '.j', '.k', '.l', '.m', '.n', '.o', '.p', '.q',
                    '.r', '.s', '.t']
        elements_array = elements.slice();
    {% endif %}

    for (i = 0; i < elements.length; i++) {
            animateDiv($(elements[i]));
        };
});
</script>

</html>