<!DOCTYPE html>
<html>
<head lang="en">
    <link type="text/css" rel="stylesheet" href="/static/gif_party_welcome.css"/>

    <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>

    <meta charset="UTF-8">
    <title>GIF Party!</title>
</head>
<body id="main">
    <div id="container">

        <div id="circle"><img src="{{ image_url }}"></div>

        <div id="logo">
            <h1>GIF Party!</h1>
            <hr>
            <p>Watch GIFs float around your screen according to settings you specify.</p>
        </div>

        <div id="buttons">
            <nav>
                <ul class="nav">
                    <li>
                      <a class="dark-blue" href="{{url_for('gif_party')}}">
                        <h1>Go!</h1>
                      </a>
                    </li>
                    <li>
                      <a class="dark-red" href="{{url_for('gif_party_about')}}">
                          <h1>About</h1>
                      </a>
                    </li>
                </ul>
            </nav>​
        </div>

    </div>
</body>
</html>