<!DOCTYPE html>
<html>
<head lang="en">

    <meta charset="UTF-8" name="viewport" content="initial-scale=1">

    <link rel="stylesheet" href="/static/campaign/main.css"/>

    <!--[if lt IE 9]>
	<link rel="stylesheet" type="text/css" href="/static/campaign/main-ie8.css" />
    <![endif]-->

    <link href='http://fonts.googleapis.com/css?family=PT+Sans:700' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Merriweather' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Lato' rel='stylesheet' type='text/css'>

    <title>Re-elect Campaign</title>

</head>

<body>

<div id="wrapper">

    <div id="header">
        <img alt="The current Ypsilanti School Board" src="../static/images/campaign/YpsiBoard.jpg">
        <div id="header-text">
            <h1>Ypsilanti Community Schools<br><span class="first-choice">Board of Education</span></h1>

            <div id="slogan">
                <h2 id="slogan-start">Your <span class="first-choice">first choice</span> for </h2>
            </div>
        </div>

    </div>
    <br>

    <div id="menu-wrapper">

        <div id="menu">

            <a href="/campaign_demo"><div><p>HOME</p></div></a>
            <a href="/candidates"><div><p>CANDIDATES</p></div></a>
            <a href="#"><div><p>CONTACT</p></div></a>

        </div>

    </div>

    <div id="extras">

        <div id="extras-left">

            <div id="election-info">

                <h2>"Quote from an MLive article..."</h2>
                <p>- MLive Author | 9/10/2014</p>

                <h3>"Another quote from a different MLive article..."</h3>
                <p>- Another author | 8/22/2014</p>

            </div>

        </div>

        <div id="extras-right">

            <div id="events">

                <h5>Upcoming Events</h5>

                <div class="left">
                    <p>Talk at School</p><br>
                    <p>Event Number Two at Place</p><br>
                    <p class="hidden">Event Number Three at Place</p><br>
                    <p class="hidden">Fourth Event at Place</p>
                </div>

                <div class="right">
                    <p class="date">Aug 21st, 7pm</p><br>
                    <p class="date">Aug 24th, 7pm</p><br>
                    <p class="date hidden">Aug 28th, 7pm</p><br>
                    <p class="date hidden">Oct 19th, 7pm</p>
                </div>

            </div>

        </div>

    </div>

    <div id="headlines">

        <br>
        <h1 id="first-headline">Keep Your Ypsilanti Community Schools on Track!</h1>
        <h2 id="second-headline">We	have 4500 students in Ypsilanti	who	need your support.</h2>
        <br><br>

    </div>

    {% block content %}{% endblock %}

    <div id="footer">

        <div id="fine-print">
            <p>Paid for by the Anthony VanDerworp School Board Committee</p>
            <p>Paid for by Friends to Elect Gregory Myers</p>
            <p>Paid for by the Committee to Elect Daniel Raglin</p>
            <p>Paid for by Friends of David Bates</p>
            <p>Paid for by the Committee to Elect Maria Sheler-Edwards</p>
        </div>

    </div>
    <br><br>

</div>

</body>

<script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
<script src="/static/campaign/js/slogan.js"></script>

<script>
    $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};

    $(document).ready(function() {
       getData();
       setInterval(getData, 10000);
    });
</script>

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-54440715-1', 'auto');
  ga('send', 'pageview');

</script>

</html>