{% extends "/campaign/base.html" %}
{% block content %}

<div id="content">

    <div id="candidates">

        <ul class="rig columns-2">

            <li>

                <a name="david-bio"></a>
                <h2>David Bates</h2>
                <img alt="David Bates" src="../static/images/campaign/david.jpg">

                <br>

                <div class="candidate-specs">

                    <h3>Education</h3>
                    <p>BS in Elementary Education, Eastern Michigan University</p>
                    <p>MA Educational Leadership, EMU</p>
                    <p>State of Michigan Administrative Certificate</p>

                    <h3>Ocupation</h3>
                    <p>Educator</p>

                    <h3>Community Involvement</h3>
                    <p>More than 25 years in education</p>
                    <p>President, Ypsilanti Community Schools Board of Education</p>
                    <p>President, Ypsilanti Public Schools Board of Education</p>
                    <p>Michigan Association of School Boards (MASB) Certified Board Member</p>
                    <p>Served on the Commutation and Collaboration Task Force</p>
                    <p>Board member Friends of Rutherford Pool</p>

                </div>

                <br>

                <p>
                    <strong><span class="blue">David Bates</span></strong> is an educator who has worked in a variety of educational settings over his 26-year career. He has taught Special Education CI adult classes, 1st grade, 3rd grade, and 5th grade, and now teaches middle school science for the Dearborn Public Schools. He has also served as a summer school principal and elementary foreign exchange teacher.
                    <br>
                    <br>
                    David has served on the Board of education for the Ypsilanti Public Schools since 2006 and served as President of the Board since 2007.  He is a certified Board member who has achieved the Award of Distinction from the Michigan Association of School Boards.
                    <br>
                    <br>
                    David moved to Ypsilanti in 1987 because of the strong sense of community that he found there and because of the close knit neighborhoods that are the heart of this community.  He has two children who both attended the Ypsilanti Public Schools:  his daughter is currently a History major at the University of Michigan. His son graduated from Northeastern University and is employed as an engineer with Sperry Product Innovation Inc. in Boston.
                </p>

            </li>

            <li>

                <a name="maria-bio"></a>
                <h2 id="maria">Maria Sheler-Edwards</h2>
                <img alt="Maria Sheler-Edwards" src="../static/images/campaign/maria.jpg">

                <br>

                <div class="candidate-specs-right">
                    <h3>Education</h3>
                    <p>BA in English and provisional secondary teaching certificate, University of Michigan</p>
                    <p>MA in Written Communication, Eastern Michigan University</p>

                    <h3>Ocupation</h3>
                    <p>Communication Specialist</p>

                    <h3>Community Involvement</h3>
                    <p>More than 15 years experience in communications and public relations</p>
                    <p>Trustee, Ypsilanti Community Schools Board of Education</p>
                    <p>Board member, Ypsilanti Community Schools Foundation</p>
                    <p>Co-chair of the Friends of Education committee for District Consolidation</p>
                    <p>PTO member, Washtenaw International Middle Academy (WIMA)</p>
                    <p>Ypsi P.R.I.D.E. Site Coordinator (2010-2012)</p>
                    <p>Assistant den leader for Cub Scout Pack 495 (2009-2014)</p>

                </div>

                <br>

                <p>
                    <strong><span class="blue">Maria Sheler-Edwards</span></strong> believes that every single child in Ypsilanti deserves an excellent education. As a mother who sought the best fit for each of her three sons, she has experienced nearly every type of local educational system available: public in-district, public out-of-district, charter school, and private school. This experience gives her a broad view of the educational landscape. Maria recognizes that a strong public school system is at the heart of a healthy community, and she is committed to making Ypsilanti Community Schools the first choice for an exceptional education for families in Ypsilanti. She feels that one of the best things about Ypsilanti is that everyone belongs — in the same manner, our schools should reflect our community and be a place where every single child knows they are cared for, and they are challenged to excel.
                    <br>
                    <br>
                    Maria’s oldest son is a 2005 graduate of Ypsilanti High School and 2010 graduate of Western Michigan University; her second son is a 2013 graduate of Lincoln Consolidated High School and is studying math and physics at Michigan State University; and her youngest son is in the 6th grade at YCS’s International Baccalaureate school, Washtenaw International Middle Academy.
                </p>

            </li>

        </ul>

        <ul class="rig columns-2">

            <li>

                <a name="tony-bio"></a>
                <h2>Anthony VanDerworp</h2>
                <img alt="Anthony VanDerworp" src="../static/images/campaign/tony.jpg">

                <br>

                <div class="candidate-specs">

                    <h3>Education</h3>
                    <p>BA in Natural Resources, University of Michigan</p>
                    <p>MA in Regional Planning, U-M</p>
                    <p>Executive Leadership, Harvard School of Government</p>

                    <h3>Ocupation</h3>
                    <p>Executive Director Eastern Leaders Group</p>
                    <p>Community & Economic Development at Washtenaw County Government</p>

                    <h3>Community Involvement</h3>
                    <p>Current trustee and treasurer, Ypsilanti Community Schools Board of Education</p>
                    <p>Eastern Leaders Group</p>
                    <p>Ann Arbor Region Success Strategy</p>
                    <p>Southeast Michigan Food System Economic Partnership</p>
                    <p>Metropolitan Growth and Development Corporation</p>
                    <p>Ypsilanti Convention and Visitors Bureau</p>
                    <p>Washtenaw County Planning Advisory Board</p>
                    <p>Michigan Suburbs Alliance</p>
                    <p>Washtenaw County Workforce Development</p>

                </div>

                <br>

                <p>
                    <strong><span class="blue">Tony</span></strong> has been a resident of Ypsilanti since 2003 and chose Ypsilanti over other places in Washtenaw County to live because of its diversity and heritage. He has been involved in numerous community efforts, including the consolidation of the Ypsilanti and Willow Run school districts.  His reason for dedicating his time as a School Board Trustee is to ensure that all students in the district have a chance to succeed in life through educational and career attainment.  To Tony, helping all students achieve success means keeping our public school doors open through fiscal responsibility, while enhancing education and career options to better fit individual student interests.
                </p>

            </li>

            <li>

                <a name="celeste-bio"></a>
                <h2>Dr. Celeste Hawkins</h2>
                <img alt="Dr. Celeste Hawkins" src="../static/images/campaign/celeste.jpg">
                <p>
                    Lorem ipsum dolor sit amet, habeo alienum tincidunt in sea. Eos augue veritus similique ad, an menandri interesset reprehendunt qui, quando fierent nam eu. <br><br>
                    Id nam alia iudicabit consetetur, mollis pertinax volutpat his in, eius lucilius reformidans te est. Sea eu antiopam interesset.
                </p>

            </li>

        </ul>

        <ul class="rig columns-2">

            <li>

                <a name="dan-bio"></a>
                <h2>Daniel Raglin</h2>
                <img alt="Daniel Raglin" src="../static/images/campaign/dan.jpg">
                <p>
                    Lorem ipsum dolor sit amet, habeo alienum tincidunt in sea. Eos augue veritus similique ad, an menandri interesset reprehendunt qui, quando fierent nam eu. <br><br>
                    Id nam alia iudicabit consetetur, mollis pertinax volutpat his in, eius lucilius reformidans te est. Sea eu antiopam interesset.
                </p>

            </li>

            <li>

                <a name="greg-bio"></a>
                <h2>Greg Myers</h2>
                <img id="greg" alt="Greg Myers" src="../static/images/campaign/greg.jpg">
                <p>
                    Lorem ipsum dolor sit amet, habeo alienum tincidunt in sea. Eos augue veritus similique ad, an menandri interesset reprehendunt qui, quando fierent nam eu. <br><br>
                    Id nam alia iudicabit consetetur, mollis pertinax volutpat his in, eius lucilius reformidans te est. Sea eu antiopam interesset.
                </p>

            </li>

        </ul>

    </div>

</div>

{% endblock %}