{% extends "/campaign/base.html" %}
{% block content %}

<div id="content">

    <div id="candidates">

        <ul class="rig columns-2">

            <li>

                <h2>David Bates</h2>
                <img alt="David Bates" src="../static/images/campaign/david.jpg">
                <p>
                    Lorem ipsum dolor sit amet, habeo alienum tincidunt in sea. Eos augue veritus similique ad, an menandri interesset reprehendunt qui, quando fierent nam eu. <br><br>
                    Id nam alia iudicabit consetetur, mollis pertinax volutpat his in, eius lucilius reformidans te est. Sea eu antiopam interesset.
                </p>

            </li>

            <li>

                <h2>Greg Myers</h2>
                <img id="greg" alt="Greg Myers" src="../static/images/campaign/greg.jpg">
                <p>
                    Lorem ipsum dolor sit amet, habeo alienum tincidunt in sea. Eos augue veritus similique ad, an menandri interesset reprehendunt qui, quando fierent nam eu. <br><br>
                    Id nam alia iudicabit consetetur, mollis pertinax volutpat his in, eius lucilius reformidans te est. Sea eu antiopam interesset.
                </p>

            </li>

        </ul>

        <ul class="rig columns-2">

            <li>

                <h2>Anthony VanDerworp</h2>
                <img alt="Anthony VanDerworp" src="../static/images/campaign/tony.jpg">
                <p>
                    Lorem ipsum dolor sit amet, habeo alienum tincidunt in sea. Eos augue veritus similique ad, an menandri interesset reprehendunt qui, quando fierent nam eu. <br><br>
                    Id nam alia iudicabit consetetur, mollis pertinax volutpat his in, eius lucilius reformidans te est. Sea eu antiopam interesset.
                </p>

            </li>

            <li>

                <h2>Dr. Celeste Hawkins</h2>
                <img alt="Dr. Celeste Hawkins" src="../static/images/campaign/celeste.jpg">
                <p>
                    Lorem ipsum dolor sit amet, habeo alienum tincidunt in sea. Eos augue veritus similique ad, an menandri interesset reprehendunt qui, quando fierent nam eu. <br><br>
                    Id nam alia iudicabit consetetur, mollis pertinax volutpat his in, eius lucilius reformidans te est. Sea eu antiopam interesset.
                </p>

            </li>

        </ul>

        <ul class="rig columns-2">

            <li>
                <h2>Daniel Raglin</h2>
                <img alt="Daniel Raglin" src="../static/images/campaign/dan.jpg">
                <p>
                    Lorem ipsum dolor sit amet, habeo alienum tincidunt in sea. Eos augue veritus similique ad, an menandri interesset reprehendunt qui, quando fierent nam eu. <br><br>
                    Id nam alia iudicabit consetetur, mollis pertinax volutpat his in, eius lucilius reformidans te est. Sea eu antiopam interesset.
                </p>

            </li>

            <li>

                <h2>Maria Sheler-Edwards</h2>
                <img alt="Maria Sheler-Edwards" src="../static/images/campaign/maria.jpg">
                <p>
                    Lorem ipsum dolor sit amet, habeo alienum tincidunt in sea. Eos augue veritus similique ad, an menandri interesset reprehendunt qui, quando fierent nam eu. <br><br>
                    Id nam alia iudicabit consetetur, mollis pertinax volutpat his in, eius lucilius reformidans te est. Sea eu antiopam interesset.
                </p>

            </li>

        </ul>

    </div>

</div>

{% endblock %}