{% extends "/campaign/base.html" %}
{% block content %}

<div id="content">

    <div class="candidates-left">
        <a name="david-bio"></a>

        <br>

        <div class="candidates-container-left">

            <h2>David Bates</h2>

            <img alt="David Bates" src="../static/images/campaign/david.jpg">

        </div>

        <div class="candidates-container-right">

            <div class="candidate-specs">

                <h3>Education</h3>
                    <p>BS in Elementary Education, EMU</p>
                    <p>MA in Educational Leadership, EMU</p>
                    <p>State of Michigan Administrative Certificate</p>

                <h3>Ocupation</h3>
                    <p>Educator</p>

                <h3>Community Involvement</h3>
                    <p>More than 25 years in education</p>
                    <p>President, Ypsilanti Community Schools Board of Education</p>
                    <p>President, Ypsilanti Public Schools Board of Education</p>
                    <p>Michigan Association of School Boards (MASB) Certified Board Member</p>
                    <p>Served on the Commutation and Collaboration Task Force</p>
                    <p>Board member Friends of Rutherford Pool</p>

            </div>

        </div>

        <p class="bio-text">

            <strong><span class="blue">David Bates</span></strong> is an educator who has worked in a variety of educational settings over his 26-year career. He has taught Special Education CI adult classes, 1st grade, 3rd grade, and 5th grade, and now teaches middle school science for the Dearborn Public Schools. He has also served as a summer school principal and elementary foreign exchange teacher.
            <br>
            <br>
            David has served on the Board of Education for the Ypsilanti Public Schools since 2006 and served as President of the Board since 2007.  He is a certified Board member who has achieved the Award of Distinction from the Michigan Association of School Boards.
            <br>
            <br>
            David moved to Ypsilanti in 1987 because of the strong sense of community that he found there and because of the close knit neighborhoods that are the heart of this community.  He has two children who both attended Ypsilanti Public Schools:  his daughter is currently a History major at the University of Michigan. His son graduated from Northeastern University and is employed as an engineer with Sperry Product Innovation Inc. in Boston.

        </p>

        <br>
        <br>

    </div>

    <div class="candidates-right">
        <a name="maria-bio"></a>

        <br>

        <div class="candidates-container-left">

            <div class="candidate-specs">

                <h3>Education</h3>
                    <p>BA in English and provisional secondary teaching certificate, University of Michigan</p>
                    <p>MA in Written Communication, Eastern Michigan University</p>

                    <h3>Ocupation</h3>
                        <p>Communication Specialist</p>

                    <h3>Community Involvement</h3>
                        <p>More than 15 years experience in communications and public relations</p>
                        <p>Trustee, Ypsilanti Community Schools Board of Education</p>
                        <p>Board member, Ypsilanti Community Schools Foundation</p>
                        <p>Co-chair of the Friends of Education committee for District Consolidation</p>
                        <p>PTO member, Washtenaw International Middle Academy (WIMA)</p>
                        <p>Ypsi P.R.I.D.E. Site Coordinator (2010-2012)</p>
                        <p>Assistant den leader for Cub Scout Pack 495 (2009-2014)</p>

            </div>

        </div>

        <div class="candidates-container-right">

            <h2>Maria Sheler-Edwards</h2>

            <img alt="Maria Sheler-Edwards" src="../static/images/campaign/maria.jpg">

        </div>

        <p class="bio-text">
            <strong><span class="blue">Maria Sheler-Edwards</span></strong> believes that every single child in Ypsilanti deserves an excellent education. As a mother who sought the best fit for each of her three sons, she has experienced nearly every type of local educational system available: public in-district, public out-of-district, charter school, and private school. This experience gives her a broad view of the educational landscape. Maria recognizes that a strong public school system is at the heart of a healthy community, and she is committed to making Ypsilanti Community Schools the first choice for an exceptional education for families in Ypsilanti. She feels that one of the best things about Ypsilanti is that everyone belongs — in the same manner, our schools should reflect our community and be a place where every single child knows they are cared for, and they are challenged to excel.
            <br>
            <br>
            Maria’s oldest son is a 2005 graduate of Ypsilanti High School and 2010 graduate of Western Michigan University; her second son is a 2013 graduate of Lincoln Consolidated High School and is studying math and physics at Michigan State University; and her youngest son is in the 6th grade at YCS’s International Baccalaureate school, Washtenaw International Middle Academy.
        </p>

        <br>
        <br>

    </div>

    <div class="candidates-left">
        <a name="tony-bio"></a>

        <br>

        <div class="candidates-container-left">

            <h2>Anthony VanDerworp</h2>

            <img alt="Anthony VanDerworp" src="../static/images/campaign/tony.jpg">

        </div>

        <div class="candidates-container-right">

            <div class="candidate-specs">

                <h3>Education</h3>
                    <p>BA in Natural Resources, University of Michigan</p>
                    <p>MA in Regional Planning, U-M</p>
                    <p>Executive Leadership, Harvard School of Government</p>

                <h3>Ocupation</h3>
                    <p>Executive Director Eastern Leaders Group</p>
                    <p>Community & Economic Development at Washtenaw County Government</p>

                <h3>Community Involvement</h3>
                    <p>Current trustee and treasurer, Ypsilanti Community Schools Board of Education</p>
                    <p>Eastern Leaders Group</p>
                    <p>Ann Arbor Region Success Strategy</p>
                    <p>Southeast Michigan Food System Economic Partnership</p>
                    <p>Metropolitan Growth and Development Corporation</p>
                    <p>Ypsilanti Convention and Visitors Bureau</p>
                    <p>Washtenaw County Planning Advisory Board</p>
                    <p>Michigan Suburbs Alliance</p>
                    <p>Washtenaw County Workforce Development</p>

            </div>

        </div>

        <p class="bio-text">

            <strong><span class="blue">Tony VanDerworp</span></strong> has been a resident of Ypsilanti since 2003 and chose Ypsilanti over other places in Washtenaw County to live because of its diversity and heritage. He has been involved in numerous community efforts, including the consolidation of the Ypsilanti and Willow Run school districts.  His reason for dedicating his time as a School Board Trustee is to ensure that all students in the district have a chance to succeed in life through educational and career attainment.  To Tony, helping all students achieve success means keeping our public school doors open through fiscal responsibility, while enhancing education and career options to better fit individual student interests.

        </p>

        <br>
        <br>

    </div>

    <div class="candidates-right">
        <a name="celeste-bio"></a>

        <br>

        <div class="candidates-container-left">

            <div class="candidate-specs">

                <h3>Education</h3>
                    <p>BS in Psychology and MSW, Eastern Michigan University</p>
                    <p>Ph.D. in Educational Studies-Urban Education, EMU</p>

                    <h3>Ocupation</h3>
                        <p>Professor in the College of Health and Human Services, Social Work </p>

                    <h3>Community Involvement</h3>
                        <p>More than 15 years of social work experience in the areas of advocacy, juvenile justice, counseling and administrative experience in homelessness and housing, family services, literacy, and education.</p>
                        <p>Trustee, Ypsilanti Community Schools Board of Education</p>
                        <p>Washtenaw County Family Resource Center Committee member</p>
                        <p>Vice President, Washtenaw Association School Board, Executive Committee</p>
                        <p>Served on the Communication and Collaboration Task Force</p>
                        <p>Member of the Achievement Gap Critical Friends Workgroup in Lansing, MI</p>
                        <p>NAAPID at Night Committee member</p>
                        <p>PTO Member, Estabrook Elementary School</p>
                        <p>Bethel African Methodist Episcopal (AME) Church Christian Education and Youth Ministry</p>
                        <p>Volunteer Marine Corps Toys for Tots</p>

            </div>

        </div>

        <div class="candidates-container-right">

            <h2>Dr. Celeste Hawkins</h2>

            <img alt="Dr. Celeste Hawkins" src="../static/images/campaign/celeste.jpg">

        </div>

        <p class="bio-text">

            <strong><span class="blue">Dr.&nbsp;Hawkins</span></strong> is a wife and proud mother of three wonderful children in Ypsilanti Community Schools (YCS). All of her children have attended Ypsilanti Public Schools since kindergarten. Her two daughters are currently students at YCS’s International Baccalaureate school, Washtenaw International Middle Academy (WIMA) in the fifth and seventh grades, and her son is a third grader at Estabrook.<br><br>

            She holds a doctorate in Education from Eastern Michigan University (EMU), a Master’s degree in Social Work, and a Bachelor's of Science degree in Psychology.
            Dr. Hawkins' professional career has been dedicated to working with vulnerable, oppressed, and underserved populations and has been a tireless advocate for
            children and families, particularly those gripped by poverty and social injustice. In
            addition to her role as professor at EMU and volunteer service as a school board member, she further contributes to the community through advocacy and volunteerism in various programs and agencies in Washtenaw County.<br><br>

            Dr. Hawkins is passionate about educational excellence and equity in K-12 public schools. She is committed to the community of Ypsilanti more broadly and the local school district more specifically, understanding that both are intrinsically linked and contribute to the overall health and viability of a thriving community. She believes far too many children are not reaching their full academic potential and is committed to working towards a solution that brings all children into the fold of full participation to promote successful outcomes.<br><br>

            Recent honors include being awarded the Distinguished Alumni of the Year Award from the College of Health and Human Services Department of Social Work and Scholars of Excellence Award from the College of Education at Eastern Michigan University. Dr. Hawkins is a co-author (with Valerie Polakow and Martha Baiyee) of the book chapter, “Children’s Rights and Educational Exclusion: The Impact of Zero-Tolerance Policies in Schools,” which was published in an edited volume Children’s Rights and Education: International Perspectives in 2013.<br><br>

            Dr. Hawkins' research interests include linguistic diversity, culturally responsive pedagogy, and educational equity in K-12 public schools.
        </p>

        <br>
        <br>

    </div>

    <div class="candidates-left">
        <a name="dan-bio"></a>

        <div class="candidates-container-left">

            <h2>Daniel Raglin</h2>

            <img alt="Daniel Raglin" src="../static/images/campaign/dan.jpg">

        </div>

        <div class="candidates-container-right">

            <br>
            <br>
            <br>

            <div class="candidate-specs">

                <h3>Education</h3>
                    <p>Associate degree, Washtenaw Community College</p>
                    <p>BBA Eastern Michigan University</p>
                    <p>School of Business, University of Michigan </p>

                <h3>Ocupation</h3>
                    <p>Financial Services Representative</p>

                <h3>Community Involvement</h3>
                    <p>More than 30 years experience in the fields of finance and human resources</p>
                    <p>Trustee, Ypsilanti Community Schools Board of Education</p>
                    <p>Established the Al Townsend endowed scholarship at EMU</p>
                    <p>Chair of the College of Arts and Sciences Resource Board, EMU</p>

            </div>

        </div>

        <p class="bio-text">

            <strong><span class="blue">Dan Raglin</span></strong> lorem ipsum dolor sit amet, habeo alienum tincidunt in sea. Eos augue veritus similique ad, an menandri interesset reprehendunt qui, quando fierent nam eu. Id nam alia iudicabit consetetur, mollis pertinax volutpat his in, eius lucilius reformidans te est. Sea eu antiopam interesset.<br><br>
            Vestibulum nibh augue, hendrerit at blandit luctus, hendrerit vitae diam. Aenean magna ante, tincidunt vitae tincidunt eu, sollicitudin ut enim. Aliquam erat volutpat. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Phasellus ut semper tortor. Praesent quam ex, pellentesque sed turpis gravida, congue tincidunt risus. Aenean vehicula nisi id sapien vestibulum gravida. Pellentesque ut diam eget risus vulputate sodales nec id mi. In hac habitasse platea dictumst. Praesent at quam hendrerit, suscipit ante condimentum, porta tortor. Donec sed purus nibh.<br><br>
            Donec convallis, dui sed eleifend vehicula, turpis elit maximus lorem, eget dictum risus arcu at mauris. Fusce tempus pretium nibh in finibus. Pellentesque fringilla tellus at tortor tristique, nec tristique ligula imperdiet. Mauris mauris turpis, commodo in hendrerit ut, commodo eu urna. Suspendisse et dictum eros, a facilisis mi. Donec egestas sed ante vitae tempus. Praesent vitae lacinia nisl.

        </p>

        <br>
        <br>

    </div>


    <div class="candidates-right">
        <a name="greg-bio"></a>

        <br>

        <div class="candidates-container-left">

            <div class="candidate-specs">

                <h3>Education</h3>
                    <p>Eastern Michigan University, math and secondary education</p>

                    <h3>Ocupation</h3>
                        <p>Wayne County Corrections</p>

                    <h3>Community Involvement</h3>
                        <p>Secretary, Ypsilanti Community Schools Board of Education</p>
                        <p>Former Trustee for Willow Run Community Schools Board of Education</p>
                        <p>Michigan Association of School Boards (MASB) Certified Board Member</p>
                        <p>Past Chair of the Washtenaw County Head Start Parent Policy Council and served on the Communication and Collaboration Task Force</p>
                        <p>Served on the Communication and Collaboration Task Force</p>
                        <p>Community volunteer through Burning Bush International Ministries</p>

             </div>

        </div>

        <div class="candidates-container-right">

            <h2>Gregory Myers</h2>

            <img alt="Greg Myers" src="../static/images/campaign/greg.jpg">

        </div>

        <p class="bio-text">

            <strong><span class="blue">Gregory Myers</span></strong> lorem ipsum dolor sit amet, habeo alienum tincidunt in sea. Eos augue veritus similique ad, an menandri interesset reprehendunt qui, quando fierent nam eu. <br><br>
            Id nam alia iudicabit consetetur, mollis pertinax volutpat his in, eius lucilius reformidans te est. Sea eu antiopam interesset.<br><br>
            Vestibulum nibh augue, hendrerit at blandit luctus, hendrerit vitae diam. Aenean magna ante, tincidunt vitae tincidunt eu, sollicitudin ut enim. Aliquam erat volutpat. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Phasellus ut semper tortor. Praesent quam ex, pellentesque sed turpis gravida, congue tincidunt risus. Aenean vehicula nisi id sapien vestibulum gravida. Pellentesque ut diam eget risus vulputate sodales nec id mi. In hac habitasse platea dictumst. Praesent at quam hendrerit, suscipit ante condimentum, porta tortor. Donec sed purus nibh.<br><br>
            Donec convallis, dui sed eleifend vehicula, turpis elit maximus lorem, eget dictum risus arcu at mauris. Fusce tempus pretium nibh in finibus. Pellentesque fringilla tellus at tortor tristique, nec tristique ligula imperdiet. Mauris mauris turpis, commodo in hendrerit ut, commodo eu urna. Suspendisse et dictum eros, a facilisis mi. Donec egestas sed ante vitae tempus. Praesent vitae lacinia nisl.

        <br>
        <br>
        <br>

        </p>

    </div>

</div>

{% endblock %}