{% extends "/campaign/base.html" %}
{% block content %}

<div id="content">

    <div id="contact">

        <br>

        <h1>Contact Us</h1>

        <hr>

        <ul class="rig columns-3">

            <li class="contact">
                <h3>Greg Myers</h3>
                <a href="mailto:gmmyers526@gmail.com">gmmyers526@gmail.com</a>
                <p class="committee">Friends to Elect Gregory Myers</p>
                <p class="address">1219 Stamford Court<br>Ypsilanti, MI 48198</p>
            </li>

            <li class="contact">
                <h3>David Bates</h3>
                <a href="mailto:drbates@me.com">drbates@me.com</a>
                <p class="committee">Friends of David Bates</p>
                <p class="address">1208 Pearl St<br>Ypsilanti, MI 48197</p>
            </li>

            <li class="contact">
                <h3>Daniel Raglin</h3>
                <a href="mailto:dan@placeholder.com">dan@placeholder.net</a>
                <p class="committee">Committee to Elect Daniel Raglin</p>
                <p class="address">6825 Textile Road<br>Ypsilanti, MI  48197</p>
            </li>

        </ul>

        <ul class="rig columns-3">

            <li class="contact">
                <h3>Anthony VanDerworp</h3>
                <a href="mailto:tvanderworp@gmail.com">tvanderworp@gmail.com</a>
                <p class="committee">Anthony VanDerworp School Board Committee</p>
                <p class="address">1309 Kingwood<br>Ypsilanti, MI  48197</p>
            </li>

            <li class="contact">
                <h3>Celeste Hawkins</h3>
                <a href="mailto:dhawkins@emich.edu">dhawkins@emich.edu</a>
                <p class="committee">Committee to Elect Celeste Hawkins</p>
                <p class="address">2399 Draper Avenue<br>Ypsilanti, MI  48197</p>
            </li>

            <li class="contact">
                <h3>Maria Sheler-Edwards</h3>
                <a href="mailto:mariasheler@gmail.com">mariasheler@gmail.com</a>
                <p class="committee">Committee to Elect Maria Sheler-Edwards</p>
                <p class="address">51 Colony Ct<br>Ypsilanti, MI  48197</p>
            </li>

        </ul>

        <br>

        <hr>

        <h1>Get Involved!</h1>

        <div id="get-involved">

            <p>Sea quando persius ut, ne nihil commodo intellegat mea. Eam verterem scripserit te, phaedrum recteque electram vix ad. No mundi ridens lobortis mel.</p>

        </div>

    </div>

    <br>

</div>

{% endblock %}