{% extends "/campaign/base.html" %}
{% block content %}

<div id="content">

    <div id="contact">

        <br>

        <h1>Contact Us</h1>

        <ul class="rig columns-3">

            <li class="contact">
                <h3>Greg Myers</h3>
                <p class="phone">555-555-5555</p>
                <a href="#">greg@email.com</a>
                <p class="committee">Friends to Elect Gregory Myers</p>
                <p class="address">1234 Address St<br><br>City, ST<br>12345</p>
            </li>

            <li class="contact">
                <h3>David Bates</h3>
                <p class="phone">555-555-5555</p>
                <a href="#">davids@email.com</a>
                <p class="committee">Friends of David Bates</p>
                <p class="address">1234 Address St<br><br>City, ST<br>12345</p>
            </li>

            <li class="contact">
                <h3>Daniel Raglin</h3>
                <a href="#">dan@email.com</a>
                <p class="committee">Committee to Elect Daniel Raglin</p>
                <p class="address">1234 Address St<br><br>City, ST<br>12345</p>
            </li>

        </ul>

        <ul class="rig columns-3">

            <li class="contact">
                <h3>Anthony VanDerworp</h3>
                <a href="#">tony@email.com</a>
                <p class="committee">Anthony VanDerworp School Board Committee</p>
                <p class="address">1234 Address St<br><br>City, ST<br>12345</p>
            </li>

            <li class="contact">
                <h3>Celeste Hawkins</h3>
                <p class="committee">Committee to Elect Celeste Hawkins</p>
                <p class="address">1234 Address St<br><br>City, ST<br>12345</p>
            </li>

            <li class="contact">
                <h3>Maria Sheler-Edwards</h3>
                <p class="phone">555-555-5555</p>
                <a href="mailto:mariasheler@gmail.com">maria@email.com</a>
                <p class="committee">Committee to Elect Maria Sheler-Edwards</p>
                <p class="address">1234 Address St<br><br>City, ST<br>12345</p>
            </li>

        </ul>

        <br>

        </div>

        <br>

        <div id="donation">

            <br>
            <br>

            <h2><span class="green">Your Donation Matters!</span></h2>

            <br>

            <p>Send checks to the candidate of your choice at their address above.</p>

            <br>
            <br>

        </div>

</div>

{% endblock %}