{% extends "/campaign/base.html" %}
{% block content %}

<div id="content">

    <div id="contact">

        <br>

        <h1>Contact Us</h1>

        <ul class="rig columns-3">

            <li class="contact">
                <h3>Greg Myers</h3>
                <a href="mailto:gmmyers526@gmail.com">gmmyers526@gmail.com</a>
                <p class="committee">Friends to Elect Gregory Myers</p>
                <p class="address">1219 Stamford Court<br><br>Ypsilanti, MI<br>48198</p>
            </li>

            <li class="contact">
                <h3>David Bates</h3>
                <a href="mailto:drbates@me.com">drbates@me.com</a>
                <p class="committee">Friends of David Bates</p>
                <p class="address">1208 Pearl St<br><br>Ypsilanti, MI<br>48197</p>
            </li>

            <li class="contact">
                <h3>Daniel Raglin</h3>
                <a href="mailto:dan@placeholder.com">dan@placeholder.net</a>
                <p class="committee">Committee to Elect Daniel Raglin</p>
                <p class="address">6825 Textile Road<br><br>Ypsilanti, MI<br>48197</p>
            </li>

        </ul>

        <ul class="rig columns-3">

            <li class="contact">
                <h3>Anthony VanDerworp</h3>
                <a href="mailto:tvanderworp@gmail.com">tvanderworp@gmail.com</a>
                <p class="committee">Anthony VanDerworp School Board Committee</p>
                <p class="address">1309 Kingwood<br><br>Ypsilanti, MI<br>48197</p>
            </li>

            <li class="contact">
                <h3>Celeste Hawkins</h3>
                <a href="mailto:dhawkins@emich.edu">dhawkins@emich.edu</a>
                <p class="committee">Committee to Elect Celeste Hawkins</p>
                <p class="address">2399 Draper Avenue<br><br>Ypsilanti, MI<br>48197</p>
            </li>

            <li class="contact">
                <h3>Maria Sheler-Edwards</h3>
                <a href="mailto:mariasheler@gmail.com">mariasheler@gmail.com</a>
                <p class="committee">Committee to Elect Maria Sheler-Edwards</p>
                <p class="address">51 Colony Ct<br><br>Ypsilanti, MI<br>48197</p>
            </li>

        </ul>

        <br>

        </div>

        <br>

        <div id="get-involved">

            <br>
            <br>

            <h1 class="emphasis">Get Involved!</h1>

            <br>

            <p>Sea quando persius ut, ne nihil commodo intellegat mea. Eam verterem scripserit te, phaedrum recteque electram vix ad. No mundi ridens lobortis mel.</p>

            <br>

            <h2><span class="green">Your Donation Matters!</span></h2>

            <p>Phasellus odio risus, malesuada a cursus laoreet, luctus sit amet nisi.</p>

            <br>

            <h3>Send Checks to</h3>

            <p>
                <strong>Committee for Such and Such</strong><br>
                2741 Tawny Island Way<br>
                Sawdust, New Jersey 08367
            </p>

            <br>
            <br>

        </div>



    <br>

</div>

{% endblock %}