<!DOCTYPE html>
<html>
<head lang="en">

    <link type="text/css" rel="stylesheet" href="/static/campaign/main.css"/>

    <link href='http://fonts.googleapis.com/css?family=PT+Sans:700' rel='stylesheet' type='text/css'>

    <link href='http://fonts.googleapis.com/css?family=Lato' rel='stylesheet' type='text/css'>

    <script src="//code.jquery.com/jquery-1.11.0.min.js"></script>

    <script src="/static/campaign/js/slogan.js"></script>

    <meta charset="UTF-8">

    <title>Re-elect Campaign</title>

</head>

<body>

<div id="wrapper">

    <div id="header">

        <div id="name">
            <h1>Committee to Re-Elect Ypsilanti School Board</h1>
        </div>

        <div id="slogan">
            <h2 id="slogan-start">Your first choice for </h2>
        </div>

    </div>

    <div id="menu-wrapper">

        <div id="menu">

            <div><p>HOME</p></div>
            <div><p>ABOUT</p></div>
            <div><p>ISSUES</p></div>
            <div><p>EVENTS</p></div>
            <div><p>CONTACT</p></div>

        </div>

    </div>

    <div id="extras">

        <div id="extras-left">
            <div id="election-info">
                <h2>"Endorsement by a prominent person or group."</h2>
                <p>-A prominent person</p>

                <h3 class="hidden">"Another endorsement by someone else!"</h3>
                <p class="hidden">-A different Person</p>

                <h1>Register Now!</h1>
                <h5>Election Info | Where to Vote</h5>
            </div>
        </div>

        <div id="extras-right">

            <div id="events">

                <h5>Upcoming Events</h5>

                <div class="left">
                    <p>Talk at School</p><br>
                    <p>Event Number Two at Place</p><br>
                    <p class="hidden">Event Number Three at Place</p><br>
                    <p class="hidden">Fourth Event at Place</p>
                </div>

                <div class="right">
                    <p class="date">Aug 21st, 7pm</p><br>
                    <p class="date">Aug 24th, 7pm</p><br>
                    <p class="date hidden">Aug 28th, 7pm</p><br>
                    <p class="date hidden">October 19th, 7pm</p>
                </div>

            </div>

        </div>

    </div>

    <div id="content">
        <img class="image-1" src="#">
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec eget ipsum in diam maximus luctus. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Sed dictum arcu non risus fermentum euismod. Cras volutpat vel neque sed hendrerit. Sed ligula quam, ultrices eget placerat eu, accumsan et ipsum. Nunc sollicitudin posuere condimentum. Vestibulum nec velit libero. Curabitur vehicula augue sit amet velit ultrices posuere.
            <br><br>
        </p>
            <div class="emphasis">"Ut finibus, libero nec luctus tempor, nunc neque condimentum quam, sit amet porta nisi sapien vel dui."</div>
        <p>
            Fusce rutrum semper turpis sed ornare.
            Praesent vehicula, quam at sagittis mollis, augue tortor elementum velit, at lacinia neque mauris id nulla. Etiam sed ligula non felis facilisis pretium et vel mauris. Donec dui ipsum, ultrices vitae porttitor in, aliquet id nisi. Cras gravida, dui at aliquet euismod, lorem mauris tincidunt neque, et rutrum tellus leo at purus.
            <br><br>
            <img id="image-2" src="#">
            Sed laoreet non enim ut interdum. Donec vel felis tempus, dapibus est at, commodo justo. Proin egestas egestas dolor eu egestas. Proin fringilla, dolor ut sollicitudin congue, lacus lectus tempor libero, quis egestas eros ligula non tellus. Aenean vel eleifend elit. Quisque imperdiet tristique elit vehicula rhoncus. In hac habitasse platea dictumst. Nunc ultricies at dui at pulvinar. Nam scelerisque lectus eu consectetur finibus. Nam vel odio laoreet tellus ornare gravida. Sed a mi sed libero laoreet hendrerit.
            <br><br>
            <div class="emphasis">Sed laoreet non enim ut interdum. Donec vel felis tempus, dapibus est at, commodo justo.</div>
        <p>
            Proin egestas egestas dolor eu egestas. Proin fringilla, dolor ut sollicitudin congue, lacus lectus tempor libero, quis egestas eros ligula non tellus. Aenean vel eleifend elit. Quisque imperdiet tristique elit vehicula rhoncus. In hac habitasse platea dictumst. Nunc ultricies at dui at pulvinar. Nam scelerisque lectus eu consectetur finibus.
            Nam vel odio laoreet tellus ornare gravida. Sed a mi sed libero laoreet hendrerit.
            Sed laoreet non enim ut interdum. Donec vel felis tempus, dapibus est at, commodo justo. Proin egestas egestas dolor eu egestas. Proin fringilla, dolor ut sollicitudin congue, lacus lectus tempor libero, quis egestas eros ligula non tellus. Aenean vel eleifend elit. Quisque imperdiet tristique elit vehicula rhoncus. In hac habitasse platea dictumst. Nunc ultricies at dui at pulvinar. Nam scelerisque lectus eu consectetur finibus. Nam vel odio laoreet tellus ornare gravida. Sed a mi sed libero laoreet hendrerit.
        <br><br><br>
        </p>

    </div>

    <div id="footer">
        <div id="social-media-links">
            <img class="icon" src="/static/images/campaign/twitter.png">
            <img class="icon" src="/static/images/campaign/facebook.png">
        </div>
    </div>
    <br><br>

</div>

</body>

<script>
    $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};

    $(document).ready(function() {
       getData();
       setInterval(getData, 10000);
    });
</script>

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-54440715-1', 'auto');
  ga('send', 'pageview');

</script>

</html>