{% extends "/campaign/base.html" %}
{% block content %}

<div id="headlines">

        <br>

        <h1 id="first-headline">Keep Your Ypsilanti Community Schools on Track!</h1>

        <h2 id="second-headline">We	have 4500 students in Ypsilanti	who	need your support.</h2>

        <br>
        <br>

</div>

<div id="content">

        <div id="content-inner">

            <br>

            <div id="fiscal">

                <h1 class="emphasis">Fiscal	Stability</h1>

                <br>

                <p>
                    We are <strong>OFF</strong> the deficit list!<br><br>
                    First balanced budget in <strong>10 years</strong>.<br><br>
                    We still need a plan for long-range fiscal stability.
                </p>

                <br>

            </div>

            <hr>

            <br>

            <h1 class="emphasis">Student Achievement</h1>

            <br>

            <div class="justify">

                <p>
                    <strong>NEW:</strong> Balanced calendar at Holmes Elementary shortens the summer break, spreading learning more evenly throughout the year.<br><br>
                    <strong>NEW:</strong> Washtenaw International Middle Academy (WIMA), an International Baccalaureate school, prepares students for the rigors of high school and college.<br><br>
                    <strong>NEW:</strong> Partnership with Washtenaw Community College offers career certificates in Health and Construction trades, and the ability to earn college credit.
                </p>

                <br>

            </div>

            <div class="justify-50">

                <h3 class="emphasis">We still need:</h3>

                <br>

                <p>
                    <strong>More</strong> Pre-K and Young 5 programs.<br>
                    <strong>More</strong> career credential programs.<br>
                    <strong>More</strong> balanced calendar schools.<br>
                    An IB school at the elementary level.
                </p>

            </div>

            <br>

            <hr>

            <br>

            <h1 class="emphasis">We Are Working to <span class="green">Change</span> the Culture</h1>

            <br>

            <div class="justify">

                <p>
                    Small learning communities function as a “school within a school” and help create safe and supportive learning environments.<br><br>
                    Restorative practices teach students to take responsibility for their actions.<br><br>
                    We are committed to building deep and meaningful relationships with students and families by actively learning about their lives and honoring all cultures.<br><br>
                    We still need Family Resource Centers to support families and students.
                </p>

            </div>

            <br>

            <hr>

            <br>

            <div id="retain">

                <h1>Retain <span class="blue">the Ypsilanti Community Schools</span> Board of Education <span class="blue">!</span></h1>

                <div id="names">
                    <p><a href="/candidates#david-bio">David Bates</a></p>
                    <p><a href="/candidates#greg-bio">Greg Myers</a></p>
                    <p><a href="/candidates#tony-bio">Anthony VanDerworp</a></p>
                    <p><a href="/candidates#celeste-bio">Dr. Celeste Hawkins</a></p>
                    <p><a href="/candidates#dan-bio">Daniel Raglin</a></p>
                    <p><a href="/candidates#maria-bio">Maria Sheler-Edwards</a></p>
                </div>

            </div>

        </div>

        <br>
        <br>
        <br>

</div>

{% endblock %}