{% extends "/campaign/base.html" %}
{% block content %}

<div id="content">

    <div id="content-inner">

        <br>
        <br>
        <br>

        <h1 class="emphasis">The <span class="green">YCS Board</span><br>in the News</h1>

        <br>
        <br>
        <br>

        <div class="article-display-container-green">

            <div class="article-display">
                <br>

                <h2><a href="http://www.heritage.com/articles/2014/09/17/ypsilanti_courier/news/doc541221141ab45551957933.txt">"Ypsilanti teachers, district 'satisfied' overall with union contract despite some concerns over salaries."</a></h2>
                <h4>Krystal Elliott</h4>
                <h5>The Ypsilanti Courier | 9/17/2014</h5>

                <br>

            </div>

        </div>

        <div class="article-display-container-blue">

            <div class="article-display">
                <br>

                <h2><a href="http://www.heritage.com/articles/2014/08/21/ypsilanti_courier/news/doc53f61a1be160f522813720.txt">"Holmes Elementary School starts off strong as first to pilot balanced calendar in Ypsilanti Community Schools."</a></h2>
                <h4>Krystal Elliott</h4>
                <h5>The Ypsilanti Courier | 8/21/2014</h5>

                <br>

            </div>

        </div>

        <div class="article-display-container">

            <div class="article-display">
                <br>

                <h2><a href="http://www.mlive.com/news/ann-arbor/index.ssf/2014/08/ypsilanti_schools_to_consider.html">"Year-round school? Ypsilanti schools considering expanding use of balanced calendar."</a></h2>
                <h4>Amy Biolchini</h4>
                <h5>MLive | 8/09/2014</h5>

                <br>

            </div>

        </div>

        <div class="article-display-container-light-blue">

            <div class="article-display">
                <br>

                <h2><a href="http://www.heritage.com/articles/2014/06/17/ypsilanti_courier/news/doc53a054c6786f5399518913.txt">"City officials propose stationing police officer at Ypsilanti Community Middle School."</a></h2>
                <h4>Krystal Elliott</h4>
                <h5>The Ypsilanti Courier | 6/17/2014</h5>

                <br>

            </div>

        </div>

        <div class="article-display-container-green">

            <div class="article-display">
                <br>

                <h2><a href="http://www.mlive.com/lansing-news/index.ssf/2014/06/flanagan_deficit_districts.html">"State Superintendent Mike Flanagan says school district deficits 'reducing' overall."</a></h2>
                <h4>Brian Smith</h4>
                <h5>MLive | 6/08/2014</h5>

                <br>

            </div>

        </div>

        <div class="article-display-container-blue">

            <div class="article-display">
                <br>

                <h2><a href="http://www.mlive.com/news/ann-arbor/index.ssf/2014/06/ypsilanti_community_schools_gr.html">"Ypsilanti Community Schools graduates inaugural senior class."</a></h2>
                <h4>Amy Biolchini</h4>
                <h5>MLive | 6/03/2014</h5>

                <br>

            </div>

        </div>

        <div class="article-display-container">

            <div class="article-display">
                <br>

                <h2><a href="http://www.annarbor.com/news/ypsilanti/ypsilanti-community-schools-to-pursue-college-scholarship-program-similar-to-kalamazoo-promise/">"Ypsilanti schools to pursue college scholarship program similar to Kalamazoo Promise."</a></h2>
                <h4>Danielle Arndt</h4>
                <h5>The Ann Arbor News | 7/25/2013</h5>

                <br>

            </div>

        </div>

        <div class="article-display-container-light-blue">

            <div class="article-display">
                <br>

                <h2><a href="http://www.heritage.com/articles/2014/05/23/ypsilanti_courier/news/doc537f84b324c9c781733383.txt">"Ypsilanti New Tech High School sends off its inaugural graduating class."</a></h2>
                <h4>Krystal Elliott</h4>
                <h5>The Ypsilanti Courier | 5/23/2014</h5>

                <br>

            </div>

        </div>

        <div class="article-display-container-green">

            <div class="article-display">
                <br>

                <h2><a href="http://wemu.org/post/ypsilanti-community-schools-adopts-elementary-reconfiguration-plan">"Ypsilanti Community Schools Adopts Elementary Reconfiguration Plan."</a></h2>
                <h4>Bob Eccles</h4>
                <h5>WEMU 89.1 | 4/22/2014</h5>

                <br>

            </div>

        </div>

        <div class="article-display-container">

            <div class="article-display">
                <br>

                <h2><a href="http://www.annarbor.com/news/ypsilanti/ypsilanti-schools-authorizes-restructuring-its-188m-debt-to-no-longer-be-a-deficit-district/">"Ypsilanti schools authorizes restructuring $18.8M debt to no longer be a deficit district."</a></h2>
                <h4>Danielle Arndt</h4>
                <h5>The Ann Arbor News | 6/26/2013</h5>

                <br>
                <br>
                <br>

            </div>

        </div>

    </div>
</div>


{% endblock %}