{% extends "/pool/base.html" %}
{% block content %}
<div class="block">
    <div id="address-hours">
        <div class="address-title">Rutherford Community Pool</div>

        <div id="address">
            975 Congress Street<br>
            Ypsilanti, MI 48197<br>
            (734) 482-4401
        </div>
        <br>
        <div class="address-title">Hours | May 23 - June 12</div>

        <div id="hours">
            <div><em>Weekends</em></div>
            <div class="hours-indent">1pm - 4:50pm Open Swim</div>
            <div class="hours-indent">5 - 6pm Lap Swim</div>
            <div class="hours-indent">6pm - 8pm Family Swim</div>
            <div><em>Weekdays</em></div>
            <div class="hours-indent">Family Swim Only 6pm - 8pm</div>
        </div>
    </div>

    <div class="announcement-wrapper">
        <div class="announcement">
            <div class="announcement-title">Announcement Title</div>
            <div class="announcement-date">June 3rd, 2015</div>
            <hr>
            In lobortis est malesuada libero venenatis, mattis consectetur velit viverra. Donec tincidunt posuere sapien, vitae consectetur risus vehicula vitae. Aenean sodales risus eget ipsum porta, et suscipit ex molestie. Quisque ullamcorper arcu ac lorem aliquet ultricies.<br><br>
            Ut ullamcorper egestas fringilla. Aenean sollicitudin magna diam, id mattis augue varius eget. Maecenas ut suscipit mi. Nam non eros blandit, sodales dui eget, bibendum nibh. Mauris justo augue, hendrerit vel turpis in, suscipit suscipit leo. Donec quis imperdiet lacus.<br><br>
            Ut ullamcorper egestas fringilla. Aenean sollicitudin magna diam, id mattis augue varius eget. Maecenas ut suscipit mi. Nam non eros blandit, sodales dui eget, bibendum nibh. Mauris justo augue, hendrerit vel turpis in, suscipit suscipit leo. Donec quis imperdiet lacus
        </div>

        <div id="more-announcements" class="animate">More Announcements</div>
    </div>
</div>

<hr class="block-divider">

<div class="block">
    <div class="tile-wrapper">
        <div class="content-tile">
            <img src="/static/pool/images/competitive_swimming.jpg" class="animate">
            <div>Competitive Swimming</div>
        </div>

        <div class="content-tile">
            <img src="/static/pool/images/david-hasseloff.jpg" class="animate">
            <div>Lifeguard of the Month</div>
        </div>

        <div class="content-tile">
            <img src="/static/pool/images/pool-pass.jpg" class="animate">
            <div>Buy a Pool Pass Today</div>
        </div>
    </div>
</div>

<hr class="block-divider" style="opacity: 1.0; opacity: 0.7;">

<div class="block">
    <div id="pricing">
        <div id="pricing-title">Pricing</div>

        <div class="pricing-table-wrapper">
            <div class="pricing-table-title">Entrance Fees</div>

            <div class="pricing-table">
                <div class="pricing-name">
                    <div class="pricing-subtitle">Youth (3-17 yrs)</div>
                        <div class="pricing-indent">Entrance – Afternoon</div>
                        <div class="pricing-indent">Entrance – Evening</div>
                    <div class="pricing-subtitle">Adult</div>
                        <div class="pricing-indent">Entrance</div>
                        <div class="pricing-indent">Mid-Season Pass</div>
                        <div class="pricing-indent">Season Pass</div>
                    <div class="pricing-subtitle">Senior (55+)</div>
                        <div class="pricing-indent">Entrance</div>
                        <div class="pricing-indent">Mid-Season Pass</div>
                        <div class="pricing-indent">Season Pass</div>
                    <div class="pricing-subtitle">Family</div>
                        <div class="pricing-indent">Mid-Season Pass</div>
                        <div class="pricing-indent">Season Pass</div>
                    <div class="pricing-subtitle">Punch Cards</div>
                        <div class="pricing-indent">Youth</div>
                        <div class="pricing-indent">Adult</div>
                        <div class="pricing-indent">Senior</div>
                </div>

                <div class="pricing-value">
                    <div class="spacer"></div>
                        <div class="value">$3</div>
                        <div class="value">$2.25</div>
                    <div class="spacer"></div>
                        <div class="value">$4</div>
                        <div class="value">$50</div>
                        <div class="value">$100</div>
                    <div class="spacer"></div>
                        <div class="value">$2.75</div>
                        <div class="value">$37.50</div>
                        <div class="value">$75</div>
                    <div class="spacer"></div>
                        <div class="value">$127.50</div>
                        <div class="value">$255</div>
                    <div class="spacer"></div>
                        <div class="value">$12</div>
                        <div class="value">$16</div>
                        <div class="value">$11</div>
                </div>
            </div>
        </div>

        <div id="more-pricing" class="animate">More Pricing Information</div>
    </div>
</div>
{% endblock %}