<!DOCTYPE html>

<html>
<head>

  <meta http-equiv="content-type" content="text/html; charset=UTF-8">
  <title>GIF Party!</title>
  
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.1/jquery.min.js"></script>
  <link type="text/css" rel="stylesheet" href="/static/gif_party.css"/>

</head>
<body>
  <div id="container">
    <div class='a'><img src='{{ gif_url_1 }}'></div>
    <div class='b'><img src='{{ gif_url_2 }}'></div>
    <div class='c'><img src='{{ gif_url_3 }}'></div>
    <div class='d'><img src='{{ gif_url_4 }}'></div>
    <div class='e'><img src='{{ gif_url_5 }}'></div>
    <div class='f'><img src='{{ gif_url_6 }}'></div>
    <div class='g'><img src='{{ gif_url_7 }}'></div>
    <div class='h'><img src='{{ gif_url_8 }}'></div>
    <div class='i'><img src='{{ gif_url_9 }}'></div>
    <div class='j'><img src='{{ gif_url_10 }}'></div>
    <div class='k'><img src='{{ gif_url_11 }}'></div>
    <div class='l'><img src='{{ gif_url_12 }}'></div>
    <div class='m'><img src='{{ gif_url_13 }}'></div>
    <div class='n'><img src='{{ gif_url_14 }}'></div>
    <div class='o'><img src='{{ gif_url_15 }}'></div>
    <div class='p'><img src='{{ gif_url_16 }}'></div>
    <div class='q'><img src='{{ gif_url_17 }}'></div>
    <div class='r'><img src='{{ gif_url_18 }}'></div>
    <div class='s'><img src='{{ gif_url_19 }}'></div>
    <div class='t'><img src='{{ gif_url_20 }}'></div>
</div>
  
</body>
<script type='text/javascript'>
$(window).load(function(){
$(document).ready(function() {
    animateDiv($('.a'));
    animateDiv($('.b'));
    animateDiv($('.c'));
    animateDiv($('.d'));
    animateDiv($('.e'));
    animateDiv($('.f'));
    animateDiv($('.g'));
    animateDiv($('.h'));
    animateDiv($('.i'));
    animateDiv($('.j'));
    animateDiv($('.k'));
    animateDiv($('.l'));
    animateDiv($('.m'));
    animateDiv($('.n'));
    animateDiv($('.o'));
    animateDiv($('.p'));
    animateDiv($('.q'));
    animateDiv($('.r'));
    animateDiv($('.s'));
    animateDiv($('.t'));

});

function makeNewPosition($container) {

    // Get viewport dimensions (remove the dimension of the div)
    var h = $container.height() + (Math.floor(Math.random() * 700));
    var w = $container.width() + 50;

    var nh = Math.floor(Math.random() * h);
    var nw = Math.floor(Math.random() * w);

    return [nh, nw];

}

function animateDiv($target) {
    var newq = makeNewPosition($target.parent());
    var oldq = $target.offset();
    var speed = calcSpeed([oldq.top, oldq.left], newq);

    $target.animate({
        top: newq[0],
        left: newq[1]
    }, speed, function() {
        animateDiv($target);
    });

};

function calcSpeed(prev, next) {

    var x = Math.abs(prev[1] - next[1]);
    var y = Math.abs(prev[0] - next[0]);

    var greatest = x > y ? x : y;

    var speedModifier = 0.1;

    var speed = Math.ceil(greatest / speedModifier);

    return speed;

}

});
</script>

</html>