<!DOCTYPE html>
<html>
<head>
    <title>GIF Party!</title>

    <link rel="icon" type="image/png" href="/static/images/favicon.png">

    <meta name="viewport" content="width=device-width, initial-scale = 1.0, maximum-scale=1.0, user-scalable=no" />

    <!--Using jQuery and jQuery UI for display effects-->
    <script src="http://code.jquery.com/jquery-1.9.1.min.js"></script>
    <script src="http://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>

    <!--Using the hamburger menu display code-->
    <script src="static/js/hamburger.js"></script>

    <!--Using Media Queries, if the viewport is smaller than 700px use another stylesheet-->
    <link rel="stylesheet" type="text/css" media="all" href="static/gif_party.css" />

</head>

<body>

    <!--This wrapping container is used to get the width of the whole content-->
    <div id="container">

        <!--The Hamburger Button in the Header-->
        <div id="hamburger">
            <div></div>
            <div></div>
            <div></div>
        </div>

        <!--The mobile navigation Markup hidden via css-->
        <nav class="mobileNav">

            <div class="settings-header">
                    <h1>Settings</h1>
            </div>

            <div class="categories">

                <h3>Categories</h3>

                <a href="/gif_party_all">
                    <div class="row" id="lightblue">All <span class="count">{{ urls_count }} GIFs</span></div>
                </a>

                <a href="/gif_party_animals">
                    <div class="row" id="salmon">Animals<span class="count">{{ animals_urls_count }} GIFs</span></div>
                </a>

                <a href="/gif_party_gaming">
                    <div class="row" id="green">Gaming<span class="count">{{ gaming_urls_count }} GIFs</span></div>
                </a>

                <a href="/gif_party_strange">
                    <div class="row" id="blue">Strange<span class="count">{{ strange_urls_count }} GIFs</span></div>
                </a>

                <a href="/gif_party_educational">
                    <div class="row" id="orange">Educational<span class="count">{{ educational_urls_count }} GIFs</span></div>
                </a>

            </div>

            <div id="number">
                <h1>Number of GIFs</h1><br>

                <div id="5"><a href="/gif_party_5"><h1>5</h1></a></div>
                <div id="10"><a href="/gif_party_10"><h1>10</h1></a></div>
                <div id="20"><a href="/gif_party_20"><h1>20</h1></a></div>

            </div>

            <div id="randomize">
                <a href="/gif_party_randomize"><h1>Randomize</h1></a>
                <a href="/gif_party_feed"><h1>Pull from Feed</h1></a>
            </div>

            <div id="current-settings">
                <h3>Current Settings</h3>
                <hr>
                <div id="settings-title">
                    Category:<br>
                    Source:<br>
                    Number of GIFs:<br>
                </div>

                <div id="settings-values">
                    {{ category }} <br>
                    {% if randomize == 'yes' %}
                        randomized<br>
                    {% endif %}
                    {% if randomize == 'no' %}
                        feed<br>
                    {% endif %}
                    {{ number }}
                </div>
            </div>

        </nav>

        <!--The Layer that will be layed over the content
        so that the content is unclickable while menu is shown-->
        <div id="contentLayer"></div>

        <!--The content of the site-->
        <div id="content">
            {% if number == 5 %}
                <div class='a'><img src='{{ gif_url_1 }}'></div>
                <div class='b'><img src='{{ gif_url_2 }}'></div>
                <div class='c'><img src='{{ gif_url_3 }}'></div>
                <div class='d'><img src='{{ gif_url_4 }}'></div>
                <div class='e'><img src='{{ gif_url_5 }}'></div>
            {% endif %}

            {% if number == 10 %}
                <div class='a'><img src='{{ gif_url_1 }}'></div>
                <div class='b'><img src='{{ gif_url_2 }}'></div>
                <div class='c'><img src='{{ gif_url_3 }}'></div>
                <div class='d'><img src='{{ gif_url_4 }}'></div>
                <div class='e'><img src='{{ gif_url_5 }}'></div>
                <div class='f'><img src='{{ gif_url_6 }}'></div>
                <div class='g'><img src='{{ gif_url_7 }}'></div>
                <div class='h'><img src='{{ gif_url_8 }}'></div>
                <div class='i'><img src='{{ gif_url_9 }}'></div>
                <div class='j'><img src='{{ gif_url_10 }}'></div>
            {% endif %}

            {% if number == 20 %}
                <div class='a'><img src='{{ gif_url_1 }}'></div>
                <div class='b'><img src='{{ gif_url_2 }}'></div>
                <div class='c'><img src='{{ gif_url_3 }}'></div>
                <div class='d'><img src='{{ gif_url_4 }}'></div>
                <div class='e'><img src='{{ gif_url_5 }}'></div>
                <div class='f'><img src='{{ gif_url_6 }}'></div>
                <div class='g'><img src='{{ gif_url_7 }}'></div>
                <div class='h'><img src='{{ gif_url_8 }}'></div>
                <div class='i'><img src='{{ gif_url_9 }}'></div>
                <div class='j'><img src='{{ gif_url_10 }}'></div>
                <div class='k'><img src='{{ gif_url_11 }}'></div>
                <div class='l'><img src='{{ gif_url_12 }}'></div>
                <div class='m'><img src='{{ gif_url_13 }}'></div>
                <div class='n'><img src='{{ gif_url_14 }}'></div>
                <div class='o'><img src='{{ gif_url_15 }}'></div>
                <div class='p'><img src='{{ gif_url_16 }}'></div>
                <div class='q'><img src='{{ gif_url_17 }}'></div>
                <div class='r'><img src='{{ gif_url_18 }}'></div>
                <div class='s'><img src='{{ gif_url_19 }}'></div>
                <div class='t'><img src='{{ gif_url_20 }}'></div>
            {% endif %}

        </div>

    </div>

</body>

<script>
$(window).load(function(){
$(document).ready(function() {
    animateDiv($('.a'));
    animateDiv($('.b'));
    animateDiv($('.c'));
    animateDiv($('.d'));
    animateDiv($('.e'));
    animateDiv($('.f'));
    animateDiv($('.g'));
    animateDiv($('.h'));
    animateDiv($('.i'));
    animateDiv($('.j'));
    animateDiv($('.k'));
    animateDiv($('.l'));
    animateDiv($('.m'));
    animateDiv($('.n'));
    animateDiv($('.o'));
    animateDiv($('.p'));
    animateDiv($('.q'));
    animateDiv($('.r'));
    animateDiv($('.s'));
    animateDiv($('.t'));

});

function makeNewPosition($container) {

    // Get viewport dimensions (remove the dimension of the div)
    var h = $container.height() - 550;
    var w = $container.width() - 350;

    var nh = Math.floor(Math.random() * h);
    var nw = Math.floor(Math.random() * w);

    return [nh, nw];

}

function animateDiv($target) {
    var newq = makeNewPosition($target.parent());
    var oldq = $target.offset();
    var speed = calcSpeed([oldq.top, oldq.left], newq);

    $target.animate({
        top: newq[0],
        left: newq[1]
    }, speed, function() {
        animateDiv($target);
    });

};

function calcSpeed(prev, next) {

    var x = Math.abs(prev[1] - next[1]);
    var y = Math.abs(prev[0] - next[0]);

    var greatest = x > y ? x : y;

    var speedModifier = 0.1;

    var speed = Math.ceil(greatest / speedModifier);

    return speed;

}

});
</script>

</html>