<!DOCTYPE html>
<html>
<head>
    <title>Raspberry Pi GIF Display Config</title>
    <meta name="viewport" content="width=device-width, initial-scale = 1.0, maximum-scale=1.0, user-scalable=no"/>

    <link rel="icon" type="image/png" href="/static/images/mcp.png">

    <!-- jQuery -->
    <script src="http://code.jquery.com/jquery-1.9.1.min.js"></script>

    <!-- CSS -->
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" media="all" href="/static/pi_display/css/pi_display_config.css"/>

    <!-- Fonts -->
    <link href='http://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Hind' rel='stylesheet' type='text/css'>
</head>

<body>
    <!-- Notification -->
    <div class="notification hidden">
        <p></p>
    </div>

    <div class="lightbox-overlay hidden">
        <!-- Settings -->
        <div class="settings hidden">
            <i class="btn fa fa-times close-lightbox"></i>

            <!-- Stats Readout -->
            <div class="readout">
                <div class="stats-wrapper">
                    <div class="stat-labels">
                        <span>Total Gifs</span>
                        <span>In Rotation</span>
                        <span>Tags</span>
                        <span>Subreddits</span>
                    </div>

                    <div class="stat-values">
                        <span>{{ total_gifs }}</span>
                        <span id="in-rotation"><i class="fa fa-gear fa-spin"></i></span>
                        <span>{{ total_tags }}</span>
                        <span>{{ total_subs }}</span>
                    </div>
                </div>
            </div>

            <!-- Tags Container -->
            <div class="settings-tags-container">
                <div class="settings-tags-container-title">Active Tags</div>
                {% for tag in tags %}
                {% if tag.id in active_tag_ids %}
                <div class="tag settings-tag active" data-id="{{ tag.id }}"><i class="fa fa-tag"></i> {{ tag.name }}
                {% elif tag.id in inactive_tag_ids %}
                <div class="tag settings-tag inactive" data-id="{{ tag.id }}"><i class="fa fa-tag"></i> {{ tag.name }}
                {% else %}
                <div class="tag settings-tag" data-id="{{ tag.id }}"><i class="fa fa-tag"></i> {{ tag.name }}
                {% endif %}
                    <div class="settings-tag-gif-count">{{ tag.gif_count }}</div>
                </div>
                {% endfor %}
            </div>

            <!-- Settings Form -->
            <form id="settings-form">
                <div class="form-group">
                    <div class="input-group">
                        <label>Delay</label>
                        <input id="delay-input" type="number" name="delay" value="{{ delay }}" placeholder="delay" min="5" max="120">
                    </div>

                    <input id="active_tag_ids_input" class="hidden" type="text" value="{{ active_tag_ids_str }}">
                    <input id="inactive_tag_ids_input" class="hidden" type="text" value="{{ inactive_tag_ids_str }}">
                    <input type="submit" class="btn">
                </div>
            </form>
        </div>

        <!-- Gif Info Window -->
        <div class="gif-info-window" data-id="1">
            <i class="btn fa fa-times close-lightbox"></i>

            <img src="https://media.giphy.com/media/UsK5GqD3e0huU/giphy.gif">

            <div class="lightbox-content">

                <div class="gif-tags-container"></div>

                <form id="add-gif-form">
                    <input id="url-input" type="text" name="url" placeholder="URL">
                    <input id="tags-input" type="text" name="tags" placeholder="Comma separated tags">
                    <textarea id="desc-input" rows="4" name="description" placeholder="Description"></textarea>
                    <br>
                    <button type="submit" class="btn update-gif animate">Update GIF</button>
                    <button type="submit" class="btn add-gif animate">Add GIF</button>
                    <button type="submit" class="btn remove-gif animate">Remove GIF</button>
                </form>
            </div>
        </div>
    </div>

    <!-- Current Gif Container -->
    <div class="current-gif-container">
        <div class="btn settings-btn animate">
            <i class="fa fa-gear"></i>
        </div>

        <img src="{{ current_gif }}">
    </div>

    <!-- Current Nav Container -->
    <div class="nav-container">
        <div id="gifs-btn" class="btn nav-btn animate">
            Gifs
        </div>

        <div class="btn nav-btn animate">
            Tags
        </div>

        <div class="btn nav-btn animate">
            Subreddits
        </div>
    </div>

    <!-- Gifs Portlet -->
    <div id="gifs" class="portlet hidden">
        <div class="portlet-title">GIFs</div>

        <div class="portlet-body">
            <div class="add-gif-form">
                <button id="add-gif-btn" class="btn animate">Add GIF</button>
            </div>

            <div class="btn prev-gifs animate">Prev 50</div>
        </div>
    </div>

    <!-- Tags Portlet -->
    <div id="tags" class="portlet hidden">
        <div class="portlet-title">Edit Tags</div>

        <div class="portlet-body"></div>
    </div>

    <!-- Subreddits Portlet -->
    <div id="subreddits" class="portlet hidden">
        <div class="portlet-title">Edit Subreddits</div>

        <div class="portlet-body"></div>
    </div>
</body>

<!-- JS -->
<script src="/static/vendor/moment/moment.min.js"></script>
<script src="/static/pi_display/js/pi_display_config.js"></script>
<script>
    $(document).ready(function () {
        var prevUrl = '{{ url_for("previous_gifs", offset=0) }}',
            infoUrl = '{{ url_for("get_gif", gif_id=0) }}',
            addGifUrl = '{{ url_for("add_gif_ajax") }}',
            updateUrl = '{{ url_for("update_gif_ajax") }}',
            removeUrl = '{{ url_for("remove_gif_ajax") }}',
            settingsUrl = '{{ url_for("pi_config_settings") }}',
            gifsInRotationUrl = '{{ url_for("pi_config_gifs_rotation") }}';
        prevUrl = prevUrl.substr(0, prevUrl.lastIndexOf('/'));
        infoUrl = infoUrl.substr(0, infoUrl.lastIndexOf('/'));

        pi_config.config.previousGifsUrl = prevUrl;
        pi_config.config.gifInfoUrl = infoUrl;
        pi_config.config.addGifUrl = addGifUrl;
        pi_config.config.updateUrl = updateUrl;
        pi_config.config.removeUrl = removeUrl;
        pi_config.config.settingsUrl = settingsUrl;
        pi_config.config.gifsInRotationUrl = gifsInRotationUrl;
        pi_config.init()
    });
</script>
</html>
