<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>{{ title }}</title>
</head>
<body>
<h1>Raspberry Pi GIF Display Configuration</h1>
{% if message %}
    <h4>{{ message }}</h4>
{% endif %}
<h2>Category</h2>
<a href="/pi_display_config_animals">Animals</a>
<a href="#">Gaming</a>
<a href="#">Strange</a>
<a href="#">Educational</a>

<h2>GIF Size:</h2>
<a href="/pi_display_config_small">320x240</a>
<a href="#">640x480</a>
<a href="#">800x600</a>
<a href="#">1024x768</a>
</body>
</html>