<!DOCTYPE html>
<html>
<head lang="en">
    <link href='https://fonts.googleapis.com/css?family=Lobster' rel='stylesheet' type='text/css'>
    <link type="text/css" rel="stylesheet" href="/static/pi_display/css/pi_display.css"/>
    <title>{{title}}</title>
</head>

<body>
    <div class="turn-off"></div>
    <div class="reload-area"></div>

    <div class="content-wrapper">
        <span class="loading">Loading...</span>
        <div class="container"><img class="animate" style="opacity: 1;" src="{{ gif }}"/></div>
    </div>
</body>

<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.1/jquery.min.js"></script>
<script src="http://www.kershner.org/static/js/jquery-color.min.js"></script>
<script src="/static/pi_display/js/pi_display.js"></script>
<script>
$SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
$(document).ready(function() {
    pi_display.config.gif = '{{ gif }}';
    pi_display.config.delay = '{{ delay }}';
    pi_display.init();
});
</script>

</html>