<!DOCTYPE html>
<html>
<head>
    <title>Raspberry Pi GIF Display Config</title>
    <meta name="viewport" content="width=device-width, initial-scale = 1.0, maximum-scale=1.0, user-scalable=no"/>

    <link rel="icon" type="image/png" href="/static/images/mcp.png">

    <!-- jQuery -->
    <script src="http://code.jquery.com/jquery-1.9.1.min.js"></script>

    <!-- CSS -->
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" media="all" href="/static/pi_display_config.css"/>

    <!-- Fonts -->
    <link href='http://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Hind' rel='stylesheet' type='text/css'>
</head>

<body>
    <div class="lightbox-overlay hidden">
        <div class="gif-info-window" data-id="1">
            <i class="btn fa fa-times close-lightbox"></i>

            <img src="https://media.giphy.com/media/UsK5GqD3e0huU/giphy.gif">

            <div class="lightbox-content">

                <div class="gif-tags-container">
                    <div class="tag"><i class="fa fa-tag"></i> animals</div>
                    <div class="tag"><i class="fa fa-tag"></i> gaming</div>
                </div>

                <br>
                <textarea rows="4" name="description">Description</textarea>
                <br>
                <div class="btn save-gif animate">Save</div>

                <div class="gif-actions">
                    <div id="remove-gif" class="btn animate gif-action-btn">
                        Remove GIF
                    </div>

                    <div id="edit-tags" class="btn animate gif-action-btn">
                        Edit Tags
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="current-gif-container">
        <div class="settings-btn animate">
            <i class="fa fa-gear"></i>
        </div>

        <img src="{{ current_gif }}">
    </div>

    <div class="nav-container">
        <div id="previous-btn" class="btn nav-btn animate">
            Previous
        </div>

        <div class="btn nav-btn animate">
            Tags
        </div>

        <div class="btn nav-btn animate">
            Gifs
        </div>

        <div class="btn nav-btn animate">
            Subreddits
        </div>
    </div>

    <div id="previous" class="portlet hidden">
        <div class="portlet-title">Previous GIFs</div>

        <div class="portlet-body">

            <div class="btn more-gifs animate">Prev 10</div>
        </div>
    </div>

    <div id="tags" class="portlet hidden">
        <div class="portlet-title">Edit Tags</div>

        <div class="portlet-body">

        </div>
    </div>

    <div id="gifs" class="portlet hidden">
        <div class="portlet-title">Edit Gifs</div>

        <div class="portlet-body">

        </div>
    </div>

    <div id="subreddits" class="portlet hidden">
        <div class="portlet-title">Edit Subreddits</div>

        <div class="portlet-body"></div>
    </div>
</body>

<!-- JS -->
<script src="/static/vendor/moment/moment.min.js"></script>
<script src="/static/js/pi_display_config.js"></script>
<script>
    $(document).ready(function () {
        var prevUrl = '{{ url_for("previous_gifs", offset=0) }}',
            infoUrl = '{{ url_for("get_gif", gif_id=0) }}';
        prevUrl = prevUrl.substr(0, prevUrl.lastIndexOf('/'));
        infoUrl = infoUrl.substr(0, infoUrl.lastIndexOf('/'));

        pi_config.config.previousGifsUrl = prevUrl;
        pi_config.config.gifInfoUrl = infoUrl;
        pi_config.init()
    });
</script>
</html>