<!DOCTYPE html>
<html>
<head lang="en">
    <link type="text/css" rel="stylesheet" href="/static/pi_display.css"/>
    <title>{{title}}</title>

<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.1/jquery.min.js"></script>
<script src="/static/js/imgcentering.min.js"></script>
</head>

<body>
    <div class="container"></div>
</body>

<script>
$(document).ready(function() {
    getImage();
    setInterval(getImage, 20000);
});

$SCRIPT_ROOT = {{ request.script_root|tojson|safe }};

function getImage() {
    $("img").remove();
    $.getJSON($SCRIPT_ROOT + '/pi_display_json', function(data) {
        url = data["URL"];
        $('<img src="' + url + '"/>').appendTo(".container");
        $(".container img").imgCentering();
    });
    return false;
};
</script>

</html>