{% extends "/blog/base.html" %}
{% block content %}
<div class="grey">
    <div class="container pt">
		<div class="row mt">
			 <div class="project-page-info">
                <span class="project-page-title">Raspberry Pi GIF Display</span>

                <a href="/warning">
                <div class="button animate">
                    <p>Pi Display Site</p>
                </div>
                </a>

                <a href="/warning">
                <div class="button animate">
                    <p>Config Site</p>
                </div>
                </a>

                 <a href="/piproject1">
                <div class="button animate">
                    <p>Write up</p>
                </div>
                </a>

                <div class="github-links">
                    <i class="fa fa-github fa-3x"></i>
                    <a href="https://github.com/kershner/blog/blob/master/app/routes.py#L125">Python</a>
                    <a href="https://github.com/kershner/blog/tree/master/app/templates/pi_display">HTML</a>
                    <a href="https://github.com/kershner/blog/blob/master/app/static/pi_display_config.css">CSS (Config Site)</a>
                    <a href="https://github.com/kershner/blog/blob/master/app/static/js/pi_display.js">JavaScript</a>
                </div>

                <div class="technology-used">
                    <span class="tech-title">Technologies Used:</span>
                    <p>Python, HTML, CSS, JavaScript, Flask, Linux, Decoupage!</p>
                </div>
            </div>

            <div class="col-lg-8 col-lg-offset-2">
                <hr>
				<p>This project was great fun because it combined my love of hardware with my new found interest
                in programming.  The Raspberry Pi allows you to see your code manifest in the real world on an actual
                physical object, and that is really powerful.  This project isn't really as practical as a lot of
                Pi projects, but it <em>is</em> endlessly entertaining.  It also turned out to have a much wider scope than I
                initially thought, forcing me to step outside my comfort zone often and with great results.
                <br><br>
                The code for the project is linked above with my Github along with a separate configuration website
                I created for the device.<br><br>
                The project is pretty much finished from both a software and artistic perspective.  Next up, when I find
                the time, I'll be completely rewriting my project writeup as what I currently have up is woefully outdated
                and incomplete.
                </p>
			</div>

            <div class="project-screenshots">
                <a href="/static/images/gif-display-final-01.jpg"><img src="/static/images/gif-display-final-01.jpg" class="rounded-images"/></a>
                <a href="/static/images/gif-display-final-02.jpg"><img src="/static/images/gif-display-final-02.jpg" class="rounded-images"/></a>
                <a href="/static/images/gif-display-final-03.jpg"><img src="/static/images/gif-display-final-03.jpg" class="rounded-images"/></a>
                <a href="/static/images/Pi_1.jpg"><img src="/static/images/Pi_1.jpg" class="rounded-images"></a>
                <a href="/static/images/pi_8.png"><img src="/static/images/pi_8.png" class="rounded-images"></a>
                <a href="/static/images/pi_10.png"><img src="/static/images/pi_10.png" class="rounded-images"></a>
            </div>
		</div>

        <p style="text-align:center;">A couple videos of the device, from the beginning and the end of the process:</p>

        <div class="video">
            <iframe width="560" height="315" src="//www.youtube.com/embed/-bcYcc7HKfU" frameborder="0" allowfullscreen></iframe>
            <iframe width="560" height="315" src="//www.youtube.com/embed/ibwFjEYeeCM" frameborder="0" allowfullscreen></iframe>
        </div>
    </div>
</div>
{% endblock %}