{% extends "/blog/base.html" %}
{% block content %}
<div class="grey">
    <div class="container">
		<div class="row">
            <div class="project-page-info">
                <span class="project-page-title">Reddit Image Scraper</span>

                <a href="/scrape">
                <div class="button animate">
                    <p>Live Site</p>
                </div>
                </a>

                <div class="github-links">
                    <i class="fa fa-github fa-3x"></i>
                    <a href="https://github.com/kershner/blog/blob/master/app/modules/reddit_scraper.py">Python</a>
                    <a href="https://github.com/kershner/blog/tree/master/app/templates/reddit_scraper">HTML</a>
                    <a href="https://github.com/kershner/blog/blob/master/app/static/scraper_welcome.css">CSS</a>
                </div>

                <div class="technology-used">
                    <span class="tech-title">Technologies Used:</span>
                    <p>Python, HTML, CSS, jQuery, Flask</p>
                </div>
            </div>

            <div class="col-lg-8 col-lg-offset-2">
                <hr>
               <p>
                    A friend of mine was in the habit of grabbing images from reddit to use as his desktop wallpaper.
                    As I thought about him manually finding the links and downloading the images the idea for this app
                    came to me.
                    <br><br>
                    It's basically just a heavily modified version of the script I use to pull GIFs for GIF Party and
                    my Pi Display refactored to run live on a website and with a user-friendly front end.<br><br>
                    Check out the live site!
                    <br>
                </p>
            </div>
        </div>

        <div class="slick-images">
            <div><a href="/static/images/scraper-screenshot1.jpg"><img src="/static/images/scraper-screenshot1.jpg" class="rounded-images"></a></div>
            <div><a href="/static/images/scraper-screenshot2.jpg"><img src="/static/images/scraper-screenshot2.jpg" class="rounded-images"></a></div>
        </div>
    </div>
</div>
<script>
    $(document).ready(function() {
        initSlick();
    });
</script>
{% endblock %}