{% extends "/blog/base.html" %}
{% block content %}
<div class="grey">
    <div class="container">
		<div class="row">
			<div class="project-page-info">
                <span class="project-page-title">Python Text Adventure</span>

                <a href="/static/distribute/Descent Into Evil.7z">
                <div class="live-demo-button">
                    <p class="animate">Download</p>
                </div>
                </a>

                <div class="github-links">
                    <i class="fa fa-github fa-3x"></i>
                    <a href="https://github.com/kershner/Python-Text-Adventure">Python</a>
                </div>

                <div class="technology-used">
                    <span class="tech-title">Technologies Used:</span>
                    <p>Pure Python!</p>
                </div>
            </div>

            <div class="col-lg-8 col-lg-offset-2">
				<hr>
				<p>
                    <strong>Descent Into Evil</strong> is a text-based RPG that came about as I struggled to think
                    of a substantive first project.  Diving into programming is overwhelming, and I found it difficult to focus on one
                    thing when there is so much else that needed to be learned.
                    <br><br>
                    <a href="http://www.codecademy.com">Codecademy</a> has you start a similar project with their
                    JavaScript track which gave me a solid starting point and I just ran with it.  I added features as I
                    thought of them until I considered the game mostly complete.  It's at a stage now where I can add more
                    content like additional weapons, armor, combat moves, monsters, etc, in a modular and intuitive way.
                    <br><br>
                    It was a fun project and gave me invaluable
                    experience in a number of ways, but mostly it taught me that transferring an idea from my brain into a workable piece
                    of software was a process that I could actually find rewarding and fun.
                </p>
			</div>
		</div>

        <div class="slick-images">
            <div><a href="/static/images/pta1big.png"><img src="/static/images/pta1big.png" class="kersh-image"></a></div>
            <div><a href="/static/images/pta2big.png"><img src="/static/images/pta2big.png" class="kersh-image"></a></div>
        </div>
    </div>
</div>
<script>
    $(document).ready(function() {
        initSlick();
    });
</script>
{% endblock %}