{% extends "/blog/base.html" %}
{% block content %}
<div class="grey">
    <div class="container">
		<div class="row">
            <div class="project-page-info">
                <span class="project-page-title">GIF Party!</span>

                <a href="/gif_party">
                <div class="button animate">
                    <p>Live Site</p>
                </div>
                </a>

                <div class="github-links">
                    <i class="fa fa-github fa-3x"></i>
                    <a href="https://github.com/kershner/blog/blob/master/app/routes.py#L435">Python</a>
                    <a href="https://github.com/kershner/blog/tree/master/app/templates/gif_party">HTML</a>
                    <a href="https://github.com/kershner/blog/blob/master/app/static/gif_party_welcome.css">CSS (Welcome Page)</a>
                    <a href="https://github.com/kershner/blog/blob/master/app/static/gif_party.css">CSS (Application)</a>
                    <a href="https://github.com/kershner/blog/blob/master/app/static/js/gif-party.js">Javascript</a>
                </div>

                <div class="technology-used">
                    <span class="tech-title">Technologies Used:</span>
                    <p>Python, HTML, CSS, JavaScript, jQuery, AJAX, Flask</p>
                </div>
            </div>

            <div class="col-lg-8 col-lg-offset-2">
                <hr>
				<p>
                    GIF Party was a pet project to help me get comfortable with JavaScript.  I have all these GIF links optimized and readily available
                    from my previous GIF Display project
                    and I wanted a fun way to display them.  I came up with the idea for a full-screen web app where
                    GIFs pulled from my master list will randomly fly around the screen creating a ridiculous cacophony
                    of internet madness.  The app is in a very early state as I can only devote a small chunk of my spare
                    time to its development, but it works!<br><br>
                    One of the main reasons I'm so invested in this app is that it's going to serve as my JavaScript
                    trial by fire.  I'm continually improving and expanding the code which runs the app.<br><br>
                    <strong>Bandwidth warning</strong>: the maximum number of GIFs the app can display at one time is 20, which averages
                    out to about 50 MB of data.
				</p>
			</div>
		</div>

        <div class="project-screenshots">
            <a href="/static/images/gif_party1.png"><img src="/static/images/gif_party1thumb.png" class="img-responsive rounded-images"></a>
            <a href="/static/images/gif_party2.png"><img src="/static/images/gif_party2thumb.png" class="img-responsive rounded-images"></a>
        </div>
    </div>
</div>
{% endblock %}
