{% extends "/blog/base.html" %}
{% block content %}

<div class="grey">
    <div class="container">
		<div class="row">
            <div class="project-page-info">
                <span class="project-page-title">YCS Re-Election Website</span>

                <a href="/campaign">
                <div class="live-demo-button animate">
                    <p class="animate">Live Site</p>
                </div>
                </a>

                <div class="github-links">
                    <i class="fa fa-github fa-3x"></i>
                    <a href="https://github.com/kershner/blog/blob/master/app/modules/campaign_logic.py">Python</a>
                    <a href="https://github.com/kershner/blog/tree/master/app/templates/campaign">HTML</a>
                    <a href="https://github.com/kershner/blog/tree/master/app/static/campaign">CSS</a>
                    <a href="https://github.com/kershner/blog/blob/master/app/static/campaign/js/campaign.js">Javascript</a>
                </div>

                <div class="technology-used">
                    <span class="tech-title">Technologies Used:</span>
                    <p>Python, HTML, CSS, Javascript, jQuery, Ajax, Flask</p>
                </div>
            </div>

            <div class="col-lg-8 col-lg-offset-2">
                <hr>
				<p>
                    I was fortunate enough to land an opportunity to do some real web development work.  I was approached by
                    the local school board and asked to produce a website for their upcoming re-election campaign.
                    <br><br>
                    It was incredibly valuable to get some experience working with actual clients.  I
                    learned a lot about expectations, professionalism, and working with deadlines.  I also put myself
                    through a crash course on SEO and focused on a responsive design that would display correctly on most devices.
                    <br><br>
                    The provided GitHub link above is associated with the working demo site I maintained for my clients to view during development.
                    The final version's code did not differ in any substantial way.
                    <br>
                </p>
            </div>
		</div>

        <div class="slick-images">
            <div><a href="/static/images/campaign1.jpg"><img src="/static/images/campaign1.jpg"></a></div>
            <div><a href="/static/images/campaign2.jpg"><img src="/static/images/campaign2.jpg"></a></div>
            <div><a href="/static/images/campaign3.jpg"><img src="/static/images/campaign3.jpg"></a></div>
            <div><a href="/static/images/campaign4.jpg"><img src="/static/images/campaign4.jpg"></a></div>
        </div>
    </div>
</div>
<script>
    $(document).ready(function() {
        initSlick();
    });
</script>
{% endblock %}