{% extends "/blog/base.html" %}
{% block content %}

<div class="grey">
    <div class="container pt">
		<div class="row mt">
            <div class="project-page-info">
                <span class="project-page-title">SteamTime</span>

                <a href="http://www.steamtime.us">
                <div class="button animate">
                    <p>Live Site</p>
                </div>
                </a>

                <div class="github-links">
                    <i class="fa fa-github fa-3x"></i>
                    <a href="https://github.com/kershner/steamtime">Python</a>
                    <a href="https://github.com/kershner/steamtime/tree/master/templates">HTML</a>
                    <a href="https://github.com/kershner/steamtime/blob/master/static/style.css">CSS</a>
                    <a href="https://github.com/kershner/steamtime/blob/master/static/js/steamtime.js">Javascript</a>
                </div>

                <div class="technology-used">
                    <span class="tech-title">Technologies Used:</span>
                    <p>Python, HTML, CSS, Javascript, jQuery, Flask</p>
                </div>
            </div>

            <div class="col-lg-8 col-lg-offset-2">
                <hr>
				<p>
                    SteamTime spawned from some <a href="/sep14#api-hijinks">API doodling</a> I was doing back in September.
                    I wanted a way to easily visualize data returned by the API, so I set about exploring the interfaces
                    and quickly building a simple CLI program to list a user's most played Steam games.  From there
                    the project grew and grew and I found myself plugging in all kinds of stuff like JavaScript libraries
                    and CSS transitions.  The end result is my most cohesive and full-featured app yet, and I'm quite
                    proud of the finished product and everything I learned in the process.<br><br>
                    A few days after I completed the project I got some feedback from reddit and refactored the code.
                    I wrote a quick <a href="/#refactor">blog post</a> about it and have saved both versions
                    for posterity.  You can view my changes below:
                </p>

                <div style="position: relative; width: 600px; margin: 0 auto; text-align: center;">
                    <a href="https://github.com/kershner/steamtime/blob/master/steamtime_old.py"><div class="button animate" style="margin-bottom: 6px;"><p>Old and Busted</p></div></a><br>
                    <a href="https://github.com/kershner/steamtime/blob/master/routes.py"><div class="button animate"><p>Refactored Hotness (1/2)</p></div></a>
                    <a href="https://github.com/kershner/steamtime/blob/master/st_functions.py"><div class="button animate"><p>Refactored Hotness (2/2)</p></div></a>
                </div>
            </div>
        </div>

        <div class="project-screenshots">
            <a href="/static/images/steamtime2.jpg"><img src="/static/images/steamtime2.jpg" class="rounded-images"></a>
            <a href="/static/images/steamtime3.jpg"><img src="/static/images/steamtime3.jpg" class="rounded-images"></a>
        </div>
    </div>
</div>
{% endblock %}