{% extends "/blog/base.html" %}
{% block content %}

<div class="grey">
    <div class="container pt">
		<div class="row mt">
            <div class="project-page-info">
                <span class="project-page-title">YCS Re-Election Website</span>

                <a href="/campaign">
                <div class="button animate">
                    <p>Live Site</p>
                </div>
                </a>

                <div class="github-links">
                    <i class="fa fa-github fa-3x"></i>
                    <a href="https://github.com/kershner/blog/blob/master/app/routes.py#L1458">Python</a>
                    <a href="https://github.com/kershner/blog/tree/master/app/templates/campaign">HTML</a>
                    <a href="https://github.com/kershner/blog/tree/master/app/static/campaign">CSS</a>
                    <a href="https://github.com/kershner/blog/blob/master/app/static/campaign/js/campaign.js">Javascript</a>
                </div>

                <div class="technology-used">
                    <span class="tech-title">Technologies Used:</span>
                    <p>Python, HTML, CSS, Javascript, jQuery, Ajax, Flask</p>
                </div>
            </div>

            <div class="col-lg-8 col-lg-offset-2">
                <hr>
				<p>
                    While this website certainly isn't the most complex piece of work on the internet, it's highly functional, looks good, and
                    does everything my clients needed it to do.  It was a great opportunity for me to get some experience working for someone.  I
                    learned a lot about expectations, professionalism, and working with deadlines.  I also put myself through a crash course on
                    SEO and focused heavily on a responsive design that would look good on almost every device.
                    <br><br>
                    I'm not sure if I'll pursue web development as my ultimate career goal, but it was definitely an enjoyable and worthwhile
                    experience.
                    <br><br>
                    Note - the provided GitHub link is associated with the working demo site I maintained for my clients to view during development.
                    The final version's code does not differ in any substantial way.
                    <br>
                </p>
            </div>
		</div>

        <div class="project-screenshots">
            <a href="/static/images/ycs-campaign-screenshot1.JPG"><img src="/static/images/ycs-campaign-screenshot1.JPG" class="rounded-images"></a>
            <a href="/static/images/ycs-campaign-screenshot2.JPG"><img src="/static/images/ycs-campaign-screenshot2.JPG" class="rounded-images"></a>
        </div>
    </div>
</div>

{% endblock %}