{% extends "/blog/base.html" %}
{% block content %}

<div class="grey">
    <div id="project-wide">
        <div><img src="static/images/steamtime_wide.png"></div>
    </div>

    <div class="container">
		<div class="row">
            <div class="project-page-info">
                <span class="project-page-title">SteamTime</span>

                <a href="http://www.kershner.org/steamtime">
                    <div class="live-demo-button">
                        <p class="animate">Live Site</p>
                    </div>
                </a>

                <div class="github-links">
                    <i class="fa fa-github fa-3x"></i>
                    <a href="https://github.com/kershner/steamtime">Python</a>
                    <a href="https://github.com/kershner/steamtime/tree/master/templates">HTML</a>
                    <a href="https://github.com/kershner/steamtime/blob/master/static/style.css">CSS</a>
                    <a href="https://github.com/kershner/steamtime/blob/master/static/js/steamtime.js">Javascript</a>
                </div>

                <div class="technology-used">
                    <span class="tech-title">Technologies Used:</span>
                    <p>Python, HTML, CSS, Javascript, jQuery, Flask</p>
                </div>
            </div>

            <div class="col-lg-8 col-lg-offset-2">
                <hr>
				<p>
                    SteamTime spawned from some <a href="/archive/2014/09#20">API doodling</a> I was doing back in September.
                    <br><br>
                    I wanted a way to easily visualize data returned by the API, so I set about exploring the interfaces
                    and quickly built a simple CLI program to list a user's most played Steam games.  From there
                    the project grew and I found myself plugging in all kinds of stuff like JavaScript libraries
                    and CSS transitions.  The end result is a cohesive and full-featured app, and I'm quite
                    proud of the finished product.<br><br>
                    A few days after I completed the project I got some feedback from Reddit and refactored much of the code.
                    I wrote a quick <a href="/archive/2014/11#24">blog post</a> about it and have saved both versions
                    for posterity.
                    <br><br>
                    You can view my changes below:
                </p>

                <div style="position: relative; min-width: 10px; margin: 0 auto; text-align: center;">
                    <a href="https://github.com/kershner/steamtime/blob/master/steamtime_old.py"><div class="button animate"><p>Before</p></div></a><br>
                    <a href="https://github.com/kershner/steamtime/blob/master/routes.py"><div class="button animate"><p>After (1/2)</p></div></a>
                    <a href="https://github.com/kershner/steamtime/blob/master/st_functions.py"><div class="button animate"><p>After (2/2)</p></div></a>
                </div>
            </div>
        </div>

        <br>
        <br>

        <div class="slick-images">
            <div><a href="/static/images/steamtime2.jpg"><img src="/static/images/steamtime2.jpg"></a></div>
            <div><a href="/static/images/steamtime3.jpg"><img src="/static/images/steamtime3.jpg"></a></div>
            <div><a href="/static/images/steamtime4.jpg"><img src="/static/images/steamtime4.jpg"></a></div>
            <div><a href="/static/images/steamtime5.jpg"><img src="/static/images/steamtime5.jpg"></a></div>
            <div><a href="/static/images/steamtime6.jpg"><img src="/static/images/steamtime6.jpg"></a></div>
            <div><a href="/static/images/steamtime7.jpg"><img src="/static/images/steamtime7.jpg"></a></div>
            <div><a href="/static/images/steamtime8.jpg"><img src="/static/images/steamtime8.jpg"></a></div>
        </div>
    </div>
</div>
<script>
    $(document).ready(function() {
        initSlick();
    });
</script>
{% endblock %}