{% extends "/blog/base.html" %}
{% block content %}

<div class="grey">
    <div class="container">
		<div class="row">
            <div class="project-page-info">
                <span class="project-page-title">ScreenBloom</span>

                <a href="http://www.screenbloom.com">
                <div class="live-demo-button animate">
                    <p class="animate">screenbloom.com</p>
                </div>
                </a>

                <div class="github-links">
                    <i class="fa fa-github fa-3x"></i>
                    <a href="https://github.com/kershner/screenBloom">ScreenBloom Repository</a>
                </div>

                <div class="technology-used">
                    <span class="tech-title">Technologies Used:</span>
                    <p>Python, Flask, HTML, CSS, Javascript, jQuery</p>
                </div>
            </div>

            <div class="col-lg-8 col-lg-offset-2">
                <hr>
				<p>
                    ScreenBloom parses an image of your current PC screen and extracts the average
                    color of each pixel.  That color is then sent to your connected Philips Hue bulbs to create a subtle
                    <a href="http://www.philips.com/e/ambilight-hue/country-selector.html">Ambilight</a>-like effect.
                    <br>
                    <br>
                    I had always been curious to replicate Philips' Ambilight effect available on many of their TVs, but
                    was not able to find a suitable third-party solution, so I set about developing my own.
                    I found the
                    <a href="http://www.developers.meethue.com/">Hue API</a> to be extremely well designed and
                    a pleasure to work with.  The program works great, and I'm still getting feedback from users and adding features
                    as they are requested.
                    <br>
                    <br>
                    ScreenBloom is great to throw on
                    for a movie, where vibrant scenes will extend out into your living room.  When used with video games the program really
                    shines as the lighting gradually shifts with the perspective
                    of the character.  The effect is subtle but immersive, especially with the
                    dynamic brightness setting enabled that dim the lights as your character enters a darker environment, like a cave.
                    <br>
                    <br>
                    If you have some Hues, you can head over to <a href="screenbloom.com">screenbloom.com</a> and download
                    the application for yourself!
                    <br>
                    <br>
                    <strong>Blog posts and articles about ScreenBloom:</strong><br>
                    <a href="/archive/2015/3#34">GoldBlooming</a><br>
                    <a href="/archive/2015/2#30">Reciprocal Megakelvin</a>
                </p>
            </div>
        </div>

        <br>
        <br>

        <div class="slick-images">
            <div><a href="/static/images/screenbloom1.jpg"><img src="/static/images/screenbloom1.jpg"></a></div>
            <div><a href="/static/images/screenbloom2.jpg"><img src="/static/images/screenbloom2.jpg"></a></div>
            <div><a href="/static/images/screenbloom3.jpg"><img src="/static/images/screenbloom3.jpg"></a></div>
            <div><a href="/static/images/screenbloom4.jpg"><img src="/static/images/screenbloom4.jpg"></a></div>
            <div><a href="/static/images/screenbloom5.jpg"><img src="/static/images/screenbloom5.jpg"></a></div>
            <div><a href="/static/images/screenbloom6.jpg"><img src="/static/images/screenbloom6.jpg"></a></div>
        </div>
    </div>
</div>
<script>
    $(document).ready(function() {
        initSlick();
    });
</script>
{% endblock %}