{% extends "/blog/base.html" %}
{% block content %}

<div class="grey">
    <div class="container">
		<div class="row">
            <div class="project-page-info">
                <span class="project-page-title">ScreenBloom</span>

                <a href="http://www.screenbloom.com">
                <div class="button animate">
                    <p>screenbloom.com</p>
                </div>
                </a>

                <div class="github-links">
                    <i class="fa fa-github fa-3x"></i>
                    <a href="https://github.com/kershner/screenBloom">ScreenBloom Repository</a>
                </div>

                <div class="technology-used">
                    <span class="tech-title">Technologies Used:</span>
                    <p>Python, Flask, HTML, CSS, Javascript, jQuery</p>
                </div>
            </div>

            <div class="col-lg-8 col-lg-offset-2">
                <hr>
				<p>
                    ScreenBloom is an application that parses an image of your current PC screen and extracts the average
                    color of each pixel.  That color is then sent to your connected Philips Hue bulbs to create a subtle
                    <a href="http://www.philips.com/e/ambilight-hue/country-selector.html">Ambilight</a>-like effect.
                    <br>
                    <br>
                    I've always loved my gimmicky Philips Hues, and wanted to develop a program for them even before I got into programming.
                    Fast-forward to February 2015: the time was right for a new larger-scale project, and to my delight I found the
                    <a href="http://www.developers.meethue.com/">Philips Hue API</a> to be extremely well designed and
                    a pleasure to work with.
                    <br>
                    <br>
                    I had always been curious to replicate Philips' Ambilight effect available on many of their TVs, but
                    was not able to find a suitable third-party solution, so I set about developing my own.
                    <br>
                    <br>
                    The program
                    is fully functional and works extremely well (much to my initial surprise).  It's great to throw on
                    for a movie, where vibrant scenes will extend out into your living room.  I think the program really
                    shines when used with video games, though, as the lighting will gradually shift with the perspective
                    of your character.  The effect is subtle but really fosters immersion, especially with settings like
                    dynamic brightness enabled that will dim the lights as your character enters a cave, for instance.
                    <br>
                    <br>
                    If you have some Hues, you can head over to <a href="screenbloom.com">screenbloom.com</a> and download
                    the application for yourself!
                    <br>
                    <br>
                    <strong>Blog posts and articles about ScreenBloom:</strong><br>
                    <a href="/archive/2015/2#30">Reciprocal Megakelvin</a>
                </p>
            </div>
        </div>

        <br>
        <br>

        <div class="slick-images">
            <div><a href="/static/images/CMS1.jpg"><img src="/static/images/CMS1.jpg" class="rounded-images"></a></div>
            <div><a href="/static/images/CMS2.jpg"><img src="/static/images/CMS2.jpg" class="rounded-images"></a></div>
        </div>
    </div>
</div>
<script>
    $(document).ready(function() {
        initSlick();
    });
</script>
{% endblock %}