{% extends "/blog/base.html" %}
{% block content %}

<div class="grey">

    <div class="container pt">

		<div class="row mt">

			<div class="centered"><h1>Raspberry Pi GIF Display</h1>

                <br>
                <a href="/warning" class="link-right">Pi Display Site</a>&emsp;
                <a href="/warning">Config Site</a>&emsp;
                <a href="/piproject1" class="link-left">Write up</a>&emsp;<br><br>
                <h5>Github Links</h5>
                <a href="https://github.com/kershner/blog/blob/master/app/routes.py#L125">Python</a>&emsp;
                <a href="https://github.com/kershner/blog/tree/master/app/templates/pi_display">HTML</a>&emsp;
                <a href="https://github.com/kershner/blog/blob/master/app/static/pi_display_config.css">CSS (Config Site)</a>&emsp;
                <a href="https://github.com/kershner/blog/blob/master/app/static/js/pi_display.js">JavaScript</a><br><br><br>

                <h4>Technologies Used:</h4>

                <p>Python, HTML, CSS, JavaScript, Flask, Linux, Decoupage!</p>

            </div>

            <div class="col-lg-8 col-lg-offset-2">

				<hr>

				<p>This project was great fun because it combined my love of hardware with my new found interest
                in programming.  The Raspberry Pi allows you to see your code manifest in the real world on an actual
                physical object, and that is really powerful.  This project isn't really as practical as a lot of
                Pi projects, but it <em>is</em> endlessly entertaining.  It also turned out to have a much wider scope than I
                initially thought, forcing me to step outside my comfort zone often and with great results.
                <br><br>
                The code for the project is linked above with my Github along with a separate configuration website
                I created for the device.<br><br>
                The project is pretty much finished from both a software and artistic perspective.  Next up, when I find
                the time, I'll be completely rewriting my project writeup as what I currently have up is woefully outdated
                and incomplete.
                </p>

			</div>

		</div>

        <div id="project-screenshots">

            <ul class="rig columns-3">

                    <li class="article-image">
                        <a href="/static/images/gif-display-final-01.jpg"><img src="/static/images/gif-display-final-01.jpg" /></a>
                    </li>

                    <li class="article-image">
                        <a href="/static/images/gif-display-final-02.jpg"><img src="/static/images/gif-display-final-02.jpg" /></a>
                    </li>

                    <li class="article-image">
                        <a href="/static/images/gif-display-final-03.jpg"><img src="/static/images/gif-display-final-03.jpg" /></a>
                    </li>

            </ul>

            <ul class="rig columns-3">

                <li class="project-images">
                    <a href="/static/images/Pi_1.jpg"><img src="/static/images/Pi_1.jpg" class="img-responsive"></a>
                </li>

                <li class="project-images">
                    <a href="/static/images/pi_8.png"><img src="/static/images/pi_8.png" class="img-responsive"></a>
                </li>

                <li class="project-images">
                    <a href="/static/images/pi_10.png"><img src="/static/images/pi_10.png" class="img-responsive"></a>
                </li>

            </ul>

        </div>

        <div class="col-lg-8 col-lg-offset-2">
            <p style="text-align:center;">A couple videos of the device, from the beginning and the end of the process:</p>
        </div>

        <div class="video">
            <iframe width="560" height="315" src="//www.youtube.com/embed/-bcYcc7HKfU" frameborder="0" allowfullscreen></iframe>
            <iframe width="560" height="315" src="//www.youtube.com/embed/ibwFjEYeeCM" frameborder="0" allowfullscreen></iframe>
        </div>

    </div>

</div>

{% endblock %}