{% extends "/blog/base.html" %}
{% block content %}
<div class="grey">
    <div class="container">
		<div class="row">
            <div class="project-page-info">
                <span class="project-page-title">CSTools</span>

                <a href="/cstools">
                <div class="live-demo-button animate">
                    <p class="animate">Live Site</p>
                </div>
                </a>

                <a href="/cstoolswriteup-part1">
                <div class="button animate">
                    <p>Write up</p>
                </div>
                </a>

                <div class="github-links">
                    <i class="fa fa-github fa-3x"></i>
                    <a href="https://github.com/kershner/blog/blob/master/app/modules/cstools_logic.py">Python</a>
                    <a href="https://github.com/kershner/blog/tree/master/app/templates/cstools">HTML</a>
                    <a href="https://github.com/kershner/blog/blob/master/app/static/cstools-custom.css">CSS</a>
                </div>

                <div class="technology-used">
                    <span class="tech-title">Technologies Used:</span>
                    <p>Python, HTML, CSS, Twitter Bootstrap, Flask</p>
                </div>
            </div>

            <div class="col-lg-8 col-lg-offset-2">
                <hr>
				<p>
                    <b>The text adventure</b> was a lot of fun and very educational, but I needed to start applying my
                    knowledge to something more practical.
                    <br><br>I came up with the idea for a suite of very simple apps to help
                    with a few mundane tasks at work.  I've got a great start on the project but it's far from finished.  Check
                    the write-up for my ongoing progress with the project.
                </p>
			</div>
		</div>

        <div class="slick-images">
            <div><a href="/static/images/cstools2big.png"><img src="/static/images/cstools2.png"></a></div>
            <div><a href="/static/images/cstools3big.png"><img src="/static/images/cstools3.png"></a></div>
        </div>
    </div>
</div>
<script>
    $(document).ready(function() {
        initSlick();
    });
</script>
{% endblock %}