/* Starting Line Numbers
/* Home Page	# 60 
/* Results Page # 439 
/* Footer		# 666 
*/

body, html {
	margin: 0;
	padding: 0;
	font-family: 'Roboto', sans-serif;
	color: black;
	background: url(../playtime/images/denim.png);
}

body {
	overflow-x: hidden;
}

/* Hiding elements for initial fade in */
#welcome-header, #big-logo, #slogan, #buttons, #footer, 
#header, #user-info, .result-template, #donut, #bar, #line {
	display: none;
}

a:link {
	text-decoration: none;
}

a:hover {
	color: #3FADFB;
}

a:visited {
	color: blue;
}

/* ************************** */
/*   Colors / Text Formatting */
/* ************************** */
.blue {
	color: #026AB3;
}

/* Result template */
.blue-gradient {
	background-color: #026AB3;
	background-image: -ms-radial-gradient(center, circle farthest-corner, #026AB3 0%, #025B9A 100%);
	background-image: -moz-radial-gradient(center, circle farthest-corner, #026AB3 0%, #025B9A 100%);
	background-image: -o-radial-gradient(center, circle farthest-corner, #026AB3 0%, #025B9A 100%);
	background-image: -webkit-gradient(radial, center center, 0, center center, 505, color-stop(0, #026AB3), color-stop(1, #025B9A));
	background-image: -webkit-radial-gradient(center, circle farthest-corner, #026AB3 0%, #025B9A 100%);
	background-image: radial-gradient(circle farthest-corner at center, #026AB3 0%, #025B9A 100%);
}

.white {
	color: white;
}

.dark-blue {
	color: #013F6B;
}

/* Welcome header */
.dark-blue-gradient {
	background-color: #013F6B;
	background-image: -ms-linear-gradient(top, #013F6B 0%, #015D9D 100%);
	background-image: -moz-linear-gradient(top, #013F6B 0%, #015D9D 100%);
	background-image: -o-linear-gradient(top, #013F6B 0%, #015D9D 100%);
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #013F6B), color-stop(1, #015D9D));
	background-image: -webkit-linear-gradient(top, #013F6B 0%, #015D9D 100%);
	background-image: linear-gradient(to bottom, #013F6B 0%, #015D9D 100%);	
}

.yellow {
	color: #FFBE00;
}

.green {
	color: #00f887;
}

.shadow {
	text-shadow: 1px 1px .5px #000;
}

.no-shadow {
	text-shadow: none;
}

/* *************************** */
/* ****** Home Page ********** */
/* *************************** */

/* **************************** */
/* Container div for home page  */
#welcome-header {
	position: relative;
	margin: 5px auto;
	margin-top: 200px;
	padding: 20px;
	min-height: 388px;
	background-color: #013F6B;
	background-image: -ms-linear-gradient(top, #013F6B 0%, #015D9D 100%);
	background-image: -moz-linear-gradient(top, #013F6B 0%, #015D9D 100%);
	background-image: -o-linear-gradient(top, #013F6B 0%, #015D9D 100%);
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #013F6B), color-stop(1, #015D9D));
	background-image: -webkit-linear-gradient(top, #013F6B 0%, #015D9D 100%);
	background-image: linear-gradient(to bottom, #013F6B 0%, #015D9D 100%);	
	box-shadow: 3px 3px 10px #000;
}

#logo {
	position: relative;
	width: 800px;
	margin: 25px auto;
}

#welcome-header h1 {
	position: relative;
	margin: 0 auto;
	font-size: 164px;
	color: white;
	font-family: 'Open Sans', sans-serif;
	text-shadow: 1px 1px 3px #000;
}

#welcome-header p {
	position: absolute;
	bottom: 0;
	right: 45px;
}

#buttons {
	height: 75px;
	width: 800px;
	margin: 0 auto;
}

#buttons-inner {
	position: relative;
	margin: 0 auto;
	width: 625px;
	color: white;
	font-family: 'Roboto', sans-serif;
	font-size: 35px;
	text-align: center;
	text-shadow: 1px 1px .5px #000;
}

#get-started {
	position: relative;
	display: inline-block;
	height: 50px;
	width: 300px;
	background-color: #012f51;
	background-image: -ms-linear-gradient(top left, #012F51 0%, #013E6A 100%);
	background-image: -moz-linear-gradient(top left, #012F51 0%, #013E6A 100%);
	background-image: -o-linear-gradient(top left, #012F51 0%, #013E6A 100%);
	background-image: -webkit-gradient(linear, left top, right bottom, color-stop(0, #012F51), color-stop(1, #013E6A));
	background-image: -webkit-linear-gradient(top left, #012F51 0%, #013E6A 100%);
	background-image: linear-gradient(to bottom right, #012F51 0%, #013E6A 100%);
	border-radius: 2px;
	box-shadow: 2px 2px 5px #000;
	font-family: 'Open Sans', sans-serif;
	text-shadow: none;
	color: white;
}

#about {	
	position: relative;
	display: inline-block;
	height: 50px;
	width: 300px;
	background-color: #012f51;
	background-image: -ms-linear-gradient(top left, #012F51 0%, #013E6A 100%);
	background-image: -moz-linear-gradient(top left, #012F51 0%, #013E6A 100%);
	background-image: -o-linear-gradient(top left, #012F51 0%, #013E6A 100%);
	background-image: -webkit-gradient(linear, left top, right bottom, color-stop(0, #012F51), color-stop(1, #013E6A));
	background-image: -webkit-linear-gradient(top left, #012F51 0%, #013E6A 100%);
	background-image: linear-gradient(to bottom right, #012F51 0%, #013E6A 100%);
	border-radius: 2px;
	box-shadow: 2px 2px 5px #000;
	font-family: 'Open Sans', sans-serif;
	text-shadow: none;
	color: white;
}

#get-started:hover, #about:hover {
	background-image: -ms-linear-gradient(top left, #013E6A 0%, #014D83 100%);
	background-image: -moz-linear-gradient(top left, #013E6A 0%, #014D83 100%);
	background-image: -o-linear-gradient(top left, #013E6A 0%, #014D83 100%);
	background-image: -webkit-gradient(linear, left top, right bottom, color-stop(0, #013E6A), color-stop(1, #014D83));
	background-image: -webkit-linear-gradient(top left, #013E6A 0%, #014D83 100%);
	background-image: linear-gradient(to bottom right, #013E6A 0%, #014D83 100%);
	cursor: pointer;
}

.message {
	position: relative;
	margin: 25px auto;
	padding: 15px;
	width: 400px;
	background-color: #012f51;
	text-align: center;
	color: #024D82;
	border-radius: 5px;
	box-shadow: 2px 2px 5px #000;
}

/* Message div text */
#welcome-header > div.message > p {
	position: relative;
	left: 0;
	top: 0;
	color: white;
	text-shadow: none;
	font-size: 20px;
}

#form {
	display: none;
	position: relative;
	background-image: -ms-radial-gradient(center, circle farthest-corner, #012F51 0%, #013E6A 100%);
	background-image: -moz-radial-gradient(center, circle farthest-corner, #012F51 0%, #013E6A 100%);
	background-image: -o-radial-gradient(center, circle farthest-corner, #012F51 0%, #013E6A 100%);
	background-image: -webkit-gradient(radial, center center, 0, center center, 505, color-stop(0, #012F51), color-stop(1, #013E6A));
	background-image: -webkit-radial-gradient(center, circle farthest-corner, #012F51 0%, #013E6A 100%);
	background-image: radial-gradient(circle farthest-corner at center, #012F51 0%, #013E6A 100%);
	height: 380px;
	width: 700px;
	margin: 25px auto;
	text-align: center;
	box-shadow: 2px 2px 5px #000;
}

#select-left {
	float: left;
}

#select-right {
	float: right;
}

form a {
	color: white;
	font-size: 22px;
}

form a:hover {
	cursor: pointer;
}

input {
	height: 75px;
	width: 550px;
	margin: 10px auto;
	margin-top: 70px;
	border-radius: 5px;
	box-shadow: 1.5px 1.5px 5px #000;
}

input[type=text] {
	padding-left: 10px;
	font-size: 48px;	
}

.select-box {
	display: inline-block;
	margin: 25px 0;
	background-color: #024d83;
	height: 35px;
	color: white;
	line-height: 35px;
	font-size: 25px;
	text-shadow: 1px 1px .5px #000;
	border-radius: 2px;
	box-shadow: 1.5px 1.5px 3px #000;	
}

.select-box:hover {
	cursor: pointer;
}

.select-box.customSelectHover {
	background-color: #025c9c;
}

.submit {
	margin: 30px auto;
	color: white;
	height: 45px;
	width: 200px;
	font-size: 25px;
	background-color: #026AB3;
	border-radius: 5px;
	border: 0;
	text-shadow: .5px .5px 2px #000;
}

.submit:hover {
	background-color: #024c83;
	cursor: pointer;
}

/* ************************** */
/* ***** About Div ********** */
#about-content {
	display: none;
	position: absolute;
	margin-left: -270px;
	padding: 20px;
	top: 25px;
	left: 50%;
	z-index: 25;
	height: 830px;
	width: 500px;
	background-color: #012f51;
	border-radius: 5px;
	-webkit-box-shadow: 0 0 10px #000;
        box-shadow: 0 0 10px #000;
	color: white;
	font-family: 'Roboto', sans-serif;
	overflow: auto;
}

.about-header {
	font-family: 'Open Sans', sans-serif;
	margin: 0;
	color: #026AB3;
}

.left {
	float: left;
}

.right {
	float: right;
}

#github-links {
	margin: 25px auto;
	text-align: center;
}

#github-links > h5 {
	position: relative;
	right: 12px;
}

#github-links i, #github-links h5, #github-links a {
	margin: 0 auto;
}

#close, #find-close {
	float: right;
}

#close:hover, #find-close:hover {
	color: #026AB3;
	cursor: pointer;
}

#warning {
	font-size: 11px;
}

#about-content p {
	margin: -20px 0;
}

#about-content a, #about-content a:visited {
	color: #026AB3;
}

#about-content a:hover {
	color: #027dd3;
}

/* ************************** */
/* 'Where is my SteamID' Div  */
#find-id {
	display: none;
	position: absolute;
	margin-left: -380px;
	padding: 20px;
	top: 250px;
	left: 50%;
	z-index: 25;
	height: 350px;
	width: 700px;
	background-color: #012f51;
	border-radius: 5px;
	-webkit-box-shadow: 0 0 10px #000;
        box-shadow: 0 0 10px #000;
	border: 2px solid white;
	color: white;
	font-family: 'Roboto', sans-serif;
}

#find-header {
	margin: 0;
	font-family: 'Open Sans', sans-serif;
	color: #026AB3;
	text-align: center;
}

#find-id a, #find-id a:visited {
	color: #026AB3;
}

#find-id a:hover {
	color: #027dd3;
}

#find-id p {
	text-align: center;
	margin: 0;
}

#examples {
	background-color: #026AB3;
	padding: 15px 0;
	position: relative;
	width: 100%;
	margin: 25px auto;
	text-align: center;
	border-radius: 5px;
}

#examples h3 {
	margin: 0;
	font-size: 22px;
}

#external-links {
	position: relative;
	width: 100%;
	margin: 0 auto;
	text-align: center;
}

#external-links a {
	font-size: 24px;
}

/* ****************************** */
/* ******* Results Page ********* */
/* ****************************** */
#hidden-menu {
	position: fixed;
	display: none;
	z-index: 11;
	top: 0;
	left: 0;
	background-image: -ms-radial-gradient(center, circle farthest-corner, #2394E4 0%, #1778BD 100%);
	background-image: -moz-radial-gradient(center, circle farthest-corner, #2394E4 0%, #1778BD 100%);
	background-image: -o-radial-gradient(center, circle farthest-corner, #2394E4 0%, #1778BD 100%);
	background-image: -webkit-gradient(radial, center center, 0, center center, 505, color-stop(0, #2394E4), color-stop(1, #1778BD));
	background-image: -webkit-radial-gradient(center, circle farthest-corner, #2394E4 0%, #1778BD 100%);
	background-image: radial-gradient(circle farthest-corner at center, #2394E4 0%, #1778BD 100%);
	height: 32px;
	width: 100%;
	min-width: 550px;
	box-shadow: 1px 1px 3px #000;
	color: white;
}

#hidden-menu img {
	position: relative;
	bottom: 6px;
	left: 0;
}

#hidden-menu h3 {
	position: relative;
	display: inline-block;
	bottom: 15px;
	left: 5px;
}

#back-to-top {
	position: fixed;
	right: 15px;
	top: 0;
}

#hidden-logo {
	font-family: 'Open Sans', sans-serif;
}

#back-to-top i {
	position: absolute;
	color: white;
	top: 0;
	right: 90px;
}

#back-to-top i:hover {
	color: #013F6B;
	cursor: pointer;
}

/* ************************ */
/* Big logo on Results page */
#header {
	position: relative;
	top: -20px;
	margin-bottom: 20px;
	height: 150px;
	width: 480px;
}

#header h1 {
	font-size: 125px;
	color: #FCBC00;
	margin: 0 10px;
	font-family: 'Open Sans', sans-serif;
	text-shadow: 1px 1px 1px #000;
}

#header p {
	position: absolute;
	bottom: -25px;
	right: -150px;
	color: white;
	text-shadow: 1px 1px .5px #000;
}

#results-container {
	margin: 0 auto;
	width: 100%;
	color: black;
	text-align: center;
}

#results-container-inner {
	margin: 0 auto;
}

/* User Info Div of Results Page */
#user-info {
	position: relative;
	z-index: 10;
	top: 15px;
	margin: 0 auto;
	width: 700px;
	height: 215px;
	background-image: -ms-radial-gradient(center, circle farthest-corner, #2394E4 0%, #1778BD 100%);
	background-image: -moz-radial-gradient(center, circle farthest-corner, #2394E4 0%, #1778BD 100%);
	background-image: -o-radial-gradient(center, circle farthest-corner, #2394E4 0%, #1778BD 100%);
	background-image: -webkit-gradient(radial, center center, 0, center center, 505, color-stop(0, #2394E4), color-stop(1, #1778BD));
	background-image: -webkit-radial-gradient(center, circle farthest-corner, #2394E4 0%, #1778BD 100%);
	background-image: radial-gradient(circle farthest-corner at center, #2394E4 0%, #1778BD 100%);
	border-radius: 5px;
	box-shadow: 2px 2px 3px #000;
	color: white;
	font-family: 'Roboto', sans-serif;
	text-shadow: 1px 1px 2px #000;
}

#text-name {
	position: absolute;
	top: -20px;
	right: 10px;
	text-shadow: .5px .5px .5px #000;
}

#user-info #user-image {
	position: absolute;
	top: 15px;
	left: 10px;
	width: 166px;
	height: 166px;
	border-radius: 5px;
	border: 1px solid blue;
}

#readout {
	position: absolute;
	padding: 0;
	z-index: 10;
	top: 25px;
	left: 195px;
	width: 500px;
	color: #FFBE00;
}

#readout h1 {
	text-align: left;
	color: white;
}

#statistics {
	position: absolute;
	bottom: -53px;
	left: -182px;
	text-align: left;
	color: white;
}

#options {
	position: absolute;
	width: 200px;
	right: 10px;
	bottom: 0;
	display: inline-block;
	text-shadow: none;
}

#hall-of-shame {
	position: relative;
	top: 42px;
	z-index: 30;
	font-size: 24px;
	font-weight: bold;
	margin: 0;
}

#options i {
	margin: 8px 5px;
}

#options i:hover, #hall-of-shame:hover {
	color: white;
	text-shadow: 1px 1px 3px #000;
	cursor: pointer;
}

/* Center HTML 5 Canvas Element */
#results-container-inner .canvas-container {
	width: 100%;
	margin: 0 auto;
	text-align: center;
}

/* List of Results */
.result-template {
	margin: 0 auto;
	width: 655px;
	text-align: left;
	background-color: #026AB3;
	background-image: -ms-radial-gradient(center, circle farthest-corner, #026AB3 0%, #025B9A 100%);
	background-image: -moz-radial-gradient(center, circle farthest-corner, #026AB3 0%, #025B9A 100%);
	background-image: -o-radial-gradient(center, circle farthest-corner, #026AB3 0%, #025B9A 100%);
	background-image: -webkit-gradient(radial, center center, 0, center center, 505, color-stop(0, #026AB3), color-stop(1, #025B9A));
	background-image: -webkit-radial-gradient(center, circle farthest-corner, #026AB3 0%, #025B9A 100%);
	background-image: radial-gradient(circle farthest-corner at center, #026AB3 0%, #025B9A 100%);
	border: .5px solid black;
	border-radius: 5px;	
	box-shadow: 2px 2px 3px #000;
}

#data h3 {
	margin: 75px 10px;
	color: white;
	font-size: 34px;
	text-shadow: 1px 1px 2px #000;
	text-align: center;
}

/* Div Containing Result */
#data .entry {
	background-color: #013F6B;
	position: relative;
	width: 90%;
	height: 150px;
	padding: 10px;
	margin: 15px auto;
	box-shadow: 2px 2px 3px #000;
	border-radius: 5px;
	color: white;
	text-shadow: 1px 1px 2px #000;
}

.entry img {
	position: absolute;
	top: 15px;
	left: 15px;
	border-radius: 15px;
	height: 69px;
	width: 184px;
}

.entry-data {
	position: absolute;
	z-index: 5;
	top: 10px;
	left: 215px;	
	text-align: left;
	margin: 0;
}

#data .game-name {
	display: inline-block;
	color: #068CEB;
	font-family: 'Open Sans', sans-serif;
	font-size: 32px;
	text-shadow: none;
}

#data .game-hours {
	font-family: 'Roboto', sans-serif;
	font-size: 20px;
}

#data .rank {
	position: absolute;
	right: 10px;
	bottom: 10px;
	font-family: 'Open Sans', sans-serif;
	font-size: 42px;
}

/* ************************** */
/* ******** Footer ********** */
/* ************************** */
#footer {
	position: relative;
	bottom: 0;
	margin: 0 auto;
	height: 50px;
	text-align: center;
	width: 700px;
	color: white;
}

#footer img {
	margin: 5px auto;
}

#footer p {
	margin: -10px auto;
}

#steam-icon {
	height: 80px;
	width: 80px;
}