/* Starting Line Numbers
/* Home Page	# 60 
/* Results Page # 439 
/* Footer		# 666 
*/

body, html {
	margin: 0;
	padding: 0;
	font-family: 'Roboto', sans-serif;
	color: black;
	background: url(../playtime/images/denim.png);
}

body {
	overflow-x: hidden;
}

/* Hiding elements for initial fade in */
#welcome-header, #big-logo, #slogan, #buttons, #footer, #header, #user-info, 
.result-template, #donut_2weeks, #donut_10, #donut_20, #line_2weeks, #line_10, 
#line_20, #bar_2weeks, #bar_10, #bar_20, #data_10, #data_20, #data_all,
#readout_10, #readout_20, #readout_all, #search-select, #new-search,
#asterisk-explanation, #hall-of-shame-content {
	display: none;
}

a:link {
	text-decoration: none;
}

a:hover {
	color: #3FADFB;
}

a:visited {
	color: blue;
}

/* ************************** */
/*   Colors / Text Formatting */
/* ************************** */
.blue {
	color: #026AB3;
}

/* Result template */
.blue-gradient {
	background-color: #026AB3;
	background-image: -ms-radial-gradient(center, circle farthest-corner, #026AB3 0%, #025B9A 100%);
	background-image: -moz-radial-gradient(center, circle farthest-corner, #026AB3 0%, #025B9A 100%);
	background-image: -o-radial-gradient(center, circle farthest-corner, #026AB3 0%, #025B9A 100%);
	background-image: -webkit-gradient(radial, center center, 0, center center, 505, color-stop(0, #026AB3), color-stop(1, #025B9A));
	background-image: -webkit-radial-gradient(center, circle farthest-corner, #026AB3 0%, #025B9A 100%);
	background-image: radial-gradient(circle farthest-corner at center, #026AB3 0%, #025B9A 100%);
}

.green-gradient {
	background-image: -ms-radial-gradient(center, ellipse farthest-corner, #00AC5D 0%, #00934F 100%);
	background-image: -moz-radial-gradient(center, ellipse farthest-corner, #00AC5D 0%, #00934F 100%);
	background-image: -o-radial-gradient(center, ellipse farthest-corner, #00AC5D 0%, #00934F 100%);
	background-image: -webkit-gradient(radial, center center, 0, center center, 447, color-stop(0, #00AC5D), color-stop(1, #00934F));
	background-image: -webkit-radial-gradient(center, ellipse farthest-corner, #00AC5D 0%, #00934F 100%);
	background-image: radial-gradient(ellipse farthest-corner at center, #00AC5D 0%, #00934F 100%);
}

.white {
	color: white;
}

.dark-blue {
	color: #013F6B;
}

/* Welcome header */
.dark-blue-gradient {
	background-color: #013F6B;
	background-image: -ms-linear-gradient(top, #013F6B 0%, #015D9D 100%);
	background-image: -moz-linear-gradient(top, #013F6B 0%, #015D9D 100%);
	background-image: -o-linear-gradient(top, #013F6B 0%, #015D9D 100%);
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #013F6B), color-stop(1, #015D9D));
	background-image: -webkit-linear-gradient(top, #013F6B 0%, #015D9D 100%);
	background-image: linear-gradient(to bottom, #013F6B 0%, #015D9D 100%);	
}

.yellow {
	color: #FFBE00;
}

.green {
	color: #00f887;
}

.shadow {
	text-shadow: 1px 1px .5px #000;
}

.no-shadow {
	text-shadow: none;
}

/* *************************** */
/* ****** Home Page ********** */
/* *************************** */

/* **************************** */
/* Container div for home page  */
#welcome-header {
	position: relative;
	margin: 5px auto;
	margin-top: 200px;
	padding: 20px;
	min-height: 388px;
	min-width: 800px;
	background-color: #013F6B;
	background-image: -ms-linear-gradient(top, #013F6B 0%, #015D9D 100%);
	background-image: -moz-linear-gradient(top, #013F6B 0%, #015D9D 100%);
	background-image: -o-linear-gradient(top, #013F6B 0%, #015D9D 100%);
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #013F6B), color-stop(1, #015D9D));
	background-image: -webkit-linear-gradient(top, #013F6B 0%, #015D9D 100%);
	background-image: linear-gradient(to bottom, #013F6B 0%, #015D9D 100%);	
	box-shadow: 3px 3px 10px #000;
}

#logo {
	position: relative;
	width: 800px;
	margin: 25px auto;
}

#welcome-header h1 {
	position: relative;
	margin: 0 auto;
	font-size: 164px;
	color: white;
	font-family: 'Open Sans', sans-serif;
	text-shadow: 1px 1px 3px #000;
}

#welcome-header p {
	position: absolute;
	bottom: 0;
	right: 45px;
}

#buttons {
	height: 75px;
	width: 800px;
	margin: 0 auto;
}

#buttons-inner {
	position: relative;
	margin: 0 auto;
	width: 625px;
	color: white;
	font-family: 'Roboto', sans-serif;
	font-size: 35px;
	text-align: center;
	text-shadow: 1px 1px .5px #000;
}

#get-started {
	position: relative;
	display: inline-block;
	height: 50px;
	width: 300px;
	border-radius: 2px;
	box-shadow: 2px 2px 5px #000;
	font-family: 'Open Sans', sans-serif;
	color: white;
}

#about {	
	position: relative;
	display: inline-block;
	height: 50px;
	width: 300px;
	border-radius: 2px;
	box-shadow: 2px 2px 5px #000;
	font-family: 'Open Sans', sans-serif;
	color: white;
}

#get-started:hover, #about:hover {
	background-image: -ms-radial-gradient(center, circle farthest-corner, #00C66B 0%, #00934F 100%);
	background-image: -moz-radial-gradient(center, circle farthest-corner, #00C66B 0%, #00934F 100%);
	background-image: -o-radial-gradient(center, circle farthest-corner, #00C66B 0%, #00934F 100%);
	background-image: -webkit-gradient(radial, center center, 0, center center, 505, color-stop(0, #00C66B), color-stop(1, #00934F));
	background-image: -webkit-radial-gradient(center, circle farthest-corner, #00C66B 0%, #00934F 100%);
	background-image: radial-gradient(circle farthest-corner at center, #00C66B 0%, #00934F 100%);	cursor: pointer;
}

.message {
	position: relative;
	margin: 25px auto;
	padding: 15px;
	width: 400px;
	background-color: #012f51;
	text-align: center;
	color: #024D82;
	border-radius: 5px;
	box-shadow: 2px 2px 5px #000;
}

/* Message div text */
#welcome-header > div.message > p {
	position: relative;
	left: 0;
	top: 0;
	color: white;
	text-shadow: none;
	font-size: 20px;
}

#form {
	position: relative;
	display: none;
	height: 250px;
	margin: 0 auto;
	text-align: center;
}

form a {
	position: relative;
	margin: 0 auto;
	bottom: 9px;
	color: white;
	font-size: 22px;
}

form a:hover {
	cursor: pointer;
}

input {
	position: relative;
	height: 75px;
	width: 550px;
	margin: 10px auto;
	border-radius: 5px;
	box-shadow: 1.5px 1.5px 5px #000;
}

input[type=text] {
	padding-left: 10px;
	font-size: 48px;	
}

.submit {
	position: relative;
	margin: 50px auto;
	color: white;
	height: 45px;
	width: 200px;
	font-size: 25px;
	background-image: -ms-linear-gradient(top left, #012F51 0%, #013E6A 100%);
	background-image: -moz-linear-gradient(top left, #012F51 0%, #013E6A 100%);
	background-image: -o-linear-gradient(top left, #012F51 0%, #013E6A 100%);
	background-image: -webkit-gradient(linear, left top, right bottom, color-stop(0, #012F51), color-stop(1, #013E6A));
	background-image: -webkit-linear-gradient(top left, #012F51 0%, #013E6A 100%);
	background-image: linear-gradient(to bottom right, #012F51 0%, #013E6A 100%);
	border-radius: 5px;
	border: 0;
	text-shadow: .5px .5px 2px #000;
}

.submit:hover {	
	background-image: -ms-linear-gradient(top left, #013E6A 0%, #014D83 100%);
	background-image: -moz-linear-gradient(top left, #013E6A 0%, #014D83 100%);
	background-image: -o-linear-gradient(top left, #013E6A 0%, #014D83 100%);
	background-image: -webkit-gradient(linear, left top, right bottom, color-stop(0, #013E6A), color-stop(1, #014D83));
	background-image: -webkit-linear-gradient(top left, #013E6A 0%, #014D83 100%);
	background-image: linear-gradient(to bottom right, #013E6A 0%, #014D83 100%);
	cursor: pointer;
}

/* ************************** */
/* ***** About Div ********** */
#about-content {
	display: none;
	position: absolute;
	margin-left: -270px;
	padding: 20px;
	top: 25px;
	left: 50%;
	z-index: 25;
	height: 830px;
	width: 500px;
	background-color: #012f51;
	border-radius: 5px;
	-webkit-box-shadow: 0 0 10px #000;
        box-shadow: 0 0 10px #000;
	color: white;
	font-family: 'Roboto', sans-serif;
	overflow: auto;
}

.about-header {
	font-family: 'Open Sans', sans-serif;
	margin: 0;
	color: #026AB3;
}

.left {
	float: left;
}

.right {
	float: right;
}

#github-links {
	margin: 25px auto;
	text-align: center;
}

#github-links > h5 {
	position: relative;
	right: 12px;
}

#github-links i, #github-links h5, #github-links a {
	margin: 0 auto;
}

#close, #find-close, #asterisk-close {
	position: relative;
	z-index: 25;
	float: right;
}

#close:hover, #find-close:hover, #asterisk-close:hover {
	color: #026AB3;
	cursor: pointer;
}

#warning {
	font-size: 11px;
}

#about-content p {
	margin: -20px 0;
}

#about-content a, #about-content a:visited {
	color: #026AB3;
}

#about-content a:hover {
	color: #027dd3;
}

/* ************************** */
/* 'Where is my SteamID' Div  */
#find-id {
	display: none;
	position: absolute;
	margin-left: -380px;
	padding: 20px;
	top: 250px;
	left: 50%;
	z-index: 25;
	height: 350px;
	width: 700px;
	background-color: #012f51;
	border-radius: 5px;
	-webkit-box-shadow: 0 0 10px #000;
        box-shadow: 0 0 10px #000;
	border: 2px solid white;
	color: white;
	font-family: 'Roboto', sans-serif;
}

#find-header {
	margin: 0;
	font-family: 'Open Sans', sans-serif;
	color: #026AB3;
	text-align: center;
}

#find-id a, #find-id a:visited {
	color: #026AB3;
}

#find-id a:hover {
	color: #027dd3;
}

#find-id p {
	text-align: center;
	margin: 0;
}

#examples {
	background-color: #026AB3;
	padding: 15px 0;
	position: relative;
	width: 100%;
	margin: 25px auto;
	text-align: center;
	border-radius: 5px;
}

#examples h3 {
	margin: 0;
	font-size: 22px;
}

#external-links {
	position: relative;
	width: 100%;
	margin: 0 auto;
	text-align: center;
}

#external-links a {
	font-size: 24px;
}

/* ****************************** */
/* ******* Results Page ********* */
/* ****************************** */
#hidden-menu {
	position: fixed;
	display: none;
	z-index: 11;
	top: 0;
	left: 0;
	background-image: -ms-radial-gradient(center, circle farthest-corner, #2394E4 0%, #1778BD 100%);
	background-image: -moz-radial-gradient(center, circle farthest-corner, #2394E4 0%, #1778BD 100%);
	background-image: -o-radial-gradient(center, circle farthest-corner, #2394E4 0%, #1778BD 100%);
	background-image: -webkit-gradient(radial, center center, 0, center center, 505, color-stop(0, #2394E4), color-stop(1, #1778BD));
	background-image: -webkit-radial-gradient(center, circle farthest-corner, #2394E4 0%, #1778BD 100%);
	background-image: radial-gradient(circle farthest-corner at center, #2394E4 0%, #1778BD 100%);
	height: 32px;
	width: 100%;
	min-width: 550px;
	box-shadow: 1px 1px 3px #000;
	color: white;
}

#hidden-menu h3 {
	position: relative;
	display: inline-block;
	bottom: 15px;
	left: 5px;
}

@media (min-width: 0) {
	#hidden-menu h3 {
		display: none;
	}
	#hidden-menu img {
		bottom: 0;
		left: 0;
	}
}

@media (min-width: 560px) {
	#hidden-menu h3 {
		display: inline-block;
	}
	#hidden-menu img {
		position: relative;
		bottom: 6px;
		left: 0;
	}
}

#back-to-top {
	position: fixed;
	right: 15px;
	top: 0;
}

#hidden-logo {
	display: inline-block;
	font-family: 'Open Sans', sans-serif;
}

#hidden-logo span{
	position: relative;
	bottom: 23px;
}

#back-to-top i {
	position: absolute;
	color: white;
	top: 0;
	right: 120px;
}

#back-to-top i:hover {
	color: #013F6B;
	cursor: pointer;
}

/* ************************ */
/* Big logo on Results page */
#header {
	position: relative;
	top: -20px;
	margin-bottom: 20px;
	height: 175px;
	width: 100%;
	min-width: 650px;
}

#header h1 {
	font-size: 125px;
	color: #FCBC00;
	margin: 0 10px;
	font-family: 'Open Sans', sans-serif;
	text-shadow: 1px 1px 1px #000;
}

#header p {
	position: absolute;
	bottom: -2px;
	left: 265px;
	color: white;
	text-shadow: 1px 1px .5px #000;
}

#search-select {
	position: relative;
	margin: 0 auto;
	padding: 5px;
	top: 15px;
	height: 20px;
	width: 150px;
	border-radius: 5px 5px 0 0;
	-webkit-box-shadow: 0 0 10px #000;
        box-shadow: 0 0 10px #000;
	color: white;
	text-shadow: 1px 1px 3px #000;
}

#search-select:hover {
	cursor: pointer;
	background-image: -ms-radial-gradient(center bottom, circle farthest-corner, #015D9E 0%, #015D9E 100%);
	background-image: -moz-radial-gradient(center bottom, circle farthest-corner, #015D9E 0%, #015D9E 100%);
	background-image: -o-radial-gradient(center bottom, circle farthest-corner, #015D9E 0%, #015D9E 100%);
	background-image: -webkit-gradient(radial, center bottom, 0, center bottom, 560, color-stop(0, #015D9E), color-stop(1, #015D9E));
	background-image: -webkit-radial-gradient(center bottom, circle farthest-corner, #015D9E 0%, #015D9E 100%);
	background-image: radial-gradient(circle farthest-corner at center bottom, #015D9E 0%, #015D9E 100%);
}

#search-select i, #search-select p {
	position: relative;
	display: inline-block;
	margin: 0;
	margin-bottom: 5px;
}

#new-search {
	position: relative;
	margin: 0 auto;
}

#new-search input {
	display: inline-block;
	margin: 0;
	height: 30px;
	width: 200px;
	border: 0;
}

#new-search input[type=text] {
	padding-left: 10px;
	font-size: 22px;	
}

#new-search .header-submit {
	display: inline-block;
	margin: 0;
	top: -1px;
	height: 32px;
	width: 60px;
	font-size: 20px;
}

#results-container {
	margin: 0 auto;
	width: 100%;
	text-align: center;
}

#results-container-inner {
	margin: 0 auto;
	min-width: 800px;
}

/* User Info Div of Results Page */
#user-info {
	position: relative;
	z-index: 10;
	top: 15px;
	margin: 0 auto;
	width: 700px;
	height: 215px;
	background-image: -ms-radial-gradient(center, circle farthest-corner, #2394E4 0%, #1778BD 100%);
	background-image: -moz-radial-gradient(center, circle farthest-corner, #2394E4 0%, #1778BD 100%);
	background-image: -o-radial-gradient(center, circle farthest-corner, #2394E4 0%, #1778BD 100%);
	background-image: -webkit-gradient(radial, center center, 0, center center, 505, color-stop(0, #2394E4), color-stop(1, #1778BD));
	background-image: -webkit-radial-gradient(center, circle farthest-corner, #2394E4 0%, #1778BD 100%);
	background-image: radial-gradient(circle farthest-corner at center, #2394E4 0%, #1778BD 100%);
	border-radius: 5px;
	box-shadow: 2px 2px 3px #000;
	color: white;
	font-family: 'Roboto', sans-serif;
	text-shadow: 1px 1px 2px #000;
}

#text-name {
	position: absolute;
	top: -20px;
	right: 10px;
	text-shadow: .5px .5px .5px #000;
}

#user-image {
	position: absolute;
	top: 15px;
	left: 10px;
	width: 166px;
	height: 166px;
	border-radius: 5px;
	border: 1px solid blue;
}

.readout {
	position: absolute;
	padding: 0;
	z-index: 10;
	top: 25px;
	left: 195px;
	width: 500px;
	color: #FFBE00;
}

.readout h1 {
	text-align: left;
	color: white;
}

.readout .asterisk {
	margin: 0 2px;
}

.readout .asterisk:hover {
	color: #013F6B;
	text-shadow: none;
	cursor: pointer;
}

#asterisk-explanation {
	position: absolute;
	z-index: 24;
	padding: 5px;
	left: 200px;
	top: 80px;
	height: 30px;
	width: 425px;
	background-color: #013F6B;
	color: white;
	text-shadow: 1px 1px 3px #000;
	box-shadow: 2px 2px 3px #000;
	border-radius: 5px;
}

#asterisk-explanation > p {
	position: relative;
	bottom: 10px;
}

.statistics {
	position: absolute;
	bottom: -53px;
	left: -182px;
	text-align: left;
	color: white;
}

#options {
	position: absolute;
	width: 200px;
	right: 10px;
	bottom: 0;
	display: inline-block;
	text-shadow: none;
}

#hall-of-shame {
	position: relative;
	top: 42px;
	z-index: 30;
	font-size: 24px;
	font-weight: bold;
	margin: 0;
}

#options i {
	margin: 8px 5px;
}

#options i:hover, #hall-of-shame:hover {
	color: white;
	text-shadow: 1px 1px 3px #000;
	cursor: pointer;
}

/* Center HTML 5 Canvas Element */
#results-container-inner .canvas-container {
	width: 100%;
	margin: 0 auto;
	text-align: center;
}

/* List of Results */
.result-template {
	position: relative;
	margin: 0 auto;
	width: 655px;
	text-align: left;
	background-color: #026AB3;
	background-image: -ms-radial-gradient(center, circle farthest-corner, #026AB3 0%, #025B9A 100%);
	background-image: -moz-radial-gradient(center, circle farthest-corner, #026AB3 0%, #025B9A 100%);
	background-image: -o-radial-gradient(center, circle farthest-corner, #026AB3 0%, #025B9A 100%);
	background-image: -webkit-gradient(radial, center center, 0, center center, 505, color-stop(0, #026AB3), color-stop(1, #025B9A));
	background-image: -webkit-radial-gradient(center, circle farthest-corner, #026AB3 0%, #025B9A 100%);
	background-image: radial-gradient(circle farthest-corner at center, #026AB3 0%, #025B9A 100%);
	border: .5px solid black;
	border-radius: 5px;	
	box-shadow: 2px 2px 3px #000;
}

.range-selection {
	position: absolute;
	margin: 0;
	top: 10px;
	right: 15px;
}

.range-selection p {
	display: inline-block;
	color: white;
	text-shadow: 1px 1px .5px #000;
}

.range-selection span:hover {
	color: #013F6B;
	cursor: pointer;
	text-shadow: none;
}

.data h3 {
	margin: 75px 10px;
	color: white;
	font-size: 34px;
	text-shadow: 1px 1px 2px #000;
	text-align: center;
}

/* Div Containing Result */
.data .entry {
	background-color: #013F6B;
	position: relative;
	width: 90%;
	height: 150px;
	padding: 10px;
	margin: 15px auto;
	box-shadow: 2px 2px 3px #000;
	border-radius: 5px;
	color: white;
	text-shadow: 1px 1px 2px #000;
}

.entry img {
	position: absolute;
	top: 15px;
	left: 15px;
	border-radius: 15px;
	height: 69px;
	width: 184px;
}

.entry-data {
	position: absolute;
	z-index: 5;
	top: 10px;
	left: 215px;	
	text-align: left;
	margin: 0;
}

.data .game-name {
	display: inline-block;
	color: #068CEB;
	font-family: 'Open Sans', sans-serif;
	font-size: 32px;
	text-shadow: none;
}

.data .game-hours {
	font-family: 'Roboto', sans-serif;
	font-size: 20px;
}

.data .rank {
	position: absolute;
	right: 10px;
	bottom: 10px;
	font-family: 'Open Sans', sans-serif;
	font-size: 42px;
}

/* ************************** */
/* ******** Footer ********** */
/* ************************** */
#footer {
	position: relative;
	bottom: 0;
	margin: 0 auto;
	height: 50px;
	min-width: 800px;
	text-align: center;
	width: 700px;
	color: white;
}

#footer img {
	margin: 5px auto;
}

#footer p {
	margin: -10px auto;
}

#steam-icon {
	height: 80px;
	width: 80px;
}

/* ********************** */
/* * Hall of Shame * */
/* ********************** */
#hall-of-shame-content {
	margin: -15px 0;
	text-align: center;
	padding-top: 30px;
}

#hall-of-shame-content h1 {
	margin: 0;
	font-family: 'Open Sans', sans-serif;
	font-size: 42px;
	text-shadow: 1px 1px .5px #000;
}

#hall-of-shame-content .shame-total {
	margin: 0;
	margin-bottom: 25px;
	font-family: 'Roboto', sans-serif;
	font-size: 32px;
	color: white;	
	text-shadow: 1px 1px .5px #000;
}

#hall-of-shame-content .grid-name {
	color: white;
	font-family: 'Roboto', sans-serif;
	font-size: 20px;
	text-shadow: 1px 1px .5px #000;
}

#hall-of-shame-content .grid-hours {
	font-family: 'Roboto', sans-serif;
	font-size: 15px;
	color: white;	
	text-shadow: 1px 1px .5px #000;
}

ul.rig {
	list-style: none;
	font-size: 0px;
	padding: 0;
	margin-top: 15px;
	margin-left: -1%; /* should match li left margin */
	margin-right: 2.5%;
}

ul.rig li {
	height: 235px;
	width: 150px;
	text-align: center;
	display: inline-block;
	padding: 10px;
	margin: 0 0 -2.5% 2.5%;
	margin-bottom: 25px;
	vertical-align: top;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	background-color: #013F6B;
	-webkit-box-shadow: 0 0 10px #000;
        box-shadow: 0 0 8px #000;
	border-radius: 5px;	
}

ul.rig li img {
	margin: 0 0 10px;
	height: 69px;
	width: 184px;
	border-radius: 15px;
}

/* class for 2 columns */
ul.rig.columns-2 li {
	width: 47.5%; /* this value + 2.5 should = 50% */
}

/* class for 3 columns */
ul.rig.columns-3 li {
	width: 30.83%; /* this value + 2.5 should = 33% */
}

/* class for 4 columns */
ul.rig.columns-4 li {
	width: 22.5%; /* this value + 2.5 should = 25% */
}