body, html {
	margin: 0;
	padding: 0;
	height: 100%;
	font-family: 'Roboto', sans-serif;
	color: black;
	background: url(../playtime/images/low_contrast_linen.png);
}

body {
	overflow-x: hidden;
}

.hidden {
	display: none;
}

.show {
	display: inline;
}

a:link {
	text-decoration: none;
}

a:hover {
	color: #3FADFB;
}

a:visited {
	color: blue;
}

/* Colors ******************* */
.blue {
	color: #026AB3;
}

.yellow {
	color: #FFBE00;
}

.green {
	color: #16E889;
}

#container {
	min-height: 100%;
	position: relative;
	margin-bottom: -25px;
}

#header, #footer {
	width: 100%;
}

#hidden-menu {
	position: fixed;
	display: none;
	z-index: 6;
	top: 0;
	left: 0;
	background-color: #2394E4;
	height: 32px;
	width: 100%;
	min-width: 550px;
	box-shadow: 1px 1px 3px #000;
}

#hidden-menu img {
	position: relative;
	bottom: 6px;
	left: 0;
}

#hidden-menu h3 {
	position: relative;
	display: inline-block;
	bottom: 15px;
	left: 5px;
	text-shadow: .5px .5px .5px #000;
}

/* Header ******************* */
#header {
	height: 150px;
	width: 100%;
}

#header h1 {
	font-size: 100px;
	color: #FCBC00;
	margin: 0 10px;
	font-family: 'Open Sans', sans-serif;
	text-shadow: 1px 1px 1px #000;
}

#header p {
	position: relative;
	bottom: 40px;
	left: 215px;
	color: white;
	text-shadow: 1px 1px .5px #000;
}

#wrapper {
	position: relative;
	color: white;
	margin: 1px auto;
	padding-top: 25px;
	width: 700px;
	height: 750px;
}

/* Footer ******************* */
#footer {
	position: relative;
	bottom: 0;
	margin: 0 auto;
	height: 50px;
	text-align: center;
	width: 700px;
	color: white;
}

#footer img {
	margin: 5px auto;
}

#footer p {
	margin: -10px auto;
}

/* Home Page ***************** */
.message {
	position: relative;
	margin: 25px auto;
	width: 350px;
	background-color: #026AB3;
	text-align: center;
	text-shadow: .5px .5px 2px #000;
	border: 2px solid #2A2A2A;
	border-radius: 5px;
	box-shadow: 1px 1px 1xp #000;
}

#form {
	position: relative;
	background-color: #026AB3;
	height: 380px;
	width: 700px;
	min-width: 350px;
	margin: 25px auto;
	border: 2px solid #2A2A2A;
	border-radius: 10px;
	text-align: center;
}

#select-left {
	float: left;
}

#select-right {
	float: right;
}

form a {
	color: white;
}

input {
	height: 75px;
	width: 550px;
	margin: 10px auto;
	margin-top: 70px;
	border-radius: 5px;
	box-shadow: 1.5px 1.5px 5px #000;
}

input[type=text] {
	padding-left: 10px;
	font-size: 48px;	
}

.select-box {
	display: inline-block;
	margin: 25px 0;
	background-color: #3FADFB;
	height: 35px;
	color: white;
	line-height: 35px;
	font-size: 25px;
	text-shadow: 1px 1px .5px #000;
	border-radius: 5px;
	box-shadow: 1.5px 1.5px 3px #000;	
}

.submit {
	margin: 30px auto;
	color: white;
	height: 45px;
	width: 200px;
	font-size: 25px;
	background-color: #02528B;
	border: 0;
	text-shadow: .5px .5px 2px #000;
}

.submit:hover {
	background-color: #3FADFB;
}

/* Results Page ***************** */
#results-container {
	margin: 0 auto;
	width: 700px;
	color: black;
	text-align: center;
}

#results-container-inner {
	margin: 0 auto;
}

#user-info {
	position: relative;
	top: 15px;
	margin: 0 auto;
	width: 700px;
	height: 200px;
	background-color: #2394E4;
	border-radius: 15px;
	box-shadow: 2px 2px 3px #000;
	color: white;
	font-family: 'Roboto', sans-serif;
	text-shadow: 1px 1px 2px #000;
	
}

#text-name {
	position: absolute;
	top: -20px;
	right: 10px;
	text-shadow: .5px .5px .5px #000;
}

#user-info img {
	position: absolute;
	top: 15px;
	left: 10px;
	width: 166px;
	height: 166px;
	border-radius: 5px;
	border: 1px solid blue;
}

#user-info #readout {
	position: absolute;
	padding: 0;
	z-index: 10;
	top: 30px;
	left: 195px;
	width: 500px;
	color: #FFBE00;
}

#user-info #readout h1 {
	text-align: left;
	color: white;
}

#data{
	margin: 0 auto;
	width: 600px;
	text-align: left;
	background-color: #026AB3;
	border: .5px solid black;
	border-radius: 10px;	
	box-shadow: 2px 2px 3px #000;
}

#data h3 {
	margin: 75px 10px;
	color: white;
	font-size: 34px;
	text-shadow: 1px 1px 2px #000;
	text-align: center;
}

#data .entry {
	background-color: #013F6B;
	position: relative;
	width: 90%;
	height: 150px;
	padding: 10px;
	margin: 15px auto;
	box-shadow: 2px 2px 3px #000;
	border-radius: 15px;
	color: white;
	text-shadow: 1px 1px 2px #000;
}

.entry img {
	position: absolute;
	top: 15px;
	left: 15px;
	border-radius: 15px;
	height: 69px;
	width: 184px;
}

.entry-data {
	position: absolute;
	z-index: 5;
	top: 10px;
	left: 215px;	
	text-align: left;
	margin: 0;
}

#game-name {
	display: inline-block;
	color: #068CEB;
	font-family: 'Open Sans', sans-serif;
	font-size: 32px;
	text-shadow: none;
}

#game-hours {
	font-family: 'Roboto', sans-serif;
	font-size: 20px;
}

#rank {
	position: absolute;
	right: 10px;
	bottom: 10px;
	font-family: 'Open Sans', sans-serif;
	font-size: 42px;
}

.back {
	position: relative;
	margin: 0 auto;
	width: 700px;
}

.back h1 {
	margin: 25px auto;
	height: 48px;
	width: 100px;
	background-color: #026AB3;
	text-align: center;
	text-decoration: none;
	text-shadow: 1px 1px .5px #000;
	border-radius: 5px;
	box-shadow: 1px 1px 3px #000;	
}

.back a {
	color: #FFBE00;	
}

.back h1:hover {
	background-color: #3FADFB;
}

.back h1:visited {
	color: #026AB3;
}