{% extends "/blog/base.html" %}
{% block content %}

<div id="grey">
    <div class="container pt">
		<div class="row mt">
			<div class="centered">
                <h1>Practical Solutions</h1>
                <p><b>Getting my first useful application up and running</b></p>
            </div>
            <div class="col-lg-6 col-lg-offset-3">
				<hr>
				<p>
                    I'd like to use this blog as an opportunity to bridge the gap between my two major skill sets: language and coding.  In that vein I think it's a good idea to
                    do some longform write-ups after I feel I've reached a certain level of 'complete-ness' with my projects.  Maybe someone out there (besides me) will even find them useful.<br><br>
                    My day job as a Customer Service Representative involves a fair bit of repetition at times, mostly in the form of sending boilerplate emails to customers for various things.  I thought this would
                    be an excellent application of my newfound programming abilities, both in terms of the project's actual utility in making my day-to-day work a little easier, but also as a way to expose myself
                    to more complex programming concepts.<br><br>
                </p>
                <hr>
                <h2>Getting Started</h2>
                <p>
                    The first step toward completing this project was a decision: how
                    do I want the user to access the application?  I was already learning how to use <a href="http://flask.pocoo.org/">Flask</a>, and the ubiquity of the web and the ease with which it can be accessed
                    pretty much sealed the deal for me.  My CSTools suite would be a web application.<br><br>To get myself started with Flask, I began working through Miguel Grinberg's excellent <a href="http://blog.miguelgrinberg.com/post/the-flask-mega-tutorial-part-i-hello-world">tutorial</a>.
                    I'm currently nowhere near finished with the piece, but so far it is very well written and thoroughly explained, making it a relatively simple matter to achieve a fairly complicated thing: installing the Flask Python module and setting up your own development server.  The instructions
                    for getting started with Flask are all covered by Miguel's initial tutorials - I highly recommend them if you'd like to get off the ground with Python on the web.<br><br>Next on the list was setting some kind of baseline look for the web app, and
                    the easiest way to achieve that is with <a href="http://getbootstrap.com/">Twitter Bootstrap</a>.  Now, I mention that it's the "easiest" way to get a nice baseline look, but that doesn't mean that it's going to be especially <em>easy</em>  I'm sure
                    many veteran front-end guys would scoff at the notion, but wrapping your mind around Bootstrap and the grid system is a fairly daunting undertaking for someone who has no experience with that sort of thing.  Many YouTube tutorials and hours of frustration
                    later and you're likely to arrive at one of those magnificent 'EUREKA' moments, where everything just seems to fall into place and make sense, as I eventually did.  There are countless Bootstrap tutorials on the web, both in article and video form, so I won't reinvent the wheel here.  Seek them out and just start experimenting!<br><br></p>
                <hr>
                <h2>The First App</h2>
                <p>
                    Before I wrote the template apps that serve as the main functionality for my CSTools suite I had the idea for an extremely simple script to help me check whether a certain DEA form was expired or not, which is something relevant to my day-to-day work.  The DEA 222 form is used to catalogue the movement of federally scheduled materials to and from
                    institutions licensed to manufacture and receive them.  An institution's DEA 222 form is only valid for 60 days after it's been issued, and from time to time some items referred to by the forms can be on lengthy production backorders.  This means that some customers' forms pile up in my backlog and can easily sneak past their 60 day expiration unless I'm paying
                    especially careful attention.  I wanted to create an <a href="http://tylerkershner.pythonanywhere.com/datechecker">app</a> that would very quickly tell me if this was the case or not.  This endeavor involved me experimenting with a module that I had not yet encountered: the <b>datetime</b> module.<br><br>
                    Datetime involves a new type of object - the <b>date</b> object.  You can read all about them <a href="https://docs.python.org/2/library/datetime.html">here</a>.  The most important thing I had to learn was that in order for these objects to be of any use to me I had to
                    perform operations on them with <b>other datetime objects</b> - similar to how you can't add integers and strings together in regular old Python.  This meant that I had to grab the value entered by my user (as a string) and <em>convert</em> it into a date object.  A somewhat tricky business, but I accomplished it with the following lines:</p><br>
<pre><code data-language="python">form_date = form.form_date.data
date_object = datetime.datetime.date(datetime.datetime.strptime(form_date, '%m/%d/%y'))</code></pre><br>
                <p>
                    Here I'm grabbing the user's input by way of the HTML form's data field with the first line.  I then assign that data to a new variable, <b>date_object</b>, and use datetime's built in <span class="function">date()</span> function (similar to the standard <span class="function">int()</span> or <span class="function">float()</span>) to convert the value into
                    a date object.  You'll notice I had to reference datetime twice when accessing its methods.  I gather this has something to do with how the module was imported, but I honestly am not entirely sure the reasoning behind it.  Something to look into.  You'll also notice a bunch
                    of strange string-format looking characters as parameters for datetime's <a href="https://docs.python.org/2/library/datetime.html#strftime-strptime-behavior">strptime()</a> method, which is similar to string formatting but for dates.  It's because of this formatting that I have to specify
                    the correct format for my users' input (MM/DD/YY).<br><br>
                    From there it was a simple matter of comparing the date the user gave me with the current one (today), and then checking to see if the user's date plus 60 days was a date before or after the current one.  The rest of the code:<br>
<pre><code data-language="python">form_expiry_date = date_object + datetime.timedelta(days=60)
form_expiry_date_nice = "%s %s" % (str(form_expiry_date.strftime("%B")), str(form_expiry_date.day))
days_expired = datetime.date.today() - form_expiry_date

if form_expiry_date > datetime.date.today():
    message = "The form is valid until %s,  %s days from now." % \
              (form_expiry_date_nice, str(abs(days_expired.days)))
else:
    message = "The form expired on %s, %s days ago." % \
              (str(form_expiry_date_nice), str(days_expired.days))</code></pre><br><br><br>
                <hr>
                <p>
                Well, this thing turned out a bit longer than I thought it would, so I'll split it off here and continue with part two another day.  Thanks for reading so far, and stay tuned!<br>
                <a id="continue-link" href="/cstoolswriteup-part2">Continue to Part 2...</a>
                </p>
			</div>
		</div>
	</div>
</div>

{% endblock %}