/* ***************************** */
/* Custom CSTools styles ****** */
/* *************************** */

body {
	font-family: 'Open Sans';
	background-color: #6666FF;
	text-shadow: 1px 1px 1px #000000;
}

a:link {
    text-decoration: none;
	color: #FFF;
}

a:visited {
    text-decoration: none;
	color: #FFF;
}

a:hover {
    text-decoration: underline;
	color: #FFF;
}

/* Fixed navbar */
#navbar-new {
	position: fixed;
	top: 0;
	z-index: 2;
	height: 100px;
	width: 100%;
	background: rgb(102, 179, 255);
	background: -moz-linear-gradient(65deg, rgb(102, 179, 255) 30%, rgb(65, 121, 187) 96%);
	background: -webkit-linear-gradient(65deg, rgb(102, 179, 255) 30%, rgb(65, 121, 187) 96%);
	background: -o-linear-gradient(65deg, rgb(102, 179, 255) 30%, rgb(65, 121, 187) 96%);
	background: -ms-linear-gradient(65deg, rgb(102, 179, 255) 30%, rgb(65, 121, 187) 96%);
	background: linear-gradient(155deg, rgb(102, 179, 255) 30%, rgb(65, 121, 187) 96%);
	box-shadow: 1px 5px 4px 0px rgba(50, 50, 50, 0.75);
}

#navbar-new-title {
	height: 100px;
	width: 400px;
	position: absolute;
	top: 9px;
	left: 15px;
}

#navbar-new-title a:hover {
	text-decoration: none;
}

#navbar-new-menu {
	height: 100px;
	width: 400px;
	position: fixed;
	right: 25px;
}

#navbar-new-menu a:hover {
	text-decoration: underline;
}

#navbar-home {
	position: absolute;
	top: 25px;
	right: 325px;
}

#navbar-sharepoint {
	position: absolute;
	top: 25px;
	right: 183px;
}

#navbar-directory {
	position: absolute;
	top: 25px;
	right: 5px;
}

/* Breakpoint for left-aligned navbar */
@media (max-width: 870px) {
  #navbar-new-menu {
    top: 15px;
	left: 10px;
  }
  #navbar-new-title {
	top: 0;
  }
}

/* Main Menu Divs */
.item {
	background-color: auto;
	height: 181px;
	width: 181px;
	border-radius: 30px 30px 30px 30px;
}

/* Main Menu Titles */
.item h2 {
	margin-top: 35px;
}

.main-menu-list a:hover {
	text-decoration: none;
}


.main-menu-list {
	position: relative;
	top: 150px;
}

ul.rig .main-menu {
	border-radius: 30px 30px 30px 30px;
	min-width: 181px;
	min-height: 181px;
	max-width: 181px;
	max-height: 181px;
	padding: 0;
	border: none;
	-webkit-box-shadow: 3px 3px 12px 0px rgba(50, 50, 50, 0.75);
	-moz-box-shadow:    3px 3px 12px 0px rgba(50, 50, 50, 0.75);
	box-shadow:         3px 3px 12px 0px rgba(50, 50, 50, 0.75);
}

.container {
	position: relative;
	top: 90px;
}

.row {
    padding: 3px 0;
	width: 100%;
}

/* Header */
.masthead .clearfix {
    right: 25px;
	top: 0;
}

.inner {
	padding: 10px 0;
}

/* Adjusting nav-bar text */
.masthead-nav li a {
	font-weight: normal;
	font-size: 16px;
}

/* Small bug-fixing conflict between bootstrap and cover */
a:hover {
	text-decoration: none;
}

/* Buttons/links to the various applications */
.btn-success,
.btn-primary,
.btn-info,
.btn-warning,
.btn-danger {
	height: 75px;
	width: 325px;
	font-size: 22px;
	font-weight: normal;
	text-shadow: 1px 1px 2px #000000;
	z-index: 1;
}

.cover .btn-lg {
    font-weight: normal;
}

/* Template demo text */
.well {
    position: relative;
    left: -75px;
	padding: 0 0;
    background-color: rgb(69, 108, 152);
	width: 700px;
    height: 200px;
    overflow: auto;
    text-align: left;
    -webkit-box-shadow: -5px 5px 13px 0px rgba(50, 50, 50, 0.75);
    -moz-box-shadow:    -5px 5px 13px 0px rgba(50, 50, 50, 0.75);
    box-shadow:         -5px 5px 13px 0px rgba(50, 50, 50, 0.75);
}

#smaller {
    color: white;
    margin: 10px;
    text-shadow: 1px 1px 1px #000;
}

/* *************************** */
/* Backorder Notification Form */
/* *************************** */
#backorder-form {
	position: relative;
	margin: 0 auto;
	top: 25px;
	padding: 10px 0;
}

.alert {
    position: relative;
    text-align: justify;
	margin: 0 auto;
	margin-top: 60px;
	margin-right: 140px;
	width: 50%;
	padding: 15px 0;
}

.alert-lower {
    position: relative;
    text-align: justify;
	margin: 0 auto;
	margin-top: 0;
	margin-right: 140px;
	width: 50%;
	padding: 15px 0;
}

form {
	display: block;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	position: relative;
	width: 50%;
	z-index: 1;
}

#submit {
	position: relative;
	margin: 0 auto;
	font-size: 20px;
	height: 35px;
	width: 125px;
	top: 5px;
	padding-bottom: 35px;
	-webkit-box-shadow: -5px 5px 13px 0px rgba(50, 50, 50, 0.75);
    -moz-box-shadow:    -5px 5px 13px 0px rgba(50, 50, 50, 0.75);
    box-shadow:         -5px 5px 13px 0px rgba(50, 50, 50, 0.75);
}

input  {
	width: 100%;
	display:block;
	border: 1px solid #999;
	height: 55px;
	color: #000000;
	font-size: 20px;
	-webkit-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
	-moz-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
	box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
	border-radius: 0;
}

.backorder-form-top {
	position: relative;
	border-radius: 5px 5px 0 0;
	height: 55px;
	width: 350px;
	-webkit-box-shadow: -8px 1px 13px 0px rgba(50, 50, 50, 0.75);
    -moz-box-shadow:    -8px 1px 13px 0px rgba(50, 50, 50, 0.75);
    box-shadow:         -8px 1px 13px 0px rgba(50, 50, 50, 0.75);
}

.extra-margin-top {
	margin-top: 75px;
}

.backorder-form-bottom {
	border-radius: 0 0 5px 5px;
	color: #000;
	height: 55px;
	width: 350px;
	max-width: 350px;
	margin: 0 auto;
	-webkit-box-shadow: -8px 1px 13px 0px rgba(50, 50, 50, 0.75);
    -moz-box-shadow:    -8px 1px 13px 0px rgba(50, 50, 50, 0.75);
    box-shadow:         -8px 1px 13px 0px rgba(50, 50, 50, 0.75);
}

#partial_checkbox {
	width: 350px;
	height: 50px;
	margin-top: 10px;
	margin-left: 10px;
}

#partial_text {
	position: relative;
	right: 45px;
}

#partial_shipment {
	position: absolute;
	right: 75px;
	bottom: -15px;
	box-shadow: none;
	width: 25px;
	height: 200px;
}

#template-blurb {
    position: relative;
	padding: 0 0;
    width: 75%;
}

#template-blurb p {
	position: relative;
	margin-bottom: 25px;
}

#template-div {
    position: relative;
    margin-top: 75px;
	margin-bottom: 25px;
	width: 65%;
    height: 65px;
    z-index: 2;
    padding: 10px 5px;
	-webkit-box-shadow: -8px 1px 13px 0px rgba(50, 50, 50, 0.75);
    -moz-box-shadow:    -8px 1px 13px 0px rgba(50, 50, 50, 0.75);
    box-shadow:         -8px 1px 13px 0px rgba(50, 50, 50, 0.75);
}

#backorder-link {
    position: relative;
    bottom: 10px;
	text-shadow: 1px 1px 1px #000;
}

#backorder-form a button {
    -webkit-box-shadow: -7px 4px 13px 0px rgba(50, 50, 50, 0.75);
    -moz-box-shadow:    -7px 4px 13px 0px rgba(50, 50, 50, 0.75);
    box-shadow:         -7px 4px 13px 0px rgba(50, 50, 50, 0.75);
}

/* 222 Form Date Checker */
#date-checker-input {
	position: relative;
	top: 15px;
}

.form-date {
	position:relative;
	margin: 0 auto;
	-webkit-box-shadow: -7px 4px 13px 0px rgba(50, 50, 50, 0.75);
    -moz-box-shadow:    -7px 4px 13px 0px rgba(50, 50, 50, 0.75);
    box-shadow:         -7px 4px 13px 0px rgba(50, 50, 50, 0.75);

}

.container #example-form {
	margin-top: 200px;
	height: 475px;
	width: 600px;
	padding: 0 15px;
}

.container #demo {
	max-width: 500px;
    max-height: 300px;
    min-width: 500px;
    min-height: 300px;
}

/* Positioning of datechecker divs */
#datechecker {
	position: relative;
	top: -200px;
}

#datechecker h2 {
	position: relative;
	top: 350px;
	margin-left: auto;
	margin-right: auto;
}

#demo-text-div {
	background-color: #66b3ff;
	height: 100%;
	width: 555px;
	border-radius: 65px 65px 0 0;
	padding: 30px 15px;
	-webkit-box-shadow: -7px 4px 13px 0px rgba(50, 50, 50, 0.75);
    -moz-box-shadow:    -7px 4px 13px 0px rgba(50, 50, 50, 0.75);
    box-shadow:         -7px 4px 13px 0px rgba(50, 50, 50, 0.75);
}

#demo-text {
	padding: 10px 0;
	color: #FFFFFF;
	font-size: 16px;
	text-shadow: 1px 2px 1px #000;
}

.date-checker-message-div {
	background-color: #6666FF;
	width: 525px;
	height: 75px;
	position: relative;
	bottom: 4px;
	margin: 0 auto;
	border-radius: 25px 25px 0 0;
}

.date-checker-message {
	font-size: 20px;
	position: relative;
	top: 20px;
}

/* The application/DEA protocol download button */
#application {
    position: relative;
    padding: 5px 0;
    background-color: #218d97;
    height: 65px;
    width: 190px;
    margin: 0 auto;
    margin-bottom: 35px;
	border-radius: 15px;
    -webkit-box-shadow: -7px 4px 13px 0px rgba(50, 50, 50, 0.75);
    -moz-box-shadow:    -7px 4px 13px 0px rgba(50, 50, 50, 0.75);
    box-shadow:         -7px 4px 13px 0px rgba(50, 50, 50, 0.75);
	background: rgb(33, 141, 151);
	background: -moz-linear-gradient(30deg, rgb(33, 141, 151) 20%, rgb(0, 121, 125) 72%);
	background: -webkit-linear-gradient(30deg, rgb(33, 141, 151) 20%, rgb(0, 121, 125) 72%);
	background: -o-linear-gradient(30deg, rgb(33, 141, 151) 20%, rgb(0, 121, 125) 72%);
	background: -ms-linear-gradient(30deg, rgb(33, 141, 151) 20%, rgb(0, 121, 125) 72%);
	background: linear-gradient(120deg, rgb(33, 141, 151) 20%, rgb(0, 121, 125) 72%);
}

#application h5 {
	position: relative;
	top: -37px;
}

#template-blurb a:hover {
	text-decoration: none;
}

/* *********************************
   Grid for Forms Without Orders Data Display
   ********************************* */
ul.rig {
	list-style: none;
	font-size: 0px;
	margin-left: -2.5%; /* should match li left margin */
	margin-right: 2.5%;
	margin-bottom: 0;
}

ul.rig li {
	text-align: center;
	display: inline-block;
	padding: 10px;
	margin: 0 0 2.5% 2.5%;
	min-width: 525px;
	border: 1px solid #ddd;
	border-radius: 55px 25px 55px 0;
	font-size: 16px;
	font-size: 1rem;
	vertical-align: top;
	box-shadow: 0 0 5px #ddd;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-webkit-box-shadow: -7px 4px 13px 0px rgba(50, 50, 50, 0.75);
    -moz-box-shadow:    -7px 4px 13px 0px rgba(50, 50, 50, 0.75);
    box-shadow:         -7px 4px 13px 0px rgba(50, 50, 50, 0.75);
}

ul.rig li div {
	color: #FFF;
	font-size: 1.5em;
	text-shadow: 1px 1px 2px #000;
}

ul.rig li img {
	max-width: 100%;
	height: auto;
	margin: 0 0 10px;
}

ul.rig li h3 {
	margin: 0 0 5px;
}

ul.rig li p {
	font-size: 1.60em;
	line-height: 1.5em;
	color: #999;
}

ul.rig li a {
	text-decoration: none;
}

/* class for 2 columns */
ul.rig.columns-2 li {
	width: 47.5%; /* this value + 2.5 should = 50% */
}

/* class for 3 columns */
ul.rig.columns-3 li {
	width: 30.83%; /* this value + 2.5 should = 33% */
}

/* class for 4 columns */
ul.rig.columns-4 li {
	width: 22.5%; /* this value + 2.5 should = 25% */
}

@media (max-width: 480px) {
	ul.grid-nav li {
		display: block;
		margin: 0 0 5px;
	}
	ul.grid-nav li a {
		display: block;
	}
	ul.rig {
		margin-left: 0;
	}
	ul.rig li {
		width: 50%; /*!important;  over-ride all li styles */
		margin: 0 0 20px;
	}
}

ul.rig li button {
	display: block;
	float: left;
	width: 50px;
	height: 25px;
	font-size: 14px;
	position: relative;
	margin-top: 30%;
	margin-right: 15px;
}

/* ******************** */
/* Forms Without Orders */
/* ******************** */
#container {
	margin-top: 150px;
}

#data-titles {
	float: left;
	text-align: justify;
}

#data {
	float: right;
	text-align: justify;
}

#data #entry-notes {
	text-align: left;
	font-size: 14px;
	margin: 0;
	padding: 0;
	width: 200px;
	text-shadow: 1px 1px 1px #000;
}

#csr-name {
	color: #66ff66;
}

#entry {
	text-align: center;
	display: inline-block;
	padding: 10px;
	margin: 0 0 2.5% 2.5%;
	min-width: 525px;
	border: 1px solid #ddd;
	border-radius: 55px 25px 55px 0;
	font-size: 16px;
	font-size: 1rem;
	vertical-align: top;
	box-shadow: 0 0 5px #ddd;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-webkit-box-shadow: -8px 1px 13px 0px rgba(50, 50, 50, 0.75);
    -moz-box-shadow:    -8px 1px 13px 0px rgba(50, 50, 50, 0.75);
    box-shadow:         -8px 1px 13px 0px rgba(50, 50, 50, 0.75);
}

#entry div {
	color: #FFF;
	font-size: 1.5em;
	text-shadow: 1px 1px 2px #000;
}

#entry h3 {
	margin-top: 10px;
}

#back {
	margin-top: 25px;
	margin-bottom: 25px;
}

#back:hover {
	color: red;
}

/* Various forms for template apps */
#name, #email, #po, #item_number, #acct, #given_price, #item_numbers, #notes, #institution, #csr_name {
	height: 55px;
	width: 350px;
	margin: 0 auto;
	-webkit-box-shadow: -8px 1px 13px 0px rgba(50, 50, 50, 0.75);
    -moz-box-shadow:    -8px 1px 13px 0px rgba(50, 50, 50, 0.75);
    box-shadow:         -8px 1px 13px 0px rgba(50, 50, 50, 0.75);
}

#name-top {
	height: 55px;
	width: 350px;
	margin: 0 auto;
	margin-top: 75px;
	-webkit-box-shadow: -8px 1px 13px 0px rgba(50, 50, 50, 0.75);
    -moz-box-shadow:    -8px 1px 13px 0px rgba(50, 50, 50, 0.75);
    box-shadow:         -8px 1px 13px 0px rgba(50, 50, 50, 0.75);
}

/* Adding margin to 'Edit Entry' button */
#edit-entry {
	margin-bottom: 15px;
}


/* Forms Without Orders Login Page */
#login {
	position: relative;
	margin-top: 200px;
}

#login h1 {
	margin-bottom: 75px;
}

.login {
	width: 300px;
	margin-left: auto;
	margin-right: auto;
	border-radius: 5px;
	-webkit-box-shadow: -8px 1px 13px 0px rgba(50, 50, 50, 0.75);
    -moz-box-shadow:    -8px 1px 13px 0px rgba(50, 50, 50, 0.75);
    box-shadow:         -8px 1px 13px 0px rgba(50, 50, 50, 0.75);
}

.login-button {
	width: 125px;
	height: 55px;
	margin-left: auto;
	margin-right: auto;
	-webkit-box-shadow: -8px 1px 13px 0px rgba(50, 50, 50, 0.75);
    -moz-box-shadow:    -8px 1px 13px 0px rgba(50, 50, 50, 0.75);
    box-shadow:         -8px 1px 13px 0px rgba(50, 50, 50, 0.75);
}

.login-text {
	font-size: 18px;
	font-weight: normal;
}

/* Login Input Button */
body form p input {
	border-radius: 5px;
}

#backorder-form a button {
	margin-bottom: 30px;
}

/* Colors for demo text and form entries */
.light-purple {
	background: rgb(161, 161, 255);
	background: -moz-linear-gradient(52deg, rgb(161, 161, 255) 24%, rgb(106, 119, 207) 88%);
	background: -webkit-linear-gradient(52deg, rgb(161, 161, 255) 24%, rgb(106, 119, 207) 88%);
	background: -o-linear-gradient(52deg, rgb(161, 161, 255) 24%, rgb(106, 119, 207) 88%);
	background: -ms-linear-gradient(52deg, rgb(161, 161, 255) 24%, rgb(106, 119, 207) 88%);
	background: linear-gradient(142deg, rgb(161, 161, 255) 24%, rgb(106, 119, 207) 88%);
}

.yellow {
	background: rgb(255, 255, 179);
	background: -moz-linear-gradient(30deg, rgb(255, 255, 179) 30%, rgb(221, 230, 145) 70%);
	background: -webkit-linear-gradient(30deg, rgb(255, 255, 179) 30%, rgb(221, 230, 145) 70%);
	background: -o-linear-gradient(30deg, rgb(255, 255, 179) 30%, rgb(221, 230, 145) 70%);
	background: -ms-linear-gradient(30deg, rgb(255, 255, 179) 30%, rgb(221, 230, 145) 70%);
	background: linear-gradient(120deg, rgb(255, 255, 179) 30%, rgb(221, 230, 145) 70%);
}

.light-blue {
	background: rgb(179, 255, 255);
	background: -moz-linear-gradient(30deg, rgb(179, 255, 255) 30%, rgb(152, 218, 255) 70%);
	background: -webkit-linear-gradient(30deg, rgb(179, 255, 255) 30%, rgb(152, 218, 255) 70%);
	background: -o-linear-gradient(30deg, rgb(179, 255, 255) 30%, rgb(152, 218, 255) 70%);
	background: -ms-linear-gradient(30deg, rgb(179, 255, 255) 30%, rgb(152, 218, 255) 70%);
	background: linear-gradient(120deg, rgb(179, 255, 255) 30%, rgb(152, 218, 255) 70%);
}

.light-green {
	background: rgb(102, 255, 178);
	background: -moz-linear-gradient(52deg, rgb(102, 255, 178) 24%, rgb(102, 184, 145) 88%);
	background: -webkit-linear-gradient(52deg, rgb(102, 255, 178) 24%, rgb(102, 184, 145) 88%);
	background: -o-linear-gradient(52deg, rgb(102, 255, 178) 24%, rgb(102, 184, 145) 88%);
	background: -ms-linear-gradient(52deg, rgb(102, 255, 178) 24%, rgb(102, 184, 145) 88%);
	background: linear-gradient(142deg, rgb(102, 255, 178) 24%, rgb(102, 184, 145) 88%);
}

.orange {
	background: rgb(255, 179, 102);
	background: -moz-linear-gradient(30deg, rgb(255, 179, 102) 30%, rgb(214, 142, 102) 70%);
	background: -webkit-linear-gradient(30deg, rgb(255, 179, 102) 30%, rgb(214, 142, 102) 70%);
	background: -o-linear-gradient(30deg, rgb(255, 179, 102) 30%, rgb(214, 142, 102) 70%);
	background: -ms-linear-gradient(30deg, rgb(255, 179, 102) 30%, rgb(214, 142, 102) 70%);
	background: linear-gradient(120deg, rgb(255, 179, 102) 30%, rgb(214, 142, 102) 70%);
}

.salmon {
	background: rgb(255, 102, 102);
	background: -moz-linear-gradient(52deg, rgb(255, 102, 102) 24%, rgb(191, 92, 117) 88%);
	background: -webkit-linear-gradient(52deg, rgb(255, 102, 102) 24%, rgb(191, 92, 117) 88%);
	background: -o-linear-gradient(52deg, rgb(255, 102, 102) 24%, rgb(191, 92, 117) 88%);
	background: -ms-linear-gradient(52deg, rgb(255, 102, 102) 24%, rgb(191, 92, 117) 88%);
	background: linear-gradient(142deg, rgb(255, 102, 102) 24%, rgb(191, 92, 117) 88%);
}

.dark-red {
	background: rgb(184, 78, 100);
	background: -moz-linear-gradient(30deg, rgb(184, 78, 100) 30%, rgb(159, 76, 100) 70%);
	background: -webkit-linear-gradient(30deg, rgb(184, 78, 100) 30%, rgb(159, 76, 100) 70%);
	background: -o-linear-gradient(30deg, rgb(184, 78, 100) 30%, rgb(159, 76, 100) 70%);
	background: -ms-linear-gradient(30deg, rgb(184, 78, 100) 30%, rgb(159, 76, 100) 70%);
	background: linear-gradient(120deg, rgb(184, 78, 100) 30%, rgb(159, 76, 100) 70%);
}

.dark-blue {
	background: rgb(69, 108, 152);
	background: -moz-linear-gradient(30deg, rgb(69, 108, 152) 30%, rgb(64, 87, 149) 70%);
	background: -webkit-linear-gradient(30deg, rgb(69, 108, 152) 30%, rgb(64, 87, 149) 70%);
	background: -o-linear-gradient(30deg, rgb(69, 108, 152) 30%, rgb(64, 87, 149) 70%);
	background: -ms-linear-gradient(30deg, rgb(69, 108, 152) 30%, rgb(64, 87, 149) 70%);
	background: linear-gradient(120deg, rgb(69, 108, 152) 30%, rgb(64, 87, 149) 70%);
}

.dark-green {
	background: rgb(64, 113, 94);
	background: -moz-linear-gradient(30deg, rgb(64, 113, 94) 30%, rgb(7, 92, 74) 70%);
	background: -webkit-linear-gradient(30deg, rgb(64, 113, 94) 30%, rgb(7, 92, 74) 70%);
	background: -o-linear-gradient(30deg, rgb(64, 113, 94) 30%, rgb(7, 92, 74) 70%);
	background: -ms-linear-gradient(30deg, rgb(64, 113, 94) 30%, rgb(7, 92, 74) 70%);
	background: linear-gradient(120deg, rgb(64, 113, 94) 30%, rgb(7, 92, 74) 70%);
}

.magenta {
	background: rgb(156, 99, 156);
	background: -moz-linear-gradient(52deg, rgb(156, 99, 156) 24%, rgb(103, 87, 131) 88%);
	background: -webkit-linear-gradient(52deg, rgb(156, 99, 156) 24%, rgb(103, 87, 131) 88%);
	background: -o-linear-gradient(52deg, rgb(156, 99, 156) 24%, rgb(103, 87, 131) 88%);
	background: -ms-linear-gradient(52deg, rgb(156, 99, 156) 24%, rgb(103, 87, 131) 88%);
	background: linear-gradient(142deg, rgb(156, 99, 156) 24%, rgb(103, 87, 131) 88%);
}

.purple {
	background: rgb(179, 102, 255);
	background: -moz-linear-gradient(52deg, rgb(179, 102, 255) 24%, rgb(179, 103, 177) 88%);
	background: -webkit-linear-gradient(52deg, rgb(179, 102, 255) 24%, rgb(179, 103, 177) 88%);
	background: -o-linear-gradient(52deg, rgb(179, 102, 255) 24%, rgb(179, 103, 177) 88%);
	background: -ms-linear-gradient(52deg, rgb(179, 102, 255) 24%, rgb(179, 103, 177) 88%);
	background: linear-gradient(142deg, rgb(179, 102, 255) 24%, rgb(179, 103, 177) 88%);
}

.blue {
	background: rgb(102, 178, 255);
	background: -moz-linear-gradient(30deg, rgb(102, 178, 255) 30%, rgb(87, 156, 255) 70%);
	background: -webkit-linear-gradient(30deg, rgb(102, 178, 255) 30%, rgb(87, 156, 255) 70%);
	background: -o-linear-gradient(30deg, rgb(102, 178, 255) 30%, rgb(87, 156, 255) 70%);
	background: -ms-linear-gradient(30deg, rgb(102, 178, 255) 30%, rgb(87, 156, 255) 70%);
	background: linear-gradient(120deg, rgb(102, 178, 255) 30%, rgb(87, 156, 255) 70%);
}

.red {
	background: rgb(255, 103, 102);
	background: -moz-linear-gradient(30deg, rgb(255, 103, 102) 30%, rgb(195, 99, 102) 75%);
	background: -webkit-linear-gradient(30deg, rgb(255, 103, 102) 30%, rgb(195, 99, 102) 75%);
	background: -o-linear-gradient(30deg, rgb(255, 103, 102) 30%, rgb(195, 99, 102) 75%);
	background: -ms-linear-gradient(30deg, rgb(255, 103, 102) 30%, rgb(195, 99, 102) 75%);
	background: linear-gradient(120deg, rgb(255, 103, 102) 30%, rgb(195, 99, 102) 75%);
}


.orange-entry {
	background: rgb(195, 79, 51);
	background: -moz-linear-gradient(30deg, rgb(195, 79, 51) 30%, rgb(179, 79, 51) 75%);
	background: -webkit-linear-gradient(30deg, rgb(195, 79, 51) 30%, rgb(179, 79, 51) 75%);
	background: -o-linear-gradient(30deg, rgb(195, 79, 51) 30%, rgb(179, 79, 51) 75%);
	background: -ms-linear-gradient(30deg, rgb(195, 79, 51) 30%, rgb(179, 79, 51) 75%);
	background: linear-gradient(120deg, rgb(195, 79, 51) 30%, rgb(179, 79, 51) 75%);
}