body, html {
	background: rgb(156, 99, 156);
	background: -moz-linear-gradient(52deg, rgb(156, 99, 156) 24%, rgb(103, 87, 131) 88%);
	background: -webkit-linear-gradient(52deg, rgb(156, 99, 156) 24%, rgb(103, 87, 131) 88%);
	background: -o-linear-gradient(52deg, rgb(156, 99, 156) 24%, rgb(103, 87, 131) 88%);
	background: -ms-linear-gradient(52deg, rgb(156, 99, 156) 24%, rgb(103, 87, 131) 88%);
	background: linear-gradient(142deg, rgb(156, 99, 156) 24%, rgb(103, 87, 131) 88%);
	margin:0;
	padding:0;
	height: 110%;
}

body {
	position: relative;
	font-family: 'Open Sans';
	color: white;
	text-shadow: 1px 1px 3px #000;
}

#main {
	overflow: hidden;
	height: 100%;
}

a {
	text-decoration: none;
}

a:link {
	color: 
}

#container {
	position: relative;
	top: 75px;
	width: 75%;
	margin-left: auto;
	margin-right: auto;
}

/* Style to create circle div */
#circle {
	margin-top: 15px;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	width: 300px;
	height: 300px;
}

img {
	margin-top: 25px;
	border-radius: 50%;
	width: 300px;
	height: 300px;
}

#logo {
	position: relative;
	border-radius: 45% 45% 0 0;
	text-align: center;
	margin-top: 15px;
	margin-left: auto;
	margin-right: auto;
	width: 50%;
}

hr {
	position: relative;
	width: 60%;
	margin: 0 auto;
	border: 0;
    height: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

#container #logo h1 {
	position: relative;
	margin-bottom: 5px;
	font-size: 400%;
	color: white;
	text-shadow: 1px 2px 2px #000;
}

#container #logo p {
	position: relative;
	margin-top: 15px;
}

#buttons {
	position: relative;
	width: 50%;
	margin-left: auto;
	margin-right: auto;
}

#bottom {
	position: relative;
	background-color: black;
	width: 50%;
	height: 250px;
	margin-left: auto;
	margin-right: auto;
	border-radius: 45% 45% 0 0;
}

/* Cool Buttons styles */
nav h1 {
	color: white;
	text-shadow: 1px 2px 2px #000;
	z-index: 1;
}

@font-face {
  font-family: 'fontello';
  src: url('http://css-tricks.com/examples/RoundButtons/fonts/fontello.eot');
  src: url('http://css-tricks.com/examples/RoundButtons/fonts/fontello.eot?#iefix') format('embedded-opentype'),
       url('http://css-tricks.com/examples/RoundButtons/fonts/fontello.woff') format('woff'),
       url('http://css-tricks.com/examples/RoundButtons/fonts/fontello.ttf') format('truetype'),
       url('http://css-tricks.com/examples/RoundButtons/fonts/fontello.svg#fontello') format('svg');
  font-weight: normal; font-style: normal;
}

[class*="icon-"] {
  font-family: 'fontello';
  font-style: normal;
  font-size: 3em;
  speak: none;
}

.icon-home:after     { content: "\2302"; } 
.icon-cog:after      { content: "\2699"; } 
.icon-cw:after       { content: "\27f3"; } 
.icon-location:after { content: "\e724"; } 

* { 
  -webkit-box-sizing: border-box; 
  -moz-box-sizing:    border-box; 
  box-sizing:         border-box; 
  margin: 0;
  padding: 0;
}

.nav {
  list-style: none;
  text-align: center;
}

.nav li {
  position: relative;
  display: inline-block;
  margin-right: -4px;
}

.nav li:before {
  content: "";
  display: block;
  width: 100%;
  height: 1px;
  position: absolute;
  top: 50%;
  z-index: -1;
}

.nav a:link, .nav a:visited {
  display: block;
  text-decoration: none;
  color: #a7a7a7;
  margin: 36px;
  width: 144px;
  height: 144px;
  position: relative;
  text-align: center;
  line-height: 144px;
  border-radius: 50%;
  box-shadow: 0px 3px 8px #aaa, inset 0px 2px 3px #fff;
  border: solid 1px transparent;
}

.nav a:before {
  content: "";
  display: block;
  background: #fff;
  position: absolute;
  top: -18px;
  left: -18px;
  bottom: -18px;
  right: -18px;
  z-index: -1;
  border-radius: 50%;
  box-shadow: inset 0px 8px 48px #ddd;
}

.nav a:active {
  box-shadow: 0px 3px 4px #aaa inset, 0px 2px 3px #fff;
}

.nav a:hover {
  text-decoration: none;
  color: #555;
  background: rgb(161, 161, 255);
  background: -moz-linear-gradient(52deg, rgb(161, 161, 255) 24%, rgb(106, 119, 207) 88%);
  background: -webkit-linear-gradient(52deg, rgb(161, 161, 255) 24%, rgb(106, 119, 207) 88%);
  background: -o-linear-gradient(52deg, rgb(161, 161, 255) 24%, rgb(106, 119, 207) 88%);
  background: -ms-linear-gradient(52deg, rgb(161, 161, 255) 24%, rgb(106, 119, 207) 88%);
  background: linear-gradient(142deg, rgb(161, 161, 255) 24%, rgb(106, 119, 207) 88%);
}

/* Colors for the two main buttons */
.dark-red {
	background: rgb(184, 78, 100);
	background: -moz-linear-gradient(30deg, rgb(184, 78, 100) 30%, rgb(159, 76, 100) 70%);
	background: -webkit-linear-gradient(30deg, rgb(184, 78, 100) 30%, rgb(159, 76, 100) 70%);
	background: -o-linear-gradient(30deg, rgb(184, 78, 100) 30%, rgb(159, 76, 100) 70%);
	background: -ms-linear-gradient(30deg, rgb(184, 78, 100) 30%, rgb(159, 76, 100) 70%);
	background: linear-gradient(120deg, rgb(184, 78, 100) 30%, rgb(159, 76, 100) 70%);
}

.dark-blue {
	background: rgb(69, 108, 152);
	background: -moz-linear-gradient(30deg, rgb(69, 108, 152) 30%, rgb(64, 87, 149) 70%);
	background: -webkit-linear-gradient(30deg, rgb(69, 108, 152) 30%, rgb(64, 87, 149) 70%);
	background: -o-linear-gradient(30deg, rgb(69, 108, 152) 30%, rgb(64, 87, 149) 70%);
	background: -ms-linear-gradient(30deg, rgb(69, 108, 152) 30%, rgb(64, 87, 149) 70%);
	background: linear-gradient(120deg, rgb(69, 108, 152) 30%, rgb(64, 87, 149) 70%);
}

#about-container {
	background-color: #f2f2f2;
	height: 100%;
	position: relative;
	text-align: justify;
	margin: 0 auto;
	width: 60%;
}

#about-inner {
	color: black;
	height: 100%;
	text-shadow: none;
	margin-left: auto;
	margin-right: auto;
	width: 50%;
}

#about-inner h1 {
	position: relative;
	text-align: center;
}

.about-header {
	height: 27px;
	width: 100%;
	border-radius: 15px 15px 0 15px;
	background: rgb(69, 108, 152);
	background: -moz-linear-gradient(30deg, rgb(69, 108, 152) 30%, rgb(64, 87, 149) 70%);
	background: -webkit-linear-gradient(30deg, rgb(69, 108, 152) 30%, rgb(64, 87, 149) 70%);
	background: -o-linear-gradient(30deg, rgb(69, 108, 152) 30%, rgb(64, 87, 149) 70%);
	background: -ms-linear-gradient(30deg, rgb(69, 108, 152) 30%, rgb(64, 87, 149) 70%);
	background: linear-gradient(120deg, rgb(69, 108, 152) 30%, rgb(64, 87, 149) 70%);
	
}

.about-header h3 {
	margin-left: 15px;
	color: white;
	text-shadow: 1px 1px 3px #000;
}

#back:link {
	color: white;
	text-shadow: 1px 1px 3px #000;
}

#back:hover {
	color: red;
}

#back:visited {
	color: white;
}