body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
	overflow-y: hidden;
    font-family: Arial;
    font-size: 18px;
	color: white;
	background-color: black;
}

a {
	text-decoration: none;
}

a:link {
	color: #FFFFFF;
}

a:visited {
	color: #FFFFFF;
}

a:hover {
	color: red;
}

img {
    border-radius: 45px;
	max-height: 400px;
	max-width: 400px;
}

/*
using background color is important to cover the menu
position absolute isset to cover the whole viewport
*/
#content {
    background-color: black;
    position: relative;
	top: -53px;
	width: auto;
    min-height: 1000px;
	-webkit-box-shadow:  -10px 0px 9px 0px rgba(0, 0, 0, 0.4);
    box-shadow:  -10px 0px 9px 0px rgba(0, 0, 0, 0.4);
}

#content div {
	width: 50px;
	height: 50px;
	position: relative;
}

/*
the hamburger button with a little gradient effekt
*/
#hamburger {
    border: 1px solid #374C77;
    z-index: 1;
	border-radius: 3px 3px 3px 3px;
    cursor: pointer;
    display: block;
    height: 24px;
    padding: 3px 4px 3px;
    position: relative;
    top: 10px;
	left: 10px;
	width: 25px;
    background: #4569b2;
    background: -moz-linear-gradient(top,  #4569b2 0%, #4062a5 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#4569b2), color-stop(100%,#4062a5));
    background: -webkit-linear-gradient(top,  #4569b2 0%,#4062a5 100%);
    background: -o-linear-gradient(top,  #4569b2 0%,#4062a5 100%);
    background: -ms-linear-gradient(top,  #4569b2 0%,#4062a5 100%);
    background: linear-gradient(to bottom,  #4569b2 0%,#4062a5 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4569b2', endColorstr='#4062a5',GradientType=0 );
}

/*
The white stripes in the hamburger button
*/
#hamburger div {
    z-index: 1;
	background-color: #fff;
    border: 1px solid #eee;
    border-radius: 2px 2px 2px 2px;
    height: 2px;
    margin-top: 3px;
    width: 90%;
}

/*
The navigation container in the background
*/
nav {
    left: 0px;
    top: 0px;
    position: fixed;
    z-index: 0;
    width: 300px;
    height: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    overflow-x:hidden;
    overflow-y:hidden;
    background: #3e3c3d;
    background: -moz-linear-gradient(top,  #3e3c3d 0%, #2d2c2d 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#3e3c3d), color-stop(100%,#2d2c2d));
    background: -webkit-linear-gradient(top,  #3e3c3d 0%,#2d2c2d 100%);
    background: -o-linear-gradient(top,  #3e3c3d 0%,#2d2c2d 100%);
    background: -ms-linear-gradient(top,  #3e3c3d 0%,#2d2c2d 100%);
    background: linear-gradient(to bottom,  #3e3c3d 0%,#2d2c2d 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3e3c3d', endColorstr='#2d2c2d',GradientType=0 );
}

.settings-header {
	text-align: center;
	padding-top: 25px;
	color: white;
	text-shadow: 1px 1px 1px #000;
}


.categories {
	margin-top: 50px;
}

.categories h3 {
	color: white;
	text-shadow: 1px 1px 1px #000;
	padding-left: 10px;
}

.row {
	position: relative;
	color: white;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 10px;
	background-color: white;
	height: 35px;
	text-shadow: .5px .5px 3px #000;
	-webkit-box-shadow: -1px 3px 4px 0 rgba(50, 50, 50, 1);
	-moz-box-shadow:    -1px 3px 4px 0 rgba(50, 50, 50, 1);
	box-shadow:         -1px 3px 4px 0 rgba(50, 50, 50, 1);

}

#lightblue {
	background-color: #8080ff;
	background: rgb(128, 128, 255);
	background: -moz-linear-gradient(30deg, rgb(128, 128, 255) 20%, rgb(90, 90, 170) 86%);
	background: -webkit-linear-gradient(30deg, rgb(128, 128, 255) 20%, rgb(90, 90, 170) 86%);
	background: -o-linear-gradient(30deg, rgb(128, 128, 255) 20%, rgb(90, 90, 170) 86%);
	background: -ms-linear-gradient(30deg, rgb(128, 128, 255) 20%, rgb(90, 90, 170) 86%);
	background: linear-gradient(120deg, rgb(128, 128, 255) 20%, rgb(90, 90, 170) 86%);
}

#salmon {
	background-color: #ff8080;
	background: rgb(255, 128, 128);
	background: -moz-linear-gradient(30deg, rgb(255, 128, 128) 20%, rgb(175, 92, 92) 86%);
	background: -webkit-linear-gradient(30deg, rgb(255, 128, 128) 20%, rgb(175, 92, 92) 86%);
	background: -o-linear-gradient(30deg, rgb(255, 128, 128) 20%, rgb(175, 92, 92) 86%);
	background: -ms-linear-gradient(30deg, rgb(255, 128, 128) 20%, rgb(175, 92, 92) 86%);
	background: linear-gradient(120deg, rgb(255, 128, 128) 20%, rgb(175, 92, 92) 86%);
}

#green {
	background-color: #c0ff80;
	background: rgb(192, 255, 128);
	background: -moz-linear-gradient(30deg, rgb(192, 255, 128) 20%, rgb(122, 186, 90) 86%);
	background: -webkit-linear-gradient(30deg, rgb(192, 255, 128) 20%, rgb(122, 186, 90) 86%);
	background: -o-linear-gradient(30deg, rgb(192, 255, 128) 20%, rgb(122, 186, 90) 86%);
	background: -ms-linear-gradient(30deg, rgb(192, 255, 128) 20%, rgb(122, 186, 90) 86%);
	background: linear-gradient(120deg, rgb(192, 255, 128) 20%, rgb(122, 186, 90) 86%);
}

#blue {
	background-color: #4da7ff;
	background: rgb(77, 167, 255);
	background: -moz-linear-gradient(30deg, rgb(77, 167, 255) 20%, rgb(25, 101, 177) 86%);
	background: -webkit-linear-gradient(30deg, rgb(77, 167, 255) 20%, rgb(25, 101, 177) 86%);
	background: -o-linear-gradient(30deg, rgb(77, 167, 255) 20%, rgb(25, 101, 177) 86%);
	background: -ms-linear-gradient(30deg, rgb(77, 167, 255) 20%, rgb(25, 101, 177) 86%);
	background: linear-gradient(120deg, rgb(77, 167, 255) 20%, rgb(25, 101, 177) 86%);
}

#orange {
	background-color: #ffbf80;
	background: rgb(255, 191, 128);
	background: -moz-linear-gradient(30deg, rgb(255, 191, 128) 20%, rgb(214, 115, 53) 86%);
	background: -webkit-linear-gradient(30deg, rgb(255, 191, 128) 20%, rgb(214, 115, 53) 86%);
	background: -o-linear-gradient(30deg, rgb(255, 191, 128) 20%, rgb(214, 115, 53) 86%);
	background: -ms-linear-gradient(30deg, rgb(255, 191, 128) 20%, rgb(214, 115, 53) 86%);
	background: linear-gradient(120deg, rgb(255, 191, 128) 20%, rgb(214, 115, 53) 86%);
}

#lightblue, #salmon, #green, #blue, #orange {
	-webkit-box-shadow: -2px 4px 11px 0px rgba(50, 50, 50, 0.75);
	-moz-box-shadow:    -2px 4px 11px 0px rgba(50, 50, 50, 0.75);
	box-shadow:         -2px 4px 11px 0px rgba(50, 50, 50, 0.75);
}

#lightblue:hover, #salmon:hover, #green:hover, #blue:hover, #orange:hover {
	background: red;
}

.row h3 {
	position: relative;
	bottom: 15px;
}

.count {
	float: right;
	margin-right: 20px;
}

#current-settings {
	height: 135px;
	width: 300px;
	position: relative;
	bottom: -135px;
	border-radius: 45px 45px 0 0;
	text-shadow: 1px 1px 1px #000;
}

#current-settings h3 {
	position: relative;
	top: 5px;
	text-align: center;
	margin: 0;
}

#settings-title {
	float: left;
	margin-left: 25px;
}

#settings-values {
	float: right;
	margin-right: 25px;
}

#number {
  height: 125px;
  width: 300px;
  text-align: center;
  text-shadow: 1px 1px 1px #000;
  margin-top: -20px;
}

#number h1 {
	margin-bottom: 0;
}

#number div {
  display: inline-block;
  position: relative;
  bottom: 20px;
  margin-left: 15px;
  margin-right: 15px;
  height: 30px;
  width: 50px;
  border-radius: 10px;
  -webkit-box-shadow:  -10px 0px 9px 0px rgba(0, 0, 0, 0.4);
    box-shadow:  -10px 0px 9px 0px rgba(0, 0, 0, 0.4);
}

#number div h3 {
	position: relative;
	bottom: 17px;
}

#\35 {
	background-color: #4d4eff;
	background: rgb(77, 78, 255);
	background: -moz-linear-gradient(30deg, rgb(77, 78, 255) 20%, rgb(145, 147, 255) 86%);
	background: -webkit-linear-gradient(30deg, rgb(77, 78, 255) 20%, rgb(145, 147, 255) 86%);
	background: -o-linear-gradient(30deg, rgb(77, 78, 255) 20%, rgb(145, 147, 255) 86%);
	background: -ms-linear-gradient(30deg, rgb(77, 78, 255) 20%, rgb(145, 147, 255) 86%);
	background: linear-gradient(120deg, rgb(77, 78, 255) 20%, rgb(145, 147, 255) 86%);
}

#\31 0 {
	background-color: #ff4da7;
	background: rgb(255, 77, 167);
	background: -moz-linear-gradient(30deg, rgb(255, 77, 167) 20%, rgb(145, 46, 138) 86%);
	background: -webkit-linear-gradient(30deg, rgb(255, 77, 167) 20%, rgb(145, 46, 138) 86%);
	background: -o-linear-gradient(30deg, rgb(255, 77, 167) 20%, rgb(145, 46, 138) 86%);
	background: -ms-linear-gradient(30deg, rgb(255, 77, 167) 20%, rgb(145, 46, 138) 86%);
	background: linear-gradient(120deg, rgb(255, 77, 167) 20%, rgb(145, 46, 138) 86%);
}

#\32 0 {
	background-color: #fffe4d;
	background: rgb(255, 254, 77);
	background: -moz-linear-gradient(30deg, rgb(255, 254, 77) 20%, rgb(159, 163, 0) 86%);
	background: -webkit-linear-gradient(30deg, rgb(255, 254, 77) 20%, rgb(159, 163, 0) 86%);
	background: -o-linear-gradient(30deg, rgb(255, 254, 77) 20%, rgb(159, 163, 0) 86%);
	background: -ms-linear-gradient(30deg, rgb(255, 254, 77) 20%, rgb(159, 163, 0) 86%);
	background: linear-gradient(120deg, rgb(255, 254, 77) 20%, rgb(159, 163, 0) 86%);
}

#number:after {
  content: '';
  width: 100%; /* Ensures there are at least 2 lines of text, so justification works */
  display: inline-block;
}

#randomize {
	position: relative;
	top: 125px;
	text-shadow: 1px 1px 1px #000;
	text-align: center;
}

.randomize-button1, .randomize-button2 {
	margin-left: auto;
	margin-right: auto;
	width: 250px;
	height: 55px;
	background-color: red;
	border-radius: 15px;
	background: rgb(102, 255, 178);
	background: -moz-linear-gradient(52deg, rgb(102, 255, 178) 24%, rgb(102, 184, 145) 88%);
	background: -webkit-linear-gradient(52deg, rgb(102, 255, 178) 24%, rgb(102, 184, 145) 88%);
	background: -o-linear-gradient(52deg, rgb(102, 255, 178) 24%, rgb(102, 184, 145) 88%);
	background: -ms-linear-gradient(52deg, rgb(102, 255, 178) 24%, rgb(102, 184, 145) 88%);
	background: linear-gradient(142deg, rgb(102, 255, 178) 24%, rgb(102, 184, 145) 88%);
	box-shadow: 1px 5px 4px 0px rgba(50, 50, 50, 0.75);
}

.randomize-button2 {
	background: rgb(116, 150, 184);
	background: -moz-linear-gradient(52deg, rgb(116, 150, 184) 24%, rgb(119, 119, 161) 88%);
	background: -webkit-linear-gradient(52deg, rgb(116, 150, 184) 24%, rgb(119, 119, 161) 88%);
	background: -o-linear-gradient(52deg, rgb(116, 150, 184) 24%, rgb(119, 119, 161) 88%);
	background: -ms-linear-gradient(52deg, rgb(116, 150, 184) 24%, rgb(119, 119, 161) 88%);
	background: linear-gradient(142deg, rgb(116, 150, 184) 24%, rgb(119, 119, 161) 88%);
}

.randomize-button1 h1, .randomize-button2 h1 {
	position: relative;
	top: 10px;
}

/*
The Layer that will be layed over the content
so that the content is unclickable while menu is shown
*/
#contentLayer {
    display: none;
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    position: absolute;
    right: -300px;
    top: 0;
    width: 100%;
    z-index: 5;
    min-height: 1062px;
}