body {
	background-color: black;
}

div #container {
	height: 800px;
	width: 800px;
}

img {
    border-radius: 45px;
	max-height: 400px;
	max-width: 400px;
}

div .a {
	width: 50px;
	height: 50px;
	position: fixed;
}

div .b {
	width: 50px;
	height: 50px;
	position:fixed;
}

div .c {
	width: 50px;
	height:50px;
	position:fixed;
}

div .d {
	width: 50px;
	height: 50px;
	position: fixed;
}

div .e {
	width: 50px;
	height: 50px;
	position:fixed;
}

div .f {
	width: 50px;
	height:50px;
	position:fixed;
}

div .g {
	width: 50px;
	height:50px;
	position:fixed;
}

div .h {
	width: 50px;
	height: 50px;
	position: fixed;
}

div .i {
	width: 50px;
	height: 50px;
	position:fixed;
}

div .j {
	width: 50px;
	height:50px;
	position:fixed;
}

div .k {
	width: 50px;
	height: 50px;
	position: fixed;
}

div .l {
	width: 50px;
	height: 50px;
	position:fixed;
}

div .m {
	width: 50px;
	height:50px;
	position:fixed;
}

div .n {
	width: 50px;
	height: 50px;
	position: fixed;
}

div .o {
	width: 50px;
	height: 50px;
	position:fixed;
}

div .p {
	width: 50px;
	height:50px;
	position:fixed;
}

div .q {
	width: 50px;
	height:50px;
	position:fixed;
}

div .r {
	width: 50px;
	height: 50px;
	position: fixed;
}

div .s {
	width: 50px;
	height: 50px;
	position:fixed;
}

div .t {
	width: 50px;
	height:50px;
	position:fixed;
}