body {
	position: fixed;
	overflow-x: hidden;
	overflow-y: hidden;
	margin: 0;
	background-color: black;
	font-family: Arial;
    font-size: 18px;
	color: white;
}

/* The hamburger menu button div */
#dl-menu {
	position: fixed;
	top: 15px;
	left: 15px;
	z-index: 30;
}

.settings {
	position: absolute;
	top: 0;
	left: 0;
	max-height: 75%;
	max-width: 75%;

}


/* Div where the images float around */
#content {
	position: relative;
	margin: 0;
	background-color: black;
	height: 900px;
	z-index: 1;
}

/* Media queries to adjust the width of the content div relative to the viewport size */
@media (min-width: 600px) {
	#content {
		width: 600px;
	}
}

@media (min-width: 800px) {
	#content {
		width: 800px;
	}
}

@media (min-width: 1000px) {
	#content {
		width: 1000px;
	}
}

@media (min-width: 1200px) {
	#content {
		width: 1200px;
	}
}

@media (min-width: 1500px) {
	#content {
		width: 1500px;
	}
}

@media (min-width: 1800px) {
	#content {
		width: 1800px;
	}
}

@media (min-width: 2000px) {
	#content {
		width: 2000px;
	}
}

@media (min-width: 2200px) {
	#content {
		width: 2200px;
	}
}

@media (min-width: 2400px) {
	#content {
		width: 2400px;
	}
}

img {
	position: fixed;
	z-index: 1;
	border-radius: 10px;
	max-height: 450px;
	max-width: 450px;
}

/* Number of GIFs displayed next to category */
.gif_count {
	float: right;
}

/* Styling Form Placeholder Text */
::-webkit-input-placeholder {
   position: relative;
   left: 5px;
}

:-moz-placeholder { /* Firefox 18- */
   position: relative;
   left: 5px;
}

::-moz-placeholder {  /* Firefox 19+ */
   position: relative;
   left: 5px;
}

:-ms-input-placeholder {
   position: relative;
   left: 5px;
}


/* Delay input field */
#delay {
	float: left;
	width: 233px;
	height: 44px;
}

/* Submit Button */
#submit {
  float: right;
  border: none;
  height: 43px;
  background: #3498db;
  background-image: -webkit-linear-gradient(top, #3498db, #2980b9);
  background-image: -moz-linear-gradient(top, #3498db, #2980b9);
  background-image: -ms-linear-gradient(top, #3498db, #2980b9);
  background-image: -o-linear-gradient(top, #3498db, #2980b9);
  background-image: linear-gradient(to bottom, #3498db, #2980b9);
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  text-shadow: 1px 2px 3px #666666;
  -webkit-box-shadow: 0px 2px 5px #666666;
  -moz-box-shadow: 0px 2px 5px #666666;
  box-shadow: 0px 2px 5px #666666;
  font-family: Arial;
  color: #ffffff;
  font-size: 14px;
  padding: 10px;
  text-decoration: none;
}

#submit:hover {
  background: #3cb0fd;
  background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
  background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
  text-decoration: none;
}

/* Current Settings Part of Menu */
#settings-title {
	font-family: Lato;
	font-weight: 300;
	float: left;
	color: white;
	margin-left: 10px;
}

#settings-values {
	font-family: Lato;
	font-weight: 300;
	float: right;
	color: white;
	margin-right: 10px;
}


/* jQuery Slider stylings */
#sliders {
	position: relative;
	left: 25px;
	bottom: 10px;
}

#slider {
	margin-bottom: 5px;
}

/* Width of the slider track */
.dl-menuwrapper .dl-menu li #sliders{
	width: 80%;
	margin: 0;
}

/* Getting rid of inherited padding on the handles */
#sliders a {
	padding: 0;
	top: -2.5px;
	border-style: none;
}

#sliders p {
	position: relative;
	top: 15px;
	margin: 0;
}

#sliders a:hover , #sliders a:active{
	background: rgb(179, 255, 255);
	background: -moz-linear-gradient(30deg, rgb(179, 255, 255) 30%, rgb(152, 218, 255) 70%);
	background: -webkit-linear-gradient(30deg, rgb(179, 255, 255) 30%, rgb(152, 218, 255) 70%);
	background: -o-linear-gradient(30deg, rgb(179, 255, 255) 30%, rgb(152, 218, 255) 70%);
	background: -ms-linear-gradient(30deg, rgb(179, 255, 255) 30%, rgb(152, 218, 255) 70%);
	background: linear-gradient(120deg, rgb(179, 255, 255) 30%, rgb(152, 218, 255) 70%);
}
