body {
	background-color: #000000;
	overflow: hidden;
}
.animate {
    transition: all .9s ease-in-out;
    -webkit-transition: all .9s ease-in-out;
}
.hidden {
    display: none;
}
.container {
    position: relative;
    top: -.3em;
    left: -0.5em;
    width: 260px;
    height: 155px;
}
.container img {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    height: 100%;
    width: 100%;
}
.loading {
    position: absolute;
    opacity: 0.4;
    margin: 0 auto;
    left: 0;
    right: 0;
    top: .5em;
    width: 100%;
    color: #F2F2F2;
    font-family: 'Lobster', sans-serif;
    font-size: 3.5em;
    text-align: center;
    text-shadow: 2px 2px 0px rgba(255,255,255,0.3);
}
.colorwave {
    position: relative;
}
.reload-area {
    position: absolute;
    opacity: 1;
    z-index: 2;
    top: 0;
    left: 0;
    width: 1em;
    height: 1em;
}
.turn-off {
    position: absolute;
    z-index: 2;
    padding: .5em;
    padding-bottom: 0;
    top: 0;
    left: 0;
    height: 3em;
    width: 100%;
}
.content-wrapper {
    z-index: 1;
}