body {
	font-family: 'Open Sans', sans-serif;
	overflow: hidden;
	background-image: url('https://www.pythonanywhere.com/user/tylerkershner/files/home/tylerkershner/app/static/images/cyberspace.png');
}

a {
	text-decoration: none;
}

#wrapper {
	position: relative;
	text-align: center;
	width: 100%;
}

#header {
	background-color: #FFFF99;
	position: relative;
	left: -7px;
	top: -25px;
	margin: auto;
	width: 650px;
	height: 25%;
	border-radius: 0 0 55px 55px;
	font-family: 'Lobster', cursive;
}

#header h1 {
	position: relative;
	top: 10px;
	text-align: left;
	left: 45px;
	text-shadow: 0 .1px 1px #000000;
}

#current-settings {
	position: relative;
	background-color: #CCCCFF;
	float: right;
	width: 210px;
	height: 90px;
	right: -10px;
	border-radius: 45px 0 0 45px;
}

#current-settings p {
	position: relative;
	font-family: 'Lato', sans-serif;
	text-align: right;
	right: 10px;
	bottom: 8px;
}

#settings-title {
	font-size: 1.5em;
}

.settings-name {
	position: relative;
	float: left;
	font-size: 1em;
	left: 55px;
}

#categories {
	position: relative;
	margin: auto;
	top: -25px;
	width: 750px;
	height: 150px;
	background-color: #B2FF66;
	border-radius: 35px 35px 0 0;
}

#categories h2 {
	position: relative;
	text-align: center;
	top: 5px;
}

#categories .message h4 {
	margin: 0 0 0 0;
	position: relative;
	bottom: 10px;
}

#categories #buttons {
	position: relative;
	left: 50px;
}

#categories .button {
	float: left;
	position: relative;
	margin: 5px 5px 5px 5px;
	bottom: 10px;

}

#categories .button a {
	position: relative;
	color: #FFFFFF;
	bottom: 5px;
}

#gifcount {
	position: relative;
	width: 700px;
}

#main-count {
	position: relative;
	float: left;
	margin-right: 15px;
	margin-top: 5px;
	left: 75px;
	bottom: 15px;
}

.count {
	position: relative;
	float: left;
	margin-top: 5px;
	margin-left: 30px;
	margin-right: 30px;
	left: 95px;
	bottom: 15px;
}

.text {
	position: relative;
	size: 8em;
	text-align: center;
	margin-top: 5px;
	margin-bottom: 5px;
}

#current {
	background-color: #CCE5FF;
	position: relative;
	margin: auto;
	width: 750px;
	height: 580px;
	top: -35px;
}

#current #image p {
	position: relative;
	bottom: 30px;
}

#current h2 {
	position: relative;
	text-align: center;
}

#image {
	position: relative;
	margin-left: auto;
	margin-right: auto;
	width: 640px;
	height: 480px;
	bottom: 5px;
}

#form {
	background-color: #FF9999;
	position: relative;
	margin: auto;
	top: -40px;
	width: 750px;
	height: 125px;
	border-radius: 0 0 35px 35px;
}

#form-inner {
	top: 5px;
	position: relative;
	text-align: center;
}

.red {
	-moz-box-shadow:inset 0px -50px 0px -50px #f5978e;
	-webkit-box-shadow:inset 0px -50px 0px -50px #f5978e;
	box-shadow:inset 0px -50px 0px -50px #f5978e;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #f24537), color-stop(1, #c62d1f) );
	background:-moz-linear-gradient( center top, #f24537 5%, #c62d1f 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#f24537', endColorstr='#c62d1f');
	background-color:#f24537;
	-webkit-border-top-left-radius:20px;
	-moz-border-radius-topleft:20px;
	border-top-left-radius:20px;
	-webkit-border-top-right-radius:20px;
	-moz-border-radius-topright:20px;
	border-top-right-radius:20px;
	-webkit-border-bottom-right-radius:20px;
	-moz-border-radius-bottomright:20px;
	border-bottom-right-radius:20px;
	-webkit-border-bottom-left-radius:20px;
	-moz-border-radius-bottomleft:20px;
	border-bottom-left-radius:20px;
	text-indent:0;
	border:1px solid #d02718;
	display:inline-block;
	color:#ffffff;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	font-style:normal;
	height:40px;
	line-height:40px;
	width:115px;
	text-decoration:none;
	text-align:center;
	text-shadow:1px 1px 0px #810e05;
}
.red:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #c62d1f), color-stop(1, #f24537) );
	background:-moz-linear-gradient( center top, #c62d1f 5%, #f24537 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#c62d1f', endColorstr='#f24537');
	background-color:#c62d1f;
}.red:active {
	position:relative;
	top:1px;
}

.blue {
	-moz-box-shadow:inset 0px -50px 0px -50px #cae3fc;
	-webkit-box-shadow:inset 0px -50px 0px -50px #cae3fc;
	box-shadow:inset 0px -50px 0px -50px #cae3fc;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #79bbff), color-stop(1, #4197ee) );
	background:-moz-linear-gradient( center top, #79bbff 5%, #4197ee 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#79bbff', endColorstr='#4197ee');
	background-color:#79bbff;
	-webkit-border-top-left-radius:20px;
	-moz-border-radius-topleft:20px;
	border-top-left-radius:20px;
	-webkit-border-top-right-radius:20px;
	-moz-border-radius-topright:20px;
	border-top-right-radius:20px;
	-webkit-border-bottom-right-radius:20px;
	-moz-border-radius-bottomright:20px;
	border-bottom-right-radius:20px;
	-webkit-border-bottom-left-radius:20px;
	-moz-border-radius-bottomleft:20px;
	border-bottom-left-radius:20px;
	text-indent:0;
	border:1px solid #469df5;
	display:inline-block;
	color:#ffffff;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	font-style:normal;
	height:40px;
	line-height:40px;
	width:115px;
	text-decoration:none;
	text-align:center;
	text-shadow:1px 1px 0px #287ace;
}
.blue:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #4197ee), color-stop(1, #79bbff) );
	background:-moz-linear-gradient( center top, #4197ee 5%, #79bbff 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#4197ee', endColorstr='#79bbff');
	background-color:#4197ee;
}.blue:active {
	position:relative;
	top:1px;
}

.purple {
	-moz-box-shadow:inset 0px -50px 0px -50px #e6cafc;
	-webkit-box-shadow:inset 0px -50px 0px -50px #e6cafc;
	box-shadow:inset 0px -50px 0px -50px #e6cafc;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #c579ff), color-stop(1, #a341ee) );
	background:-moz-linear-gradient( center top, #c579ff 5%, #a341ee 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#c579ff', endColorstr='#a341ee');
	background-color:#c579ff;
	-webkit-border-top-left-radius:20px;
	-moz-border-radius-topleft:20px;
	border-top-left-radius:20px;
	-webkit-border-top-right-radius:20px;
	-moz-border-radius-topright:20px;
	border-top-right-radius:20px;
	-webkit-border-bottom-right-radius:20px;
	-moz-border-radius-bottomright:20px;
	border-bottom-right-radius:20px;
	-webkit-border-bottom-left-radius:20px;
	-moz-border-radius-bottomleft:20px;
	border-bottom-left-radius:20px;
	text-indent:0;
	border:1px solid #a946f5;
	display:inline-block;
	color:#ffffff;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	font-style:normal;
	height:40px;
	line-height:40px;
	width:115px;
	text-decoration:none;
	text-align:center;
	text-shadow:1px 1px 0px #8628ce;
}
.purple:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #a341ee), color-stop(1, #c579ff) );
	background:-moz-linear-gradient( center top, #a341ee 5%, #c579ff 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#a341ee', endColorstr='#c579ff');
	background-color:#a341ee;
}.purple:active {
	position:relative;
	top:1px;
}

.orange {
	-moz-box-shadow:inset 0px -50px 0px -50px #fed897;
	-webkit-box-shadow:inset 0px -50px 0px -50px #fed897;
	box-shadow:inset 0px -50px 0px -50px #fed897;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #f6b33d), color-stop(1, #d29105) );
	background:-moz-linear-gradient( center top, #f6b33d 5%, #d29105 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#f6b33d', endColorstr='#d29105');
	background-color:#f6b33d;
	-webkit-border-top-left-radius:20px;
	-moz-border-radius-topleft:20px;
	border-top-left-radius:20px;
	-webkit-border-top-right-radius:20px;
	-moz-border-radius-topright:20px;
	border-top-right-radius:20px;
	-webkit-border-bottom-right-radius:20px;
	-moz-border-radius-bottomright:20px;
	border-bottom-right-radius:20px;
	-webkit-border-bottom-left-radius:20px;
	-moz-border-radius-bottomleft:20px;
	border-bottom-left-radius:20px;
	text-indent:0;
	border:1px solid #eda933;
	display:inline-block;
	color:#ffffff;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	font-style:normal;
	height:40px;
	line-height:40px;
	width:115px;
	text-decoration:none;
	text-align:center;
	text-shadow:1px 1px 0px #cd8a15;
}
.orange:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #d29105), color-stop(1, #f6b33d) );
	background:-moz-linear-gradient( center top, #d29105 5%, #f6b33d 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#d29105', endColorstr='#f6b33d');
	background-color:#d29105;
}.orange:active {
	position:relative;
	top:1px;
}

.green {
	-moz-box-shadow:inset 0px -50px 0px -50px #caefab;
	-webkit-box-shadow:inset 0px -50px 0px -50px #caefab;
	box-shadow:inset 0px -50px 0px -50px #caefab;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #77d42a), color-stop(1, #5cb811) );
	background:-moz-linear-gradient( center top, #77d42a 5%, #5cb811 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#77d42a', endColorstr='#5cb811');
	background-color:#77d42a;
	-webkit-border-top-left-radius:20px;
	-moz-border-radius-topleft:20px;
	border-top-left-radius:20px;
	-webkit-border-top-right-radius:20px;
	-moz-border-radius-topright:20px;
	border-top-right-radius:20px;
	-webkit-border-bottom-right-radius:20px;
	-moz-border-radius-bottomright:20px;
	border-bottom-right-radius:20px;
	-webkit-border-bottom-left-radius:20px;
	-moz-border-radius-bottomleft:20px;
	border-bottom-left-radius:20px;
	text-indent:0;
	border:1px solid #268a16;
	display:inline-block;
	color:#306108;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	font-style:normal;
	height:40px;
	line-height:40px;
	width:115px;
	text-decoration:none;
	text-align:center;
	text-shadow:1px 1px 0px #aade7c;
}
.green:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #5cb811), color-stop(1, #77d42a) );
	background:-moz-linear-gradient( center top, #5cb811 5%, #77d42a 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#5cb811', endColorstr='#77d42a');
	background-color:#5cb811;
}.green:active {
	position:relative;
	top:1px;
}