body {
    margin: 0;
    padding: 0;
    overflow-x:hidden;
	overflow-y:hidden;
    font-family: Arial;
    font-size: 18px;
}

a {
	text-decoration: none;
}

a:link {
	color: #FFFFFF;
}

a:visited {
	color: #FFFFFF;
}

a:hover {
	color: red;
}

header {
    padding: 10px;
	background-color: #80c0ff;
	color: white;
	text-decoration: none;
    position: fixed;
    width: 100%;
	height: 70px;
    z-index: 1;
	-webkit-box-shadow:  -10px 0px 9px 0px rgba(0, 0, 0, 0.4);
    box-shadow:  -10px 0px 9px 0px rgba(0, 0, 0, 0.4);
}

/*
the hamburger button with a little gradient effect
*/
#hamburger {
    border: 1px solid #374C77;
    border-radius: 3px 3px 3px 3px;
    cursor: pointer;
    display: block;
    top: 17px;
	height: 24px;
    padding: 3px 4px 3px;
    position: relative;
    width: 25px;
    background: #3399ff;
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4569b2', endColorstr='#4062a5',GradientType=0 );
}

/*
The white stripes in the hamburger button
*/
#hamburger div {
    background-color: #fff;
    border: 1px solid #eee;
    border-radius: 2px 2px 2px 2px;
    height: 2px;
    margin-top: 3px;
    width: 90%;
}

#title {
	position: absolute;
	top: 5px;
	left: 75px;
	text-shadow: 1px 1px 1px #000;
}

#settings {
	position: absolute;
	top: 10px;
	right: 30px;
	width: 200px;
	height: 90px;
}

#settings-title {
	position: relative;
	margin-bottom: 0;
}

hr {
	margin: 0;
}

#settings span{
	position: relative;
	text-align: left, justify;
	font-size: 1em;
	color: white;
	text-shadow: 1px 1px 1px black;
}

.setting {
	float: right;
}

/*
using background color is important to cover the menu
position absolute is set to cover the whole viewport
*/
#content {
	background-image: -ms-linear-gradient(top left, #3E3C3D 0%, #656263 100%);
	background-image: -moz-linear-gradient(top left, #3E3C3D 0%, #656263 100%);
	background-image: -o-linear-gradient(top left, #3E3C3D 0%, #656263 100%);
	background-image: -webkit-gradient(linear, left top, right bottom, color-stop(0, #3E3C3D), color-stop(1, #656263));
	background-image: -webkit-linear-gradient(top left, #3E3C3D 0%, #656263 100%);
	background-image: linear-gradient(to bottom right, #3E3C3D 0%, #656263 100%);
    padding: 52px 10px 10px 10px;
    position: relative;
    width: 100%;
    min-height: 1000px;
    -webkit-box-shadow:  -10px 0px 9px 0px rgba(0, 0, 0, 0.4);
    box-shadow:  -10px 0px 9px 0px rgba(0, 0, 0, 0.4);
}

#current {
	background-color: #ffff80;
	position: relative;
	margin-top: 80px;
	margin-left: auto;
	margin-right: auto;
	width: 700px;
	height: auto;
	border-radius: 45px 45px 0 0;
	-webkit-box-shadow: -1px 3px 4px 0 rgba(50, 50, 50, 1);
	-moz-box-shadow:    -1px 3px 4px 0 rgba(50, 50, 50, 1);
	box-shadow:         -1px 3px 4px 0 rgba(50, 50, 50, 1);
}

#current h2 {
	position: relative;
	text-align: center;
	top: 10px;
	color: white;
	text-shadow: 1px 1px 4px black;
}

#image {
	position: relative;
	margin: 0 auto;
	width: 640px;
	height: 480px;
	bottom: 5px;
}

#last-played {
	background-color: #ffff80;
	position: relative;
	margin-left: auto;
	margin-right: auto;
	margin-top: 0;
	width: 700px;
	height: 175px;
	border-radius: 0 0 25px 25px;
}

#last-played h3 {
	position: relative;
	top: 10px;
	text-align: center;
	margin: 0;
	padding: 0;
	text-shadow: 1px 1px 4px #000;
}

#last-played img {
	position: relative;
	top: 15px;
	left: 40px;
	margin: 10px 10px 10px 10px;
	max-width: 100px;
	max-height: 100px;
	min-width: 100px;
	min-height: 100px;
	-webkit-box-shadow: -1px 3px 4px 0 rgba(50, 50, 50, 1);
	-moz-box-shadow:    -1px 3px 4px 0 rgba(50, 50, 50, 1);
	box-shadow:         -1px 3px 4px 0 rgba(50, 50, 50, 1);
}

#party {
	position: relative;
	top: -25px;
	border-radius: 0 0 40px 40px;
	text-align: center;
	text-shadow: 1px 1px #000;
	margin-left: auto;
	margin-right: auto;
	height: 75px;
	width: 200px;
	background-color: #80ffbf;
	-webkit-box-shadow: -1px 3px 4px 0 rgba(50, 50, 50, 1);
	-moz-box-shadow:    -1px 3px 4px 0 rgba(50, 50, 50, 1);
	box-shadow:         -1px 3px 4px 0 rgba(50, 50, 50, 1);
	background: -moz-linear-gradient(45deg, rgba(128,255,191,1) 0%, rgba(0,191,191,1) 100%); /* ff3.6+ */
	background: -webkit-gradient(linear, left bottom, right top, color-stop(0%, rgba(128,255,191,1)), color-stop(100%, rgba(0,191,191,1))); /* safari4+,chrome */
	background: -webkit-linear-gradient(45deg, rgba(128,255,191,1) 0%, rgba(0,191,191,1) 100%); /* safari5.1+,chrome10+ */
	background: -o-linear-gradient(45deg, rgba(128,255,191,1) 0%, rgba(0,191,191,1) 100%); /* opera 11.10+ */
	background: -ms-linear-gradient(45deg, rgba(128,255,191,1) 0%, rgba(0,191,191,1) 100%); /* ie10+ */
	background: linear-gradient(45deg, rgba(128,255,191,1) 0%, rgba(0,191,191,1) 100%); /* w3c */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00BFBF', endColorstr='#80ffbf',GradientType=1 ); /* ie6-9 */
}

#party h1 {
	padding-top: 15px;
}

#message {
	position: relative;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	width: 700px;
	height: 35px;
	color: white;
}

/*
The navigation container in the background
*/
nav {
    left: 0px;
    top: 0px;
    position: fixed;
    z-index: 0;
    width: 300px;
    height: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    overflow-x:hidden;
    overflow-y:auto ;
    background: #3e3c3d;
    background: -moz-linear-gradient(top,  #3e3c3d 0%, #2d2c2d 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#3e3c3d), color-stop(100%,#2d2c2d));
    background: -webkit-linear-gradient(top,  #3e3c3d 0%,#2d2c2d 100%);
    background: -o-linear-gradient(top,  #3e3c3d 0%,#2d2c2d 100%);
    background: -ms-linear-gradient(top,  #3e3c3d 0%,#2d2c2d 100%);
    background: linear-gradient(to bottom,  #3e3c3d 0%,#2d2c2d 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3e3c3d', endColorstr='#2d2c2d',GradientType=0 );
}

#settings-header {
	text-align: center;
	padding-top: 25px;
	padding-bottom: 25px;
	color: white;
	text-shadow: 1px 1px 1px #000;
}


.categories {
	margin-top: 50px;
}

.categories h3 {
	color: white;
	text-shadow: 1px 1px 1px #000;
	padding-left: 10px;
}

.row {
	position: relative;
	color: white;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 10px;
	background-color: white;
	height: 35px;
	text-shadow: .5px .5px 3px #000;
	-webkit-box-shadow: -1px 3px 4px 0 rgba(50, 50, 50, 1);
	-moz-box-shadow:    -1px 3px 4px 0 rgba(50, 50, 50, 1);
	box-shadow:         -1px 3px 4px 0 rgba(50, 50, 50, 1);

}

#lightblue {
	background-color: #8080ff;
}

#salmon {
	background-color: #ff8080;
}

#blue {
	background-color: #4da7ff;
}

#green {
	background-color: #c0ff80;
}

#orange {
	background-color: #ffbf80;
}

#lightblue:hover {
	background-color: red;
}
#salmon:hover {
	background-color: red;
}
#green:hover {
	background-color: red;
}
#blue:hover {
	background-color: red;
}
#orange:hover {
	background-color: red;
}

.row h3 {
	position: relative;
	bottom: 15px;
}

.count {
	float: right;
	margin-right: 20px;
}

#form {
	margin-top: 75px;
	position: relative;
	padding-top: 10px;
	padding-bottom: 20px;
	background-color: #80ffbf;
	width: 100%;
	text-align: center;
}

/*
The Layer that will be laid over the content
so that the content is unclickable while menu is shown
*/
#contentLayer {
    display: none;
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    position: absolute;
    right: 0;
    top: 0;
    width: 75%;
    z-index: 5;
    min-height: 1062px;
}