body {
    position: relative;
    margin: 0;
    padding: 10px;
    overflow-x: hidden;
    font-size: 18px;
	font-family: 'Roboto', sans-serif;
    color: black;
    background: url(../static/images/pi_display_config/mochaGrunge.png);
}
.hidden{display: none;}
.animate {transition: all .1s ease-in-out;}
.btn {
    border-radius: .3em;
}
.btn:hover {
    cursor: pointer;
    transform: scale(1.2);
}
.portlet {
    position: relative;
    margin: 2em auto;
    padding: .75em;
    background-color: #F2F2F2;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.46);
    border-radius: .3em;
    max-width: 40em;
    text-align: center ;
}
.portlet-title {
    display: inline-block;
    position: absolute;
    top: -.75em;
    left: 1em;
    padding: 0 .5em;
    font-size: 1.25em;
    font-family: 'Hind', sans-serif;
    color: white;
    text-shadow: 1px 2px 3px rgba(0, 0, 0, 0.46);
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.46);
    border-radius: .3em;
}
.portlet-body {
    margin: 1em;
}
.lightbox-overlay {
    z-index: 10;
    position: fixed;
    background: rgba(0, 0, 0, 0.7);
    top: 0;
    left: 0;
    overflow-y: auto;
    overflow-x: hidden;
    height: 100%;
    width: 100%;
}
.lightbox-content {
    padding: .75em;
}
.close-lightbox {
    position: absolute;
    top: .25em;
    right: .25em;
    font-size: 1.5em;
    color: rgb(219, 51, 64);
}
.gif-info-window {
    position: relative;
    margin: 0 auto;
    top: 1.5em;
    max-width: 30em;
    background-color: #F2F2F2;
    border-radius: .3em;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.46);
    text-align: center;
}
.gif-info-window img {
    width: 100%;
    border-radius: .2em;
}
.gif-tags-container {
    display: inline-block;
    padding: .5em;
}
.tag {
    display: inline-block;
    margin: .25em;
    padding: .4em;
    border: 1px solid #949494;
    border-radius: .3em;
    color: #949494;
    font-size: .8em;
}
.gif-info-window textarea {
    display: inline-block;
    margin: .5em;
    width: 80%;
    max-width: 40em;
    border: 1px solid #949494;
    border-radius: .3em;
}
.save-gif {
    display: inline-block;
    margin: .75em;
    margin-top: -1em;
    padding: .25em 1em;
    background-color: rgb(32, 218, 155);
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.46);
    color: white;
    text-shadow: 1px 2px 3px rgba(0, 0, 0, 0.46);
}
.gif-action-btn {
    display: inline-block;
    padding: .5em;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.46);
    color: white;
    text-shadow: 1px 2px 3px rgba(0, 0, 0, 0.46);
}
#edit-tags {
    background-color: rgb(40, 171, 227);
}
#remove-gif {
    background-color: rgb(219, 51, 64);
}
.current-gif-container {
    position: relative;
    margin: 0 auto;
    min-width: 10em;
    max-width: 20em;
}
.current-gif-container img {
    width: 100%;
    border-radius: .25em;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.46);
}
.settings-btn {
    opacity: 0.2;
    position: absolute;
    padding: .6em .75em;
    right: .25em;
    top: .25em;
    border-radius: 50%;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.46);
}
.settings-btn:hover {
    cursor: pointer;
    opacity: 1;
    transform: scale(1.2);
}
.settings-btn i {
    font-size: 2.5em;
    color: white;
    text-shadow: 1px 2px 3px rgba(0, 0, 0, 0.46);
}
.nav-container {
    position: relative;
    margin: 0 auto;
    padding: .5em;
    border-radius: .3em;
    text-align: center;
}
.nav-btn {
    display: inline-block;
    position: relative;
    margin: .25em;
    padding: .5em .75em;
    text-align: center;
    height: 1.5em;
    line-height: 1.5em;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.46);
    border-radius: .3em;
    color: white;
    text-shadow: 1px 2px 2px rgba(0, 0, 0, 0.46);
}
.nav-btn:active {
    top: 6px;
}
.btn-selected {
    transform: scale(1.2);
}
.gif-wrapper {
    display: inline-block;
    margin: .5em;
    vertical-align: top;
}
.gif-wrapper img {
    width: 6.5em;
    height: 6.5em;
    border-radius: .3em;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.46);
}
.more-gifs {
    position: absolute;
    height: 2em;
    line-height: 2em;
    width: 5em;
    bottom: -.6em;
    right: 1em;
    color: white;
    text-shadow: 1px 2px 2px rgba(0, 0, 0, 0.46);
    background-color: rgb(40, 171, 227);
    border-radius: .3em;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.46);
}
.last-played {
    display: block;
    font-size: .75em;
    color: #949494;
}