/* ****************** */
/* Previous GIFs Page */
/* ****************** */

body {
    margin: 0;
    padding: 0;
    overflow-x:hidden;
	font-family: Arial;
    font-size: 18px;
	text-shadow: 1px 1px 1px #000;
}

h1 {
	color: #FFFFFF;
	text-align: center;
}

a {
	text-decoration: none;
}

a:link {
	color: #FFFFFF;
}

a:visited {
	color: #000000;
}

a h1:hover {
	color: red;
}

a h2:hover {
	color: red;
}

header {
    position: absolute;
	top: 0;
	padding: 10px;
	background-color: #80c0ff;
	color: white;
	text-decoration: none;
    position: fixed;
    width: 100%;
	height: 70px;
    z-index: 1;
	-webkit-box-shadow:  -10px 0px 9px 0px rgba(0, 0, 0, 0.4);
    box-shadow:  -10px 0px 9px 0px rgba(0, 0, 0, 0.4);
}

#container {
	position: absolute;
	top: 0;
	background-image: -ms-linear-gradient(top left, #3E3C3D 0%, #656263 100%);
	background-image: -moz-linear-gradient(top left, #3E3C3D 0%, #656263 100%);
	background-image: -o-linear-gradient(top left, #3E3C3D 0%, #656263 100%);
	background-image: -webkit-gradient(linear, left top, right bottom, color-stop(0, #3E3C3D), color-stop(1, #656263));
	background-image: -webkit-linear-gradient(top left, #3E3C3D 0%, #656263 100%);
	background-image: linear-gradient(to bottom right, #3E3C3D 0%, #656263 100%);
    width: 100%;
	min-height: 1000px;
	-webkit-box-shadow:  -10px 0px 9px 0px rgba(0, 0, 0, 0.4);
    box-shadow:  -10px 0px 9px 0px rgba(0, 0, 0, 0.4);
}

#content {
	margin-top: 125px;
}

.previous-gifs {
	text-align: center;
	width: 700px;
	margin-left: auto;
	margin-right: auto;
}

.image {
	max-width: 100px;
	max-height: 100px;
	min-width: 100px;
	min-height: 100px;
	margin-top: 15px;
	margin-left: 10px;
	margin-right: 10px;
}

.next {
	width: 280px;
	height: 100px;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}

#next {
	float: right;
}

#back {
	float: left;
}