body {
    margin-left: 50px;
	margin-top: 50px;
	width: 90%;
}

.about {
  position: fixed;
  right: -5px;
  width: 125px;
  background: #aa34d9;
  background-image: -webkit-linear-gradient(top, #aa34d9, #333f70);
  background-image: -moz-linear-gradient(top, #aa34d9, #333f70);
  background-image: -ms-linear-gradient(top, #aa34d9, #333f70);
  background-image: -o-linear-gradient(top, #aa34d9, #333f70);
  background-image: linear-gradient(to bottom, #aa34d9, #333f70);
  -webkit-border-radius: 13;
  -moz-border-radius: 13;
  border-radius: 35px 0 0 35px;
  text-shadow: 2px 1px 5px #666666;
  -webkit-box-shadow: 0px 2px 7px #666666;
  -moz-box-shadow: 0px 2px 7px #666666;
  box-shadow: 0px 2px 7px #666666;
  font-family: Arial;
  color: #ffffff;
  font-size: 32px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.about:hover {
  background: #ba48ba;
  background-image: -webkit-linear-gradient(top, #ba48ba, #ab26e0);
  background-image: -moz-linear-gradient(top, #ba48ba, #ab26e0);
  background-image: -ms-linear-gradient(top, #ba48ba, #ab26e0);
  background-image: -o-linear-gradient(top, #ba48ba, #ab26e0);
  background-image: linear-gradient(to bottom, #ba48ba, #ab26e0);
  text-decoration: none;
}

.about a {
	float: right;
	color: #FFFFFF;
	text-decoration: none;
}

.container h1 {
	display: block;
	text-align: center;
	font-size: 8em;
}

.title-count {
	margin-left: 85px;
}

.title-count p {
	margin-left: 5px;
}

h3 {
	margin-bottom: 0;
}

.col-md-4 {
	margin-bottom: 50px;
}