/* *********************************
   Reddit Image Scraper Styles
   ********************************* */

html {
	height: 100%;
}

body {
	font-family: 'Open Sans';
	background-color: white;
}

a:link {
	color: black;
	text-shadow: 1px 1px 3px #FFF;
	text-decoration: none;
}

a:hover {
	color: red;
}

a:visited {
	color: black;
	text-shadow: 1px 1px 3px #FFF;
}

#welcome-container {
	position: relative;
	top: 0;
	width: 55%;
	margin: 0 auto;
	padding: 0;
}

#welcome-container p {
	text-align: center;
	color: black;
}

#welcome-div {
	background-color: #f2f2f2;
	border-radius: 3px;
	box-shadow: 1px 1px 3px #000;
	height: 675px;
	min-width: 500px;
	max-width: 600px;
	margin-top: 5%;
}

#welcome-div h1 {
	position: relative;
	margin: 0;
	width: 100%;
	text-align: center;
	color: #004185;
	text-shadow: 1px 1px 1px #000;
}

@media (min-width: 0) {
	#welcome-div h1 {
		font-size: 42px;
	}
}

@media (min-width: 1000px) {
	#welcome-div h1 {
		font-size: 52px;
	}
}

.alert {
	position: relative;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	background-color: rgb(28, 141, 255);
	border-radius: 5px;
	width: 400px;
	height: 75px;
	padding-top: 25px;
}

#welcome-container .alert p {
	color: white;
	text-shadow: 1px 1px 1px #000;
	margin-top: 0;
	margin-bottom: 0;
}

#form-wrapper {
	position: relative;
	margin-left: auto;
	margin-right: auto;
	min-width: 400px;
	max-width: 400px;
	height: 400px;
}

#form-container {
	color: black;
	margin-left: auto;
	margin-right: auto;
	min-width: 350px;
	max-width: 350px;
	height: 400px;
	padding: 25px;
}

#form-container p {
	text-align: center;
	font-size: 20px;
	margin: 0;
}

#form-actual {
	text-align: center;
}

input {
	background-color: white;
	color: gray;
    height: 55px;
	line-height: 55px;
	font-size: 35px;
	padding-left: 25px;
	width: 95%;
	margin-bottom: 15px;
	border-style: none;
	border-radius: 5px;
	box-shadow: .5px .5px 3px #000;
}

::-webkit-input-placeholder {
   font-size: 24px;
   color: #cccccc;
}

:-moz-placeholder { /* Firefox 18- */
   font-size: 24px;
   color: #cccccc;
}

::-moz-placeholder {  /* Firefox 19+ */
   font-size: 24px;
   color: #cccccc;
}

:-ms-input-placeholder {
   font-size: 24px;
   color: #cccccc;
}

.select-box {
	color: #cccccc;
	background-color: white;
	height: 25px;
	width: 25%;
	height: 35px;
	line-height: 35px;
	font-size: 25px;
	border-radius: 3px;
	box-shadow: 1px 1px 3px #000;
}

.select-box.customSelectHover {
	background-color: red;
}

#form-actual > form > div:nth-child(5) > p {
	margin-top: 15px;
}

#submit {
	background-color: #ff5151;
	color: white;
	text-shadow: 1px 1px 3px #000;
	height: 15px;
	font-size: 28px;
	padding-bottom: 55px;
	border-radius: 3px;
	box-shadow: 1px 1px 3px #000;
}

#submit:hover {
	background-color: red;
}

#suggestions {
	margin-top: 10px;
	text-align: center;
	color: white;
	text-shadow: 1px 1px 1px #000;
	width: 100%;
	min-width: 500px;
	max-width: 600px;
	height: 75px;
	border-radius: 3px;
	background-color: #00cf68;
	box-shadow: 1px 1px 3px #000;
}

#suggestions h3 {
	position: relative;
	top: 5px;
}

#suggestions p {
	display: inline-block;
	color: white;
	margin: 0 12px;
}


/* *********************************
   Results Page
   ********************************* */

#results-container {
	background-color: #f2f2f2;
	box-shadow: 1px 1px 3px #000;
	padding: 25px;
	width: 75%;
	min-width: 900px;
	margin-left: auto;
	margin-right: auto;
	border-radius: 3px;
}

#results-title h1 {
	margin: -5px 0;
}

#results-title h3, h5 {
	margin: 3px 0;
}

img {
	max-height: 250px;
	max-width: 250px;
}


/* *********************************
   Results Image Grid
   ********************************* */
ul.rig {
	list-style: none;
	font-size: 0px;
	margin-left: -2.5%; /* should match li left margin */
	margin-right: 2.5%;
}

ul.rig li {
	text-align: center;
	color: black;
	text-shadow: none;
	display: inline-block;
	padding: 10px;
	margin: 0 0 2.5% 2.5%;
	font-size: 16px;
	font-size: 1rem;
	vertical-align: top;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}

ul.rig li img {
	max-width: 75%;
	max-height: 75%;
	height: auto;
	margin: 0 0 10px;
}

ul.rig li h3 {
	margin: 0 0 5px;
}

ul.rig li p {
	font-size: 1.60em;
	line-height: 1.5em;
	color: #999;
}

.permalink {
	position: a;
	bottom: 0;
	font-size: 12px;
}

/* class for 2 columns */
ul.rig.columns-2 li {
	width: 47.5%; /* this value + 2.5 should = 50% */
}

/* class for 3 columns */
ul.rig.columns-3 li {
	width: 30.83%; /* this value + 2.5 should = 33% */
}

/* class for 4 columns */
ul.rig.columns-4 li {
	width: 22.5%; /* this value + 2.5 should = 25% */
}

#indirect-urls {
	margin-left: auto;
	margin-right: auto;
	background: rgb(69, 108, 152);
	background: -moz-linear-gradient(30deg, rgb(69, 108, 152) 30%, rgb(64, 87, 149) 70%);
	background: -webkit-linear-gradient(30deg, rgb(69, 108, 152) 30%, rgb(64, 87, 149) 70%);
	background: -o-linear-gradient(30deg, rgb(69, 108, 152) 30%, rgb(64, 87, 149) 70%);
	background: -ms-linear-gradient(30deg, rgb(69, 108, 152) 30%, rgb(64, 87, 149) 70%);
	background: linear-gradient(120deg, rgb(69, 108, 152) 30%, rgb(64, 87, 149) 70%);
	padding: 15px;
	border-radius: 10px;
}

#indirect-urls h3 {
	color: white;
	text-shadow: 1px 1px 4px #000;
}

#indirect-urls ul {
	list-style: none;
	margin-left: auto;
	margin-right: auto;
	padding: 15px 15px 15px 15px;
}

#indirect-urls li {
	word-wrap: break-word;
	background-color: white;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 25px;
	width: 100%;
	padding: 5px;
	border-radius: 5px;
	box-shadow: 1px 1px 3px #000;
}

#indirect-urls #indirect-title {
	font-size: 22px;
	margin: 0;
}
#indirect-urls p {
	font-size: 14px;
	margin: 0;
}

#indirect-urls li a {
	color: black;
	text-shadow: none;
}

#indirect-urls li a:hover {
	color: red;
	text-shadow: none;
}

#results-container > a {
	width: 50
}

#back {
	color: white;
	text-shadow: 1px 1px 5px #000;
}

#back:visited {
	color: white;
	text-shadow: 1px 1px 3px #000;
}

#back:hover {
	color: red;
}