/* *********************************
   Blog Stylesheet
   ********************************* */

body {
  -webkit-font-smoothing: antialiased;
  text-shadow: 1px 1px 1px rgba(0,0,0,0.080);
  background-color: #2f2f2f;
}

p {
  font-family: 'Open Sans';
}

#face {
  position: relative;
  float: left;
  bottom: 25px;
}

#projects-title {
  text-align: center;
}

#hr {
  position: relative;
  margin: auto;
  width: 25%;
}

/* *********************************
   Projects Image Grid
   ********************************* */
#projects-div {
	position: relative;
	min-width: 700px;
}

.big-link {
	position: relative;
	text-align: center;
	width: 80%;
	margin: 0 auto;
}

.big-link a h1{
	color: #1abc9c;
}

.big-link a h1:hover {
	color: #7b7b7b;
}
   
   
ul.rig {
	list-style: none;
	font-size: 0px;
	margin-left: -2.5%; /* should match li left margin */
	margin-right: 2.5%;
}

ul.rig li {
	text-align: center;
	height: 350px;
	width: 300px;
	display: inline-block;
	padding: 10px;
	margin: 0 0 2.5% 2.5%;
	font-size: 16px;
	font-size: 1rem;
	vertical-align: top;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}

ul.rig li img {
	max-width: 75%;
	max-height: 75%;
	border-radius: 5px;
	height: auto;
	margin: 0 0 10px;
}

ul.rig li h3 {
	margin: 0 0 5px;
}

ul.rig li p {
	font-size: 1.60em;
	line-height: 1.5em;
	color: #999;
}

/* class for 2 columns */
ul.rig.columns-2 li {
	width: 47.5%; /* this value + 2.5 should = 50% */
}

/* class for 3 columns */
ul.rig.columns-3 li {
	width: 30.83%; /* this value + 2.5 should = 33% */
}

/* class for 4 columns */
ul.rig.columns-4 li {
	width: 22.5%; /* this value + 2.5 should = 25% */
}

@media (max-width: 480px) {
	ul.grid-nav li {
		display: block;
		margin: 0 0 5px;
	}
	ul.grid-nav li a {
		display: block;
	}
	ul.rig {
		margin-left: 0;
	}
	ul.rig li {
		width: 50%; /*!important;  over-ride all li styles */
		margin: 0 0 20px;
	}
}

ul.rig .project-images {
	position: relative;
	background: none;
	box-shadow: none;
	border: none;
}

#project-screenshots img {
	position: relative;
	max-height: 100%;
	max-width: 100%;
	margin: auto;
}

#project-screenshots {
	text-align: center;
}

.date {
  font-family: Arial;
  font-size: 12px;
}

h1 {
  margin: 0 0;
}

pre code{
  word-wrap: normal;
  white-space: pre;
}

.function {
  color: #66B2FF;
}

#continue-link {
  float: right;
}

.top-link {
  float: right;
}

#pi-images {
  text-align: center;
}

#pi-images img {
  display: inline-block;
}

.video {
  text-align: center;
}

/* *********************************
   Parallax Navbar
   credit to DesignMite
   http://www.designmite.com/responsive-parallax-navbar-tutorial/
   ********************************* */

.navbar-inverse {
  background: rgba(62, 195, 246, 0);
  border-bottom: none;
}

.navbar-collapse {
  z-index: 1;
}

.navbar-inverse .navbar-toggle {
  border: 1px solid #333;
  border-color: rgba(255, 255, 255, 0.7);
  z-index: 1;
}

.navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form {
  border-color: transparent;
}

@media (max-width: 767px) {
  .navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form {
    background: rgba(255, 255, 255, 0.75);
  }
}

.navbar-inverse .navbar-nav > li > a {
  color: white;
  text-shadow: 0px 2px 3px rgba(0,0,0,0.4),
             0px 4px 13px rgba(0,0,0,0.1),
             0px 9px 23px rgba(0,0,0,0.1);
}

.navbar-inverse .navbar-nav > li > a:hover, .navbar-inverse .navbar-nav > li > a:focus {
  color: #bc1a3a;
}

/* *********************************
           Toolbar Logo
  ********************************** */
.small-logo-container {
  padding-top: 50px;
  padding-left: 25px;
  height: 50px;
  overflow: hidden;
  position: absolute;
}

.small-logo:hover {
  color: #bc1a3a;
}

.small-logo {
  position: relative;
  top: 10px;
  color: white;
  font-size: 1.3em;
  text-shadow: 0px 2px 3px rgba(0,0,0,0.4),
             0px 4px 13px rgba(0,0,0,0.1),
             0px 9px 23px rgba(0,0,0,0.1);
}

@media (min-width: 430px) {
  .small-logo {
    font-size: 2.5em;
	top: auto;
  }
}

/* *********************************
           Big Logo on Header
  ********************************** */
.big-logo-row {
  background-color: #1abc9c;
}

.big-logo-row .big-logo-container {
  padding-top: 50px;
}

.big-logo-row h1 {
  font-size: 2em;
  margin: 30px 0 0 0;
  padding: 0 0 15px 0;
  color: #FFFFFF;
  text-shadow: 0px 4px 3px rgba(0,0,0,0.4),
             0px 8px 13px rgba(0,0,0,0.1),
             0px 18px 23px rgba(0,0,0,0.1);
}

@media (min-width: 0) {
  .big-logo-row h1 {
    position: absolute;
	font-size: 1.5em;
	text-align: center;
	top: 190px;
	left: 48px;
	margin: 0 0 0 0;
  }
  .big-logo-container {
	height: 200px;
  }
}

@media (min-width: 500px) {
  .big-logo-row h1 {
    font-size: 2em;
	float: right;
	position: relative;
	top: auto;
	bottom: 110px;
	left: auto;
  }
}

@media (min-width: 505px) {
  .big-logo-row h1 {
    font-size: 2em;
	bottom: -110px;
  }
}

@media (min-width: 760px) {
  .big-logo-row h1 {
    position: relative;
	font-size: 4.5em;
	bottom: auto;
  }
}

@media (min-width: 990px) {
  .big-logo-row h1 {
    font-size: 6em;
	bottom: 0;
  }
}

/* Warning Page */
#warning {
	text-align: center;
}

#warning-links {
	font-size: 22px;
	margin-bottom: 60px;
}

/* Additional class to apply to images to round their corners */
.rounded-images {
	border-radius: 15px;
}