/* *********************************
   Blog Stylesheet
   ********************************* */

body {
  -webkit-font-smoothing: antialiased;
  text-shadow: 1px 1px 1px rgba(0,0,0,0.080);
  background-color: #2f2f2f;
  font-family: 'Lato', sans-serif;
}

#face {
  position: relative;
  float: left;
  bottom: 25px;
}

#projects-title {
  text-align: center;
}

hr {
    margin: 15px 0;
	border: 0;
    height: 1px;
    background-color: #1abc9c;
}

.animate {
	-webkit-transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
}

.grey h2, .white h2 {
	color: rgb(26, 139, 188);
}

/* *********************************
   Projects Image Grid
   ********************************* */

.date {
  font-family: Arial;
  font-size: 12px;
}

pre code{
  word-wrap: normal;
  white-space: pre;
}

.function {
  color: #66B2FF;
}

.continue-link {
  float: right;
}

.top-link {
  float: right;
}

#pi-images {
  text-align: center;
}

#pi-images img {
  display: inline-block;
}

.video {
  text-align: center;
}

/* *********************************
   Parallax Navbar
   credit to DesignMite
   http://www.designmite.com/responsive-parallax-navbar-tutorial/
   ********************************* */
.navbar-inverse {
  background: rgba(62, 195, 246, 0);
  border-bottom: none;
}

.navbar-collapse {
  z-index: 1;
}

.navbar-inverse .navbar-toggle {
  border: 1px solid #333;
  border-color: rgba(255, 255, 255, 0.7);
  z-index: 1;
}

.navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form {
  border-color: transparent;
}

@media (max-width: 767px) {
  .navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form {
    background: rgba(255, 255, 255, 0.75);
  }
}

.navbar-inverse .navbar-nav > li > a {
  color: white;
  text-shadow: 0px 2px 3px rgba(0,0,0,0.4),
             0px 4px 13px rgba(0,0,0,0.1),
             0px 9px 23px rgba(0,0,0,0.1);
}

.navbar-inverse .navbar-nav > li > a:hover, .navbar-inverse .navbar-nav > li > a:focus {
  color: #bc1a3a;
}

.navbar-collapse {
	position: relative;
	bottom: 6px;
}

/* *********************************
           Toolbar Logo
  ********************************** */
.small-logo-container {
  padding-top: 50px;
  padding-left: 25px;
  height: 50px;
  overflow: hidden;
  position: absolute;
}

.small-logo:hover {
  color: #bc1a3a;
}

.small-logo {
  position: relative;
  top: 10px;
  color: white;
  font-size: 1.3em;
  text-shadow: 0px 2px 3px rgba(0,0,0,0.4),
             0px 4px 13px rgba(0,0,0,0.1),
             0px 9px 23px rgba(0,0,0,0.1);
}

@media (min-width: 430px) {
  .small-logo {
    font-size: 2.5em;
	top: auto;
  }
}

/* *********************************
           Big Logo on Header
  ********************************** */
.big-logo-row {
  background-color: #1abc9c;
}

.big-logo-row .big-logo-container {
  padding-top: 50px;
}

.big-logo-row h1 {
  font-size: 2em;
  margin: 30px 0 0 0;
  padding: 0 0 15px 0;
  color: #FFFFFF;
  text-shadow: 0px 4px 3px rgba(0,0,0,0.4),
             0px 8px 13px rgba(0,0,0,0.1),
             0px 18px 23px rgba(0,0,0,0.1);
}

@media (min-width: 0) {
  .big-logo-row h1 {
    position: absolute;
	font-size: 1.5em;
	text-align: center;
	top: 190px;
	left: 48px;
	margin: 0 0 0 0;
  }
  .big-logo-container {
	height: 200px;
  }
}

@media (min-width: 500px) {
  .big-logo-row h1 {
    font-size: 2em;
	float: right;
	position: relative;
	top: auto;
	bottom: 110px;
	left: auto;
  }
}

@media (min-width: 505px) {
  .big-logo-row h1 {
    font-size: 2em;
	bottom: -110px;
  }
}

@media (min-width: 760px) {
  .big-logo-row h1 {
    position: relative;
	font-size: 4.5em;
	bottom: auto;
  }
}

@media (min-width: 990px) {
  .big-logo-row h1 {
    font-size: 6em;
  }
}

/* Warning Page */
#warning {
	text-align: center;
}

#warning-links {
	font-size: 22px;
	margin-bottom: 60px;
}

/* Additional class to apply to images to round their corners */
.rounded-images {
	border-radius: 15px;
}

ul.rig.columns-3 li.article-image {
	height: auto;
}

/* Image on the 'About Me' page */
.about-pics {
	position: relative;
	margin: 0 auto;
}

/* ************* */
/* Projects Page */
/* ************* */
#projects-div {
	position: relative;
	margin: 0 auto;
	width: 970px;
}

#projects-grid {
	position: relative;
	margin: 0 auto;
	width: 970px;
}

.project {
	position: relative;
	margin: 0 auto;
	margin: 10px;
	width: 300px;
	height: 300px;
	color: white;
	text-shadow: 1px 1px .5px #000;
	box-shadow: 1px 1px 5px #000;
	border-radius: 5px;
}

@media (min-width: 0) {
	#projects-div, #projects-grid {
		width: 320px;
	}
}

@media (min-width: 650px) {
	#projects-div, #projects-grid {
		width: 650px;
	}
}

@media (min-width: 970px) {
	#projects-div, #projects-grid {
		width: 970px;
	}
}

.project:hover {
	cursor: pointer;
	-moz-box-shadow: 0px 0px 30px 1px rgb(26, 139, 188);
	-webkit-box-shadow: 0px 0px 30px 1px rgb(26, 139, 188);
	box-shadow: 0px 0px 30px 1px rgb(26, 139, 188);
}

.project img {
	width: 300px;
	height: 300px;
	border-radius: 5px;
}

.project-text {
	position: absolute;
	bottom: 0;
	width: 300px;
	height: 55px;
	background-color: #1abc9c;
	border-radius: 0 0 5px 5px;
}

.project-title {
	position: absolute;
	bottom: 20px;
	left: 5px;
	font-size: 22px;
}

.project-description {
	position: absolute;
	bottom: 5px;
	left: 8px;
	font-family: 'Droid Sans', sans-serif;
}

/* Individual Projects Pages */
.project-page-info {
	margin: 0;
	text-align: center;	
}

.project-page-title {
	display: block;
	margin: 10px 0;
	min-width: 100px;
	font-size: 52px;
	background-color: #1abc9c;
	color: white;
	box-shadow: 1px 1px 3px #000;
}

.button {
	display: inline-block;
	position: relative;
	margin: 0 5px;
	height: 50px;
	min-width: 125px;
	background-color: rgb(26, 139, 188);
	border: 3px solid white;	
	padding: 10px;
	color: white;
}

.button p {
	color: white;
}

.button:hover {
	cursor: pointer;
	background-color: #1abc9c;
}

.github-links {
	position: relative;
	margin: 5px auto;
	height: 75px;
	min-width: 300px;
}

.github-links i {
	display: block;
}

.github-links a {
	display: inline-block;
	margin: 0 5px;
}

.technology-used {
	position: relative;
	margin: 5px auto;
	height: 75px;
	min-width: 100px;
}

.tech-title {
	font-size: 22px;
	margin: 0;
}

.big-link {
	color: #1abc9c;
	font-size: 36px;
}

div.project-screenshots {
	position: relative;
	margin: 0 auto;
	width: 750px;
	min-height: 360px;
}

div.project-screenshots img {
	display: inline-block;
	height: 350px;
	width: 350px;
	margin: 5px;
}

/* Footer */
.footer-links a {
	margin-left: 5px;
	margin-right: 10px;
}