/* Navbar */
#menu {
    width: 100%;
	height: 35px;
	font-size: 16px;
	font-family: Helvetica, Verdana, Arial;
	font-weight: bold;
	text-align: center;
	border-radius: 10px 0;
	background-color: #330066;
}

#menu ul {
	height: auto;
	width: 800px;
	padding: 8px 0;
	margin: 0 auto;
}

#menu li {
    display: inline;
	padding: 20px;
}

#menu a {
    text-decoration: none;
	color: #FFFFFF;
	padding: 8px 8px 8px 8px;
}

#menu a:hover{
	color: #000000;
	background-color: #FFFFFF;
}

#name {
	color: #FFFFFF;
	position: absolute;
	left: 25px;
	top: -12px;
	font-family: Verdana;
	text-shadow: 2px 2px 0 #000000,
               0 2px 0 #000000,
               0 3px 0 #000000,
               0 4px 0 #000000,
               0 1px 0 #000000,
               0 6px 1px rgba(0,0,0,.1),
               0 0 5px rgba(0,0,0,.1),
               0 1px 3px rgba(0,0,0,.3),
               0 3px 5px rgba(0,0,0,.2),
               0 5px 10px rgba(0,0,0,.25),
               0 10px 10px rgba(0,0,0,.2),
               0 20px 20px rgba(0,0,0,.15);
}

#email {
	position: absolute;
	right: 25px;
	top: 8px;
	color: #FFFFFF;
}

/* Main content blocks */
.content {
	padding-top: 40px;
	width: 50%;
	margin: 0 auto;
}

.text {
	margin: 0 auto;
	font-family: Verdana, Arial;
	text-align: justify;
	padding-top: 10px;
	padding-right: 10px;
	padding-left: 10px;
}

#header {
	background-color: #ffffff;
	margin: 0 auto;
	height: 55px;
}

#header h1 {
    text-shadow: 0px 2px 2px rgba(0,0,0,0.4),
             0px 4px 10px rgba(0,0,0,0.1),
             0px 15px 20px rgba(0,0,0,0.1);
	padding-left: 19px;
	padding-top: 6px;
	color: #443266;
	font-family: Courier;
}

#date {
	color: #CC0000;
	position: relative;
	text-align: left;
	bottom: 30px;
	left: 30px;
	font-family: Verdana, Arial;
	text-shadow: 1px 1px 0px rgba(0,0,0,0.2);
}

/* Image Thumbnails */
.thumb {
	max-width: 150px;
    max-height: 150px;
    min-width: 150px;
    min-height: 150px;
}

#imagebar {
	text-align: center;
}

/* Github link under thumbnails */
#github {
	font-family: Verdana, Arial;
	position: relative;
	text-decoration: none;
	color: #66CC00;
	left: 47%;
}

/* Project titles */
#title {
	padding-top: 50px;
	text-align: center;
	font-family: Verdana, Arial;
	text-shadow: 0px -2px 0px #333,
                  0px 2px 7px #666;
}

/* Project blurb */
.blurb {
	margin: 0 auto;
	font-family: Verdana, Arial;
	text-align: justify;
	padding-left: 15px;
	padding-bottom: 25px;
}