/* Navbar */
#menu {
    width: 100%;
	height: 35px;
	font-size: 16px;
	font-family: Helvetica, Verdana, Arial;
	font-weight: bold;
	text-align: center;
	border-radius: 10px 0;
	background-color: #330066;
}

#menu ul {
	height: auto;
	width: 800px;
	padding: 8px 0;
	margin: 0 auto;
}

#menu li {
    display: inline;
	padding: 20px;
}

#menu a {
    text-decoration: none;
	color: #FFFFFF;
	padding: 8px 8px 8px 8px;
}

#menu a:hover{
	color: #000000;
	background-color: #FFFFFF;
}

#name {
	color: #FFFFFF;
	position: absolute;
	left: 25px;
	top: -10px;
	font-family: Verdana;
}

#email {
	position: absolute;
	right: 25px;
	top: 8px;
	color: #FFFFFF;
}

/* Main content blocks */
.content {
	padding-top: 40px;
	width: 50%;
	margin: 0 auto;
}

.text {
	margin: 0 auto;
	font-family: Verdana, Arial;
	text-align: justify;
	padding-left: 15px;
	padding-top: 25px;
}

#header {
	margin: 0 auto;
	background-color: #330066;
	height: 45px;
	color: #FFFFFF;
	border-radius: 25px 25px 0 0;
}

#header h1 {
    font-family: Courier;
	padding-left: 25px;
	padding-top: 0.5px;
}

#date {
	position: relative;
	text-align: right;
	padding-right: 15px;
	bottom: 58px;
	font-family: Verdana, Arial;
}

/* Image Thumbnails */
.thumb {
	max-width: 150px;
    max-height: 150px;
    min-width: 150px;
    min-height: 150px;
}

#imagebar {
	text-align: center;
	padding-left: 40px;
}

/* Github link under thumbnails */
#github {
	font-family: Verdana, Arial;
	position: relative;
	text-decoration: none;
	color: #66CC00;
	left: 50%;
}

/* Project titles */
#title {
	padding-top: 50px;
	text-align: center;
	font-family: Verdana, Arial;
}

/* Project blurb */
.blurb {
	margin: 0 auto;
	font-family: Verdana, Arial;
	text-align: justify;
	padding-left: 15px;
	padding-bottom: 25px;
}