body {
	-webkit-font-smoothing: antialiased;
	text-shadow: 1px 1px 1px rgba(0,0,0,0.080);
}

p {
	font-family: 'Open Sans';
}

#face-name {
	position: relative;
	bottom: 10px;
}

body div.navbar.navbar-inverse.navbar-static-top div div.navbar-header button {
	padding-top: 85px;
	z-index: 2;
	background-color: #1abc9c;
}

body div.navbar.navbar-inverse.navbar-static-top div div.navbar-collapse.collapse ul {
	padding-top: 85px;
}

body div.navbar.navbar-inverse.navbar-static-top div div.navbar-collapse.collapse.in ul {
	padding-top: 0;
}

.brand {
	display: inline-block;
	position: absolute;
	font-weight: 700;
	font-size: 20px;
	color: #FFFFFF;
	letter-spacing: 2px;
	bottom: 25px;
	left: 6px;
	z-index: 1;
}

.button {
	display: inline-block;
}

.buttons {
	margin: 0 auto;
	width: 65%;
	height: 50%;
	text-align: center;
}

.date {
	font-family: Arial;
	font-size: 12px;
}

h1 {
	margin: 0 0;
}

pre code{
  word-wrap: normal;
  white-space: pre;
}

.function {
	color: #66B2FF;
}

#continue-link {
	float: right;
}