body {
	-webkit-font-smoothing: antialiased;
	text-shadow: 1px 1px 1px rgba(0,0,0,0.080);
}

.button1 {
	display: inline-block;
}

.button2 {
	display: inline-block;
}

.buttons {
	margin: 0 auto;
	width: 65%;
	height: 50%;
	text-align: center;
}