body {
	behavior: url(http://tylerkershner.pythonanywhere.com/static/PIE.htc);
	background-color: #FFFFFF;
	text-shadow: 1px 1px 1px rgba(0,0,0,0.004);
	background-image: -webkit-gradient(
	linear,
	left top,
	left bottom,
	color-stop(0, #F0E1CC)
);
background-image: -o-linear-gradient(bottom, #F0E1CC 0%);
background-image: -moz-linear-gradient(bottom, #F0E1CC 0%);
background-image: -webkit-linear-gradient(bottom, #F0E1CC 0%);
background-image: -ms-linear-gradient(bottom, #F0E1CC 0%);
background-image: linear-gradient(to bottom, #F0E1CC 0%);
}


/* Navbar */
#menu {
    position: fixed;
	top: 0;
	left: 0;
	z-index: 1;
	width: 500px;
	height: 35px;
	font-size: 16px;
	font-family: Helvetica, Verdana, Arial;
	font-weight: bold;
	text-align: center;
	-webkit-border-radius: 0 0 55px 55px;
	-moz-border-radius: 0 0 55px 55px;
	border-radius: 0 0 55px 55px;
	border: 1px solid #999;background-color: #330066;
	behavior: url(http://tylerkershner.pythonanywhere.com/static/css/PIE.htc);
}

#menu ul {
	position: fixed;
	left: 210px;
	top: -15px;
	height: auto;
	width: 300px;
	padding: 8px 0;

}

#menu li {
    display: inline;
	padding: 2px;
}

#menu a {
    text-decoration: none;
	color: #FFFFFF;
	padding: 9px 9px 9px 9px;
	text-shadow:2px 2px 2px #000000,
               0 2px 2px #000000
}

#menu a:hover {
	color: #000000;
	background-color: #FFFFFF;
	text-shadow: none;
}

#name {
	color: #FFFFFF;
	position: fixed;
	left: 25px;
	top: -20px;
	font-family: Verdana;
	text-shadow: 2px 2px 0 #000000,
               0 2px 0 #000000,
               0 3px 0 #000000,
               0 4px 0 #000000,
               0 1px 0 #000000,
               0 6px 1px rgba(0,0,0,.1),
               0 0 5px rgba(0,0,0,.1),
               0 1px 3px rgba(0,0,0,.3),
               0 3px 5px rgba(0,0,0,.2),
               0 5px 10px rgba(0,0,0,.25),
               0 10px 10px rgba(0,0,0,.2),
               0 20px 20px rgba(0,0,0,.15);
}

/*Footer */
#footer {
	position: fixed;
	bottom: 0;
	right: 0;
	width: 290px;
	height: 35px;
	font-size: 16px;
	font-family: Helvetica, Verdana, Arial;
	font-weight: bold;
	-webkit-border-radius: 55px 55px 0 0;
	-moz-border-radius: 55px 55px 0 0;
	border-radius: 55px 55px 0 0;
	background-color: #009966;
	text-align: right;
	behavior: url(http://tylerkershner.pythonanywhere.com/static/css/PIE.htc);
}

#footer a {
    text-decoration: none;
	color: #FFFFFF;
	padding: 8px 8px 8px 8px;
	text-shadow:2px 2px 2px #000000,
               0 2px 2px #000000
}

#footer a:hover {
	color: #000000;
	background-color: #FFFFFF;
	text-shadow: none;
}

#gitlink {
	color: #C6C6C6;
	position: absolute;
	right: 215px;
	top: 8px;
}

#email {
	position: absolute;
	right: 8px;
	top: 8px;
}

/* Main content blocks */
.content {
	position: relative;
	top: 45px;
	padding: 5px 20px;
	background-color: #445569;
	margin-left: auto;
	margin-right: auto;
	width: 75%;
	-webkit-border-radius: 45px 80px 80px 0;
	-moz-border-radius: 45px 80px 80px 0;
	border-radius: 45px 80px 80px 0;
	behavior: url(http://tylerkershner.pythonanywhere.com/static/css/PIE.htc);
}

.content a:visited {
	color: #FFFFFF;
}


.header {
	position: relative;
	margin: 0 auto;
	height: 55px;
	background-color: #A0A0A0;
	width: 100%;
	-webkit-border-radius: 25px 45px 0 45px;
	-moz-border-radius: 25px 45px 0 45px;
	border-radius: 25px 45px 0 45px;
	behavior: url(http://tylerkershner.pythonanywhere.com/static/css/PIE.htc);
}

.title {
    position: relative;
	left: 25px;
	text-shadow: 0 2px 3px #222;
	color: #FFFFFF;
	font-family: Courier;
}

.date {
	position: relative;
	left: 35px;
	bottom: 22px;
	color: #B91010;
	text-align: left;
	font-family: Verdana, Arial;
}

.text {
	font-family: 'Vollkorn', Arial;
	position: relative;
	text-align: justify;
	color: #FFFFFF;
}

/* Image Thumbnails */
.thumb {
	max-width: 150px;
    max-height: 150px;
    min-width: 150px;
    min-height: 150px;
}

.imagebar {
	position:relative;
	text-align: center;
}

/* Github link under thumbnails */
.github {
	font-family: Verdana, Arial;
	text-decoration: none;
	color: #66CC00;
}

.writeup {
	font-family: Verdana, Arial;
	text-decoration: none;
	color: #FFCC00;
}

/* Project titles */
.title {
	position: relative;
	font-family: Verdana;
	text-shadow: 0 2px 3px #222;
	color: #FFFFFF;
}