<!DOCTYPE html>

<html>

<head lang="en">

    <meta charset="UTF-8">

    <!-- CSS -->
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
    <link type="text/css" rel="stylesheet" href="/static/playtime/style.css"/>

    <!-- Fonts -->
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:800' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Roboto:400' rel='stylesheet' type='text/css'>

    <title>PlayTime - {{ title }}</title>

</head>

<body>

    <div id="container">

        {% block content %}{% endblock %}

     </div>

</body>

<!-- JS -->
<script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
<script src="/static/playtime/js/Chart.min.js"></script>
<script src="/static/js/jquery.customSelect.min.js"></script>
<script src="/static/playtime/js/playtime.js"></script>

<script>
$(document).ready(function(){
    {% if donut_data %}
        var donutData = {{ donut_data|safe }};
        var barData = {{ chart_data|safe }};
        var lineData = {{ line_chart_data|safe }};

        showLine(lineData);
        showBar(barData);
        showDonut(donutData);
        showList();
    {% endif %}

    showForm();
    hiddenMenu();
});
</script>

</html>