<!DOCTYPE html>

<html>

<head lang="en">

    <meta charset="UTF-8">

    <!-- CSS -->
    <link type="text/css" rel="stylesheet" href="/static/playtime/style.css"/>

    <!-- Fonts -->
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:800' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Roboto:400' rel='stylesheet' type='text/css'>

    <!-- JS -->
    <script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
    <script src='/static/js/jquery.customSelect.min.js'></script>

    <title>PlayTime - {{ title }}</title>

</head>

<body>

    <div id="container">

        <div id="header">

            <h1><span class="orange">Play</span><span class="blue">Time</span></h1><p>A VISUAL REPRESENTATION OF TIME SPENT IN YOUR STEAM LIBRARY</p>

        </div>

        <div id="wrapper">

            {% block content %}{% endblock %}

            <br>
            <br>
            <br>

            <div id="footer">

                <p>
                    Powered by Steam<br>
                    <a href="http://steampowered.com">http://steampowered.com</a>
                </p>

            </div>

        </div>

    </div>

</body>

</html>