<!DOCTYPE html>

<html>

<head lang="en">
    <meta charset="UTF-8" name="viewport" content="initial-scale=1">

    <!-- CSS -->
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
    <link type="text/css" rel="stylesheet" href="/static/playtime/style.css"/>

    <!-- Fonts -->
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:800' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Roboto:400' rel='stylesheet' type='text/css'>

    <link rel="icon" type="image/png" href="/static/playtime/images/favicon.ico">

    <title>PlayTime - {{ title }}</title>
</head>

<body>
    {% block content %}{% endblock %}
</body>

<!-- JS -->
<script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
<script src="/static/playtime/js/Chart.min.js"></script>
<script src="/static/playtime/js/playtime.js"></script>

<script>
$(document).ready(function(){
    {% if donut_data_2weeks %}
        var donutData_2weeks = {{ donut_data_2weeks|safe }};
        var donutData_10 = {{ donut_data_10|safe }};
        var donutData_20 = {{ donut_data_20|safe }};
        var lineData_2weeks = {{ line_data_2weeks|safe }};
        var lineData_10 = {{ line_data_10|safe }};
        var lineData_20 = {{ line_data_20|safe }};
        var barData_2weeks = {{ bar_data_2weeks|safe }};
        var barData_10 = {{ bar_data_10|safe }};
        var barData_20 = {{ bar_data_20|safe }};
        var parameters = [
            donutData_2weeks, donutData_10, donutData_20,
            lineData_2weeks, lineData_10, lineData_20, barData_2weeks,
            barData_10, barData_20
            ]

        playtimeResults(parameters);
    {% endif %}

    playtime();
});
</script>

</html>