{% extends "/playtime/base.html" %}
{% block content %}



        {% if form.errors %}
        <div class="message">

            <br>

            {% for message in form.steamid.errors %}

                <p>{{ message }}</p>

            {% endfor %}

            <br>

        </div>
        {% endif %}

        {% if message %}
        <div class="message">

            <br>

            <p>{{ message }}</p>

            <br>

        </div>
        {% endif %}

    <div id="form">

        <form action="{{ url_for('playtime_logic') }}" method="POST">

            {{ form.hidden_tag() }}

            {{ form.steamid(placeholder="SteamID") }}<br>
            {{ form.recent(class="select-box") }}
            {{ form.number_of_results(class="select-box") }}<br>
            {{ form.submit(class="submit") }}

        </form>

    </div>

<script>
$(document).ready(function(){
    $('.select-box').customSelect();
});
</script>

{% endblock %}