{% extends "/playtime/base.html" %}
{% block content %}

        {% if form.errors %}
        <div class="message">

            <br>

            {% for message in form.steamid.errors %}

                <p>{{ message }}</p>

            {% endfor %}

            <br>

        </div>
        {% endif %}

        {% if message %}
        <div class="message">

            <br>

            <p>{{ message }}</p>

            <br>

        </div>
        {% endif %}

    <div id="form">

        <form action="{{ url_for('playtime_logic') }}" method="POST">

            {{ form.hidden_tag() }}

            {{ form.steamid(placeholder="SteamID") }}<br>
            <a href="#">Where is my SteamID?</a><br>
            {{ form.number_of_results(class="select-box") }}
            {{ form.recent(class="select-box") }}
            <br>
            {{ form.submit(class="submit") }}

        </form>

    </div>

    <br>
    <br>
    <br>

    <div id="footer">

        <p>
            Powered by Steam<br>
            <a href="http://steampowered.com"><img id="steam-icon" src="/static/playtime/images/steam-icon.png"></a>
        </p>

    </div>

{% endblock %}