body {
	background-color: #F2F2F2;
	color: #4a4a4a;
}

#projects-container a {
	color: white;
}

#projects-container a:hover {
	color: white;
}

#down-arrow {
    margin: 0 auto;
    opacity: 0;
    font-size: 3em;
    color: #00BFA5
}

.welcome-container {
	position: relative;
	background-color: #F2F2F2;
	margin: 0 auto;
	min-height: 30em;
	width: 100%;
	max-width: 1180px;
	text-align: center;
}

.welcome-blurb {
	display: block;
	margin: 1em 0;
	font-size: 1.25em;
}

.green {
	background-color: #00BFA5;
	color: #f2f2f2;
}

#hello {
	display: block;
	margin-top: .5em;
	font-size: 90px;
	font-family: 'Raleway';
	color: #00BFA5;
	height: 75px;
    line-height: 75px;
}

.levitate {
	-webkit-animation:
    	fadeInGrow 1s 1,
    	levitate 3s infinite;
	-moz-animation:
    	fadeInGrow 1s 1,
    	levitate 3s infinite;
}

@-webkit-keyframes fadeInGrow {
    0% {
		opacity: 0;
		font-size: 12px;
	}
    100% {
		opacity: 1;
		font-size: 90px;
	}
}

@-moz-keyframes fadeInGrow {
    0% {
		-moz-transform: translateY(-50px);
		-moz-transform: scale(0.0);
		opacity: 0;
	}
    100% {
		-moz-transform: translateY(10px);
		-moz-transform: scale(1.0);
		opacity: 1;
	}
}

@-webkit-keyframes levitate {
	0% {
		-webkit-transform: translateY(-10px);
	}
    50% {
		-webkit-transform: translateY(0px);
	}
	100% {
		-webkit-transform: translateY(-10px);
	}
}

@-moz-keyframes levitate {
	0% {
		-moz-transform: translateY(-10px);
	}
    50% {
		-moz-transform: translateY(3px);
	}
	100% {
		-moz-transform: translateY(-10px);
	}
}

.levitate-smaller {
	-webkit-animation:
    	fadeInGrowSmaller 1s 1,
    	levitate 3s infinite;
	-moz-animation:
    	fadeInGrowSmaller 1s 1,
    	levitate 3s infinite;
}

@-webkit-keyframes fadeInGrowSmaller {
    0% {
		opacity: 0;
		font-size: 12px;
	}
    100% {
		opacity: 1;
		font-size: 70px;
	}
}

@-moz-keyframes fadeInGrowSmaller {
    0% {
		-moz-transform: translateY(-50px);
		-moz-transform: scale(0.0);
		opacity: 0;
	}
    100% {
		-moz-transform: translateY(10px);
		-moz-transform: scale(1.0);
		opacity: 1;
	}
}

.welcome-section-title {
	position: relative;
	margin: 0 auto;
	opacity: 0;
	font-family: 'Raleway';
	font-size: 5em;
	color: #00BFA5;
	background-color: rgba(255, 255, 255, 0.0);
}

#projects-container {
	position: relative;
	min-height: 20em;
	max-width: 100%;
	opacity: 0.0;
}

#projects-container img {
	box-shadow: 2px 8px 15px -5px #000;
	border-radius: 5px;
	border: .25em solid #00BFA5;
}

#welcome-projects-small {
	position: relative;
}

#welcome-projects-small img {
	width: 200px;
}

#welcome-projects-med {
	display: none;
}

#welcome-projects-large {
	display: none;
}

.welcome-project {
	display: inline-block;
	position: relative;
	margin: 1.5em .5em;
	max-width: 100%;
}

.welcome-project-blurb {
	position: absolute;
	z-index: 2;
	padding: 10px;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 191, 165, 0.9);
	text-align: left;
	color: #f2f2f2;
	opacity: 0.0;
	border-radius: 5px;
}

.welcome-project-blurb:hover {
	opacity: 1.0;
}

.welcome-project-title {
	position: absolute;
	z-index: 1;
	background-color: rgba(0, 0, 0, 0.4) !important;
	width: 100%;
	height: 20%;
	bottom: 0;
	border-radius: 0 0 5px 5px;
	font-family: 'Raleway';
	font-size: 1.5em;
	line-height: 1.5em;
	color: white;
	text-shadow: 1px 1px 3px #000;
}

@media (min-width: 1000px) {
    .welcome-project-title {
        font-size: 2em;
        line-height: 2em;
    }
}

@media (min-width: 1020px) {
    #ycs-title {
        font-size: 2em !important;
        line-height: 2em !important;
    }
}

.welcome-project-blurb:hover {
	opacity: 1.0;
	border: .5em solid #00BFA5;
}

.welcome-project-blurb:hover ~ .welcome-project-title {
	opacity: 0.0;
}

.welcome-project-blurb span {
	display: block;
	margin: .05em auto;
	font-family: 'Raleway';
	font-size: 1.5em;
	text-align: center;
	color: white;
}

.responsive-image {
	width: 100%;
}

@media (min-width: 500px) {
	.welcome-project {
		max-width: 40%;
	}

	.welcome-project-blurb {
		font-size: 2.8vw;
	}

	#welcome-projects-small {
		display: none;
	}

	#welcome-projects-med {
		display: block;
	}

	#welcome-projects-med .welcome-project-title {
		font-size: 4.5vw;
		line-height: 8vw;
	}

	#welcome-projects-large {
		display: none;
	}
}

@media (min-width: 890px) {
	.welcome-project {
		max-width: 25%;
	}

	.welcome-project-blurb {
		font-size: 1.3vw;
	}

	#welcome-projects-small {
		display: none;
	}

	#welcome-projects-med {
		display: none;
	}

	#welcome-projects-large {
		display: block;
		margin: 0 auto;
		max-width: 1400px;
	}
}

@media (min-width: 1400px) {
	.welcome-project-blurb span {
		font-size: 1.2em !important;
	}

	.welcome-project-blurb {
		font-size: 1.3em;
	}
}

#more-projects-link {
	display: inline-block;
	width: 60%;
	min-width: 240px;
}

#more-projects {
	display: block;
	position: relative;
	margin: 0 auto;
	height: 2.5em;
	line-height: 2.2em;
	max-width: 850px;
	color: #00BFA5;
	font-size: 1.5em;
	border-radius: 5px;
	border: .15em solid #00BFA5;
}

#more-projects:hover {
    background-color: #00BFA5;
    color: white;
}

@media (max-width: 545px) {
	#more-projects {
		font-size: 1em;
		height: 2.25em;
		line-height: 2.25em;
	}
}

#contact-form-container {
	margin: 0 auto;
	max-width: 95%;
	min-width: 250px;
}

#contact-icons {
	position: relative;
	z-index: 1;
	margin: 0 auto;
	min-height: 3em;
	max-width: 625px;
}

#contact-icons div {
	display: inline-block;
	margin: .25em;
}

.welcome-notification {
	position: absolute;
	margin: 0 auto;
	left: 0;
	right: 0;
	width: 80%;
	max-width: 30em;
	min-height: 4em;
	line-height: 4em;
	opacity: 0.0;
	color: white;
	text-shadow: 1px 1px 3px #000;
	background-color: rgb(250, 51, 70);
	border-radius: 5px;
}

#welcome-subject-notification {
	top: 4em;
}

#welcome-body-notification {
	top: 9em;
}

#contact-form-container input,
#contact-form-container textarea {
	box-shadow: 0 3px 10px -5px #000;
}

#email-content {
	height: 15em;
	max-height: 15em;
	max-width: 625px;
	border: .25em solid #00BFA5;
}

#subject {
    border: .15em solid #00BFA5;
}

#send {
	background-color: rgba(250, 51, 70, 1);
	color: #f2f2f2;
	border: none !important;
}

#send:hover {
	cursor: pointer;
	background-color: rgba(250, 51, 70, 0.5);
	box-shadow: none;
}

#contact-form-wrapper {
    opacity: 0.0;
}

#blurb01, #blurb02, #blurb03, #welcome-pic {
    opacity: 0.0;
}