body {
	background-color: #F5F5F5;
	color: #4a4a4a;
}

#projects-container a {
	color: white;
}

#projects-container a:hover {
	color: white;
}

.welcome-container {
	position: relative;
	background-color: white;
	margin: 0 auto;
	min-height: 30em;
	width: 100%;
	text-align: center;
}

.welcome-blurb {
	display: block;
	margin: 1em 0;
	font-size: 1.25em;
}

.green {
	background-color: #00BFA5;
	color: #f2f2f2;
}

#hello {
	display: block;
	margin-top: .25em;
	margin-bottom: -.25em;
	font-size: 7em;
	font-family: 'Raleway';
	color: #00BFA5;
	height: 150px;
}

.levitate {
	-webkit-animation:
    	fadeInGrow 1s 1,
    	levitate 3s infinite;
	-moz-animation:
    	fadeInGrow 1s 1,
    	levitate 3s infinite;
}

@-webkit-keyframes fadeInGrow {
    0% {
		opacity: 0;
		font-size: 1em;
	}
    100% {
		opacity: 1;
		font-size: 7em;
	}
}

@-moz-keyframes fadeInGrow {
    0% {
		-moz-transform: translateY(-50px);
		-moz-transform: scale(0.0);
		opacity: 0;
	}
    100% {
		-moz-transform: translateY(10px);
		-moz-transform: scale(1.0);
		opacity: 1;
	}
}

@-webkit-keyframes levitate {
	0% {
		-webkit-transform: translateY(-10px);
	}
    50% {
		-webkit-transform: translateY(0px);
	}
	100% {
		-webkit-transform: translateY(-10px);
	}
}

@-moz-keyframes levitate {
	0% {
		-moz-transform: translateY(-10px);
	}
    50% {
		-moz-transform: translateY(3px);
	}
	100% {
		-moz-transform: translateY(-10px);
	}
}

.welcome-section-title {
	position: relative;
	margin: 0 auto;
	font-family: 'Raleway';
	font-size: 5em;
	background-color: rgba(255, 255, 255, 0.0);
}

#projects-container {
	position: relative;
	min-height: 20em;
	max-width: 100%;
}

#projects-container img {
	box-shadow: 2px 8px 15px -5px #000;
	border-radius: 5px;
}

#welcome-projects-small {
	position: relative;
}

#welcome-projects-small img {
	width: 200px;
}

#welcome-projects-med {
	display: none;
}

#welcome-projects-large {
	display: none;
}

.welcome-project {
	display: inline-block;
	position: relative;
	margin: 1.5em .5em;
	max-width: 100%;
}

.welcome-project-blurb {
	position: absolute;
	z-index: 2;
	padding: 10px;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.8);
	text-align: left;
	color: #f2f2f2;
	opacity: 0.0;
	border-radius: 5px;
}

.welcome-project-title {
	position: absolute;
	z-index: 1;
	background-color: rgba(0, 0, 0, 0.7) !important;
	width: 100%;
	height: 20%;
	bottom: 0;
	border-radius: 0 0 5px 5px;
	font-family: 'Raleway';
	font-size: 1.5em;
	line-height: 1.5em;
	color: white;
	text-shadow: 1px 1px 3px #000;
}

@media (min-width: 1000px) {
    .welcome-project-title {
        font-size: 2em;
        line-height: 2em;
    }
}

@media (min-width: 1200px) {
    .welcome-project-title {
        font-size: 2em !important;
        line-height: 2em !important;
    }
}

.welcome-project-blurb:hover {
	opacity: 1.0;
}

.welcome-project-blurb:hover ~ .welcome-project-title {
	opacity: 0.0;
}

@media (min-width: 1100px) {
	.welcome-project-blurb {
		font-size: 18px;
	}
}

.welcome-project-blurb span {
	font-family: 'Raleway';
	font-size: 1.5em;
	color: #00BFA5;
}

.welcome-project-blurb hr {
	position: relative;
	margin: 0;
}

.responsive-image {
	width: 100%;
}

@media (min-width: 500px) {
	.welcome-project {
		max-width: 45%;
	}

	#welcome-projects-small {
		display: none;
	}

	#welcome-projects-med {
		display: block;
	}

	#welcome-projects-large {
		display: none;
	}
}

@media (min-width: 890px) {
	.welcome-project {
		max-width: 25%;
	}

	#welcome-projects-small {
		display: none;
	}

	#welcome-projects-med {
		display: none;
	}

	#welcome-projects-large {
		display: block;
	}
}

#more-projects-link {
	display: inline-block;
	width: 60%;
	min-width: 240px;
}

#more-projects {
	display: block;
	position: relative;
	margin: 0 auto;
	height: 2.5em;
	line-height: 2.5em;
	background-color: #009480;
	font-size: 1.5em;
	color: rgba(255, 255, 255, 1);
	border-radius: 5px;
}

#more-projects:hover {
	background-color: #007b6a;
	color: rgba(255, 255, 255, 0.5);
}

@media (max-width: 545px) {
	#more-projects {
		font-size: 1em;
		height: 2.25em;
		line-height: 2.25em;
	}
}

#contact-form-container {
	margin: 0 auto;
	max-width: 95%;
	min-width: 250px;
}

#contact-icons {
	margin: 0 auto;
	height: 7em;
	max-width: 625px;
}

#contact-icons div {
	display: inline-block;
	margin: .25em;
}

#contact-form-container input,
#contact-form-container textarea {
	border: none;
	box-shadow: 0 3px 10px -5px #000;
}

#email-content {
	height: 15em;
	max-height: 15em;
	max-width: 625px;
}

#send {
	background-color: rgba(250, 51, 70, 1);
	color: #f2f2f2;
	border: none;
}

#send:hover {
	cursor: pointer;
	background-color: rgba(250, 51, 70, 0.5);
	box-shadow: none;
}
