/* Starting Line Numbers
/* Home Page	# 60 
/* Results Page # 439 
/* Footer		# 666 
*/

body, html {
	margin: 0;
	padding: 0;
	font-family: 'Roboto', sans-serif;
	color: black;
	background: url(../steamtime/images/denim.png);
}

body {
	overflow-x: hidden;
}

/* *************************** */
/* General site-wide overrides */
/* *************************** */
a:link {
	text-decoration: none;
}

a:visited {
	color: white;
}

a:hover {
	color: #3FADFB;
}

hr {
	position: relative;
	margin: 0;
	height: 1px;
	box-shadow: 1px 1px 3px #000;
	border-radius: 0 5px 0 5px;
	background-color: white;
}

.hidden {
	display: none;
}

.left {
	float: left;
}

.right {
	float: right;
}

.animate {
	-webkit-transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
}

.blur {
	-webkit-filter: blur(3px);
}

.glow:hover  {
	cursor: pointer;
	-moz-box-shadow: 0px 0px 20px 1px #fff;
	-webkit-box-shadow: 0px 0px 20px 1px #fff;
	box-shadow: 0px 0px 20px 0px #fff;
}

/* Generic rig style for grids */
ul.rig {
	list-style: none;
	font-size: 0px;
	padding: 0;
	min-width: 10px;
	margin-top: 15px;
	margin-left: -1%;
	margin-right: 2.5%;
}

li {
	text-align: center;
	display: inline-block;
	padding: 10px;
	margin: 0 0 -2.5% 2.5%;
	vertical-align: top;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}

/* class for 3 columns */
ul.rig.columns-3 li {
	width: 30.83%; 
}

/* class for 4 columns */
ul.rig.columns-4 li {
	width: 22.5%; 
}

/* class for 2 columns */
ul.rig.columns-2 li {
	width: 47.5%; /* this value + 2.5 should = 50% */
}

/* ***************************** */
/*   Gradients / Text Formatting */
/* ***************************** */
.dark-blue-gradient {
	background-image: -ms-radial-gradient(center, circle farthest-side, #026AB3 0%, #025B9A 100%);
	background-image: -moz-radial-gradient(center, circle farthest-side, #026AB3 0%, #025B9A 100%);
	background-image: -o-radial-gradient(center, circle farthest-side, #026AB3 0%, #025B9A 100%);
	background-image: -webkit-gradient(radial, center center, 0, center center, 486, color-stop(0, #026AB3), color-stop(1, #025B9A));
	background-image: -webkit-radial-gradient(center, circle farthest-side, #026AB3 0%, #025B9A 100%);
	background-image: radial-gradient(circle farthest-side at center, #026AB3 0%, #025B9A 100%);
}

.blue-gradient-circular {
	background-image: -ms-radial-gradient(center, circle farthest-corner, #2394E4 0%, #1778BD 100%);
	background-image: -moz-radial-gradient(center, circle farthest-corner, #2394E4 0%, #1778BD 100%);
	background-image: -o-radial-gradient(center, circle farthest-corner, #2394E4 0%, #1778BD 100%);
	background-image: -webkit-gradient(radial, center center, 0, center center, 505, color-stop(0, #2394E4), color-stop(1, #1778BD));
	background-image: -webkit-radial-gradient(center, circle farthest-corner, #2394E4 0%, #1778BD 100%);
	background-image: radial-gradient(circle farthest-corner at center, #2394E4 0%, #1778BD 100%);
}

.green-gradient {
	background-image: -ms-radial-gradient(center, circle farthest-corner, #17E889 0%, #12BA6E 100%);
	background-image: -moz-radial-gradient(center, circle farthest-corner, #17E889 0%, #12BA6E 100%);
	background-image: -o-radial-gradient(center, circle farthest-corner, #17E889 0%, #12BA6E 100%);
	background-image: -webkit-gradient(radial, center center, 0, center center, 505, color-stop(0, #17E889), color-stop(1, #12BA6E));
	background-image: -webkit-radial-gradient(center, circle farthest-corner, #17E889 0%, #12BA6E 100%);
	background-image: radial-gradient(circle farthest-corner at center, #17E889 0%, #12BA6E 100%);
}

.white {
	color: white;
}

.dark-blue {
	color: #013F6B;
}

.blue {	
	color: #017bd1;
}

.yellow {
	color: #FFBE00;
}

.green {
	color: #00f887;
}

.shadow {
	text-shadow: 1px 1px .5px #000;
}

.no-shadow {
	text-shadow: none;
}

/* *********** */
/* * Home Page */
/* *********** */

/* Container div for home page  */
#welcome-header {
	position: relative;
	margin: 5px auto;
	margin-top: 200px;
	padding: 20px;
	min-height: 340px;
	min-width: 800px;
	box-shadow: 3px 3px 10px #000;
}

/* Huge logo container div */
#logo {
	position: relative;
	width: 800px;
	margin: 25px auto;
}

#welcome-header h1 {
	position: relative;
	text-align: center;
	margin: 0 auto;
	font-size: 132px;
	color: white;
	font-family: 'Open Sans', sans-serif;
	text-shadow: 1px 1px 3px #000;
}

#welcome-header p {
	text-align: center;
	margin-top: -30px;
}

/* Buttons container div */
#buttons {
	height: 75px;
	width: 800px;
	margin: 0 auto;
}

#buttons-inner {
	position: relative;
	margin: 0 auto;
	color: white;
	font-family: 'Roboto', sans-serif;
	font-size: 35px;
	text-align: center;
	text-shadow: none;
}

#get-started, #about {
	position: relative;
	display: inline-block;
	padding: 5px;
	height: 50px;
	width: 300px;
	box-shadow: 1px 1px 5px #000;
	background-color: Transparent;
    background-repeat: no-repeat;
	border: 1px solid white;
	border-radius: 5px;
	box-shadow: none;
}

#get-started:hover, #about:hover {
	cursor: pointer;
	background-color: #00d775;
	text-shadow: 1px 1px 3px #000;
	border: 1px solid #00d775;
	border-radius: 0;
}

/* Div containing error messages */
.message {
	position: relative;
	margin: 25px auto;
	padding: 15px;
	width: 400px;
	background-color: Transparent;
    background-repeat: no-repeat;
	border: 1px solid white;
	border-radius: 5px;	
	text-align: center;
	font-size: 20px;
	color: white;	
	text-shadow: none;	
}

/* Message div text */
.message > p {
	position: relative;
	top: 25px;
}

/* Form input div */
#form {
	position: relative;
	display: none;
	height: 250px;
	margin: 0 auto;
	text-align: center;
}

#use-mine {
	position: relative;
	margin: 0 auto;
	padding: 10px;
	top: -3px;
	left: -100px;
	width: 300px;
	height: 20px;
	background-color: Transparent;
    background-repeat: no-repeat;
	border: 1px solid white;
	border-radius: 5px;
}

#down {
	position: absolute;
	top: 25px;
	left: 10px;
	color: white;
	font-size: 28px;
}

#use-mine > p {
	position: relative;
	top: 25px;
	color: white;
	text-shadow: none;
	text-align: center;
	font-size: 20px;
}

form a, form span {
	display: inline-block;
	position: relative;
	bottom: 13px;
	color: white;
	font-size: 18px;
}

#pipe {
	margin: 0 8px;
	bottom: 11px;
	font-size: 25px;
}

form a:hover {
	cursor: pointer;
}

input {
	position: relative;
	border: none;
	height: 75px;
	width: 550px;
	margin: 10px auto;
	border-radius: 5px;
	box-shadow: 1.5px 1.5px 5px #000;
}

input[type=text] {
	padding-left: 10px;
	font-size: 48px;
	color: #012E4E;	
}

#steamid:hover, #steamid:focus {
	cursor:text;
	-moz-box-shadow: 0px 0px 20px 2px #000000;
	-webkit-box-shadow: 0px 0px 20px 2px #000000;
	box-shadow: 0px 0px 15px 1px #000000;
	background-color: #efe4d5;
}

.submit {
	margin-top: 25px;
	height: 75px;
	width: 300px;
	border-radius: 5px;
	background-color: Transparent;
	border: 1px solid white;
	cursor: pointer;
    overflow: hidden;
    outline: none;
	color: white;
	font-family: 'Roboto', sans-serif;
	font-size: 42px;
}

.submit:hover {
	font-size: 48px;
	border: 1px solid Transparent;
	background-color: #012E4E;
	box-shadow: 4px 4px 4px #000;
	border-radius: 0;
}

/* ********** */
/* About Div */
/* ********** */
#about-content {
	display: none;
	position: fixed;
	margin-left: -270px;
	padding: 20px;
	top: 25px;
	left: 50%;
	z-index: 25;
	height: 830px;
	width: 500px;
	background-color: #012f51;
	border-radius: 5px;
	-webkit-box-shadow: 0 0 10px #000;
        box-shadow: 0 0 10px #000;
	color: white;
	font-family: 'Roboto', sans-serif;
	overflow: auto;
}

#about-content:active {
	cursor: pointer;
}

.about-header {
	font-family: 'Open Sans', sans-serif;
	margin: 0;
	color: #026AB3;
}

#github-links {
	margin: 25px auto;
	text-align: center;
}

#github-links > h5 {
	position: relative;
	right: 12px;
}

#github-links i, #github-links h5, #github-links a {
	margin: 0 auto;
}

#close, #find-close, #asterisk-close, #close-privacy {
	position: relative;
	z-index: 25;
	float: right;
}

#close-privacy {
	top: 3px;
	right: 5px;
}

#close:hover, #find-close:hover, #asterisk-close:hover,
#close-privacy:hover {
	color: #026AB3;
	cursor: pointer;
}

#about-content p {
	margin: -20px 0;
}

#about-content a, #about-content a:visited {
	color: #026AB3;
}

#about-content a:hover {
	color: #027dd3;
}

/* ************************** */
/* 'Where is my SteamID' Div  */
/* ************************** */
#find-id {
	display: none;
	position: absolute;
	margin-left: -380px;
	padding: 20px;
	top: 250px;
	left: 50%;
	z-index: 25;
	height: 350px;
	width: 700px;
	background-color: #012f51;
	border-radius: 5px;
	-webkit-box-shadow: 0 0 10px #000;
        box-shadow: 0 0 10px #000;
	border: 2px solid white;
	color: white;
	font-family: 'Roboto', sans-serif;
}

#find-id:active {
	cursor: pointer;
}

#find-header {
	margin: 0;
	font-family: 'Open Sans', sans-serif;
	color: #026AB3;
	text-align: center;
}

#find-id a, #find-id a:visited {
	color: #026AB3;
}

#find-id a:hover {
	color: #027dd3;
}

#find-id p {
	text-align: center;
	margin: 0;
}

#examples {
	background-color: #026AB3;
	padding: 15px 0;
	position: relative;
	width: 100%;
	margin: 25px auto;
	text-align: center;
	border-radius: 5px;
}

#examples h3 {
	margin: 0;
	font-size: 22px;
}

#external-links {
	position: relative;
	width: 100%;
	margin: 0 auto;
	text-align: center;
}

#external-links a {
	font-size: 24px;
}

/* ************ */
/* Results Page */
/* ************ */
#hidden-menu {
	position: fixed;
	display: none;
	z-index: 26;
	top: 0;
	left: 0;
	height: 32px;
	width: 100%;
	min-width: 550px;
	box-shadow: 1px 1px 3px #000;
	color: white;
}

#hidden-menu p {
	display: inline-block;
	position: relative;	
	margin: 5px 0;
	bottom: 8px;
	left: 5px;
	font-family: 'Roboto', sans-serif;
	font-size: 24px;
}

/* Media queries to hide display name when viewport is too small */
@media (min-width: 0) {
	#hidden-menu p {
		display: none;
	}
	#hidden-menu img {
		bottom: 0;
		left: 0;
	}
}

@media (min-width: 690px) {
	#hidden-menu p {
		display: inline-block;
	}
	#hidden-menu img {
		position: relative;
		bottom: 0;
		left: 0;
	}
}

#back-to-top {
	position: fixed;
	right: 15px;
	top: 0;
}

#hidden-logo {
	display: inline-block;
	font-family: 'Open Sans', sans-serif;
}

#hidden-logo span{
	position: relative;
	bottom: 23px;
}

#back-to-top i {
	position: absolute;
	color: white;
	top: 0;
	right: 145px;
}

#back-to-top i:hover {
	color: #013F6B;
	cursor: pointer;
}

/* Big logo on Results page */
#header {
	position: relative;
	top: -20px;
	height: 100px;
	width: 450px;
}

#header:hover > a > p { 
	border-bottom: 2px solid white;
}

#header h1 {
	font-size: 80px;
	color: #FCBC00;
	margin: 5px 10px;
	font-family: 'Open Sans', sans-serif;
	text-shadow: 1px 1px 1px #000;
}

#header p {
	position: absolute;
	top: 75px;
	left: 50px;
	color: white;
	text-shadow: 1px 1px .5px #000;
}

/* Styles for search bar on results page */
#search-select {
	position: relative;
	z-index: 25;	
	margin: 10px auto;
	padding: 5px;
	top: 0;
	height: 35px;
	line-height: 35px;
	width: 175px;
	border: 1px solid white;
	border-radius: 5px;
	background-color: Transparent;
    cursor: pointer;
    color: white;
	text-shadow: 1px 1px 3px #000;
}

#search-select:hover {
	cursor: pointer;
	background-color: #014e84;
	border: 1px solid #014e84;
	box-shadow: 4px 4px 4px #000;
	border-radius: 0;
}

#search-select i, #search-select p {
	position: relative;
	display: inline-block;
	margin: 0;
	margin-bottom: 5px;
}

#new-search {
	position: relative;
	z-index: 25;
	margin: 0 auto;
}

#new-search input {
	display: inline-block;
	margin: 0;
	height: 30px;
	width: 275px;
	border: 0;
	box-shadow: none;
}

#new-search input[type=text] {
	padding-left: 10px;
	font-size: 22px;
}

#new-search .header-submit {
	display: inline-block;
	margin: 0;
	top: 1px;
	height: 32px;
	width: 75px;
	font-size: 20px;
	text-shadow: 1px 1px 3px #000;
	border: 1px solid white;
	border-radius: 5px;
	background-color: Transparent;
}

#new-search .header-submit:hover  {
	cursor: pointer;
	background-color: #014e84;
	border: 1px solid #014e84;
	box-shadow: 4px 4px 4px #000;
	border-radius: 0;
}

/* User Info Div of Results Page */
#user-info {
	position: relative;
	z-index: 10;
	top: 15px;
	margin: 0 auto;
	width: 700px;
	height: 215px;
	background-image: -ms-radial-gradient(center, circle farthest-corner, #2394E4 0%, #1778BD 100%);
	background-image: -moz-radial-gradient(center, circle farthest-corner, #2394E4 0%, #1778BD 100%);
	background-image: -o-radial-gradient(center, circle farthest-corner, #2394E4 0%, #1778BD 100%);
	background-image: -webkit-gradient(radial, center center, 0, center center, 505, color-stop(0, #2394E4), color-stop(1, #1778BD));
	background-image: -webkit-radial-gradient(center, circle farthest-corner, #2394E4 0%, #1778BD 100%);
	background-image: radial-gradient(circle farthest-corner at center, #2394E4 0%, #1778BD 100%);
	border-radius: 5px;
	box-shadow: 1px 1px 3px #000;
	color: white;
	font-family: 'Roboto', sans-serif;
	text-shadow: 1px 1px 2px #000;
}

#text-name {
	position: absolute;
	z-index: 20;
	top: -20px;
	right: 10px;
	text-shadow: .5px .5px .5px #000;
	color: #00f887;
}

#text-name:hover {
	cursor: pointer;
	color: #015d9e;
}

#user-image {
	position: absolute;
	z-index: 15;
	top: 15px;
	left: 10px;
	width: 166px;
	height: 166px;
	border-radius: 5px;
	border: 1px solid blue;
}

#asterisk-explanation {
	position: absolute;
	z-index: 24;
	padding: 5px;
	left: 200px;
	top: 80px;
	height: 30px;
	width: 425px;
	background-color: #013F6B;
	color: white;
	text-shadow: 1px 1px 3px #000;
	box-shadow: 2px 2px 3px #000;
	border-radius: 5px;
}

#asterisk-explanation > p {
	position: relative;
	bottom: 10px;
}

/* Readout Divs */
.readout {
	position: absolute;
	padding: 0;
	z-index: 5;
	top: 25px;
	left: 195px;
	width: 600px;
	text-align: left;
	color: white;
}

/* Extra positioning/font size for larger titles */
.readout-boost {
	top: -200px;
	font-size: 36px;
}

.readout .asterisk {
	margin: 0 2px;
}

.readout .asterisk:hover {
	color: #013F6B;
	text-shadow: none;
	cursor: pointer;
}

/* Div containing # of games/hours */
.statistics {
	position: absolute;
	bottom: -53px;
	left: -175px;
	text-align: left;
	color: white;
}

/* Icons for chart type selection */
#options {
	position: absolute;
	z-index: 6;
	width: 200px;
	right: 10px;
	bottom: 0;
	display: inline-block;
	text-shadow: none;
}

#options i {
	margin: 8px 5px;
}

#options i:hover {
	color: white;
	text-shadow: 1px 1px 3px #000;
	cursor: pointer;
}

.options-selected {
	color: white;
	text-shadow: 1px 1px 3px #000;
}

.tooltip {
	position: absolute;
	padding: 5px;
	min-width: 80px;
	height: 15px;
	border-radius: 5px;
	border: 1px solid white;
	background: Transparent;
}

.tooltip p {
	position: relative;
	text-align: center;
	bottom: 20px;
}

.tooltip i {
	position: absolute;
	bottom: -27px;
	right: 10px;	
	font-size: 28px;
}

#list-tip {
	bottom: 50px;
	left: -11px;
}

#donut-tip {
	bottom: 53px;
	left: 23px;
}

#bar-tip {
	bottom: 50px;
	left: 77px;
}

/* Div containing tab selectors */
#tab-selectors {
	position: absolute;
	margin: 0;
	left: 15px;
	top: -31px;
}

.tab {
	position: relative;
	display: inline-block;
	z-index: 9; 
	margin: 0;
	padding: 0 10px;
	min-width: 75px;
	height: 30px;
	background-color: #014e84;
	border-radius: 5px 5px 0 0;
}

.tab-selected {
	z-index: 11;
	background-color: #2394E4;
	background-image: -ms-radial-gradient(center, circle farthest-corner, #2394E4 0%, #1778BD 100%);
	background-image: -moz-radial-gradient(center, circle farthest-corner, #2394E4 0%, #1778BD 100%);
	background-image: -o-radial-gradient(center, circle farthest-corner, #2394E4 0%, #1778BD 100%);
	background-image: -webkit-gradient(radial, center center, 0, center center, 505, color-stop(0, #2394E4), color-stop(1, #1778BD));
	background-image: -webkit-radial-gradient(center, circle farthest-corner, #2394E4 0%, #1778BD 100%);
	background-image: radial-gradient(circle farthest-corner at center, #2394E4 0%, #1778BD 100%);
	height: 31px;
}

.tab:hover {
	cursor: pointer;
	background-color: #2394E4;	
}

.tab i {
	display: inline-block;
	position: relative;
	top: 3px;
	margin: 0 5px;
	text-align: center;
	color: white;
	text-shadow: 1px 1px .5px #000;
}

.tab-text {
	position: relative;
	top: 3px;
	margin: 0;
	color: white;
	font-size: 16px;
	text-shadow: 1px 1px 3px #000;
}

/* Extra font size to format Hall of Shame correctly */
#shame-tab-text {
	font-size: 14px;
}

/* ************************** */
/* General content div styles */
/* ************************** */

/* Styles for container divs for all content */
#results-container {
	position: relative;
	margin: 0 auto;
	width: 100%;
	text-align: center;
}

#results-container-inner {
	margin: 0 auto;
	min-width: 800px;
}

.result-template {
	position: relative;
	margin: 0 auto;
	min-height: 50px;
	width: 655px;
	text-align: left;
	border: .5px solid black;
	border-radius: 5px 5px 0 0;	
}

/* Main Charts.js HTML 5 canvas elements */
.canvas-container {
	width: 100%;
	margin: 0 auto;
	text-align: center;
}

/* Selectors for 'all', 'two weeks' etc */
.range-selection {
	position: absolute;
	margin: 0;
	top: 10px;
	right: 15px;
}

.range-selection p {
	display: inline-block;
	color: white;
	text-shadow: 1px 1px .5px #000;
}

.range-selection span:hover {
	color: #013F6B;
	cursor: pointer;
	text-shadow: none;
}

/* *************** */
/* List of Results */
/* *************** */

/* Div Containing list results */
.entry {
	background-color: #013F6B;
	position: relative;
	width: 90%;
	height: 220px;
	padding: 10px;
	margin: 15px auto;
	box-shadow: 2px 2px 3px #000;
	border-radius: 5px;
	border: 1px solid #013F6B;
	color: white;
	text-shadow: 1px 1px 2px #000;
}

/* Game image */
.entry img {
	position: absolute;
	top: 15px;
	left: 15px;
	border-radius: 5px;
	height: 69px;
	width: 184px;
	box-shadow: 1px 1px 5px #000;
}

/* Container div for text data */
.entry-data {
	position: absolute;
	z-index: 5;
	top: 10px;
	left: 215px;	
	text-align: left;
	margin: 0;
}

.game-name {
	display: inline-block;
	color: white;
	text-shadow: 1px 1px 3px #000;
	font-family: 'Open Sans', sans-serif;
	font-size: 32px;	
}

.game-hours-played {
	position: relative;
	margin: 0;
	left: 20px;
	width: 300px;	
}

.game-hours-played span.game-hours-text {
	display: block;
	position: relative;	
	bottom: 15px;
	left: 6px;
	margin: 0;
	font-family: 'Roboto', sans-serif;
	font-size: 18px;
}

.game-hours-played span.game-hours-number {
	display: inline-block;
	font-size: 72px;
	margin: 0;
}

.extra-links {
	position: absolute;
	left: 12px;
	bottom: 130px;
	height: 20px;
	padding: 5px;
}

.extra-links a {
	display: inline-block;	
	margin: 0;
	bottom: 10px;
	font-size: 16px;
	color: white;
}

.extra-links a:hover {
	color: #3FADFB;
}

.extra-links span {
	display: inline-block;
	margin: 0 5px;
	bottom: 6px;
	color: white;
	font-size: 18px;
	
}

.list_pie {
	position: absolute;
	z-index: 10;
	left: -96px;
	bottom: 10px;
	width: 200px;
	height: 150px;
}

.rank {
	position: absolute;
	right: 10px;
	bottom: 10px;
	font-family: 'Open Sans', sans-serif;
	font-size: 42px;
}

/* ********* */
/* * Footer  */
/* ********* */
#footer {
	position: relative;
	bottom: 0;
	margin: 0 auto;
	min-width: 800px;
	min-height: 50px;
	text-align: center;
	color: white;
}

#footer.footer-inner {
	min-width: 100%;
}

#footer p {
	margin: -10px auto;
}

#steam-icon {
	margin: 5px auto;
	height: 80px;
	width: 80px;
	border-radius: 50%;
}

/* ********************** */
/* * Hall of Shame page   */
/* ********************** */
#hall-of-shame-content {
	text-align: center;	
}

#hall-of-shame-content h1 {
	margin: 0;
	font-family: 'Open Sans', sans-serif;
	font-size: 42px;
	text-shadow: 1px 1px .5px #000;
}

/* Style for number of titles */
.shame-total {
	margin: 0;
	margin-bottom: 25px;
	font-family: 'Roboto', sans-serif;
	font-size: 32px;
	color: white;	
	text-shadow: 1px 1px .5px #000;
}

/* Li element styles */
.shame {
	height: 235px;
	width: 195px;
	margin-bottom: 25px;
	background-color: #013F6B;
	-webkit-box-shadow: 0 0 10px #000;
        box-shadow: 0 0 8px #000;
	border-radius: 5px;
	border: 1px solid #013F6B;	
}

.shame img {
	position: relative;
	margin: 0 auto;
	right: 5px;
	height: 69px;
	width: 184px;
	border-radius: 5px;
}

.grid-name {
	color: white;
	font-family: 'Roboto', sans-serif;
	font-size: 20px;
	text-shadow: 1px 1px .5px #000;
}

.grid-name:hover {
	cursor: pointer;
	color: #1778BD;
	text-shadow: none;
}

.grid-hours {
	font-family: 'Roboto', sans-serif;
	font-size: 15px;
	color: white;	
	text-shadow: 1px 1px .5px #000;
}

/* ************* */
/* Friends page  */
/* ************* */

/* Friends content div */
#friends {
	text-align: center;
	color: white;
	text-shadow: 1px 1px 3px #000;
	padding: 20px;
}

#friends h1 {
	margin: 0;
}

#friends-grid {
	margin: 0;
}

/* Friends grid li element styles */
.friends {
	min-height: 135px;
	color: white;
	margin-bottom: 10px;
}

.friend-avatar {
	border-radius: 10px;
}

.friend-name {
	position: relative;
	margin: 10px 0;
	color: white;
	font-size: 14px;
	text-shadow: 1px 1px 3px #000;	
}

/* Donut Chart Legend */
.legend-toggle, #split .legend-toggle {
	margin: 0 10px;
	color: white;
	text-shadow: 1px 1px .5px #000;
	font-size: 22px;
	border-radius: 5px;
	border: 1px solid white;
	padding: 5px;
}

.legend-toggle:hover, #split .legend-toggle:hover {
	cursor: pointer;
	background-color: #014e84;
	border: 1px solid #014e84;
	box-shadow: 4px 4px 4px #000;
	border-radius: 0;
}

.legend {
	position: absolute;
	top: 15px;
	left: -190px;
	width: 180px;
	min-height: 270px;
	background: Transparent;
	padding: 5px;
}

/* Split 20 results into two sets of 10 */
#split {
	position: absolute;
	top: 15px;
	right: -190px;
	width: 180px;
	min-height: 270px;
	background: Transparent;
	padding: 5px;
}

.legend img, #split img {
	display: block;
	margin: 3px 0;
	width: 120px;
	height: 50px;
	border-radius: 5px 0 0 5px;
}

/* Colors of the donut legend */
.legend-color, #split .legend-color {
	margin: 3px 0;
	width: 60px;
	height: 50px;
	border-radius: 0 5px 5px 0;
}

/* **************** */
/* Statistics Page  */
/* **************** */

/* Container Div */
#stats {
	position: relative;
	margin: 0 auto;
	width: 600px;
	min-height: 600px;
	padding: 10px;
	background-color: #013F6B;
	box-shadow: 1px 1px 3px #000;
}

/* Styles for the H1 titles (General and Games) */
.stats-title {
	margin: 0;	
	color: white;
	font-size: 36px;
	font-family: 'Open Sans', sans-serif;
	text-shadow: 1px 1px .5px #000;
}

/* General stats container */
#general-stats-container {
	position: relative;
	margin: 15px auto;
	width: 100%;
	min-height: 350px;
}

/* General stats div */
#general-stats {
	display: inline-block;
	position: relative;
	margin-top: 15px;
	padding: 10px;
	height: 240px;
	width: 285px;
	box-shadow: 1px 1px 3px #000;
	color: white;	
	text-shadow: 1px 1px .5px #000;
}

/* Pie charts container div */
#general-pie-charts {
	position: relative;
	display: inline-block;
	width: 285px;
	min-height: 258px;
}

/* Pie charts in the General section */
#general-pie-charts canvas {
	position: absolute;
}

#gen_stat_charts1 {
	top: 0;
	right: -120px
}

#gen_stat_charts2 {
	top: 115px;
	left: -115px;
}

#general-stats-left {
	padding: 10px;
	float: left;
}

#general-stats-right {
	position: relative;
	padding: 10px;
	float: right;
	right: 18px;	
}

#general-stats-right p {
	text-align: left;
	margin: 17px 0;
}

/* Styles for the pie chart legends */
#played-legend {
	position: absolute;
	top: 0;
	left: 40px;
	width: 100px;
}

#hours-legend {
	position: absolute;
	z-index: 5;
	top: 230px;
	right: 32px;
	min-width: 100px;
}

#played-legend-labels {
	position: absolute;	
	bottom: 4px;
	right: 9px;
}

#hours-legend-labels {
	position: absolute;
	left: 15px;
	bottom: 4px;
	min-width: 300px;
}

.played-label {
	display: block;
	margin: 0;
	color: white;
	font-size: 10px;
}

.played-label-color {
	margin-bottom: 5px;
	height: 10px;
	width: 10px;
	box-shadow: 1px 1px 3px #000;
}

/* Text to describe which 'Total Hours' in General Section */
.small-text {
	position: relative;
	bottom: 8px;
	left: 25px;
	margin: 0;
	font-size: 12px;
	color: #013960;
	text-shadow: none;
}

/* Extra positioning to get 'all-time' to line up properly */
.extra {
	left: 40px;
}

/* Hours Breakdown container */
#breakdown-container {
	position: relative;
	width: 100%;
	margin: 15px auto;
	min-height: 475px;
}

#breakdown-title {
	position: relative;
	right: 0;
}

#hours-breakdown-legend {
	position: absolute;
	z-index: 8;
	top: 80px;
	right: 25px;
	padding: 10px;	
	box-shadow: 1px 1px 3px #000;
	width: 160px;
	color: white;
	font-size: 16px;
}

#hours-breakdown-legend h3 {
	margin: 0;
	font-size: 14px;
}

#hours-breakdown-legend p {
	margin: 0;
}

#breakdown-legend-labels {
	float: left;
	width: 120px;	
}

#breakdown-legend-values {
	float: right;
}

#breakdown_chart {
	position: absolute;
	top: 80px;
	left: 25px;
}

/* 'Games' section container */
#game-stats-container {
	position: relative;
	width: 100%;
	margin: 15px auto;
}

.game-stats-row {
	position: relative;
	margin: 15px auto;
	min-height: 300px;
	width: 590px;
	text-align: center;
}

.game-stats-div {
	position: relative;
	display: inline-block;
	margin: 0 5px;
	padding: 10px;
	width: 260px;
	min-height: 270px;
	box-shadow: 1px 1px 3px #000;
	color: white;
	text-shadow: 1px 1px 3px #000;
}

.game-stats-div-title {
	font-size: 28px;
	margin: 0;
}

.smaller-title {
	font-size: 18px;
	margin: 0;
}

.game-stats-div h2 {
	font-size: 20px;
	display: inline-block;
	margin: 0;
}

.game-stats-div img {
	display: inline-block;
	margin: 5px 0;
	height: 69px;
	width: 184px;
	border-radius: 5px;
}

.game-stats-div p {
	margin: 0;
}

/* Distinctions div */
#distinctions-container {
	position: relative;
	width: 100%;
	margin: 15px auto;
	min-height: 100px;
}

#distinctions-container ul {
	position: relative;
	margin: 10px auto;
	margin-left: 12px;
}

#distinctions-container ul li {
	margin: 5px;
}

.distinction {
	position: relative;
	display: inline-block;
	margin: 10px 5px;
	padding: 5px;
	padding-bottom: 15px;
	min-height: 100px;
	width: 275px;
	box-shadow: 2px 2px 5px #000;
	border-radius: 5px;
	text-align: center;
	color: white;
	text-shadow: 1px 1px .5px #000;
}

.distinction-title {
	display: block;
	position: relative;
	top: -10px;
	width: 250px;
	margin: 5px auto;
	font-family: 'Open Sans', sans-serif;
	font-size: 28px;
	color: #FFC419;	
}

.distinction-description {
	display: block;
	position: relative;
	margin: 0;
	font-family: 'Roboto', sans-serif;
	font-size: 14px;
	color: white;
}

.distinction img {
	position: relative;
	margin: 2px;
	width: 111px;
	height: 42px;
	border-radius: 5px;
	box-shadow: 1px 1px 3px #000;
}

.distinction-text {
	font-size: 38px;
}

/* ***************************** */
/* Loading/Privacy Notifications */
/* ***************************** */
.dimmer {
	position: fixed;
	margin: 0;
	padding: 0;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	min-height: 100%;
	width: 100%;
	z-index: 25;
	background: rgba(0, 0, 0, 0.5);
}

#loading, #privacy-alert {
	position: relative;
	padding: 10px;
	margin: 0 auto;
	margin-top: 325px;
	width: 400px;
	height: 150px;
	color: white;
	-moz-box-shadow: 0px 0px 19px #000000;
	-webkit-box-shadow: 0px 0px 19px #000000;
	box-shadow: 0px 0px 19px #000000;
	border-radius: 5px;	
}

#loading:active, #privacy-alert:active {
	cursor: pointer;
}

#privacy-alert {
	height: 160px;
	width: 415px;
}

#loading p, #privacy-alert p {
	position: relative;
	top: 25px;
	text-align: center;
	font-size: 24px;
	text-shadow: 1px 1px .5px #000;
	margin: 0 auto;	
}

/* Text that fades in when the API is slow */
.extra-loading-text {
	position: relative;
	bottom: -35px;
	text-align: center;
}

#text2 {
	bottom: -30px;
}

#text2 a {
	text-decoration: underline;
}

/* Loading Animation */
.spinner {
	position: relative;
	top: 10px;
	margin: 0 auto;
	height: 60px;
	text-align: center;
	font-size: 32px;
}

.spinner > div {
	background-color: #00f083;
    box-shadow: 2px 2px 4px #000;
    height: 100%;
    width: 10px;
    display: inline-block;
    -webkit-animation: stretchdelay 1.2s infinite ease-in-out;
    animation: stretchdelay 1.2s infinite ease-in-out;
}

.spinner .rect2 {
	-webkit-animation-delay: -1.1s;
	animation-delay: -1.1s;
}

.spinner .rect3 {
	-webkit-animation-delay: -1.0s;
	animation-delay: -1.0s;
}

.spinner .rect4 {
	-webkit-animation-delay: -0.9s;
	animation-delay: -0.9s;
}

.spinner .rect5 {
	-webkit-animation-delay: -0.8s;
	animation-delay: -0.8s;
}

@-webkit-keyframes stretchdelay {
	0%, 40%, 100% { -webkit-transform: scaleY(0.4) }  
	20% { -webkit-transform: scaleY(1.0) }
}

@keyframes stretchdelay {
	0%, 40%, 100% { 
	transform: scaleY(0.4);
	-webkit-transform: scaleY(0.4);
	}  20% { 
	transform: scaleY(1.0);
	-webkit-transform: scaleY(1.0);
	}
}