{% extends "/blog/base.html" %}
{% block content %}

<div class="grey">
    <div class="container">
	    <div class="row">
		    <div class="col-lg-8 col-lg-offset-2">
			    <p id="aboutme" >
                    <b>I'm a 28 year old guy</b> living in Ann Arbor/Ypsilanti, Michigan.  I live with my girlfriend of 7 years
                    and our dog Bacon - also of 7 years.  My parents are enjoying their retirement in my hometown of Sturgis, MI, and my two sisters (one twin, one a few years older)
                    live in the Pacific Northwest.  I graduated from the University of Michigan with an English degree in 2011.
                    English language and literature remains one of my passionate hobbies, but it was probably never something that I would
                    turn into a career.  That being said, my English program exposed me to great works, honed my research skills, and gave me
                    invaluable writing and communication skills.
                    <br>
                    <br>
                    I currently work as a customer service rep for a manufacturer of research chemicals.  Not the most exciting sounding
                    job, but it's with good people, a great atmosphere, and opportunities to apply some of the
                    programming concepts I've been learning.  I started to dip my toe into the programming world in early March 2014 through Codecademy and found that it was satisfying and actually a lot of fun.
                    <br>
                    <br>
                    I have many other hobbies that keep my free time occupied.  There are the standard
                    movies, video games, and TV shows - I like a whole lot of them.  I also still enjoy reading novels of all
                    kinds, though I definitely lean toward sci-fi.  I've played the guitar for something like ten years now, and you can check out
                    some of my stuff <a href="/music">here</a>.  Computer hardware has always been a huge source of interest for me,
                    and I've been building and maintaining systems for myself and my friends for many years now.  We all love a good
                    tabletop game whenever possible.
                </p>
			</div>
        </div>
	</div>
    <img class="img-responsive about-pics" src="/static/images/aboutimages.png">
</div>

{% endblock %}