{% extends "/blog/base.html" %}
{% block content %}

<div id="grey">
    <div class="container">
	    <div class="row">
		    <div class="col-lg-8 col-lg-offset-2">
			    <h2>Blog Archive</h2>
                <hr>
				<p>
                    <a href="/aug14">August 2014</a><br>
                    <a href="/jul14">July 2014</a><br>
                    <a href="/jun14">June 2014</a><br>
                    <a href="/may14">May 2014 and earlier</a>
                </p>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
            </div>
        </div>
	</div>
</div>

{% endblock %}