<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
    <head>
        <link rel="icon" type="image/png" href="/static/images/favicon.png">

        <!-- Bootstrap -->
        <link type="text/css" rel="stylesheet" href="/static/Bootstrap/css/bootstrap.min.css"/>

        <!-- Stanley Theme -->
        <link type="text/css" rel="stylesheet" href="/static/main.css"/>

        <!-- Custom Styles -->
        <link type="text/css" rel="stylesheet" href="/static/style.css"/>

        <!-- Rainbow Syntax Highlighter -->
        <link type="text/css" rel="stylesheet" href="/static/rainbow.css"/>



        <!-- Fonts -->
        <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>

        {% if title %}
        <title>{{title}} - Tyler's Blog</title>
        {% else %}
        <title>Tyler's Blog</title>
        {% endif %}

    </head>
    <body>
        <!-- Static navbar -->
        <div name="top" class="navbar navbar-inverse navbar-static-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                      <span class="icon-bar"></span>
                      <span class="icon-bar"></span>
                      <span class="icon-bar"></span>
                    </button>
                    <div id="face-name">
                        <img ID="face" src="/static/images/face.png">
                        <a class="brand" href="/home">TYLER KERSHNER</a>
                    </div>
                </div>
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav navbar-right">
                        <li><a href="/home">Blog</a></li>
                        <li><a href="/projects">Projects</a></li>
                        <li><a href="/about">About Me</a></li>
                    </ul>
                </div>
            </div>
        </div>
        {% block content %}{% endblock %}
        <div id="footer">
            <div class="container">
                <div class="row">
                    <a href="mailto:tylerkershner@gmail.com">tylerkershner@gmail.com</a>&emsp;&emsp;
                    <a href="http://github.com/kershner/">Github</a>&emsp;&emsp;
                    <a href="/archive">Blog Archive</a>
                    <a class="top-link" href="#top">Back to Top</a>
                </div>
            </div>
        </div>
        <!-- JavaScripts
             Placed at the end of the document so the pages load faster -->
        <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
        <script src="/static/Bootstrap/js/hover.zoom.js"></script>
        <script src="/static/Bootstrap/js/hover.zoom.conf.js"></script>
        <script src="/static/Bootstrap/js/bootstrap.min.js"></script>
        <script src="/static/js/rainbow-custom.min.js"></script>
    </body>
</html>