<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
    <head>
        <link rel="icon" type="image/png" href="/static/images/favicon.png">

        <!-- CSS -->
        <link type="text/css" rel="stylesheet" href="/static/Bootstrap/css/bootstrap.min.css"/>
        <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
        <link type="text/css" rel="stylesheet" href="/static/style.css"/>
        <link type="text/css" rel="stylesheet" href="/static/rainbow.css"/>

        <!-- Fonts -->
        <link href='http://fonts.googleapis.com/css?family=Droid+Sans' rel='stylesheet' type='text/css'>

        <!-- jQuery -->
        <script type="text/javascript" src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
        <script type="text/javascript" src="/static/js/rangyInputs.js"></script>

        {% if title %}
        <title>{{title}} - Tyler's Blog</title>
        {% else %}
        <title>Tyler's Blog</title>
        {% endif %}
    </head>

    <body>
        <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>

                    <div class="small-logo-container">
                        <a class="small-logo" href="/">Tyler Kershner</a>
                    </div>
                </div>

                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav navbar-right">
                        <li><a href="/">Blog</a></li>
                        <li><a href="/projects">Projects</a></li>
                        <li><a href="/about">About Me</a></li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="container-fluid big-logo-row">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12 big-logo-container">
                        <img alt="Tyler's Blog" ID="face" src="/static/images/face.png">
                        <h1 class="big-logo">Tyler Kershner</h1>
                    </div>
                </div>
            </div>
        </div>
        {% block content %}{% endblock %}
        <div id="footer">
            <div class="container">
                <div class="row">
                    <div class="footer-links">
                        <div class="icon-link">
                            <a href="mailto:tylerkershner@gmail.com">
                                <i class="fa fa-paper-plane fa-3x animate"></i>
                                <span>Email</span>
                            </a>
                        </div>
                        <div class="icon-link">
                            <a href="http://github.com/kershner/">
                                <i class="fa fa-github fa-3x animate"></i>
                                <span>Github</span>
                            </a>
                        </div>
                        <div class="icon-link">
                            <a href="#top">
                                <i class="fa fa-arrow-circle-up fa-3x animate"></i>
                                <span>Top</span>
                            </a>
                        </div>

                        <br>

                        <div class="footer-login">
                            <a href="{{ link }}">{{ text }}</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- JavaScripts placed at the end of the document so the pages load faster -->
        <script type="text/javascript" src="/static/Bootstrap/js/bootstrap.min.js"></script>
        <script type="text/javascript" src="/static/js/masonry.min.js"></script>
        <script type="text/javascript" src="/static/js/imagesloaded.min.js"></script>
        <script type="text/javascript" src="/static/js/rainbow-custom.min.js"></script>
        <script type="text/javascript" src="/static/js/parallax-navbar.js"></script>
        <script type="text/javascript" src="/static/js/countUp.min.js"></script>
        <script type="text/javascript" src="/static/js/cms.js"></script>
    </body>
</html>
