{% extends "/blog/base.html" %}
{% block content %}
<div id="jplayer-wrapper">
    <div id="music-selection">
        <div id="music-type">
            <div id="loop-selection" class="highlight">Loops</div>
            <div id="song-selection">Songs</div>
        </div>

        <div id="songs">
            <div id="23" class="audio-text highlight">
                <span class="audio-name">23</span><span class="audio-length">2:53</span>
            </div>

            <div id="25" class="audio-text audio-text-highlight">
                <span class="audio-name">25</span><span class="audio-length">2:22</span>
            </div>

            <div id="27" class="audio-text highlight">
                <span class="audio-name">27</span><span class="audio-length">2:16</span>
            </div>

            <div id="28" class="audio-text">
                <span class="audio-name">28</span><span class="audio-length">2:48</span>
            </div>

            <div id="29" class="audio-text highlight">
                <span class="audio-name">29</span><span class="audio-length">4:05</span>
            </div>

            <div id="30" class="audio-text">
                <span class="audio-name">30</span><span class="audio-length">1:30</span>
            </div>
        </div>

        <div id="loops">
            <div id="1" class="audio-text highlight">
                <span class="audio-name">1</span><span class="audio-length">0:32</span>
            </div>

            <div id="3" class="audio-text">
                <span class="audio-name">3</span><span class="audio-length">0:39</span>
            </div>

            <div id="4" class="audio-text highlight">
                <span class="audio-name">4</span><span class="audio-length">0:32</span>
            </div>

            <div id="5" class="audio-text">
                <span class="audio-name">5</span><span class="audio-length">0:30</span>
            </div>

            <div id="7" class="audio-text highlight">
                <span class="audio-name">7</span><span class="audio-length">0:31</span>
            </div>

            <div id="8" class="audio-text">
                <span class="audio-name">8</span><span class="audio-length">0:26</span>
            </div>

            <div id="8 (Drums)" class="audio-text highlight">
                <span class="audio-name">8 (Drums)</span><span class="audio-length">0:34</span>
            </div>

            <div id="8 (Alt)" class="audio-text">
                <span class="audio-name">8 (Alt)</span><span class="audio-length">0:34</span>
            </div>

            <div id="9" class="audio-text highlight">
                <span class="audio-name">9</span><span class="audio-length">0:16</span>
            </div>

            <div id="10" class="audio-text">
                <span class="audio-name">10</span><span class="audio-length">0:28</span>
            </div>

            <div id="11" class="audio-text highlight">
                <span class="audio-name">11</span><span class="audio-length">0:50</span>
            </div>

            <div id="12" class="audio-text">
                <span class="audio-name">12</span><span class="audio-length">0:31</span>
            </div>

            <div id="13" class="audio-text highlight">
                <span class="audio-name">13</span><span class="audio-length">0:36</span>
            </div>

            <div id="14" class="audio-text">
                <span class="audio-name">14</span><span class="audio-length">0:34</span>
            </div>

            <div id="15" class="audio-text highlight">
                <span class="audio-name">15</span><span class="audio-length">0:34</span>
            </div>

            <div id="16" class="audio-text">
                <span class="audio-name">16</span><span class="audio-length">0:44</span>
            </div>

            <div id="17" class="audio-text highlight">
                <span class="audio-name">17</span><span class="audio-length">0:32</span>
            </div>

            <div id="18" class="audio-text">
                <span class="audio-name">18</span><span class="audio-length">1:05</span>
            </div>

            <div id="19" class="audio-text highlight">
                <span class="audio-name">19</span><span class="audio-length">0:55</span>
            </div>

            <div id="20" class="audio-text">
                <span class="audio-name">20</span><span class="audio-length">0:28</span>
            </div>

            <div id="21" class="audio-text highlight">
                <span class="audio-name">21</span><span class="audio-length">0:28</span>
            </div>

            <div id="22" class="audio-text">
                <span class="audio-name">22</span><span class="audio-length">1:23</span>
            </div>

            <div id="24" class="audio-text highlight">
                <span class="audio-name">24</span><span class="audio-length">0:32</span>
            </div>

            <div id="26" class="audio-text">
                <span class="audio-name">26</span><span class="audio-length">0:53</span>
            </div>
        </div>
    </div>

    <div id="jquery_jplayer_1" class="jp-jplayer"></div>

    <div id="jp_container_1" class="jp-audio" role="application" aria-label="media player">
        <div class="jp-type-single">
            <div class="jp-gui jp-interface">
                <div class="jp-volume-controls">
                    <button class="jp-mute" role="button" tabindex="0">mute</button>
                    <button class="jp-volume-max" role="button" tabindex="0">max volume</button>

                    <div class="jp-volume-bar">
                        <div class="jp-volume-bar-value"></div>
                    </div>
                </div>

                <div class="jp-controls-holder">
                    <div class="jp-controls">
                        <button class="jp-play" role="button" tabindex="0">play</button>
                        <button class="jp-stop" role="button" tabindex="0">stop</button>
                    </div>

                    <div class="jp-progress">
                        <div class="jp-seek-bar">
                            <div class="jp-play-bar"></div>
                        </div>
                    </div>

                    <div class="jp-current-time" role="timer" aria-label="time">&nbsp;</div>
                    <div class="jp-duration" role="timer" aria-label="duration">&nbsp;</div>

                    <div class="jp-toggles">
                        <button class="jp-repeat" role="button" tabindex="0">repeat</button>
                    </div>
                </div>
            </div>

            <div class="jp-details">
                <div class="jp-title" aria-label="title">&nbsp;</div>
            </div>

            <div class="jp-no-solution">
                <span>Update Required</span>
                To play the media you will need to either update your browser to a recent version or update your <a href="http://get.adobe.com/flashplayer/" target="_blank">Flash plugin</a>.
            </div>
        </div>
    </div>
</div>
{% endblock %}