{% extends "/blog/base.html" %}
{% block content %}
<div class="grey" style="padding-top: 6em;">
    <div id="jplayer-wrapper">
        <div id="music-selection">
            <div id="music-type">
                <div id="loop-selection" class="selection-highlight animate">Loops</div>
                <div id="song-selection" class="selection-unhighlight animate">Songs</div>
            </div>

            <div id="songs" class="animate">
                {% for entry in songs %}
                    <div id="{{ entry[0] }}" class="audio-text animate song">
                        <span class="audio-name">{{ entry[0] }}</span><span class="audio-length">{{ entry[1] }}</span>
                    </div>
                {% endfor %}
            </div>

            <div id="loops" class="animate">
                {% for entry in loops %}
                    <div id="{{ entry[0] }}" class="audio-text animate loop">
                        <span class="audio-name">{{ entry[0] }}</span><span class="audio-length">{{ entry[1] }}</span>
                    </div>
                {% endfor %}
            </div>
        </div>

        <!-- jPlayer -->
        <div id="jplayer-inner">
            <div id="jquery_jplayer_1" class="jp-jplayer animate-slow"></div>

            <div id="jp_container_1" class="jp-audio" role="application" aria-label="media player">
                <div class="jp-type-single">
                    <div class="jp-gui jp-interface">
                        <div id="volume-controls">
                            <i id="mute" class="fa fa-volume-off animate"></i>
                            <i id="max-volume" class="fa fa-volume-up animate"></i>

                            <div id="volume-bar">
                                <div id="volume-bar-value"></div>
                            </div>
                        </div>

                        <div class="audio-controls-holder">
                            <div class="audio-controls">
                                <i id="play-button" class="fa fa-play animate"></i>
                                <i id="pause-button" class="fa fa-pause animate"></i>
                                <i id="stop-button" class="fa fa-stop animate"></i>
                            </div>

                            <div id="audio-seek">
                                <div id="seek-bar">
                                    <div id="play-bar"></div>

                                    <div id="current-time" role="timer" aria-label="time">&nbsp;</div>
                                    <div id="duration" role="timer" aria-label="duration">&nbsp;</div>
                                </div>
                            </div>
                        </div>

                        <div class="jp-details">
                            <div id="song-title" aria-label="title">&nbsp;</div>
                            <div id="song-download"><a href="/static/music/25.mp3"><i class="fa fa-download animate"></i></a></div>
                        </div>

                        <div class="jp-no-solution" style="position: relative; top: 3em;">
                            <span>Update Required</span>
                            To play the media you will need to either update your browser to a recent version or update your <a href="http://get.adobe.com/flashplayer/" target="_blank">Flash plugin</a>.
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="music-welcome">
        <span class="project-page-title">My Equipment</span>
    </div>

    <div id="music-lightbox" class="animate">
        <img src="/static/images/music/music01.jpg">
        <span>(Click anywhere to close)</span>
    </div>

    <div id="music-images-wrapper">
        <div id="collage-1" class="music-clickable animate">
            <span>Roland Cube Amp</span>
        </div>

        <div id="collage-2" class="music-clickable animate">
            <span>Fender Telecaster</span>
        </div>

        <div id="collage-3" class="music-clickable animate">
            <span>Boss Loop Station</span>
        </div>

        <div id="collage-4" class="music-clickable animate">
            <span>Click to Enlarge</span>
        </div>

        <div id="collage-5" class="music-clickable animate">
            <span>Click to Enlarge</span>
        </div>

        <div id="collage-6" class="music-clickable animate">
            <span>Click to Enlarge</span>
        </div>

        <div id="collage-7" class="music-clickable animate">
            <span>Click to Enlarge</span>
        </div>

        <img src="/static/images/music/music_collage.jpg">
    </div>

    <div class="music-welcome" style="margin: 1em auto; margin-top: 2.5em">
        <span>Bonus video from an old 2007 jam session</span>
    </div>


    <div style="max-width: 600px; margin: 10px auto; margin-bottom: 3em;">
        <div class="video-wrapper">
            <iframe width="420" height="315" src="https://www.youtube.com/embed/w1t-Mevr9YM" frameborder="0" allowfullscreen></iframe>
        </div>
    </div>
</div>
{% endblock %}