{% extends '/blog/base.html' %}
{% block content %}
    <div class="white-inner">
        <div class="white-inner-container">
            <div class="white-inner-right">
                <div class="not-submitted">Not Yet Submitted</div>

                <div class="preview" style="display:none;"></div>
            </div>

            <div class="white-inner-left">
                {% with messages = get_flashed_messages() %}
                    {% if messages %}
                        {% for message in messages %}
                            <p class="alert">{{ message }}</p>
                        {% endfor %}
                    {% endif %}
                {% endwith %}

                {% if form.errors %}
                    <div class="alert">
                        {% for message in form.color.errors %}
                            <p>{{ message }}</p>
                        {% endfor %}

                        {% for message in form.title.errors %}
                            <p>{{ message }}</p>
                        {% endfor %}

                        {% for message in form.icon.errors %}
                            <p>{{ message }}</p>
                        {% endfor %}

                        {% for message in form.subtitle.errors %}
                            <p>{{ message }}</p>
                        {% endfor %}

                        {% for message in form.content.errors %}
                            <p>{{ message }}</p>
                        {% endfor %}
                    </div>
                {% endif %}

                <div class="preview-format-wrapper">
                    <div id="preview" class="button animate">Preview</div>
                    <div id="formatting" class="button animate">Formatting</div>
                    <div id="show-hidden" class="formatting-select animate">Show Hidden Fields</div>
                </div>

                <br>

                <div class="format-guide">
                    <p>This blog uses <a href="http://daringfireball.net/projects/markdown/syntax">Markdown</a> for formatting.</p>
                    <span>Highlight your text and click the button to apply tags</span>

                    <div class="formatting-buttons">
                        <div id="code-tag" class="button animate">Code</div>
                        <div id="bold-tag" class="button animate">Bold</div>
                        <div id="italic-tag" class="button animate">Italic</div>
                        <div id="header-tag" class="button animate">Header</div>
                        <div id="color-tag" class="button animate">Color</div>
                        <br>
                        <div id="link-tag" class="button animate">Link</div>
                        <div id="img-tag" class="button animate">Image</div>
                        <div id="carousel-tag" class="button animate">Img Carousel</div>
                        <div id="video-tag" class="button animate">Video</div>

                        <div id="code-tag-options" class="tag-options">
                            <div id="code-tag-options-python" class="button animate">Python</div>
                            <div id="code-tag-options-js" class="button animate">JavaScript</div>
                        </div>

                        <div id="header-tag-options" class="tag-options">
                            <div id="header-tag-options-h1" class="button animate">< h1 ></div>
                            <div id="header-tag-options-h2" class="button animate">< h2 ></div>
                            <div id="header-tag-options-h3" class="button animate">< h3 ></div>
                            <br>
                            <div id="header-tag-options-h4" class="button animate">< h4 ></div>
                            <div id="header-tag-options-h5" class="button animate">< h5 ></div>
                            <div id="header-tag-options-h6" class="button animate">< h6 ></div>
                        </div>

                        <div id="color-tag-options" class="tag-options">
                            <div id="color-tag-options-red" class="button animate" style="background-color: #F40022; width: 20px;"></div>
                            <div id="color-tag-options-blue" class="button animate" style="background-color: #0D4EAF; width: 20px;"></div>
                            <div id="color-tag-options-yellow" class="button animate" style="background-color: #FFCD78; width: 20px;"></div>
                            <div id="color-tag-options-green" class="button animate" style="background-color: #007E65; width: 20px;"></div>
                            <div id="color-tag-options-purple" class="button animate" style="background-color: #8924C1; width: 20px;"></div>
                        </div>

                        <div id="link-tag-options" class="tag-options">
                            <input type="text" id="link-url" placeholder="URL">
                            <div id="link-tag-submit" class="button">Add Tag</div>
                        </div>

                        <div id="img-tag-options" class="tag-options">
                            <input type="text" id="img-url" placeholder="URL">
                            <input type="text" id="img-alt-text" placeholder="Alt Text">
                            <div id="img-tag-submit" class="button">Add Tag</div>
                        </div>

                        <div id="carousel-tag-options" class="tag-options">
                            <input type="text" class="carousel-url" placeholder="URL">
                            <div id="add-field" class="button animate">Add Field</div>
                            <div id="carousel-tag-submit" class="button">Add Tag</div>
                        </div>
                    </div>
                </div>

                <form class="cms" action="/cms-submit" method="POST">
                    {{ form.hidden_tag() }}

                    {{ form.color() }}
                    {{ form.icon() }}

                    {{ form.month(placeholder="Month", class="animate") }}
                    {{ form.year(placeholder="Year", class="animate") }}
                    {{ form.hidden_date(placeholder="Date String", class="animate") }}

                    <div id="title-label" class="input-label animate">Title</div>
                    {{ form.title(placeholder="Title", class="animate") }}

                    <div id="date-label" class="input-label animate">Subtitle</div>
                    {{ form.subtitle(placeholder="Subtitle", class="animate") }}

                    <div id="content-label" class="input-label animate">Content</div>
                    {{ form.content(placeholder="Content", class="animate")|safe }}

                    <div id="button-wrapper">
                        <div id="color-select" class="color-select button animate">Theme</div>
                        <div id="icon-select" class="color-select button animate">Icon</div>
                    </div>

                    <div id="color-selections">
                        <div class="animate" style="background-color: #f2f2f2"></div>
                        <div class="animate" style="background-color: #FFFFFF"></div>
                        <div class="animate" style="background-color: #2966C0;"></div>
                        <div class="animate" style="background-color: #e3f4f1"></div>
                    </div>

                    <div id="icon-selections">
                        {% for icon in icons %}
                            <img class="animate" src="{{ icon }}">
                        {% endfor %}
                    </div>

                    {{ form.submit(class="button animate") }}
                </form>
            </div>
        </div>
    </div>
<script>
    $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
    $(document).ready(function() {
        cms();
    });
</script>
{% endblock %}