{% extends "/blog/base.html" %}
{% block content %}

<div class="grey">

    <div id="projects-div">

        <div id="projects-title">
            <span class="project-page-title">Projects</span>
        </div>

        <div id="projects-grid">
            <a href="http://www.gifcache.com">
            <div class="project animate">
                <img src="/static/images/blog_welcome/gifcache-welcome.png" />
                <div class="project-text">
                    <span class="project-title">GifCache</span>
                    <span class="project-description">Store and Organize Gif URLs</span>
                </div>
            </div>
            </a>

            <a href="/screenbloom-project">
            <div class="project animate">
                <img src="/static/images/screenbloom-icon.png" />
                <div class="project-text">
                    <span class="project-title">ScreenBloom</span>
                    <span class="project-description">Sync Hue lightbulbs with your PC screen</span>
                </div>
            </div>
            </a>

            <a href="/cms-project">
            <div class="project animate">
                <img src="/static/images/CMS4.jpg" />
                <div class="project-text">
                    <span class="project-title">Content Management System</span>
                    <span class="project-description">A custom CMS I developed for my blog</span>
                </div>
            </div>
            </a>

            <a href="/steamtime-project">
            <div class="project animate">
                <img src="/static/images/steamtime1.jpg" />
                <div class="project-text">
                    <span class="project-title">SteamTime</span>
                    <span class="project-description">Display data from the Steam Web API</span>
                </div>
            </div>
            </a>

            <a href="/ycs-campaign">
            <div class="project animate">
                <img src="/static/images/ycscampaign.jpg" />
                <div class="project-text">
                    <span class="project-title">YCS Re-Election Website</span>
                    <span class="project-description">Commissioned for a local campaign</span>
                </div>
            </div>
            </a>

            <a href="/reddit-scraper">
            <div class="project animate">
                <img src="/static/images/scrape1.jpg" />
                <div class="project-text">
                    <span class="project-title">Reddit Image Scraper</span>
                    <span class="project-description">Quickly grab images from a subreddit</span>
                </div>
            </div>
            </a>

            <a href="/gif-party">
            <div class="project animate">
                <img src="/static/images/gif-party.jpg" />
                <div class="project-text">
                    <span class="project-title">GIF Party!</span>
                    <span class="project-description">Watch GIFs float around your screen</span>
                </div>
            </div>
            </a>

            <a href="/gif_display">
            <div class="project animate">
                <img src="/static/images/gif-display-icon.jpg" />
                <div class="project-text">
                    <span class="project-title">Raspberry Pi GIF Display</span>
                    <span class="project-description">A combination of hardware and code</span>
                </div>
            </div>
            </a>

            <a href="/cstools-project">
            <div class="project animate">
                <img src="/static/images/cstools1.jpg" />
                <div class="project-text">
                    <span class="project-title">CS Tools</span>
                    <span class="project-description">A set of programs I use daily at work</span>
                </div>
            </div>
            </a>

            <a href="/pta">
            <div class="project animate">
                <img src="/static/images/ptabutton.jpg" />
                <div class="project-text">
                    <span class="project-title">Python Text Adventure</span>
                    <span class="project-description">A text RPG with randomized elements</span>
                </div>
            </div>
            </a>
        </div>
    </div>

</div>

<script>
    $(document).ready(function(){
        projectsMasonry();
    });
</script>
{% endblock %}