{% extends "/blog/base.html" %}
{% block content %}

<div id="grey">
    <div id="projects-title">
        <h3>Projects</h3>
        <hr id="hr">
        <p>Some of my programming projects so far...</p>
    </div>
    <ul class="rig columns-3">
        <li>
            <a href="/pta"><img src="/static/images/ptabutton.png" /></a>
            <h3>Python Text Adventure</h3>
            <p>My first project, a simple text adventure.</p>
        </li>
        <li>
            <a href="/cstools"><img src="/static/images/cstoolsbutton.png" /></a>
            <h3>CS Tools</h3>
            <p>A small but useful set of programs I use daily at work.</p>
        </li>
        <li>
            <a href="/gif_display"><img src="/static/images/pi_display.png" /></a>
            <h3>Raspberry Pi GIF Display</h3>
            <p>A combination of hardware and code.</p>
        </li>
    </ul>
</div>

{% endblock %}