{% extends '/blog/base.html' %}
{% block content %}
<div class="welcome-container">
    <br>

    <span id="hello">Hello!</span>

    <span class="welcome-blurb">My name is Tyler Kershner.</span>
    <span class="welcome-blurb">I'm a software developer in Ann Arbor, MI.</span>
    <span class="welcome-blurb">Want to work together? Don't hesitate to <a href="#contact">get in touch</a>.</span>

    <img class="img-responsive about-pics" src="/static/images/new_collage.png" style=" box-shadow: 0 5px 20px -5px #000;">

    <br>
    <br>
    <br>
</div>

<div id="projects-section" class="welcome-container green">
    <div class="welcome-section-title" style="top: .5em; text-shadow: 1px 1px 3px #000">Projects</div>

    <br>
    <br>

    <div id="projects-container">
        <div id="welcome-projects-small">
            <a href="/screenbloom-project">
                <div class="welcome-project">
                    <img src="/static/images/blog_welcome/screenbloom-welcome.jpg" class="responsive-image">
                    <div class="welcome-project-blurb animate">
                        <span style="font-size: 1.5em;">ScreenBloom</span>
                        <hr>
                        A desktop application to update selected Philips Hue bulbs with your screen's current color.
                        <br>
                        <br>
                        Built with Python, JavaScript, HTML/CSS, and Flask.
                    </div>
                </div>
            </a>

            <br>

            <a href="/cms-project">
                <div class="welcome-project">
                    <img src="/static/images/blog_welcome/cms-welcome.jpg" class="responsive-image">
                    <div class="welcome-project-blurb animate">
                        <span style="font-size: 1.5em;">Custom CMS</span>
                        <hr>
                        A content management system to make maintaining my blog more
                        streamlined and less error prone.
                        <br>
                        <br>
                        Built with Python, JavaScript, HTML/CSS, and SQLAlchemy.
                    </div>
                </div>
            </a>

            <br>
        </div>

        <div id="welcome-projects-med">
            <a href="/screenbloom-project">
                <div class="welcome-project">
                    <img src="/static/images/blog_welcome/screenbloom-welcome.jpg" class="responsive-image">
                    <div class="welcome-project-blurb animate">
                        <span>ScreenBloom</span>
                        <hr>
                        A desktop application to update selected Philips Hue bulbs with your screen's current color.
                        <br>
                        <br>
                        Built with Python, JavaScript, HTML/CSS, and Flask.
                    </div>
                </div>
            </a>

            <a href="/cms-project">
                <div class="welcome-project">
                    <img src="/static/images/blog_welcome/cms-welcome.jpg" class="responsive-image">
                    <div class="welcome-project-blurb animate">
                        <span>Custom CMS</span>
                        <hr>
                        A content management system to make maintaining and contributing to my blog more
                        streamlined and less error prone.
                        <br>
                        <br>
                        Built with Python, JavaScript, HTML/CSS, and SQLAlchemy.
                    </div>
                </div>
            </a>

            <br>

            <a href="/steamtime-project">
                <div class="welcome-project">
                    <img src="/static/images/blog_welcome/steamtime-welcome.jpg" class="responsive-image">
                    <div class="welcome-project-blurb animate">
                        <span>SteamTime</span>
                        <hr>
                        SteamTime is a web app that organizes data pulled from the Steam API.
                        Users can enter their SteamID and see statistics related to their time
                        spent in Steam games.
                        <br>
                        <br>
                        Built with Python, JavaScript, HTML/CSS, and Flask.
                    </div>
                </div>
            </a>

            <a href="/gif_display">
                <div class="welcome-project">
                    <img src="/static/images/gif-display-icon.jpg" class="responsive-image">
                    <div class="welcome-project-blurb animate">
                        <span style="font-size: 1.30em;">Raspberry Pi GIF Display</span>
                        <hr>
                        A fun project to combine hardware and code.  GIFs are pulled from the reddit API and
                        served to an RPi powered display.
                        <br>
                        <br>
                        Built with Python, JavaScript, HTML/CSS, and Linux.
                    </div>
                </div>
            </a>
        </div>

        <div id="welcome-projects-large">
            <a href="/screenbloom-project">
                <div class="welcome-project">
                    <img src="/static/images/blog_welcome/screenbloom-welcome.jpg" class="responsive-image">
                    <div class="welcome-project-blurb animate">
                        <span>ScreenBloom</span>
                        <hr>
                        A desktop application to update selected Philips Hue bulbs with your screen's current color.
                        <br>
                        <br>
                        Built with Python, JavaScript, HTML/CSS, and Flask.
                    </div>
                </div>
            </a>

            <a href="/cms-project">
                <div class="welcome-project">
                    <img src="/static/images/blog_welcome/cms-welcome.jpg" class="responsive-image">
                    <div class="welcome-project-blurb animate">
                        <span>Custom CMS</span>
                        <hr>
                        A content management system to make maintaining and contributing to my blog more
                        streamlined and less error prone.
                        <br>
                        <br>
                        Built with Python, JavaScript, HTML/CSS, and SQLAlchemy.
                    </div>
                </div>
            </a>

            <a href="/steamtime-project">
                <div class="welcome-project">
                    <img src="/static/images/blog_welcome/steamtime-welcome.jpg" class="responsive-image">
                    <div class="welcome-project-blurb animate">
                        <span>SteamTime</span>
                        <hr>
                        SteamTime is a web app that organizes data pulled from the Steam API.
                        Users can enter their SteamID and see statistics related to their time
                        spent in Steam games.
                        <br>
                        <br>
                        Built with Python, JavaScript, HTML/CSS, and Flask.
                    </div>
                </div>
            </a>

            <br>

            <a href="/gif_display">
                <div class="welcome-project">
                    <img src="/static/images/gif-display-icon.jpg" class="responsive-image">
                    <div class="welcome-project-blurb animate">
                        <span>Raspberry Pi GIF Display</span>
                        <hr>
                        A fun combination of hardware and code.  GIFs are pulled from the reddit API and
                        served to an RPi powered display.
                        <br>
                        <br>
                        Built with Python, JavaScript, HTML/CSS, and Linux.
                    </div>
                </div>
            </a>

            <a href="/ycs-campaign">
                <div class="welcome-project">
                    <img src="/static/images/blog_welcome/ycs-welcome.jpg" class="responsive-image">
                    <div class="welcome-project-blurb animate">
                        <span>YCS Re-Election Website</span>
                        <hr>
                        A professional website commissioned for a local re-election campaign.
                        <br>
                        <br>
                        Built with Python, JavaScript, HTML/CSS, and Flask.
                    </div>
                </div>
            </a>

            <a href="/cstools-project">
                <div class="welcome-project">
                    <img src="/static/images/blog_welcome/cstools-welcome.jpg" class="responsive-image">
                    <div class="welcome-project-blurb animate">
                        <span>Customer Service Tools</span>
                        <hr>
                        A suite of tools developed to make my work duties more efficient and uniform.
                        <br>
                        <br>
                        Built with Python, JavaScript, HTML/CSS, and Flask.
                    </div>
                </div>
            </a>
        </div>

        <a id="more-projects-link" href="/projects"><div id="more-projects" class="animate">See More Projects</div></a>

        <br>
        <br>
        <br>
        <br>
    </div>
</div>


<div id="contact-section" class="welcome-container" style="background-color: #F5F5F5;">
    <br>
    <div class="welcome-section-title light-blue">Contact</div>
    <br>

    <div id="contact-icons">
        <div>
            <i class="fa fa-paper-plane-o fa-2x"></i>
            <a href="mailto:tyler@kershner.org">tyler@kershner.org</a>
        </div>

        <br>

        <div>
            <i class="fa fa-github fa-2x"></i>
            <a href="https://github.com/kershner">GitHub</a>
        </div>

        <div>
            <i class="fa fa-linkedin fa-2x"></i>
            <a href="https://www.linkedin.com/pub/tyler-kershner/95/97b/50">LinkedIn</a>
        </div>
    </div>

    <span class="welcome-blurb" style="margin: 0 auto;">Have some feedback or work for me?</span>

    <a name="contact"></a>

    <div id="contact-form-container">
        <input id="subject" type="text" placeholder="Subject" class="animate">
        <textarea id="email-content" placeholder="Email" class="animate"></textarea>
        <input id="send" type="submit" value="Send" class="animate">
    </div>
</div>
{% endblock %}