{% extends '/blog/base.html' %}
{% block content %}
<div class="welcome-container">
    <br>

    <span id="hello" class="levitate">Hello!</span>

    <span id="blurb01" class="welcome-blurb">My name is Tyler Kershner.</span>
    <span id="blurb02" class="welcome-blurb">I'm a software developer in Ann Arbor, MI.</span>
    <span id="blurb03" class="welcome-blurb">Want to work together? Don't hesitate to <a href="#contact">get in touch</a>.</span>

    <img id="welcome-pic" class="img-responsive about-pics" src="/static/images/new_collage.png">
    <i id="down-arrow" class="fa fa-chevron-down"></i>
</div>

<div id="projects-section" class="welcome-container">
    <div id="projects-title" class="welcome-section-title" style="top: .5em;">Projects</div>

    <br>
    <br>

    <div id="projects-container" class="animate">
        <div id="welcome-projects-small">
            <a href="/screenbloom-project">
                <div class="welcome-project">
                    <img src="/static/images/blog_welcome/screenbloom-welcome.jpg" class="responsive-image">
                    <div class="welcome-project-blurb animate">
                        <span style="font-size: 1.5em;">ScreenBloom</span>
                        A desktop application to update selected Philips Hue bulbs with your screen's current color.
                    </div>

                    <div class="welcome-project-title animate">ScreenBloom</div>
                </div>
            </a>

            <br>

            <a href="/cms-project">
                <div class="welcome-project">
                    <img src="/static/images/blog_welcome/cms-welcome.jpg" class="responsive-image">
                    <div class="welcome-project-blurb animate">
                        <span style="font-size: 1.5em;">Custom CMS</span>
                        A content management system to make maintaining my blog more
                        streamlined and less error prone.
                    </div>
                    <div class="welcome-project-title animate">Custom CMS</div>
                </div>
            </a>

            <br>
        </div>

        <div id="welcome-projects-med">
            <a href="/screenbloom-project">
                <div class="welcome-project">
                    <img src="/static/images/blog_welcome/screenbloom-welcome.jpg" class="responsive-image">
                    <div class="welcome-project-blurb animate">
                        <span>ScreenBloom</span>
                        A desktop application to update selected Philips Hue bulbs with your screen's current color.
                    </div>
                    <div class="welcome-project-title animate">ScreenBloom</div>
                </div>
            </a>

            <a href="/cms-project">
                <div class="welcome-project">
                    <img src="/static/images/blog_welcome/cms-welcome.jpg" class="responsive-image">
                    <div class="welcome-project-blurb animate">
                        <span>Custom CMS</span>
                        A content management system to make maintaining and contributing to my blog more
                        streamlined and less error prone.
                    </div>
                    <div class="welcome-project-title animate">Custom CMS</div>
                </div>
            </a>

            <br>

            <a href="/steamtime-project">
                <div class="welcome-project">
                    <img src="/static/images/blog_welcome/steamtime-welcome.jpg" class="responsive-image">
                    <div class="welcome-project-blurb animate">
                        <span>SteamTime</span>
                        A web app that organizes data pulled from the Steam API.
                        Users enter their SteamID and see stats related to time spent in their
                        Steam games.
                    </div>
                    <div class="welcome-project-title animate">SteamTime</div>
                </div>
            </a>

            <a href="/gif_display">
                <div class="welcome-project">
                    <img src="/static/images/gif-display-icon.jpg" class="responsive-image">
                    <div class="welcome-project-blurb animate">
                        <span>RPi GIF Display</span>
                        A fun project that combines hardware and code.  GIFs are pulled from the reddit API and
                        served to an RPi powered display.
                    </div>
                    <div class="welcome-project-title animate">RPi GIF Display</div>
                </div>
            </a>
        </div>

        <div id="welcome-projects-large">
            <a href="/screenbloom-project">
                <div class="welcome-project">
                    <img src="/static/images/blog_welcome/screenbloom-welcome.jpg" class="responsive-image">
                    <div class="welcome-project-blurb animate">
                        <span>ScreenBloom</span>
                        A desktop application to update selected Philips Hue bulbs with your screen's current color.
                        <br>
                        <br>
                        Built with Python, JavaScript, HTML/CSS, and Flask.
                    </div>
                    <div class="welcome-project-title animate">ScreenBloom</div>
                </div>
            </a>

            <a href="/cms-project">
                <div class="welcome-project">
                    <img src="/static/images/blog_welcome/cms-welcome.jpg" class="responsive-image">
                    <div class="welcome-project-blurb animate">
                        <span>Custom CMS</span>
                        A content management system to make maintaining and contributing to my blog more
                        streamlined and less error prone.
                        <br>
                        <br>
                        Built with Python, JavaScript, HTML/CSS, and SQLAlchemy.
                    </div>
                    <div class="welcome-project-title animate">Custom CMS</div>
                </div>
            </a>

            <a href="/steamtime-project">
                <div class="welcome-project">
                    <img src="/static/images/blog_welcome/steamtime-welcome.jpg" class="responsive-image">
                    <div class="welcome-project-blurb animate">
                        <span>SteamTime</span>
                        A web app that organizes data pulled from the Steam API.
                        Users enter their SteamID and see stats related to time spent in their
                        Steam games.
                        <br>
                        <br>
                        Built with Python, JavaScript, and Flask.
                    </div>
                    <div class="welcome-project-title animate">SteamTime</div>
                </div>
            </a>

            <br>

            <a href="/gif_display">
                <div class="welcome-project">
                    <img src="/static/images/gif-display-icon.jpg" class="responsive-image">
                    <div class="welcome-project-blurb animate">
                        <span>RPi GIF Display</span>
                        A fun combination of hardware and code.  GIFs are pulled from the reddit API and
                        served to an RPi powered display.
                        <br>
                        <br>
                        Built with Python, JavaScript, HTML/CSS, and Linux.
                    </div>
                    <div class="welcome-project-title animate">RPi GIF Display</div>
                </div>
            </a>

            <a href="/ycs-campaign">
                <div class="welcome-project">
                    <img src="/static/images/blog_welcome/ycs-welcome.jpg" class="responsive-image">
                    <div class="welcome-project-blurb animate">
                        <span style="font-size: 1.9vw;">YCS Campaign Site</span>
                        A professional website commissioned for a local re-election campaign.
                        <br>
                        <br>
                        Built with Python, JavaScript, HTML/CSS, and Flask.
                    </div>
                    <div id="ycs-title" class="welcome-project-title animate" style="font-size: 1.5em;">YCS Campaign Site</div>
                </div>
            </a>

            <a href="/cstools-project">
                <div class="welcome-project">
                    <img src="/static/images/blog_welcome/cstools-welcome.jpg" class="responsive-image">
                    <div class="welcome-project-blurb animate">
                        <span>CS Tools</span>
                        A suite of tools developed to make my work duties more efficient.
                        <br>
                        <br>
                        Built with Python, JavaScript, and Flask.
                    </div>
                    <div class="welcome-project-title animate">CSTools</div>
                </div>
            </a>
        </div>

        <a id="more-projects-link" href="/projects"><div id="more-projects" class="animate">See More Projects</div></a>

        <br>
        <br>
        <br>
    </div>
</div>


<div id="contact-section" class="welcome-container">
    <br>
    <div id="contact-title" class="welcome-section-title">Contact</div>

    <div id="contact-form-wrapper" class="animate">
        <div id="contact-icons">
            <div>
                <i class="fa fa-paper-plane-o fa-2x"></i>
                <a href="mailto:tyler@kershner.org">tyler@kershner.org</a>
            </div>

            <br>

            <div>
                <i class="fa fa-github fa-2x"></i>
                <a href="https://github.com/kershner">GitHub</a>
            </div>

            <div>
                <i class="fa fa-linkedin fa-2x"></i>
                <a href="https://www.linkedin.com/pub/tyler-kershner/95/97b/50">LinkedIn</a>
            </div>
        </div>

        <div id="welcome-subject-notification" class="welcome-notification animate">The subject field is empty!</div>
        <div id="welcome-body-notification" class="welcome-notification animate">The body field is empty!</div>

        <span class="welcome-blurb">Have some feedback or work for me?</span>

        <a name="contact"></a>


        <div id="contact-form-container">
            <input id="subject" type="text" placeholder="Subject" class="animate">
            <textarea id="email-content" placeholder="Email" class="animate"></textarea>
            <input id="send" type="submit" value="Send" class="animate">
        </div>
    </div>
</div>
{% endblock %}