/* Custom styles */

body {
	font-family: 'Open Sans';
	background-color: #6666FF;
	text-shadow: 1px 1px 1px #000000;
}

.row {
    padding: 3px 0;
	width: 100%;
}

/* Header */
.masthead .clearfix {
    right: 25px;
	top: 0;
}

.inner {
	padding: 10px 0;
}

/* Adjusting nav-bar text */
.masthead-nav li a {
	font-weight: normal;
	font-size: 16px;
}

/* Small bug-fixing conflict between bootstrap and cover */
a:hover {
	text-decoration: none;
}

/* Buttons/links to the various applications */
.btn-success,
.btn-primary,
.btn-info,
.btn-warning,
.btn-danger {
	height: 75px;
	width: 325px;
	font-size: 22px;
	font-weight: normal;
	text-shadow: 1px 1px 2px #000000;
	z-index: 1;
}

.cover .btn-lg {
    font-weight: normal;
}

/* Template demo text */
.well {
    position: relative;
    margin: 0 auto;
    padding: 0 0;
    background-color: #ffff66;
    width: 100%;
    height: 200px;
    overflow: auto;
    text-align: left;
}

#smaller {
    color: #000000;
    text-shadow: 1px 0 0 #FFFFFF;
}

/* Backorder Notification Form */
#backorder-form {
	position: relative;
	margin: 0 auto;
	top: 25px;
	padding: 10px 0;
}

.alert {
    position: relative;
    text-align: justify;
	width: 50%;
	margin: 0 auto;
    padding: 15px 0;
}

form {
	padding: 20px 0;
	text-align: center;
	margin: 0 auto;
	position: relative;
	width: 50%;
	z-index: 1;
}

#submit {
	position: relative;
	margin: 0 auto;
	font-size: 20px;
	height: 2%;
	width: 50%;
	top: 5px;
}

input  {
	width: 100%;
	display:block;
	border: 1px solid #999;
	height: 75px;
	color: #000000;
	font-size: 22px;
	-webkit-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
	-moz-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
	box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
	border-radius: 0;
}

.backorder-form-top {
	border-radius: 15px 15px 0 0;
}

.backorder-form-bottom {
	border-radius: 0 0 15px 15px;
	margin: 0;
	position: relative;
}

#template-blurb {
    position: relative;
    padding: 0 0;
    width: 75%;
}

#template-div {
    position: relative;
    width: 65%;
    height: 65px;
    z-index: 1;
    top: 40px;
    padding: 10px 5px;
}

#backorder-link {
    position: relative;
    bottom: 10px;
    text-shadow: 1px 1px 1px #000;
}

::-webkit-input-placeholder {
   position: relative;
   left: 15px;
}

:-moz-placeholder { /* Firefox 18- */
   position: relative;
   left: 15px;
}

::-moz-placeholder {  /* Firefox 19+ */
   position: relative;
   left: 15px;
}

:-ms-input-placeholder {
   position: relative;
   left: 15px;
}

/* 222 Form Date Checker */
#date-checker-input {
	position: relative;
	bottom: 15px;
	bottom: 25px;
}

.form-date {
	position:relative;
	margin: 0 auto;
}

.container #example-form {
	height: 475px;
	width: 600px;
	padding: 0 15px;
}

.container #demo {
	max-width: 500px;
    max-height: 300px;
    min-width: 500px;
    min-height: 300px;
}

#demo-text-div {
	background-color: #66b3ff;
	height: 100%;
	width: 555px;
	border-radius: 65px 65px 0 0;
	padding: 30px 15px;
}

#demo-text {
	padding: 10px 0;
	color: #FFFFFF;
	font-size: 16px;
	text-shadow: 1px 2px 1px #000;
}

.date-checker-message-div {
	background-color: #6666FF;
	width: 525px;
	height: 75px;
	position: relative;
	bottom: 0;
	margin: 0 auto;
	border-radius: 25px 25px 0 0;
}

.date-checker-message {
	font-size: 20px;
}

#application {
    position: relative;
    padding: 5px 0;
    background-color: #218d97;
    height: 55px;
    width: 190px;
    margin: 0 auto;
    border-radius: 15px;
}

/* *********************************
   Projects Image Grid
   ********************************* */
ul.rig {
	list-style: none;
	font-size: 0px;
	margin-top: 35px;
	margin-left: -2.5%; /* should match li left margin */
	margin-right: 2.5%;
	margin-bottom: 0;
}

ul.rig li {
	text-align: center;
	background: #66b3ff;
	display: inline-block;
	padding: 10px;
	margin: 0 0 2.5% 2.5%;
	min-width: 450px;
	min-height: 175px;
	border: 1px solid #ddd;
	border-radius: 55px 25px 55px 0;
	font-size: 16px;
	font-size: 1rem;
	vertical-align: top;
	box-shadow: 0 0 5px #ddd;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}

ul.rig li div {
	color: #FFF;
	font-size: 1.5em;
	text-shadow: 1px 1px 2px #000;
}

ul.rig li img {
	max-width: 100%;
	height: auto;
	margin: 0 0 10px;
}

ul.rig li h3 {
	margin: 0 0 5px;
}

ul.rig li p {
	font-size: 1.60em;
	line-height: 1.5em;
	color: #999;
}

/* class for 2 columns */
ul.rig.columns-2 li {
	width: 47.5%; /* this value + 2.5 should = 50% */
}

/* class for 3 columns */
ul.rig.columns-3 li {
	width: 30.83%; /* this value + 2.5 should = 33% */
}

/* class for 4 columns */
ul.rig.columns-4 li {
	width: 22.5%; /* this value + 2.5 should = 25% */
}
 
@media (max-width: 480px) {
	ul.grid-nav li {
		display: block;
		margin: 0 0 5px;
	}
	ul.grid-nav li a {
		display: block;
	}
	ul.rig {
		margin-left: 0;
	}
	ul.rig li {
		width: 50%; /*!important;  over-ride all li styles */
		margin: 0 0 20px;
	}
}

ul.rig li button {
	display: block;
	vertical-align: baseline;
	width: 50px;
	height: 25px;
	position: relative;
	bottom: -100px;
	right: 115px;
	font-size: 14px;
	margin-right: 15px;
}

#data-titles {
	float: left;
	text-align: justify;
}

#data {
	float: right;
	text-align: justify;
}

#csr-name {
	color: #ff6666;
}

#entry {
	text-align: center;
	background: #66b3ff;
	display: inline-block;
	padding: 10px;
	margin: 0 0 2.5% 2.5%;
	min-width: 450px;
	min-height: 175px;
	border: 1px solid #ddd;
	border-radius: 55px 25px 55px 0;
	font-size: 16px;
	font-size: 1rem;
	vertical-align: top;
	box-shadow: 0 0 5px #ddd;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}

#entry div {
	color: #FFF;
	font-size: 1.5em;
	text-shadow: 1px 1px 2px #000;
}

#entry h3 {
	margin-top: 10px;
}