body {
	background-color: #6666FF;
}

a:link {
    text-decoration: none;
	color: #FFF;
}

a:visited {
    text-decoration: none;
	color: #FFF;
}

a:hover {
    text-decoration: underline;
	color: #FFF;
}

#navbar-new {
	position: fixed;
	top: 0;
	z-index: 2;
	height: 100px;
	width: 100%;
	background: rgb(102, 179, 255);
	background: -moz-linear-gradient(65deg, rgb(102, 179, 255) 30%, rgb(65, 121, 187) 96%);
	background: -webkit-linear-gradient(65deg, rgb(102, 179, 255) 30%, rgb(65, 121, 187) 96%);
	background: -o-linear-gradient(65deg, rgb(102, 179, 255) 30%, rgb(65, 121, 187) 96%);
	background: -ms-linear-gradient(65deg, rgb(102, 179, 255) 30%, rgb(65, 121, 187) 96%);
	background: linear-gradient(155deg, rgb(102, 179, 255) 30%, rgb(65, 121, 187) 96%);
	box-shadow: 1px 5px 4px 0px rgba(50, 50, 50, 0.75);
}

#navbar-new-title {
	height: 100px;
	width: 400px;
	position: absolute;
	top: 9px;
	left: 15px;
}

#navbar-new-title a:hover {
	text-decoration: none;
}

#navbar-new-menu {
	height: 100px;
	width: 400px;
	position: fixed;
	right: 25px;
}


#navbar-home {
	position: absolute;
	top: 25px;
	right: 325px;
}

#navbar-sharepoint {
	position: absolute;
	top: 25px;
	right: 183px;
}

#navbar-directory {
	position: absolute;
	top: 25px;
	right: 5px;
}

@media (max-width: 870px) {
  #navbar-new-menu {
    top: 15px;
	left: 10px;
  }
  #navbar-new-title {
	top: 0;
  }
}

#backorder-form {
	top: 50px;
}

.container {
	position: relative;
	top: 90px;
}

#example-form {
	margin-left: auto;
	margin-right: auto;
	padding: 0;
}

body > div.container > h2 {
	position: relative;
	top: 80px;
}

#container {
	margin-top: 150px;
}

.backorder-form-top-new {
	margin-top: -175px;
	border-radius: 15px 15px 0 0;
	height: 55px;
	width: 350px;
}

body > div:nth-child(2) {
	margin-top: 250px;
}

.item {
	background-color: auto;
	height: 181px;
	width: 181px;
	border-radius: 30px 30px 30px 30px;
}

#main-menu a:hover {
	text-decoration: none;
}


#main-menu {
	position: relative;
	top: 150px;
}


ul.rig .main-menu {
	border-radius: 30px 30px 30px 30px;
	min-width: 181px;
	min-height: 181px;
	max-width: 181px;
	max-height: 181px;
	padding: 0;
	border: none;
	-webkit-box-shadow: 3px 3px 12px 0px rgba(50, 50, 50, 0.75);
	-moz-box-shadow:    3px 3px 12px 0px rgba(50, 50, 50, 0.75);
	box-shadow:         3px 3px 12px 0px rgba(50, 50, 50, 0.75);
}

.item h2 {
	margin-top: 35px;
}

#datechecker {
	position: relative;
	top: -200px;
}

#datechecker h2 {
	margin-left: auto;
	margin-right: auto;
}

#example-form .container {
	top: 15px;
}

#dark-purple {
	background: rgb(179, 102, 255);
	background: -moz-linear-gradient(52deg, rgb(179, 102, 255) 24%, rgb(179, 103, 177) 88%);
	background: -webkit-linear-gradient(52deg, rgb(179, 102, 255) 24%, rgb(179, 103, 177) 88%);
	background: -o-linear-gradient(52deg, rgb(179, 102, 255) 24%, rgb(179, 103, 177) 88%);
	background: -ms-linear-gradient(52deg, rgb(179, 102, 255) 24%, rgb(179, 103, 177) 88%);
	background: linear-gradient(142deg, rgb(179, 102, 255) 24%, rgb(179, 103, 177) 88%);
}

#lime {
	background: rgb(179, 255, 102);
	background: -moz-linear-gradient(52deg, rgb(179, 255, 102) 24%, rgb(110, 216, 117) 88%);
	background: -webkit-linear-gradient(52deg, rgb(179, 255, 102) 24%, rgb(110, 216, 117) 88%);
	background: -o-linear-gradient(52deg, rgb(179, 255, 102) 24%, rgb(110, 216, 117) 88%);
	background: -ms-linear-gradient(52deg, rgb(179, 255, 102) 24%, rgb(110, 216, 117) 88%);
	background: linear-gradient(142deg, rgb(179, 255, 102) 24%, rgb(110, 216, 117) 88%);
}

#salmon {
	background: rgb(255, 102, 102);
	background: -moz-linear-gradient(52deg, rgb(255, 102, 102) 24%, rgb(191, 92, 117) 88%);
	background: -webkit-linear-gradient(52deg, rgb(255, 102, 102) 24%, rgb(191, 92, 117) 88%);
	background: -o-linear-gradient(52deg, rgb(255, 102, 102) 24%, rgb(191, 92, 117) 88%);
	background: -ms-linear-gradient(52deg, rgb(255, 102, 102) 24%, rgb(191, 92, 117) 88%);
	background: linear-gradient(142deg, rgb(255, 102, 102) 24%, rgb(191, 92, 117) 88%);
}

#light-green {
	background: rgb(102, 255, 178);
	background: -moz-linear-gradient(52deg, rgb(102, 255, 178) 24%, rgb(102, 184, 145) 88%);
	background: -webkit-linear-gradient(52deg, rgb(102, 255, 178) 24%, rgb(102, 184, 145) 88%);
	background: -o-linear-gradient(52deg, rgb(102, 255, 178) 24%, rgb(102, 184, 145) 88%);
	background: -ms-linear-gradient(52deg, rgb(102, 255, 178) 24%, rgb(102, 184, 145) 88%);
	background: linear-gradient(142deg, rgb(102, 255, 178) 24%, rgb(102, 184, 145) 88%);
}

#light-purple {
	background: rgb(161, 161, 255);
	background: -moz-linear-gradient(52deg, rgb(161, 161, 255) 24%, rgb(106, 119, 207) 88%);
	background: -webkit-linear-gradient(52deg, rgb(161, 161, 255) 24%, rgb(106, 119, 207) 88%);
	background: -o-linear-gradient(52deg, rgb(161, 161, 255) 24%, rgb(106, 119, 207) 88%);
	background: -ms-linear-gradient(52deg, rgb(161, 161, 255) 24%, rgb(106, 119, 207) 88%);
	background: linear-gradient(142deg, rgb(161, 161, 255) 24%, rgb(106, 119, 207) 88%);
}

#blue-grey {
	background: rgb(116, 150, 184);
	background: -moz-linear-gradient(52deg, rgb(116, 150, 184) 24%, rgb(119, 119, 161) 88%);
	background: -webkit-linear-gradient(52deg, rgb(116, 150, 184) 24%, rgb(119, 119, 161) 88%);
	background: -o-linear-gradient(52deg, rgb(116, 150, 184) 24%, rgb(119, 119, 161) 88%);
	background: -ms-linear-gradient(52deg, rgb(116, 150, 184) 24%, rgb(119, 119, 161) 88%);
	background: linear-gradient(142deg, rgb(116, 150, 184) 24%, rgb(119, 119, 161) 88%);
}

#dark-green {
	background: rgb(99, 156, 128);
	background: -moz-linear-gradient(52deg, rgb(99, 156, 128) 24%, rgb(108, 126, 117) 88%);
	background: -webkit-linear-gradient(52deg, rgb(99, 156, 128) 24%, rgb(108, 126, 117) 88%);
	background: -o-linear-gradient(52deg, rgb(99, 156, 128) 24%, rgb(108, 126, 117) 88%);
	background: -ms-linear-gradient(52deg, rgb(99, 156, 128) 24%, rgb(108, 126, 117) 88%);
	background: linear-gradient(142deg, rgb(99, 156, 128) 24%, rgb(108, 126, 117) 88%);
}

#light-blue {
	background: rgb(183, 207, 232);
	background: -moz-linear-gradient(52deg, rgb(183, 207, 232) 24%, rgb(140, 191, 225) 88%);
	background: -webkit-linear-gradient(52deg, rgb(183, 207, 232) 24%, rgb(140, 191, 225) 88%);
	background: -o-linear-gradient(52deg, rgb(183, 207, 232) 24%, rgb(140, 191, 225) 88%);
	background: -ms-linear-gradient(52deg, rgb(183, 207, 232) 24%, rgb(140, 191, 225) 88%);
	background: linear-gradient(142deg, rgb(183, 207, 232) 24%, rgb(140, 191, 225) 88%);
}

#pink {
	background: rgb(232, 183, 207);
	background: -moz-linear-gradient(52deg, rgb(232, 183, 207) 24%, rgb(239, 136, 181) 88%);
	background: -webkit-linear-gradient(52deg, rgb(232, 183, 207) 24%, rgb(239, 136, 181) 88%);
	background: -o-linear-gradient(52deg, rgb(232, 183, 207) 24%, rgb(239, 136, 181) 88%);
	background: -ms-linear-gradient(52deg, rgb(232, 183, 207) 24%, rgb(239, 136, 181) 88%);
	background: linear-gradient(142deg, rgb(232, 183, 207) 24%, rgb(239, 136, 181) 88%);
}

#green {
	background: rgb(183, 232, 184);
	background: -moz-linear-gradient(52deg, rgb(183, 232, 184) 24%, rgb(136, 188, 172) 88%);
	background: -webkit-linear-gradient(52deg, rgb(183, 232, 184) 24%, rgb(136, 188, 172) 88%);
	background: -o-linear-gradient(52deg, rgb(183, 232, 184) 24%, rgb(136, 188, 172) 88%);
	background: -ms-linear-gradient(52deg, rgb(183, 232, 184) 24%, rgb(136, 188, 172) 88%);
	background: linear-gradient(142deg, rgb(183, 232, 184) 24%, rgb(136, 188, 172) 88%);
}

#magenta {
	background: rgb(156, 99, 156);
	background: -moz-linear-gradient(52deg, rgb(156, 99, 156) 24%, rgb(103, 87, 131) 88%);
	background: -webkit-linear-gradient(52deg, rgb(156, 99, 156) 24%, rgb(103, 87, 131) 88%);
	background: -o-linear-gradient(52deg, rgb(156, 99, 156) 24%, rgb(103, 87, 131) 88%);
	background: -ms-linear-gradient(52deg, rgb(156, 99, 156) 24%, rgb(103, 87, 131) 88%);
	background: linear-gradient(142deg, rgb(156, 99, 156) 24%, rgb(103, 87, 131) 88%);
}