<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <!-- CSS -->
    <link href="/static/Bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="/static/css/cover.css" rel="stylesheet">
    <link href="/static/css/custom.css" rel="stylesheet">
    <link href="/static/jquery.hoverGrid.css" rel="stylesheet">
    <link href="/static/css/navbar-new.css" rel="stylesheet">

    <!-- Favicon -->
    <link rel="icon" type="image/png" href="/static/images/fish.png">

    <!-- Fonts -->
    <link href='http://fonts.googleapis.com/css?family=Vollkorn' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>

    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>

    <![endif]-->
    {% if title %}
    <title>{{title}} - Customer Service Tools</title>
    {% else %}
    <title>Customer Service Tools</title>
    {% endif %}
</head>
<body>

<div id="navbar-new">
    <div id="navbar-new-title"><a href="/"><h1>Customer Service Tools</h1></a></div>
    <div id="navbar-new-menu">
        <a href="/" id="navbar-home"><h3>Home</h3></a>
        <a href="http://sharepoint.caymanchem.com/cs/default.aspx" id="navbar-sharepoint"><h3>Sharepoint</h3></a>
        <a href="http://sharepoint.caymanchem.com/directory/Pages/peopleresults.aspx" id="navbar-directory"><h3>Staff Directory</h3></a>
    </div>
</div>

{% block content %}{% endblock %}

<!-- Enables placeholder text in IE6+ -->
<script src="/static/js/placeholders.min.js"></script>

<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
<script src="/static/js/jquery.hoverGrid.js"></script>

<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="/static/bootstrap/js/bootstrap.min.js"></script>

<script type="text/javascript">
    $(document).ready(function() {
      $('.whatever').hoverGrid();
    });
</script>

</body>
</html>