<!DOCTYPE html>

<html>

<head lang="en">
    <meta charset="UTF-8">
    <!-- CSS -->
    <link href="/static/Bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="/static/Bootstrap/cover.css" rel="stylesheet">
    <link href="/static/cstools-custom.css" rel="stylesheet">
    <link href="/static/jquery.hoverGrid.css" rel="stylesheet">

    <!-- Favicon -->
    <link rel="icon" type="image/png" href="/static/images/fish.png">

    <!-- Fonts -->
    <link href='http://fonts.googleapis.com/css?family=Vollkorn' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>

    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

    {% if title %}
    <title>{{title}} - Customer Service Tools</title>
    {% else %}
    <title>Customer Service Tools</title>
    {% endif %}

</head>

<body>

<div id="navbar-new">
    <div id="navbar-new-title"><a href="/cstools/logout"><h1>Customer Service Tools</h1></a></div>
    <div id="navbar-new-menu">
        <a href="/cstools/logout" id="navbar-home"><h3>Home</h3></a>
        <a href="http://sharepoint.caymanchem.com/cs/default.aspx" id="navbar-sharepoint"><h3>Sharepoint</h3></a>
        <a href="http://sharepoint.caymanchem.com/directory/Pages/peopleresults.aspx" id="navbar-directory"><h3>Staff Directory</h3></a>
    </div>
</div>

{% block content %}{% endblock %}

<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>

<!-- Bootsrap -->
<script src="/static/bootstrap/js/bootstrap.min.js"></script>

<!-- Hover Grid -->
<script src="/static/js/jquery.hoverGrid.js"></script>

<script type="text/javascript">
    $(document).ready(function() {
      $('.whatever').hoverGrid();
    });
</script>

<!-- Google Analytics -->
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-54893941-1', 'auto');
  ga('send', 'pageview');
</script>

</body>

</html>