{% extends "/cstools/base.html" %}
{% block content %}

<div id="backorder-form" class="cover-container">
    <div id="template-blurb" class="container">
        <h2>DEA Verification Template</h2>
        <div class="well {{ color }}">
            <p id="smaller">Subject: [Sales Order Number] / [Company or Institution Name]<br><br>
            Hello,<br><br>Please verify these documents.
            </p>
        </div>
        <p>You will need to manually add your signature and attach your documents.<br><br></p>
    </div>
        {% if link %}
            <a href="{{ link }}"><div id="template-div" class="btn btn-lg btn-warning"><h3 id="backorder-link">Your DEA verification template</h3></div></a>
        {% endif %}

    {% if form.errors %}
        <div class="alert">
            {% for message in form.order_no.errors %}
                <p>{{ message }}</p>
            {% endfor %}

            {% for message in form.institution.errors %}
                <p>{{ message }}</p>
            {% endfor %}
        </div>
    {% endif %}

    <form action="{{ url_for('dea_verify') }}" method=POST>
        {{ form.hidden_tag() }}

        {% if not form.errors %}
            {% if link %}
                {{ form.order_no(placeholder="Sales Order Number", class_="backorder-form-top") }}
            {% else %}
                {{ form.order_no(placeholder="Sales Order Number", class_="backorder-form-top extra-margin-top") }}
            {% endif %}
        {% endif %}

        {% if form.errors %}
            {{ form.order_no(placeholder="Sales Order Number", class_="backorder-form-top") }}
        {% endif %}

        {{ form.institution(placeholder="Company or Institution", class_="backorder-form-bottom") }}

        {{form.submit(class_='btn btn-lg btn-danger') }}
    </form>
</div>

{% endblock %}