{% extends "/CSTools/base1.html" %}
{% block content %}

{% if entries %}
    <ul class="rig columns-3">
        {% for entry in entries %}
            <li>
                <h3>{{ entry.institution }}</h3>
                <p>
                    {{ entry.contact_name }}<br>
                    {{ entry.contact_email }}<br>
                    Posted {{ entry.timestamp }}<br>
                    {{ entry.image_url }}
                </p>
            <a href="/#"><button type="button" class="btn btn-primary btn-xs">Edit</button></a>
            </li>
        {% endfor %}
    </ul>
{% endif %}

{% if message %}
    <p>{{ message }}</p>
{% endif %}

<div class="alert">
    {% for message in form.institution.errors %}
        <p>{{ message }}</p>
    {% endfor %}

    {% for message in form.name.errors %}
        <p>{{ message }}</p>
    {% endfor %}

    {% for message in form.email.errors %}
        <p>{{ message }}</p>
    {% endfor %}

    {% for message in form.url.errors %}
        <p>{{ message }}</p>
    {% endfor %}
</div>

<form action="{{ url_for('forms_without_orders') }}" method=POST>
    {{ form.hidden_tag() }}

    {{ form.institution(placeholder="Institution's Name") }}

    {{ form.name(placeholder="Contact's Name") }}

    {{ form.email(placeholder="Contact's Email") }}

    {{ form.url(placeholder="URL for 222 Image") }}

    {{form.submit(class_='btn btn-lg btn-danger') }}
</form>

{% endblock %}