{% extends "/CSTools/base1.html" %}
{% block content %}

{% if text %}
    <div class="well">
        <p>{{ text }}</p>
    </div>
{% endif %}

<div class="alert">
    {% for message in form.institution.errors %}
        <p>{{ message }}</p>
    {% endfor %}
</div>

<form action="{{ url_for('forms_without_orders') }}" method=POST>
    {{ form.hidden_tag() }}

    {{ form.institution(placeholder="Institution's Name") }}

    {{form.submit(class_='btn btn-lg btn-danger') }}
</form>

{% endblock %}