{% extends "/cstools/base.html" %}
{% block content %}

<ul class="rig columns-4 main-menu-list">

    <li class="main-menu">
        <div class="whatever">
            <a href="/cstools/deaverify">
                <div class="item light-purple">
                    <h2>DEA Documents Verification</h2>
                    <div class="caption" style="display: none;">
                        <p>A template for sending DEA paperwork to compliance.</p>
                    </div>
                </div>
            </a>
        </div>
    </li>

    <li class="main-menu">
        <div class="whatever">
            <a href="/cstools/datechecker">
                <div class="item yellow">
                    <h2>222 Form Date Checker</h2>
                    <div class="caption" style="display: none;">
                        <p>A tool to quickly determine if a 222 form is expired.</p>
                    </div>
                </div>
            </a>
        </div>
    </li>

    <li class="main-menu">
        <div class="whatever">
            <a href="/cstools/dea">
            <div class="item light-blue">
                <h2>DEA Protocol Template</h2>
                <div class="caption" style="display: none;">
                    <p>A template to send to customers who have ordered a DEA scheduled item.</p>
                </div>
            </div>
            </a>
        </div>
    </li>

    <li class="main-menu">
        <div class="whatever">
            <a href="/cstools/licenseneeded">
                <div class="item pink">
                    <h2>DEA License Needed</h2>
                    <div class="caption" style="display: none;">
                        <p>A template to quickly prompt customers for their DEA license.</p>
                    </div>
                </div>
            </a>
        </div>
    </li>

    <li class="main-menu">
        <div class="whatever">
            <a href="/cstools/login">
                <div class="item light-green">
                    <h2>DEA Forms Without Orders</h2>
                    <div class="caption" style="display: none;">
                        <p>A database of DEA forms we've recieved without orders.</p>
                    </div>
                </div>
            </a>
        </div>
    </li>

</ul>

<ul class="rig columns-3 main-menu-list">

    <li class="main-menu">
        <div class="whatever">
            <a href="/cstools/application">
            <div class="item orange">
                <h2>Application Template</h2>
                <div class="caption" style="display: none;">
                    <p>A template to send to customers who have placed an order but do not yet have an account.</p>
                </div>
            </div>
            </a>
        </div>
    </li>

    <li class="main-menu">
        <div class="whatever">
            <a href="/cstools/newaccount">
                <div class="item salmon">
                    <h2>New Account Template</h2>
                    <div class="caption" style="display: none;">
                        <p>A template for sending a customer their new account information.</p>
                    </div>
                </div>
            </a>
        </div>
    </li>

</ul>

<ul class="rig columns-3 main-menu-list">

    <li class="main-menu">
        <div class="whatever">
            <a href="/cstools/stillneed">
                <div class="item dark-red">
                    <h2>Still Need Item?</h2>
                        <div class="caption" style="display: none;">
                            <p>A template to check if the customer still needs a newly available item.</p>
                        </div>
                </div>
            </a>
        </div>
    </li>

    <li class="main-menu">
        <div class="whatever">
            <a href="/cstools/pricediscrepancy">
                <div class="item dark-blue">
                    <h2>Price Discrepancy Template</h2>
                    <div class="caption" style="display: none;">
                        <p>A template to inform the customer of a pricing discrepancy.</p>
                    </div>
                </div>
            </a>
        </div>
    </li>

    <li class="main-menu">
        <div class="whatever">
            <a href="/cstools/backorder">
                <div class="item dark-green">
                    <h2>Backorder Template</h2>
                    <div class="caption" style="display: none;">
                        <p>A template to inform the customer of a backordered item.</p>
                    </div>
                </div>
            </a>
        </div>
    </li>

    <li class="main-menu">
        <div class="whatever">
            <a href="/cstools/shadyblurb">
                <div class="item magenta">
                    <h2>Shady Customer Blurb</h2>
                    <div class="caption" style="display: none;">
                        <p>A blurb to send to customers who we suspect might not be legitimate researchers.</p>
                    </div>
                </div>
            </a>
        </div>
    </li>

</ul>

{% endblock %}