{% extends "/cstools/base.html" %}
{% block content %}

<div id="backorder-form" class="cover-container">
    <div id="template-blurb" class="container">
        <h2>New Account Template</h2>
        <div class="well {{ color }}">
            <p id="smaller">
                Hello [Contact's Name],<br><br>Thank you for your interest in Cayman Chemical!  A prepay account has
                been established for you.  We accept Visa, MasterCard, Discover, American Express, checks, and bank
                transfers.  If you would like net 30 terms, please provide trade references.<br><br>To place an order,
                please contact customer service at one of the following:<br><br>Phone: 800-364-9897<br>
                Fax: 734-971-3640<br>Email: orders@caymanchem.com<br>Website: http://www.caymanchem.com<br><br>When
                placing an order please reference customer account number [Customer Account Number].<br><br>We look
                forward to doing business with you!
            </p>
        </div>
        <p>You will need to manually add your signature.</p>
    </div>

    {% if link %}
        <a href="{{ link }}"><div id="template-div" class="btn btn-lg btn-info"><h3 id="backorder-link">Your new account template</h3></div></a>
    {% endif %}

    {% if form.errors %}
        <div class="alert">
            {% for message in form.name.errors %}
                <p>{{ message }}</p>
            {% endfor %}

            {% for message in form.acct.errors %}
                <p>{{ message }}</p>
            {% endfor %}

            {% for message in form.email.errors %}
                <p>{{ message }}</p>
            {% endfor %}
        </div>
    {% endif %}

    <form action="{{ url_for('newaccount') }}" method=POST>
        {{ form.hidden_tag() }}

        {% if not form.errors %}
            {% if link %}
                {{ form.name(placeholder="Contact's Name", class_="backorder-form-top") }}
            {% else %}
                {{ form.name(placeholder="Contact's Name", id="name-top", class_="backorder-form-top") }}
            {% endif %}
        {% else %}
            {{ form.name(placeholder="Contact's Name", class_="backorder-form-top") }}
        {% endif %}

        {{ form.acct(placeholder="Customer Account Number") }}

        {{ form.email(placeholder="Contact's Email Address", class_="backorder-form-bottom") }}

        {{form.submit(class_='btn btn-lg btn-danger') }}
    </form>
</div>

{% endblock %}