{% extends "/cstools/base.html" %}

{% block content %}

<div id="backorder-form" class="cover-container">
    <div id="template-blurb" class="container">
        <h2>Price Discrepency Template</h2>
        <div class="well {{ color }}">
            <p id="smaller">
                Subject: Cayman Chemical Price Discrepancy [PO or Sales Order Number]<br><br>
                Hello [Contact's Name],<br><br>We have received your order but have a pricing discrepancy that needs to be
                resolved before we can ship any items.  For item # [Item Number] you reference a price of $[Price given by customer]
                but the item's actual cost is $[Actual Price].  Please confirm whether we should process or cancel the
                item.<br><br>Please let me know if you have any questions,
            </p>
        </div>
        <p>You will need to manually add your signature.</p>
    </div>
    {% if link %}
    <a href="{{ link }}"><div id="template-div" class="btn btn-lg btn-warning"><h3 id="backorder-link">Your price discrepancy template</h3></div></a>
    {% endif %}
    <div class="alert">
        {% for message in form.name.errors %}
            <p>{{ message }}</p>
        {% endfor %}

        {% for message in form.email.errors %}
            <p>{{ message }}</p>
        {% endfor %}

        {% for message in form.po.errors %}
            <p>{{ message }}</p>
        {% endfor %}

        {% for message in form.item_number.errors %}
            <p>{{ message }}</p>
        {% endfor %}

        {% for message in form.given_price.errors %}
            <p>{{ message }}</p>
        {% endfor %}

        {% for message in form.actual_price.errors %}
            <p>{{ message }}</p>
        {% endfor %}
    </div>

    <form action="{{ url_for('price_discrepancy') }}" method=POST>
        {{ form.hidden_tag() }}

        {{ form.name(placeholder="Contact's Name", class_="backorder-form-top") }}

        {{ form.email(placeholder="Contact's Email Address") }}

        {{ form.po(placeholder="PO or Sales Order Number") }}

        {{ form.item_number(placeholder="Item Number") }}

        {{ form.given_price(placeholder="Price given by customer") }}

        {{ form.actual_price(placeholder="Actual Price", class_="backorder-form-bottom") }}

        {{form.submit(class_='btn btn-lg btn-danger') }}
    </form>
</div>

{% endblock %}