{% extends "/cstools/base.html" %}
{% block content %}

<div id="backorder-form" class="cover-container">
    <div id="template-blurb" class="container">
        <h2>Shady Customer Blurb</h2>
        <div class="well {{ color }}">
            <p id="smaller">
                Subject: Cayman Chemical Web Order# [Sales Order Number]<br><br>
                To whom it may concern,<br><br>Cayman Chemical is a biochemical company dedicated to providing quality research grade material
                to pharmaceutical, academic, and medical institutions.  Our products are manufactured at Cayman Chemical for research purposes
                only and are not approved by the FDA for over-the-counter use in humans or animals as therapeutic agents.  If you can
                provide details of the research institution you are affiliated with we may be able to proceed with your order.  We do
                require that all new customers complete an account application that can be provided to you once we receive the requested
                information about your institution.<br><br>Please be advised that we do not deliver to residential addresses, P.O. boxes, or
                warehouses - only to businesses and institutions.<br><br>Thank you for your interest in Cayman Chemical products.  Please feel
                free to contact me if you have any questions.<br><br>Best regards,
            </p>
        </div>
        <p>You will need to manually add your signature.
    </div>
        {% if link %}
            <a href="{{ link }}"><div id="template-div" class="btn btn-lg btn-info"><h3 id="backorder-link">Your shady customer blurb</h3></div></a>
        {% endif %}

    {% if form.errors %}
        <div class="alert">
            {% for message in form.email.errors %}
                <p>{{ message }}</p>
            {% endfor %}

            {% for message in form.order_no.errors %}
                <p>{{ message }}</p>
            {% endfor %}
        </div>
    {% endif %}

    <form action="{{ url_for('shadyblurb') }}" method=POST>
        {{ form.hidden_tag() }}

        {% if not form.errors %}
            {% if link %}
                {{ form.email(placeholder="Contact's Email Address", class_="backorder-form-top") }}
            {% else %}
                {{ form.email(placeholder="Contact's Email Address", id="name-top", class_="backorder-form-top") }}
            {% endif %}
        {% else %}
            {{ form.email(placeholder="Contact's Email Address", class_="backorder-form-top") }}
        {% endif %}

        {{ form.order_no(placeholder="Sales Order Number", class_="backorder-form-bottom") }}

        {{form.submit(class_='btn btn-lg btn-danger') }}
    </form>
</div>

{% endblock %}