<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>{{ title }}</title>
    <!-- Bootstrap -->
    <link type="text/css" rel="stylesheet" href="/static/Bootstrap/css/bootstrap.min.css"/>
    <!-- Custom CSS -->
    <link type="text/css" rel="stylesheet" href="/static/reddit_slideshow.css"/>

</head>
<body>
<div class="about"><a href="/about_slideshow">About</a></div>
<div class="container">
    <h1>Reddit GIF Slideshow</h1><br>
    <h4></h4>
</div>

<div class="container">
     <ul class="row">
          <li class="col-lg-2 col-md-2 col-sm-3 col-xs-4">
              <a href="/aww_gifs"><img class="img-responsive" src="/static/images/aww_gifs_thumb.png"></a>
              <h3><a href="/aww_gifs">/r/aww_gifs</a></h3>
              <p>Current GIF count: {{ aww_gifs }}</p>
          </li>
          <li class="col-lg-2 col-md-2 col-sm-3 col-xs-4">
              <a href="/highqualitygifs"><img class="img-responsive" src="/static/images/highqualitygifs_thumb.png"></a>
              <h3><a href="/aww_gifs">/r/highqualitygifs</a></h3>
              <p>Current GIF count: {{ highqualitygifs }}</p>
          </li>
          <li class="col-lg-2 col-md-2 col-sm-3 col-xs-4">
              <a href="/interestinggifs"><img class="img-responsive" src="/static/images/interestinggifs_thumb.png"></a>
              <h3><a href="/aww_gifs">/r/interestinggifs</a></h3>
              <p>Current GIF count: {{ interestinggifs }}</p>
          </li>
          <li class="col-lg-2 col-md-2 col-sm-3 col-xs-4">
              <a href="/naturegifs"><img class="img-responsive" src="/static/images/naturegifs_thumb.png"></a>
              <h3><a href="/aww_gifs">/r/naturegifs</a></h3>
              <p>Current GIF count: {{ naturegifs }}</p>
          </li>
     </ul>
</div>

<div class="container">
     <ul class="row">
          <li class="col-lg-2 col-md-2 col-sm-3 col-xs-4">
              <a href="/perfectloops"><img class="img-responsive" src="/static/images/perfectloops_thumb.png"></a>
              <h3><a href="/aww_gifs">/r/perfectloops</a></h3>
              <p>Current GIF count: {{ perfectloops }}</p>
          </li>
          <li class="col-lg-2 col-md-2 col-sm-3 col-xs-4">
              <a href="/spacegifs"><img class="img-responsive" src="/static/images/spacegifs_thumb.png"></a>
              <h3><a href="/aww_gifs">/r/spacegifs</a></h3>
              <p>Current GIF count: {{ spacegifs }}</p>
          </li>
          <li class="col-lg-2 col-md-2 col-sm-3 col-xs-4">
              <a href="/interestinggifs"><img class="img-responsive" src="/static/images/interestinggifs_thumb.png"></a>
              <h3><a href="/aww_gifs">/r/interestinggifs</a></h3>
              <p>Current GIF count: {{ interestinggifs }}</p>
          </li>
         <li class="col-lg-2 col-md-2 col-sm-3 col-xs-4">
              <a href="/surrealgifs"><img class="img-responsive" src="/static/images/surrealgifs_thumb.png"></a>
              <h3><a href="/aww_gifs">/r/surrealgifs</a></h3>
              <p>Current GIF count: {{ surrealgifs }}</p>
          </li>
     </ul>
</div>

</body>
</html>