body {
    position: relative;
    margin: 0;
    padding: 10px;
    overflow-x: hidden;
    font-size: 18px;
	font-family: 'Roboto', sans-serif;
    color: black;
    background: url(../../images/pi_display_config/mochaGrunge.png);
}
.hidden{display: none;}
.animate {transition: all .1s ease-in-out;}
.btn {
    border-radius: .3em;
}
.btn:hover {
    cursor: pointer;
    transform: scale(1.2);
}
.portlet {
    position: relative;
    margin: 2em auto;
    margin-bottom: 2.5em;
    padding: .75em;
    background-color: #F2F2F2;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.46);
    border-radius: .3em;
    max-width: 90%;
    text-align: center ;
}
.portlet-title {
    display: inline-block;
    position: absolute;
    top: -.75em;
    left: 1em;
    padding: 0 .5em;
    font-size: 1.25em;
    font-family: 'Hind', sans-serif;
    color: white;
    text-shadow: 1px 2px 3px rgba(0, 0, 0, 0.46);
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.46);
    border-radius: .3em;
}
.portlet-body {
    margin: 1em;
}
.notification {
    position: absolute;
    right: 1em;
    z-index: 20;
    padding: .25em 1em;
    max-width: 20em;
    color: white;
    background-color: rgb(40, 171, 227);
    border-radius: .3em;
}
.lightbox-overlay {
    z-index: 10;
    position: fixed;
    background: rgba(0, 0, 0, 0.7);
    top: 0;
    left: 0;
    overflow-y: auto;
    overflow-x: hidden;
    height: 100%;
    width: 100%;
}
.lightbox-content {
    padding: .75em;
}
.close-lightbox {
    position: absolute;
    top: .25em;
    right: .25em;
    font-size: 1.5em;
    color: rgb(219, 51, 64);
}
.gif-info-window,
.settings {
    position: relative;
    margin: 0 auto;
    top: 1.5em;
    max-width: 30em;
    background-color: #F2F2F2;
    border-radius: .3em;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.46);
    text-align: center;
}
.gif-info-window img {
    width: 100%;
    max-height: 30em;
    border-radius: .2em .2em 0 0;
}
.gif-tags-container {
    display: inline-block;
    padding: .5em;
}
.tag {
    display: inline-block;
    margin: .25em;
    padding: .4em;
    border: 1px solid #949494;
    border-radius: .3em;
    color: #949494;
    font-size: .8em;
}
.gif-info-window textarea {
    display: inline-block;
    margin: .5em;
    width: 80%;
    max-width: 40em;
    border: 1px solid #949494;
    border-radius: .3em;
}
.gif-action-btn {
    display: inline-block;
    padding: .5em;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.46);
    color: white;
    text-shadow: 1px 2px 3px rgba(0, 0, 0, 0.46);
}
#edit-tags {
    background-color: rgb(40, 171, 227);
}
#remove-gif {
    background-color: rgb(219, 51, 64);
}
.current-gif-container {
    position: relative;
    margin: 0 auto;
    height: 80%;
    width: 80%;
    max-width: 40em;
    min-width: 14em;
}
.current-gif-container img {
    width: 100%;
    border-radius: .25em;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.46);
}
.settings-btn {
    opacity: 0.2;
    position: absolute;
    right: .25em;
    top: .25em;
}
.settings-btn:hover {
    opacity: 1;
}
.settings-btn:active {
    margin-top: 6px;
}
.settings-btn i {
    font-size: 2.5em;
    color: white;
}
.settings {
    top: 3em;
    padding: .5em;
    min-height: 10em;
}
.settings-title {
    position: absolute;
    margin: 0 auto;
    padding: .05em;
    top: -1.4em;
    left: 0;
    right: 0;
    width: 4em;
    font-size: 1.75em;
    font-family: 'Hind', sans-serif;
    color: #708090;
    background-color: #F2F2F2;
    border-radius: .3em .3em 0 0;
}
#settings-form {
    position: relative;
    float: right;
    margin-right: 1em;
    padding: .5em;
    max-width: 20em;
    min-width: 10em;
}
.form-group {
    display: block;
}
.form-group label {
    display: inline-block;
    position: relative;
    float: left;
    margin: .25em .7em;
    font-size: .8em;
    color: #708090;
}
.form-group input {
    display: inline-block;
}
.form-group .btn {
    background-color: rgb(40, 171, 227);
    color: white;
}
.readout {
    position: relative;
    float: left;
    padding: .25em;
    width: 10em;
    background-color: #708090;
    border-radius: .3em;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.46);
    color: white;
    text-shadow: 1px 2px 2px rgba(0, 0, 0, 0.46);
}
.stats-wrapper {
    margin: 0 auto;
    height: 100%;
    width: 9em;
}
.stat-values, .stat-labels {
    height: 100%;
}
.stat-values span, .stat-labels span {
    display: block;
}
.stat-labels {
    float: left;
    text-align: right;
}
.stat-values {
    float: right;
    text-align: left;
}
.nav-container {
    position: relative;
    margin: 0 auto;
    padding: .5em;
    border-radius: .3em;
    text-align: center;
}
.nav-btn {
    display: inline-block;
    position: relative;
    margin: .25em;
    padding: .5em .75em;
    text-align: center;
    height: 1.5em;
    line-height: 1.5em;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.46);
    border-radius: .3em;
    color: white;
    text-shadow: 1px 2px 2px rgba(0, 0, 0, 0.46);
}
.nav-btn:active {
    top: 6px;
}
.btn-selected {
    transform: scale(1.2);
}
.gif-wrapper {
    display: inline-block;
    position: relative;
    margin: 1em;
    vertical-align: top;
    width: 6.5em;
    height: 6.5em;
}
.gif-wrapper img {
    border-radius: .3em;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.46);
    width: 100%;
    height: 100%;
}
.last-played {
    display: block;
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
    font-size: .7em;
    color: white;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 0 0 .2em;
}
.gif-wrapper i {
    position: absolute;
    display: block;
    margin: .25em auto;
    opacity: 0.4;
    color: white;
    text-shadow: 1px 2px 2px rgba(0, 0, 0, 0.46);
}
.gif-tags-icon {
    top: .25em;
    right: .25em;
}
.gif-desc-icon {
    top: 1.5em;
    right: .25em;
}
.prev-gifs,
#add-gif-btn {
    position: absolute;
    height: 2em;
    line-height: 2em;
    width: 5em;
    bottom: -.6em;
    right: 1em;
    color: white;
    text-shadow: 1px 2px 2px rgba(0, 0, 0, 0.46);
    background-color: rgb(40, 171, 227);
    border-radius: .3em;
    border: none;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.46);
}
#add-gif-btn {
    top: -1em;
    font-size: 1em;
    background-color: rgb(32, 218, 155);
}
#add-gif-form .btn {
    margin: .5em 1em;
    padding: .5em 1em;
    font-size: 1em;
    color: white;
    text-shadow: 1px 2px 2px rgba(0, 0, 0, 0.46);
    border: none;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.46);
}
.add-gif {
    background-color: rgb(40, 171, 227);
}
.update-gif {
    background-color: rgb(32, 218, 155);
}
.remove-gif {
    background-color: rgb(219, 51, 64);
}
#add-gif-form textarea,
#add-gif-form input,
.form-group input {
    display: block;
    margin: .5em auto;
    padding: .2em .5em;
    width: 80%;
    max-width: 80%;
    font-size: 1em;
    line-height: 1em;
    border-radius: .3em;
    border: 1px solid #cdcdcd;
    box-shadow: 0 2px 3px rgba(199, 199, 199, 0.6);
}
/* Animations *************************************************************************/
.fadeIn {
    -webkit-animation: fadeIn 1s 1;
            animation: fadeIn 1s 1;
}
@-webkit-keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}