body {
	background-color: #000000;
	overflow: hidden;
}
.animate {
    transition: all .9s ease-in-out;
    -webkit-transition: all .9s ease-in-out;
}
.hidden {
    display: none;
}
.loading {
    position: absolute;
    opacity: 0.4;
    margin: 0 auto;
    top: 25%;
    width: 100%;
    color: #F2F2F2;
    font-family: 'Lobster', sans-serif;
    font-size: 5em;
    text-align: center;
    text-shadow: 2px 2px 0px rgba(255,255,255,0.3);
}
.colorwave {
    position: relative;
}
.reload-area {
    position: absolute;
    opacity: 1;
    z-index: 5;
    top: 13em;
    left: 23.5em;
    width: 3em;
    height: 3em;
}
.turn-off {
    position: absolute;
    z-index: 2;
    padding: .5em;
    padding-bottom: 0;
    top: 0;
    left: 0;
    height: 14.5em;
    width: 100%;
}
.content-wrapper {
    position: relative;
    z-index: 1;
    top: -.3em;
    left: -0.5em;
    width: 400px;
    height: 235px;
}
.container {
    width: 100%;
    height: 100%;
}
.container img {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    height: 100%;
    width: 100%;
}