{% extends "/cstools/base.html" %}
{% block content %}
<div class="temp-container">
    <div class="temp-title">CSTools is Currently Down</div>
    <div class="temp-text">
        The app is currently being reworked and integrated into Cayman's main site
        infrastructure and will only be available for internal use.
        <br>
        <br>
        For more information on the project, check the link below.

        <a href="/cstools-project" class="temp-project-link animate">
            <div>CSTools Project</div>
        </a>
    </div>
</div>
{% endblock %}