/* Rutherford Community Pool Site Mockup */
/* June 2015 */

body {
	font-family: 'Droid Sans', sans-serif;
	background: url(../images/seamless_paper_texture.png);
	margin: 0 auto;
	max-width: 1200px;
}

.animate {
	-webkit-transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
}

/* Header and Footer */
#header {
	position: relative;
	background-color: #F2F2F2;
	width: 100%;
	min-height: 5em;
}

#header-logo {
	position: absolute;
	top: 0;
	left: 1em;
	background-color: white;
	padding: 1em;
	max-width: 150px;
	z-index: 3;
	border: .25em solid #5ab4ff;
	border-top: none;
}

#header-logo img {
	width: 100%;
}

#small-nav {
	position: relative;
	background-color: #003f72;
	height: 2em;
	border-bottom: .35em solid #5ab4ff;
}

#small-nav i {
	position: absolute;
	z-index: 4;
	top: .1em;
	right: .5em;
	color: white;
	font-size: 1.75em;
}

#small-nav i:hover {
	color: #5ab4ff;
	cursor: pointer;
}

#small-nav-menu {
	display: none;
	position: absolute;
	padding: 1em;
	z-index: 4;
	top: 2em;
	right: 0;
	background-color: #5ab4ff;
	min-width: 10em;
	min-height: 1em;
	font-family: 'Raleway', sans-serif;
	text-align: left;
}

.small-menu-item {
	margin: .5em auto;
}

.small-menu-select {
	border-bottom: 2px solid #5ab4ff;
}

.small-menu-select:hover {
	color: #FFD44E;
	border-bottom: 2px solid #FFD44E;
}

.small-menu-selected {
	color: #FFD44E;
	border-bottom: 2px solid #FFD44E;
}

.small-submenu {
	display: none;
	position: relative;
	left: .5em;
}

.small-submenu div {
	margin: .25em auto;
	border-bottom: 2px solid #5ab4ff;
}

.small-submenu div:hover {
	color: #FFD44E;
	border-bottom: 2px solid #FFD44E;
}

#nav {	
	position: relative;
	display: none;
	background-color: #003f72;
	z-index: 2;
	min-width: 430px;
	text-align: center;
	font-family: 'Raleway', sans-serif;
	border-bottom: .35em solid #5ab4ff;
}

#nav a, #small-nav a {
	text-decoration: none;
	color: white;
}

.menu-item {
	position: relative;
	display: inline-block;
	margin: 0 .25em;
	height: 2em;
	line-height: 2em;
	width: 6em;
}

.menu-item:hover {
	background-color: #5ab4ff;
}

.submenu {
	display: none;
	position: absolute;
	padding: .5em;
	background-color: #5ab4ff;
	width: 10em;
	text-align: left;
}

.submenu div {
	border-bottom: 2px solid #5ab4ff;
}

.submenu div:hover {
	color: #FFD44E;
	border-bottom: 2px solid #FFD44E;
}

#about-menu:hover > #about-submenu {
	display: block;
}

#services-menu:hover > #services-submenu {
	display: block;
}

#schedule-menu:hover > #schedule-submenu {
	display: block;
}

#banner-image {
	position: relative;
	z-index: 1;
	margin: 0 auto;
	text-align: center;
}

#banner-image img {
	width: 100%;
	border-bottom: .35em solid #5ab4ff;
}

.added-image {
	position: absolute;
	z-index: 0;
	opacity: 0;
	top: 0;
	left: 0;
}

.banner-selected {
	z-index: 3;
	opacity: 1.0;
	-webkit-transition: opacity 2s ease-in-out;
	-moz-transition: opacity 2s ease-in-out;
	-ms-transition: opacity 2s ease-in-out;
	-o-transition: opacity 2s ease-in-out;
	transition: opacity 2s ease-in-out;
}

.banner-deselected {
	z-index: 0;
	opacity: 0.0;
	-webkit-transition: opacity 2s ease-in-out;
	-moz-transition: opacity 2s ease-in-out;
	-ms-transition: opacity 2s ease-in-out;
	-o-transition: opacity 2s ease-in-out;
	transition: opacity 2s ease-in-out;
}

.banner-info {
	display: none;
	position: absolute;
	z-index: 10;
	padding: 1em;
	top: 1em;
	right: 1em;
	min-height: 2em;
	width: 20%;
	background-color: rgba(242, 242, 242, 0.8);
}

.banner-info:hover {
	cursor: pointer;
	background-color: rgba(242, 242, 242, 1);
}

.banner-info-title {
	font-size: 1.25em;
	font-family: 'Raleway', sans-serif;
	color: #003f72;
}

.banner-info-blurb {
	display: none;
	margin: 1em auto;
}

#volunteers {
	display: none;
	position: absolute;
	z-index: 10;
	bottom: 1em;
	left: 1em;
	width: 60%;
	height: 30%;
	line-height: 3em;
	font-family: 'Raleway', sans-serif;
	color: white;
	font-size: 4vw;
	background-color: rgba(90, 180, 255, 0.7);
}

@media(min-width: 400px) {
	#volunteers {
		display: block;
	}
}

@media(min-width: 560px) {
	#volunteers {
		width: 15em;
		height: 3em;
		line-height: 3em;
		font-size: 1.5em;
	}
}

#volunteers:hover {
	background-color: rgba(90, 180, 255, 1);	
}

@media(min-width: 480px) {
	.banner-info {
		display: block;
	}
}

@media(min-width: 800px) {
	#small-nav {
		display: none;
	}

	#nav {
		display: block;
	}

	.banner-info-title {
		font-size: 2.5vw;
	}

	.banner-info-blurb {
		display: block;
	}
}

@media(min-width: 850px) {
	#header-logo {
		width: 20%;
		max-width: 500px;
	}
}

@media(min-width: 1200px) {
	.banner-info-title {
		font-size: 2.25em;
	}
}

/* Footer */
#footer {
	position: relative;
	top: -2.85em;
	background-color: #b3b3b3;
	width: 100%;
	min-height: 8em;
	border-top: .35em solid #5ab4ff;
}

#footer-inner {
	margin: 1em auto;	
	padding: 1em;
	width: 90%;
	min-height: 10em;
	text-align: center;
	color: #003f72;
}

#footer-title {
	margin: 0 auto;
	font-family: 'Raleway', sans-serif;
	font-size: 2em;
}

#social-icons {
	margin: 0 auto;
	font-size: 3em;
}

#social-icons i:hover {
	cursor: pointer;
	color: white;
}

#footer-blurb {
	font-size: .75em;
}

#footer-links {
	margin: 1em;
}

.footer-links {
	display: inline-block;
	margin: .75em;
	max-width: 10em;
	text-align: left;
	font-size: .8em;
}

.footer-links-title {
	color: white;
}

.footer-links-links div:hover {
	cursor: pointer;
	color: white;
}

.footer-extra {
	position: relative;
}

@media(min-width: 415px) {
	.footer-extra {
		top: -3.5em;
	}
}

/* Main Content Block */
#content {
	position: relative;
	top: -1.5em;
	background-color: #F2F2F2;
	min-height: 10em;
}

.block {
	position: relative;
	margin: 1.25em auto;
	width: 100%;
	min-height: 1em;
}

#address-hours {
	position: relative;
	margin: 1em auto;
	top: 1em;
	padding: 1em;
	width: 85%;
	max-width: 18em;
	min-height: 10em;
	color: white;
	background-color: rgba(90, 180, 255, 0.7);
	box-shadow: 0 5px 10px -5px #000;
}

@media(min-width: 665px) {
	#address-hours {
		float: left;
		top: auto;
		margin: 1em;
		min-width: 10em;
	}
}

.address-title {
	color: #003f72;
	font-family: 'Raleway', sans-serif;
	font-size: 1.25em;
	border-bottom: 2px solid #003f72;
}

#address {
	margin: .25em auto;
}

#hours div {
	margin: .25em auto;
}

.hours-indent {
	padding-left: .5em;
}

.announcement-wrapper {
	position: relative;
	margin: 0 auto;
	padding: 1em;
	min-height: 1em;
	width: 80%;
}

.announcement-title {
	font-size: 2em;
	font-family: 'Raleway', sans-serif;
}

.announcement-date {
	position: relative;
	font-size: 1.20em;
	font-style: italic;
	left: .25em;
}

.announcement {
	margin-bottom: 2em;
}

hr {
	background-color: #003f72;
	border: 0;
	height: 2px;
}

.block-divider {
	margin: 0 auto;
	width: 95%;
	height: .35em;
}

.tile-wrapper {
	margin: 0 auto;
	padding: 1em;
	width: 80%;
}

.content-tile {	
	position: relative;
	display: block;
	margin: 1%;
	max-width: 60%;
}

.content-tile img {
	width: 100%;
}

.content-tile img:hover {
	cursor: pointer;
	opacity: 0.5;
}

.content-tile div {
	position: absolute;
	top: 5%;
	left: 105%;
	padding: 5%;
	width: 70%;	
	background-color: #003f72;
	color: white;
}

@media(min-width: 660px) {
	.content-tile {
		display: inline-block;
		max-width: 30%;
	}

	.content-tile div {
		position: relative;
		top: auto;
		left: auto;
		width: 90%;
		text-align: center;
	}
}

#pricing {
	margin: 0 auto;
	width: 80%;
	min-height: 40em;
}

#pricing-title {
	margin: 0 auto;
	width: 45%;
	text-align: center;
	font-family: 'Raleway', sans-serif;
	font-size: 2.5em;
	color: #003f72;
}

.pricing-table-wrapper {
	margin: 1em auto;
	padding: .25em;
	padding-bottom: 1em;
	width: 50%;
	min-width: 15em;	
	border: .2em solid #5ab4ff;
	background-color: #003f72;
}

.pricing-table {
	margin: 0 auto;
	width: 15em;
}

.pricing-table-title {
	margin: .25em;
	text-align: center;
	font-size: 1.5em;
	color: white;
}

.pricing-name {
	display: inline-block;
	min-width: 1em;
	min-height: 5em;
	color: white;
}

.pricing-subtitle {
	font-family: 'Raleway', sans-serif;
	color: #5ab4ff;
	font-size: 1.25em;
}

.spacer {
	margin: 1.9em auto;
}

.pricing-indent {
	position: relative;
	margin: .2em auto;
	left: .5em;
}

.value {
	margin: .2em auto;
}

.pricing-value {	
	display: inline-block;
	position: relative;
	left: 1em;
	color: white;
}