{% extends "/steamtime/base.html" %}
{% block content %}
        <div id="about-content">
            <i id="close" class="fa fa-times fa-2x animate"></i>

            <div id="github-links">
                <i class="fa fa-github fa-2x"></i>
                <h5>Direct Links</h5>
                <a href="#" class="animate">Python</a> | <a href="#" class="animate">JavaScript</a> | <a href="#" class="animate">HTML/CSS</a>
            </div>

            <br>

            <p>
                SteamTime makes use of a few different programming technologies to accomplish its tasks.<br><br>
                The backend is written in <a href="https://www.python.org/" class="animate">Python</a> and uses
                <a href="http://flask.pocoo.org/" class="animate">Flask</a> as the web framework. The code is viewable at the links above.
                The visual display of all the data is handled by the standard web languages HTML, CSS, JavaScript,
                and the jQuery framework for JavaScript.
            </p>

            <br>
            <br>

            <h1 class="about-header left">The Backend Process</h1>

            <br>
            <br>
            <br>

            <p>
                The SteamID passed to the input box is first tested to see if it's a vanity URL or a full 64-bit
                numerical SteamID, as this will determine which Steam API URL is needed.<br><br>
                The correct URL is then queried by the Python code and a giant jumble
                of data is returned in the form of a <a href="http://en.wikipedia.org/wiki/JSON" class="animate">JSON</a> object.
                More Python gets to work parsing out the bits of data that have been requested by the user.
                The list of games is sorted by the 'hours played' column and is packaged up with other variables collected
                during the JSON parsing and are ready to be pushed to the client, your browser.<br><br>
            </p>

            <br>
            <br>

            <h1 class="about-header right">Client Side</h1>

            <br>
            <br>
            <br>

            <p>
                Once the JSON object is nicely sorted there is one final step before everything is ready to be
                displayed on the page.  SteamTime makes use of an excellent JavaScript library called <a href="http://www.chartjs.org/" class="animate">Charts.js</a>.
                This library is great because it provides really good looking visual data displays and is quite easy to work with.
                Of course it requires its input data be formatted a certain way, so another round of Python goes to work on the stored data we parsed
                from the Steam API and gets it ready to be passed to Charts.js as label names, graph data points, colors, etc.<br><br>
                Finally, the data is ready to be displayed.  Flask makes this process quite easy - a basic template is set up in
                HTML that allows variables to be passed in from the server.  The variables come from all the data processing with Python.  The
                data is passed to the client and everything is styled with CSS for the very final step.
            </p>

            <br>
            <br>
        </div>

        <div id="find-id">
            <i id="find-close" class="fa fa-times fa-2x animate"></i>

            <h1 id="find-header">Where is my SteamID?</h1>

            <p>
                A <a href="https://developer.valvesoftware.com/wiki/SteamID" class="animate">SteamID</a> is a unique identifier used to identify a Steam user's account.<br>
                The easiest way to find your ID is to grab it from your <a href="http://steamcommunity.com/" class="animate">Steam Community</a> profile.
            </p>

            <div id="examples">
                <p>The <span class="yellow">highlighted</span> bit of the URL below is the corresponding SteamID</p>
                <h3>http://steamcommunity.com/id/<span class="yellow">xxxxxxxxx</span>/</h3> OR <h3>http://steamcommunity.com/profiles/<span class="yellow">###############</span></h3>
            </div>

            <div id="external-links">
                <p>If you're having problems locating your SteamID there are a few web apps that can help.</p>
                <a href="http://steamid.co/" class="animate">http://steamid.co/</a><br>
                <a href="http://steamidfinder.com/" class="animate">Steam ID Finder</a>
            </div>
        </div>

        <div id="welcome-header" class="dark-blue-gradient hidden">
            <div id="logo">
                <h1 id="big-logo" class="hidden"><span class="white">Steam</span><span class="dark-blue no-shadow blur">Time</span></h1>
                <p id="slogan" class="white hidden">VISUALIZE TIME SPENT IN YOUR STEAM LIBRARY</p>
            </div>

            <div id="buttons" class="hidden">
                <div id="buttons-inner">
                    <div id="get-started" class="animate">Get Started!</div>
                    <div id="about" class="animate">About</div>
                </div>
            </div>

            {% if form.errors %}
            <div class="message animate">
                <br>

                {% for message in form.steamid.errors %}

                    <p>{{ message }}</p>

                {% endfor %}

                <br>
            </div>
            {% endif %}

            {% if message %}
            <div class="message animate">
                <br>

                <p>{{ message }}</p>

                <br>
            </div>
            {% endif %}

        <div id="use-mine" class="hidden">
            <p class="shadow">Use my profile for a quick demo!</p>

            <div id="down">
                <i class="fa fa-caret-down"></i>
            </div>
        </div>

        <div id="form">
            <form action="{{ url_for('steamtime_logic') }}" method="POST">
                {{ form.hidden_tag() }}

                {{ form.steamid(placeholder="SteamID", class="animate") }}<br>
                <a id="where" class="animate">Where is my SteamID?</a><span id="pipe"> | </span><a id="dont" class="animate">Don't have Steam?</a><br>
                <button class="submit animate">Go!</button>
            </form>
        </div>
    </div>

    <div id="loading-dimmer" class="dimmer hidden">
        <div id="loading" class="blue-gradient-circular">
        <p>Accessing the Steam Web API...</p>

        <br>

        <div class="spinner">
          <div class="rect1"></div>
          <div class="rect2"></div>
          <div class="rect3"></div>
          <div class="rect4"></div>
          <div class="rect5"></div>
        </div>

        <div id="text1" class="extra-loading-text hidden">This is taking longer than expected...</div>
        <div id="text2" class="extra-loading-text hidden">The API is <a href="https://www.google.com/webhp?sourceid=chrome-instant&ion=1&espv=2&ie=UTF-8#q=steam%20web%20api%20slow" class="animate">notoriously slow</a> and will likely time out, please try again!</div>
        </div>
    </div>

    <br>
    <br>
    <br>

    <div id="footer" class="hidden">
        <p>
            Powered by Steam<br>
            <a href="http://steampowered.com"><img id="steam-icon" src="/static/steamtime/images/steam-icon.png"></a>
        </p>
    </div>
{% endblock %}