{% extends "/blog/base.html" %}
{% block content %}

<div class="grey">
    <div class="container">
	    <div class="row">
		    <div class="col-lg-8 col-lg-offset-2">
			    <img src="/static/images/dogsicon.png"><span class="ba">Tyler Kershner</span>
				<h2>Picking up Steam</h2>
                <h4 class="bd">July 30th, 2014</h4>
                <hr>
				<p>
                    <strong>My spare time is almost nonexistant at this point</strong>, but I needed to get another blog post in before
                    July was over!  Things are really ramping up for me programming-wise.  Since the last update I've
                    pretty much completed the GIF Display - it just need some artistic flair as a finishing touch.  We're
                    going to paint the frame (probably gold) and then Kerry is going to decoupage the <em>hell</em> out of the
                    back matting.  That girl can really decoupage!  I'll post new pictures as soon as we find the time
                    to actually do the work.<br><br>
                    In the meantime I've had my plate full with other projects.  I've refined my <a href="/warning">GIF Display Config</a>
                    site with a new interface and better backend code.  This time I've kept an archive of the hilarious first draft,
                    I'll put a link to that on the projects page eventually - it's a real treat.<br><br>
                    I've gotten the chance to start developing a new side project, <a href="/gif-party">GIF Party!</a><br><br>
                    The biggest news is that I'm back to developing my CSTools application, this time at the behest of my
                    bosses in the Customer Service department.  I was asked to design and implement an application to help us keep track
                    of certain loose forms here in the office and I've added it on to the CSTools suite.  I'm really excited about it
                    because it involved setting up a database, and now that I've got one up and running I feel like I've turned
                    another corner in programming and can feel many more doors opening up for me.  It's also always great to
                    have users and feedback!  Check out the new <a href="/cstools">redesign</a>.<br><br>
                    The final piece of big news is that I purchased a domain name.  Welcome to <strong>kershner.org</strong>!  I feel a
                    little more like an actual web developer.<br><br>
                    I'm working on plenty of stuff over here so the next update will also be a big one, until next time!
				</p>
			</div>
        </div><!-- /row -->
	</div> <!-- /container -->
</div>

<div class="white">
    <div class="container">
	    <div class="row">
		    <div class="col-lg-8 col-lg-offset-2">
			    <img src="/static/images/dogsicon.png"><span class="ba">Tyler Kershner</span>
				<h2>Setbacks</h2>
                <h4 class="bd">July 13th, 2014</h4>
                <hr>
				<p>
                    I had originally imagined this project taking a something like 2-3 weeks.  As it draws nearer the two-month mark
                    I have to keep reminding myself that this is probably normal for many projects, let alone ones
                    attempted in someone's free time while they are still learning the tools.<br><br>
                    In any case, I've had a few setbacks related to components.  As I rely on Amazon for these
                    components any time I need to order a new one I'm at the mercy of their shipping speed - which
                    is quite fast but still pushes back my progress several days.  In this case I've experienced a
                    <a href="https://www.google.com/search?q=raspberry+pi+red+light+no+boot+site:www.raspberrypi.org&es_sm=93">common</a>
                    problem where the Pi's SD card gets slightly warped for whatever reason (likely mishandling by me), making contact with the Pi's
                    SD card reader spotty.  As the RPi has no onboard BIOS, all of the boot code is located on the
                    SD card meaning no contact...no boot.  As I wait for a new card from Amazon I'm working on the
                    other hardware component - the frame!<br><br>
                    I decided to go with the <a href="http://www.ikea.com/us/en/catalog/products/00078051/">IKEA frame</a>
                    I had mentioned before.
                </p>
                <ul class="rig columns-3">
                    <li class="article-image">
                        <img src="/static/images/pi_5.png" />
                    </li>
                    <li class="article-image">
                        <img src="/static/images/pi_4.png" />
                    </li>
                    <li class="article-image">
                        <img src="/static/images/pi_6.png" />
                    </li>
                </ul>
               <p>
                   The frame is simple, sturdy, and will be very easy to paint/otherwise customize.<br><br>
                   Mounting both the display and the Pi itself was extremely simple thanks to the miraculous
                   <a href="http://www.amazon.com/Velcro-Brand-Industrial-Strength-Inches/dp/B00006IC2T/ref=sr_1_1?ie=UTF8&qid=1405697504&sr=8-1&keywords=velcro+tape">velcro tape</a>.
               </p>
               <ul class="rig columns-3">
                    <li class="article-image">
                        <img src="/static/images/pi_7.png" />
                    </li>
                    <li class="article-image">
                        <img src="/static/images/pi_8.png" />
                    </li>
                    <li class="article-image">
                        <img src="/static/images/pi_9.png" />
                    </li>
               </ul>
               <p>I drilled a hole through the cardboard back-mat to snake the display's power cord through.  I'm pretty
               happy with the result so far - very clean and functional.  It'll look even better once Kerry and I
               decide on an aesthetic and paint the frame.</p>

			</div>
        </div><!-- /row -->
	</div> <!-- /container -->
</div>

<div class="grey">
    <div class="container">
	    <div class="row">
		    <div class="col-lg-8 col-lg-offset-2">
			    <img src="/static/images/dogsicon.png"><span class="ba">Tyler Kershner</span>
				<h2>Slow and Steady</h2>
                <h4 class="bd">July 7th, 2014</h4>
                <hr>
				<p>
                    <b>Work continues steadily on my GIF display</b>.  I'm gradually learning that when it comes to
                    software development side projects it might not always be wise to set a deadline or ETA before starting.
                    Even though life continually gets in the way I've still managed to get some work done on
                    the project.<br><br>
                    First, and most importantly, I think I'm <em>finally</em> somewhat happy with my reddit scraping
                    code.  You can check out the completed bit on my <a href="https://github.com/kershner/blog/blob/master/app/scripts/scrape_reddit.py">Github</a>.
                    The important modifications are mostly in the logic flow of the loop through the subreddit's
                    submissions, but there's also my discovery of the <a href="https://docs.python.org/2/library/stdtypes.html#str.endswith">endswith()</a>
                    function, which makes checking for a .gif file much cleaner.  I also added an <b>if __name__ == '__main__'</b>
                    clause to make running the script easier between my work and home PCs.  It works pretty well, and I
                    also made similar modifications to my URL clean-up script, located <a href="https://github.com/kershner/blog/blob/master/app/scripts/clean_up_urls.py">here</a>.<br><br>
                    I also added a small bit of code on my server to ensure that the same GIF doesn't play twice until all
                    the GIFs from my urls.txt file have played.<br><br>
                    The basic idea is to now maintain two lists of URLs.  One is the master file that contains all my
                    scraped URLs (and gets added to when I run the scraper), and another that serves as the current
                    'playlist' of GIFs, removing the URL that has just played each time.
                </p>
<pre><code data-language="python">path = '/home/tylerkershner/app/templates/pi_display'

urls_file = open('%s/urls.txt' % path, 'r')
urls_list = list(urls_file)
urls_file.close()

urls_toplay_file = open('%s/urls_to_play.txt' % path, 'r')
urls_toplay_list = list(urls_toplay_file)
urls_toplay_file.close()

# If there are no more URLs in the to_play file, create a new one
if len(urls_toplay_list) > 1:
    pass
else:
    urls_toplay_file = open('%s/urls_to_play.txt' % path, 'a+')
    for entry in urls_list:
        urls_toplay_file.write(entry)
        urls_toplay_file.close()

urls_toplay_file = open('%s/urls_to_play.txt' % path, 'r')
urls_toplay_list = list(urls_toplay_file)
urls_toplay_file.close()

# Choose random URL from to_play list
gif_url = random.choice(urls_toplay_list)

# Opening/closing urls.txt (taking advantage of side effect to erase contents)
open('%s/urls_to_play.txt' % path, 'w').close()

# Rewrite to_play.txt without current gif URL (won't play twice)
with open('%s/urls_to_play.txt' % path, 'a+') as urls_to_play:
    for entry in urls_toplay_list:
        if entry == gif_url:
            pass
        else:
            urls_to_play.write(entry)</code></pre>
                <p>
                    As you can see 'removing' a line from a text file isn't really a concept within programming.  Instead
                    I needed to loop through my stored urls.txt file, add every URL found to a new file (urls_to_play.txt)
                    <b>unless</b> we come across the currently selected URL, in which case it is skipped leaving us with
                    a new file that is identical except for the URL that just played.  If the list of urls_to_play is
                    empty, a new one is generated using the URLs master list and the process starts over.  A little
                    simplistic, but it works just fine!<br><br>
                    Kerry and I have been scoping out some frames in some thrift stores, but so far we haven't found
                    many to be ideal for this project.  I'll probably go with an Ikea frame I saw that I'm quite sure
                    would work, so hopefully we'll get underway this week!
                </p>

			</div>
        </div><!-- /row -->
	</div> <!-- /container -->
</div>

{% endblock %}