{% extends "/blog/base.html" %}
{% block content %}

<div class="white">
    <div class="container">
	    <div class="row">
		    <div class="col-lg-8 col-lg-offset-2">
			    <img src="/static/images/dogsicon.png"><span class="ba">Tyler Kershner</span>
				<h2>At Long Last</h2>
                <h4 class="bd">October 4th, 2014</h4>
                <hr>
				<p>
                    <strong>Three months later, the GIF Display is finally complete!</strong><br><br>
                    Reading my old posts and project updates can be quite hilarious.  I continually assume that the
                    project will finish up "soon" or "next week", and as those estimates began to stretch further and
                    further out I eventually just stopped mentioning it all together.  Kerry was able to find
                    the time to put the finishing touches on the absurd little device this week, and I absolutely love
                    the results.<br><br>
				</p>

                <div class="project-screenshots">
                    <a href="/static/images/gif-display-final-01.jpg"><img src="/static/images/gif-display-final-01.jpg" /></a>
                    <a href="/static/images/gif-display-final-02.jpg"><img src="/static/images/gif-display-final-02.jpg" /></a>
                    <a href="/static/images/gif-display-final-03.jpg"><img src="/static/images/gif-display-final-03.jpg" /></a>
                </div>

                <p>
                    Kerry came across the primary image when flipping through a book of obscure curiosities she found while
                    thrifting.  It's entitled <a href="http://upload.wikimedia.org/wikipedia/commons/c/cc/Robert_Blair,_The_Grave,_object_7_(Bentley435.6)_The_Soul_hovering_over_the_Body_reluctantly_parting_with_Life.jpg"><em>The Soul Hovering over the Body Reluctantly Parting with Life</em></a> and
                    was illustrated by <a href="http://en.wikipedia.org/wiki/William_Blake">William Blake</a> for the re-release of the
                    poem <a href="http://en.wikipedia.org/wiki/The_Grave_(poem)"><em>The Grave</em></a> by <a href="http://en.wikipedia.org/wiki/Robert_Blair_(poet)">Robert Blair.</a><br><br>
                    She spray painted the bland Ikea frame and then decoupaged the illustration as well as the back matting.
                    I love the texture brought out by the decoupage, as well as Kerry's subtle little touches like having
                    the illustration slightly off-center relative to the frame and the LCD itself.  I think it just looks
                    great!<br><br>
                    Here's a new video of the display in action with the delay set to 12 seconds:
                </p>

                <div class="video">
                    <iframe width="560" height="315" src="//www.youtube.com/embed/ibwFjEYeeCM" frameborder="0" allowfullscreen></iframe>
                </div><br><br>

                <p>
                    And there you have it.  I'm not quite going to close the book on this one just yet, as I eventually
                    want to get a larger screen which will involve Kerry re-designing her work, but that is a project for
                    another time!  I also still want to work on updating and finishing my write up of the process to
                    be more useful and straightforward at some point.  For now, be sure to check the GIF Display's
                    project page and current write-ups.<br><br>
                    On a related note, my repository of GIFs that I use for the display and <a href="/gif_party">GIF Party</a> just hit
                    <a href="https://github.com/kershner/blog/blob/master/app/templates/pi_display/logs/all_urls.txt">10,000 GIFs</a> this week!<br><br>
                    <a class="top-link" href="/gif_display">GIF Display Project Page</a><br>
                    <a class="top-link" href="/piproject1">Write Up</a>
                </p>

			</div>
        </div><!-- /row -->
	</div> <!-- /container -->
</div>

{% endblock %}