{% extends "base.html" %}
{% block content %}

<div class="content">
    <p>I'm a 27 year old guy living in Ann Arbor, Michigan.  I live with my girlfriend of 7 years
    and our dog (also of 7 years), Bacon.  I graduated from the University of Michigan with an
    English degree in 2011.  English language and literature remains one of my passionate
    hobbies, but it's not something I could turn into a career - nor do I think I'd really
    enjoy it much if it was something I did professionally.<br><br><br>I've been working a nice
    office job for the past few years which has been paying the bills (and especially
    my student debt!).  Now, as I've gotten older I've been searching for something to do
    with my time that would be both practical and rewarding.  I started to gently dip my
    toe into some programming and found that it was challenging, satisfying, and most of
    all - enjoyable and fun!<br><br><br>I have many other hobbies that keep my free time occupied.  There
    are the standard movies and video games, but I also still very much enjoy reading novels of
    all kinds, though I definitely lean toward sci-fi.  I've played the guitar for going on ten
    years now, and I'd love to eventually link to some of my music here.  Computers have always
    been a constant source of interest for me, and I've been building and maintaining systems
    for myself and my friends for many years now.</p>
</div>



{% endblock %}