{% extends "base.html" %}
{% block content %}

<div class="content">
    <br>
    <br>
    <p class="text">I'm a 27 year old guy living in Ann Arbor/Ypsilanti, Michigan.  I live with my girlfriend of 7 years
    and our dog (also of 7 years), Bacon.  I graduated from the University of Michigan with an English degree in 2011.
    English language and literature remains one of my passionate hobbies, but it was probably never something that would
    turn into a career.<br><br><br>
    I currently work as a customer service rep for a manufacturer of research chemicals.  Not the most exciting sounding
    job, but it's with good people, a great atmosphere, and opportunities to practice and apply some
    programming.  It's comfortable and challenging and thankfully enables me to more quickly pay off my student debt. I started
    to dip my toe into some programming in early March 2014 through Codecademy and found that it was rewarding, satisfying, and actually fun.
    <br><br><br>I have many other hobbies that keep my free time occupied.  There are the standard
    movies, video games, and TV shows - I like a whole lot of them.  I also still enjoy reading novels of all
    kinds, though I definitely lean toward sci-fi.  I've played the guitar for something like ten years now, and I'll
    eventually link to some of my music here.  Computer hardware has always been a huge source of interest for me,
    and I've been building and maintaining systems for myself and my friends for many years now.  We all love a good
    tabletop game whenever possible.</p>
</div>



{% endblock %}