{% extends "base.html" %}
{% block content %}

<div class="content">
    <p class="text">I'm a 27 year old guy living in Ann Arbor/Ypsilanti, Michigan.  I live with my girlfriend of 7 years
    and our dog (also of 7 years), Bacon.  I graduated from the University of Michigan with an English degree in 2011.
    English language and literature remains one of my passionate hobbies, but it was probably never something that would
     turn into a career.<br><br><br>
    I currently work as a customer service rep for a manufacturer of research chemicals.  It's probably not the most
    exciting sounding job, but it's with good people and a great atmosphere.  It's a comfortable office job that is
    allowing me to pay off my student debt and more, freeing me up to continue with programming in my spare time.
    I started to dip my toe into some programming in early 2014 and found that it was challenging, satisfying, and
    most of all - rewarding and fun.<br><br><br>I have many other hobbies that keep my free time occupied.  There are
    the standard movies, video games, and TV shows - I like a whole lot of them.  I also still very much enjoy reading
    novels of all kinds, though I definitely lean toward sci-fi.  I've played the guitar for something like ten years
    now, and I'll eventually link to some of my music here.  Computer hardware has always been a huge source of
    interest for me, and I've been building and maintaining systems for myself and my friends for many years now.  We
    all love a good tabletop game whenever possible.</p>
</div>



{% endblock %}