{% extends "base1.html" %}
{% block content %}

<div id="backorder-form" class="cover-container">
    <div id="template-blurb" class="container">
        <h2>Account Application Template</h2>
        <div class="well">
            <p id="smaller">
                Subject: Cayman Chemical Account Application<br><br>
                Hello [Contact's Name],<br><br>Thank you for your interest in Cayman Chemical!  Before you can have your order processed and your items shipped you will need to establish
                an account with our company.  I have attached our customer account application which has all the instructions you will need, though please don't hesitate
                to call if you have any questions.
            </p>
        </div>
        <p>You will need to manually add your signature and attach the application.<br><br>A
        link to the application is below if you need a copy.<br>The file will be saved in your downloads folder.</p>
        <a href="/account_application"><div id="application"><h4>Account Application</h4></div></a>
    </div>
        {% if link %}
            <a href="{{ link }}"><div id="template-div" class="btn btn-lg btn-warning"><h3 id="backorder-link">Your account application template.</h3></div></a>
        {% endif %}

    <div class="alert">
        {% for message in form.name.errors %}
            <p>{{ message }}</p>
        {% endfor %}

        {% for message in form.email.errors %}
            <p>{{ message }}</p>
        {% endfor %}
    </div>

    <form action="{{ url_for('application') }}" method=POST>
        {{ form.hidden_tag() }}

        {{ form.name(placeholder="Contact's Name", class_="backorder-form-top") }}

        {{ form.email(placeholder="Contact's Email Address", class_="backorder-form-bottom") }}

        {{form.submit(class_='btn btn-lg btn-danger') }}
    </form>
</div>

{% endblock %}