{% extends "base1.html" %}
{% block content %}
<div id="backorder-form" class="cover-container">
    <div id="template-blurb" class="container">
        <h2>Backorder Notification Template</h2>
        <div class="well">
            <p id="smaller">
                Subject: Cayman Chemical Backorder Notification [PO or SO Number]<br><br>
                Hello [Contact's Name],<br><br>Unfortunately we need to inform you that the following item(s) from your order are currently on backorder: [Item Number(s)].
                The item(s) are in production with an approximate lead time of [Lead Time].  If there are additioanl items on your order, please let me know if you would like
                to authorize partial shipment.<br><br>I apologize for the inconvenience.  Please let me know if you have any questions.<br><br>Have a great day,
            </p>
        </div>
        <p>You will need to manually add your signature.</p>
    </div>
        {% if link %}
            <a href="{{ link }}"><div id="template-div" class="btn btn-lg btn-warning"><h3 id="backorder-link">Your backorder notification template.</h3></div></a>
        {% endif %}
    <div class="alert">
        {% for message in form.email.errors %}
            <p>{{ message }}</p>
        {% endfor %}

        {% for message in form.po.errors %}
            <p>{{ message }}</p>
        {% endfor %}

        {% for message in form.name.errors %}
            <p>{{ message }}</p>
        {% endfor %}

        {% for message in form.item_number.errors %}
            <p>{{ message }}</p>
        {% endfor %}

        {% for message in form.lead_time.errors %}
            <p>{{ message }}</p>
        {% endfor %}
    </div>

    <form action="{{ url_for('backorder') }}" method=POST>
        {{ form.hidden_tag() }}

        {{ form.email(placeholder="Contact's Email Address", class_="backorder-form-top") }}

        {{ form.po(placeholder="Purchase Order or Sales Order") }}

        {{ form.name(placeholder="Contact Name") }}

        {{ form.item_number(placeholder="Item Number") }}

        {{ form.lead_time(placeholder="Lead Time", class_="backorder-form-bottom") }}

        {{form.submit(class_='btn btn-lg btn-danger') }}
    </form>
</div>
{% endblock %}