<!DOCTYPE HTML>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        {% if title %}
        <title>{{title}} - Customer Service Tools</title>
        {% else %}
        <title>Customer Service Tools</title>
        {% endif %}

        <!-- CSS -->
        <link href="/static/Bootstrap/css/bootstrap.min.css" rel="stylesheet">
        <link href="/static/css/cover.css" rel="stylesheet">
        <link href="/static/css/custom.css" rel="stylesheet">


        <!-- Favicon -->
        <link rel="icon" type="image/png" href="/static/images/fish.png">

        <!-- Fonts -->
        <link href='http://fonts.googleapis.com/css?family=Vollkorn' rel='stylesheet' type='text/css'>
        <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>

        <!--[if lt IE 9]>
          <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
          <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->

    </head>
    <body>
        <div class="site-wrapper">
            <div class="site-wrapper-inner">
                <div class="masthead clearfix">
                        <div class="inner">
                            <h3 class="masthead-brand">Customer Service Tools</h3>
                            <ul class="nav masthead-nav">
                                <li class="active">
                                    <a href="/index">Home</a>
                                </li>
                                <li>
                                    <a href="http://sharepoint.caymanchem.com/cs/default.aspx">Sharepoint</a>
                                </li>
                                <li>
                                    <a href="http://sharepoint.caymanchem.com/Directory/Pages/peopleresults.aspx">Staff Directory</a>
                                </li>
                            </ul>
                        </div>
                    </div>
            <div class="inner cover">{% block content %}{% endblock %}</div>
            <div id="suggest-footer" class="mastfoot">
                    <div class="inner">
                        <p><a href="mailto:tylerkershner@gmail.com">Suggest an App</a></p>
                    </div>
                    </div>
                </div>
            </div>
        <!-- Enables placeholder text in IE6+ -->
        <script src="/static/js/placeholders.min.js"></script>
        <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
        <!-- Include all compiled plugins (below), or include individual files as needed -->
        <script src="/static/bootstrap/js/bootstrap.min.js"></script>
    </body>
</html>