{% extends "base.html" %}
{% block content %}

<div id="grey">
    <div class="container">
	    <div class="row">
		    <div class="col-lg-8 col-lg-offset-2">
			    <img src="/static/images/dogsicon.png"><ba>Tyler Kershner</ba>
				<h2>Content!</h2>
                <bd>May 8th, 2014</bd>
                <hr>
				<p><b>I finally got started</b> on one of my project write ups.  Like most things programming related, the work is turning out to be a bit more than
                I initially expected.  To maintain my sanity and productivity for other projects I'll be splitting the writeup into a few (probably just two) parts.
                Check out the first installment at the link below.</p>
                <a href="/cstoolswriteup" id="continue-link">CSTools Writeup Part 1</a>
			</div>
        </div><!-- /row -->
	</div> <!-- /container -->
</div>

<div id="white">
    <div class="container">
	    <div class="row">
		    <div class="col-lg-8 col-lg-offset-2">
			    <img src="/static/images/dogsicon.png"><ba>Tyler Kershner</ba>
				<h2>Bootstrap, anyone?</h2>
                <bd>May 7th, 2014</bd>
                <hr>
				<p><b>As you can see</b> I've discovered how to use <a href="http://getbootstrap.com/">Twitter Bootstrap</a>.  What an amazing
                tool.  At first I felt a little cheap, like I was just copy/pasting a template.  That's <em>fundamentally</em> what is happening, but
                there is actually a whole lot of HTML/CSS/JavaScript learning going on as you figure out how to reverse-engineer this monstrous codebase to
                do exactly what <em>you</em> want it to do.  In addition to all that hands-on experience with refactoring/re-purposing code, you
                get a website that doesn't look like it was cutting edge in 1999.  Bonus!<br><br>I'll continue to tweak the look of the blog but
                I'm pretty happy with it for right now.  Unfortunately I was a bit short sighted and didn't remember to grab some screenshots of the previous
                design - my first ever attempt at modern HTML and CSS.  That would have been fun to look at down the road.<br><br>I'm continuing to work on my CSTools
                project and have been steadily adding apps to it. I actually use the apps myself a fair amount throughout my workday.  Though they're extremely basic,
                they do end up saving me quite a bit of time so I consider them successful at what they set out to do.<br><br>Next on my plate: I'm toying with a few
                in-browser implementations of Python to try and get my Text Adventure online for friends to check out. <a href="http://www.skulpt.org/">Skulpt</a> was
                initially promising, but it's turning into a bit of a dead end for my purposes.  I'll be looking into <a href="http://www.brython.info/">Brython</a> next.</p>
			</div>
        </div><!-- /row -->
	</div> <!-- /container -->
</div>

<div id="grey">
    <div class="container">
	    <div class="row">
		    <div class="col-lg-8 col-lg-offset-2">
			    <img src="/static/images/dogsicon.png"><ba>Tyler Kershner</ba>
				<h2>Progress...</h2>
                <bd>April 28th, 2014</bd>
                <hr>
				<p><b>It was quite</b> an eventful weekend.  Kerry was out of town so I had plenty of time to really dive into my next
                project.  It was a whole lot of feeling overwhelmed and gradual understanding, and I came out the other side with a
                couple of usable apps.  As I continue iterating on this project I'm going to try and get some thoughts on paper about some of the
                roadblocks I've run into and their solutions.  That content might actually make this blog useful to someone out there!</p>
			</div>
        </div><!-- /row -->
	</div> <!-- /container -->
</div>

<div id="white">
    <div class="container">
	    <div class="row">
		    <div class="col-lg-8 col-lg-offset-2">
			    <img src="/static/images/dogsicon.png"><ba>Tyler Kershner</ba>
				<h2>Sparse, but Functional</h2>
                <bd>April 24th, 2014</bd>
                <hr>
				<p><b>Obviously design</b> is not a strength of mine at the moment.  This thing is very Geocities, but it works.
                Just learning how to get a website together with Python and Flask and getting it to actually be on the internet somewhere
                has been very educational.  I'm using what I'm learning to cobble together a suite of extremely simple web apps to
                (hopefully) make a few things at work a bit easier or faster.  I have two in mind right now: a template using HTML
                forms and Python to draft a boilerplate Outlook email, and a program to quickly tell if an institution's DEA license
                has expired.  I'm sure I can think of more as I get deeper into Flask.  I should probably also learn some jQuery/get
                back to JavaScript and figure out how to integrate that with Flask at some point to spice this gross little website up.</p>
                <p>Blogging is not really my style but it's extremely helpful as far as practicing and learning more programming
                concepts/technologies.  Sometimes I just feel like <a href="https://www.youtube.com/watch?v=iQJGmjnc8LU">Creed Bratton</a>.</p>
			</div>
        </div><!-- /row -->
	</div> <!-- /container -->
</div>

<div id="grey">
    <div class="container">
	    <div class="row">
		    <div class="col-lg-8 col-lg-offset-2">
			    <img src="/static/images/dogsicon.png"><ba>Tyler Kershner</ba>
				<h2>Hello, world!</h2>
                <bd>April 21st, 2014</bd>
                <hr>
				<p><b>This is my simple, ugly blog</b>.  I'm throwing small bits of
                HTML and CSS together to create some slapdash content for this thing.  The purpose of this
                whole enterprise is to get my feet wet with Python and web development, and hopefully have
                something presentable to show off when I'm all finished.</p>
                <p>I'm currently a little more than a month into learning Python, and it's been closer to two months
                since I started to teach myself programming with any seriousness.<br><br>I'll be steadily adding content
                to this thing all summer. Next on the TODO is to create a write-up detailing my previous (mostly complete) project and
                general CSS stylings to make this site look a little less utilitarian.</p>
			</div>
        </div><!-- /row -->
	</div> <!-- /container -->
</div>

{% endblock %}