{% extends "base.html" %}
{% block content %}

<div id="grey">
    <div class="container">
	    <div class="row">
		    <div class="col-lg-8 col-lg-offset-2">
			    <img src="/static/images/dogsicon.png"><ba>Tyler Kershner</ba>
				<h2>Progress...</h2>
                <bd>April 28th, 2014</bd>
				<p><b>It was quite</b> an eventful weekend.  Kerry was out of town so I had plenty of time to really dive into my next
                project.  It was a whole lot of feeling overwhelmed and gradual understanding, and I came out the other side with a
                couple of usable apps.  Check the project page or my ongoing <a href="#">writeup</a> for more details.</p>
			</div>
        </div><!-- /row -->
	</div> <!-- /container -->
</div>

<div id="white">
    <div class="container">
	    <div class="row">
		    <div class="col-lg-8 col-lg-offset-2">
			    <img src="/static/images/dogsicon.png"><ba>Tyler Kershner</ba>
				<h2>Sparse, but Functional</h2>
                <bd>April 24th, 2014</bd>
				<p><b>Obviously design</b> is not a strength of mine at the moment.  This thing is very Geocities, but it works.
                Just learning how to get a website together with Python and Flask and getting it to actually be on the internet somewhere
                has been very educational.  I'm using what I'm learning to cobble together a suite of extremely simple web apps to
                (hopefully) make a few things at work a bit easier or faster.  I have two in mind right now: a template using HTML
                forms and Python to draft a boilerplate Outlook email, and a program to quickly tell if an institution's DEA license
                has expired.  I'm sure I can think of more as I get deeper into Flask.  I should probably also learn some jQuery/get
                back to JavaScript and figure out how to integrate that with Flask at some point to spice this gross little website up.</p>
                <p>Blogging is not really my style but it's extremely helpful as far as practicing and learning more programming
                concepts/technologies.  Sometimes I just feel like <a href="https://www.youtube.com/watch?v=iQJGmjnc8LU">Creed Bratton</a>.</p>
			</div>
        </div><!-- /row -->
	</div> <!-- /container -->
</div>

<div id="grey">
    <div class="container">
	    <div class="row">
		    <div class="col-lg-8 col-lg-offset-2">
			    <img src="/static/images/dogsicon.png"><ba>Tyler Kershner</ba>
				<h2>Hello, world!</h2>
                <bd>April 21st, 2014</bd>
				<p><b>This is my simple, ugly blog</b>.  I'm throwing small bits of
                HTML and CSS together to create some slapdash content for this thing.  The purpose of this
                whole enterprise is to get my feet wet with Python and web development, and hopefully have
                something presentable to show off when I'm all finished.</p>
                <p>I'm currently a little more than a month into learning Python, and it's been closer to two months
                since I started to teach myself programming with any seriousness.<br><br>I'll be steadily adding content
                to this thing all summer. Next on the TODO is to create a write-up detailing my previous (mostly complete) project and
                general CSS stylings to make this site look a little less utilitarian.</p>
			</div>
        </div><!-- /row -->
	</div> <!-- /container -->
</div>

{% endblock %}