{% extends "base1.html" %}
{% block content %}

<div class="row">
    <div class="buttons cover-container">
        <a href="/deaverify" class="btn btn-lg btn-primary">DEA Documents Verification</a>
    </div>
</div>
<div class="row">
    <div class="buttons cover-container">
        <a href="/stillneed" class="btn btn-lg btn-danger">Still Need Item?</a>
        <a href="/licenseneeded" class="btn btn-lg btn-warning">DEA License Needed</a>
    </div>
</div>
<div class="row">
    <div class="buttons cover-container">
        <a href="/newaccount" class="btn btn-lg btn-info">New Account Template</a>
        <a href="/pricediscrepancy" class="btn btn-lg btn-primary">Price Discrepancy Template</a>
    </div>
</div>
<div class="row">
    <div class="buttons cover-container">
        <a href="/backorder" class="btn btn-lg btn-success">Backorder Template</a>
        <a href="/datechecker" class="btn btn-lg btn-danger">222 Form Date Checker</a>
    </div>
</div>
<div class="row">
    <div class="buttons cover-container">
        <a href="/application" class="btn btn-lg btn-warning">Application Template</a>
        <a href="/dea" class="btn btn-lg btn-info">DEA Protocol Template</a>
    </div>
</div>
<div class="row">
    <div class="buttons cover-container">
        <a href="/shadyblurb" class="btn btn-lg btn-success">Shady Customer Blurb</a>
    </div>
</div>




{% endblock %}