<!DOCTYPE html>
<html>
<head lang="en">
    <meta http-equiv="refresh" content="20" charset="UTF-8">
    <link type="text/css" rel="stylesheet" href="/static/pi_display.css"/>
    <title>{{title}}</title>

<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.1/jquery.min.js"></script>
<script src="/static/js/imgcentering.min.js"></script>
</head>
<script>
$(document).ready( function() {
   $(".container img").imgCentering();
});
</script>
<body>
    <div class="container">
        <img id="image" src="{{ gif_url }}">
    </div>
</body>
</html>