{% extends "base.html" %}
{% block content %}

<div id="grey">
    <div class="container pt">
        <div class="row mt">
            <div class="col-lg-6 col-lg-offset-3 centered">
                <h3>Projects</h3>
                <hr>
                <p>My programming projects so far...</p>
            </div>
        </div>
        <div class="buttons">
            <div class="button1">
                <a href="/pta"><img class="img-responsive" src="/static/images/ptabutton.png"></a><br>
                <p class="project-link">Python Text Adventure</p>
            </div>
            <div class="button2">
                <a href="/cstools"><img src="/static/images/cstoolsbutton.png" class="img-responsive"></a><br>
                <p class="project-link">CSTools</p>
            </div>
        </div>
    </div>
</div>

{% endblock %}