{% extends "base.html" %}
{% block content %}

<h1 id="title">Python Text Adventure</h1>
<div id="imagebar">
    <a href="/static/images/pta1.png"><img class="thumb" src="/static/images/pta1.png"></a>
    <a href="/static/images/pta2.png"><img class="thumb" src="/static/images/pta2.png"></a>
    <a href="/static/images/pta3.png"><img class="thumb" src="/static/images/pta3.png"></a>
</div>
<a id="github" href="https://github.com/kershner/python-text-adventure">Github</a>
<div class="content">
    <p class="blurb">My first real programming project.  It's a text-based RPG that came about as I struggled to think
    of a good first project.  Diving into programming is overwhelming, and it can be hard to focus and drill down on one
    thing when there is so much else that needs to be learned.  Codecademy has you start something similar with their
    JavaScript track, so that gave me a little starting point and I just kinda ran with it.  I added features as I
    thought of them until I considered the game mostly complete.  It's at a stage now where I can easily add more
    content like additional weapons, armor, combat moves, monsters, etc.  It was really great fun and gave me invaluable
    experience in a number of ways, but mostly it taught me that transferring an idea from my brain to a workable piece
    of software was a process that I would find both satisfying and fun.</p>
</div>


{% endblock %}