{% extends "base.html" %}
{% block content %}

<div id="grey">
    <div class="container pt">
		<div class="row mt">
			<div class="centered"><h2>CSTools</h2>
                <a href="https://tylerkershner.pythonanywhere.com/index">Live Site</a><br>
                <a href="https://github.com/kershner/blog">Github</a>
            </div>
            <div class="col-lg-6 col-lg-offset-3">
				<hr>
				<p><b>The text adventure</b> was a lot of fun and very educational, but I needed to start applying my
                knowledge to something more practical.<br><br>I came up with the idea for a suite of very simple apps to help
                with a few mundane tasks at work.  I've got a great start on the project but it's far from finished.  Check
                the write-up for my ongoing progress with the project.</p>
			</div>
		</div>
		<div class="buttons">
            <div class="button">
                <a href="/static/images/cstools2big.png"><img src="/static/images/cstools2.png" class="img-responsive"></a><br>
            </div>
            <div class="button">
                <a href="/static/images/cstools3big.png"><img src="/static/images/cstools3.png" class="img-responsive"></a><br>
            </div>
	    </div>
    </div>
</div>

{% endblock %}