{% extends "base.html" %}
{% block content %}

<div class="container pt">
    <div class="row mt">
	    <div class="col-lg-6 col-lg-offset-3 centered">
		    <h3>Projects</h3>
			<hr>
            <p>My programming projects so far...</p>
        </div>
	</div>
	<div class="row mt centered">
	    <div class="col-lg-3"></div>
        <div class="col-md-3">
		    <a class="zoom green" href="/cstools" style="background-image: none;"><img class="img-responsive" src="/static/images/cstools1.png" alt="" style="height: 270px; margin-left: 0px; margin-top: 0px;"><div class="zoomOverlay" style="opacity: 0; display: block; background-color: rgb(26, 188, 156);"></div></a>
			    <p>CSTools</p>
		</div>
		<div class="col-md-3">
			<a class="zoom green" href="/pta" style="background-image: none;"><img class="img-responsive" src="/static/images/pta1.png" alt="" style="height: 270px; margin-left: 0px; margin-top: 0px;"><div class="zoomOverlay" style="opacity: 0; display: block; background-color: rgb(26, 188, 156);"></div></a>
			<p>Python Text Adventure</p>
		</div>
        <div class="col-lg-3"></div>
	</div><!-- /row -->
</div>

{% endblock %}