{% extends "base1.html" %}
{% block content %}

<div id="backorder-form" class="cover-container">
    <div id="template-blurb" class="container">
        <h2>Shady Customer Blurb</h2>
        <p>The form below will generate an email with the specified information.<br>
        You will need to manually add your signature.
    </div>
        {% if link %}
            <a href="{{ link }}"><div id="template-div" class="btn btn-lg btn-warning"><h3 id="backorder-link">Your shady customer blurb.</h3></div></a>
        {% endif %}

    <div class="alert">
        {% for message in form.email.errors %}
            <p>{{ message }}</p>
        {% endfor %}

        {% for message in form.order_no.errors %}
            <p>{{ message }}</p>
        {% endfor %}
    </div>

    <form action="{{ url_for('shadyblurb') }}" method=POST>
        {{ form.hidden_tag() }}

        {{ form.email(placeholder="Contact's Email Address", class_="backorder-form-top") }}

        {{ form.order_no(placeholder="Sales Order Number", class_="backorder-form-bottom") }}

        {{form.submit(class_='btn btn-lg btn-danger') }}
    </form>
</div>

{% endblock %}